Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(tests): fix remaining CI failures from TOON removal
  tests/unit/mcp/test_project_summary_pagerank.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_batch_extra_mixins.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/utils/test_verdict_safety_net.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mypy): fix unreachable error in format_helper by widening types
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mypy): remove unreachable isinstance guard in format_helper
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/utils/test_verdict_safety_net.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): add caplog.set_level to fix Windows flaky auto_index_guard test
  tests/unit/test_auto_index_guard_convergence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): stamp MCP responses with format=json for attestation workflow
  tests/unit/mcp/test_utils/test_format_helper.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): use envelope.get format with fallback in attestation workflow
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

refactor: remove unnecessary formatters
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/default_table_formatter.py
  tree_sitter_analyzer/formatters/__init__.py
  tree_sitter_analyzer/formatters/_builtin_formatters.py
  tree_sitter_analyzer/formatters/_csv_safety.py
  tree_sitter_analyzer/formatters/_html_compact_formatter_helpers.py
  tree_sitter_analyzer/formatters/_html_csv_formatter_helpers.py
  tree_sitter_analyzer/formatters/_java_formatter_compact_mixin.py
  tree_sitter_analyzer/formatters/_javascript_formatter_compact_mixin.py
  tree_sitter_analyzer/formatters/_markdown_formatter_helpers.py
  tree_sitter_analyzer/formatters/_markdown_formatter_rendering.py
  tree_sitter_analyzer/formatters/_python_formatter_compact.py
  tree_sitter_analyzer/formatters/_typescript_formatter_compact.py
  tree_sitter_analyzer/formatters/_typescript_formatter_csv.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/html_formatter.py
  tree_sitter_analyzer/formatters/java_formatter.py
  tree_sitter_analyzer/formatters/javascript_formatter.py
  tree_sitter_analyzer/formatters/legacy/__init__.py
  tree_sitter_analyzer/formatters/legacy/compact.py
  tree_sitter_analyzer/formatters/legacy/csv.py
  tree_sitter_analyzer/formatters/legacy/helpers.py
  tree_sitter_analyzer/formatters/markdown_formatter.py
  tree_sitter_analyzer/formatters/python_formatter.py
  tree_sitter_analyzer/formatters/typescript_formatter.py
  tree_sitter_analyzer/legacy_table_formatter.py
  tree_sitter_analyzer/mcp/utils/file_output_manager.py
  tree_sitter_analyzer/output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(formatters): update test suite for csv/compact/yaml/markdown removal
  tests/unit/formatters/_test_html_formatter_mixin.py
  tests/unit/formatters/test_base_formatter.py
  tests/unit/formatters/test_base_formatter_contract.py
  tests/unit/formatters/test_csv_control_char_safety.py
  tests/unit/formatters/test_csv_control_char_safety_remaining.py
  tests/unit/formatters/test_formatter_registry.py
  tests/unit/formatters/test_html_formatter_advanced.py
  tests/unit/formatters/test_html_formatter_basic.py
  tests/unit/formatters/test_javascript_formatter_edge.py
  tests/unit/formatters/test_javascript_formatter_integration.py
  tests/unit/formatters/test_javascript_formatter_robustness.py
  tests/unit/formatters/test_js_formatter_table_output.py
  tests/unit/formatters/test_kotlin_formatter.py
  tests/unit/formatters/test_legacy_table_formatter_advanced.py
  tests/unit/formatters/test_legacy_table_formatter_boost2_compact.py
  tests/unit/formatters/test_legacy_table_formatter_boost2_csv_sig.py
  tests/unit/formatters/test_legacy_table_formatter_branches.py
  tests/unit/formatters/test_legacy_table_formatter_core.py
  tests/unit/formatters/test_legacy_table_formatter_edge.py
  tests/unit/formatters/test_markdown_formatter_core.py
  tests/unit/formatters/test_markdown_formatter_new_elements.py
  tests/unit/formatters/test_python_formatter_format_methods.py
  tests/unit/formatters/test_python_formatter_formatting.py
  tests/unit/formatters/test_rust_formatter.py
  tests/unit/formatters/test_typescript_formatter_core.py
  tests/unit/formatters/test_typescript_formatter_modes.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/bash_formatter.py
  tree_sitter_analyzer/formatters/cpp_formatter.py
  tree_sitter_analyzer/formatters/go_formatter.py
  tree_sitter_analyzer/formatters/java_formatter.py
  tree_sitter_analyzer/formatters/javascript_formatter.py
  tree_sitter_analyzer/formatters/kotlin_formatter.py
  tree_sitter_analyzer/formatters/python_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
  tree_sitter_analyzer/formatters/typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: fix remaining 50 CI failures for compact/csv/markdown removal
  tests/integration/cli/test_cli_queries.py
  tests/integration/cli/test_cli_table_partial_query.py
  tests/integration/mcp/test_tools/test_file_output_manager.py
  tests/integration/mcp/test_tools/test_table_format_tool.py
  tests/integration/mcp/test_user_story_1_integration.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tests/unit/cli/test_cli_main_module.py
  tests/unit/core/test_analysis_session.py
  tests/unit/core/test_file_output_manager_factory.py
  tests/unit/core/test_suppress_output_feature.py
  tests/unit/languages/test_bash_bugs_776_777_778.py
  tests/unit/languages/test_java_formatter.py
  tests/unit/languages/test_typescript_integration.py
  tests/unit/mcp/test_utils/test_file_output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): update scalability test and VALID_FORMAT_TYPES after compact/csv removal
  tests/integration/test_phase7_performance_integration.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(revert): restore _VALID_FORMAT_TYPES to include compact/csv
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(compat): remove dangling else block after search_content cache removal
  compatibility_test/utils/cache_reporter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(lint): fix 2 ruff errors introduced by search tool removal
  tests/unit/cli/test_n1_case_resolution.py
  tests/unit/mcp/test_change_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): update test suite after search grep/content tool removal
  docs/api/facade-actions.md
  tests/contracts/test_pytest_runtime_contract.py
  tests/e2e/test_tool_functional.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/integration/mcp/test_intent_aliases_integration.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_project_overview_tool.py
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/intent_aliases.py
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): fix locate_usage/find_impacted_code alias test failures after search tool removal
  tests/e2e/test_tool_functional.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/integration/mcp/test_intent_aliases_integration.py
  tests/unit/mcp/test_intent_aliases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): replace weak total_matches > 0 assertion with specific label lookup
  tests/integration/mcp/test_intent_aliases_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): delete deprecated pass-stub tests for removed search_content and find_and_grep CLI
  tests/integration/cli/test_cli_fd_rg_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): specify logger name in caplog.set_level to reliably capture on Windows
  tests/unit/test_auto_index_guard_convergence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(build): revert hatchling upper bound to <1.32
  pyproject.toml
Due: check-toml-local

feat(hotspot): add --hotspot command for Ca x MaxCC file ranking
  tests/unit/test_hotspot_analyzer.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/hotspot_analyzer.py
  tree_sitter_analyzer/output_schema.py
  tree_sitter_analyzer/subgraph_traverser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(hotspot): resolve all CI failures on PR #1341
  docs/CODEMAPS/cli.md
  tests/unit/test_hotspot_analyzer.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/hotspot_analyzer.py
  tree_sitter_analyzer/subgraph_traverser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(hotspot): address Codex P1/P2 review findings
  pyproject.toml
  tests/unit/test_hotspot_analyzer.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/hotspot_analyzer.py
  tree_sitter_analyzer/output_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(readme): update CLI flag count 331 -> 338 in all three locales
  README.md
  README_ja.md
  README_zh.md
Due: none

fix(contracts): re-pin CLI flag count 331->338 in translated README contract
  tests/contracts/test_language_support_inventory_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmarks): re-pin CLI flag safe-span 331->338 in readme_claim_scanner
  benchmarks/codegraph_compare/readme_claim_scanner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(hotspot): add _handle_hotspot unit tests covering error/success paths
  tests/unit/test_handle_hotspot.py
  tests/unit/test_hotspot_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(hotspot): strengthen alias_gap total_files assertion >= -> ==
  tests/unit/test_handle_hotspot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(hotspot): add targeted coverage tests for remaining uncovered paths
  tests/unit/test_handle_hotspot.py
  tests/unit/test_hotspot_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(hotspot): cover remaining uncovered branches in hotspot_analyzer
  tests/unit/test_handle_hotspot.py
  tests/unit/test_hotspot_analyzer.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/hotspot_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(hotspot): add --hotspot command for Ca x MaxCC file ranking (#1347)
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  pyproject.toml
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/test_handle_hotspot.py
  tests/unit/test_hotspot_analyzer.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/hotspot_analyzer.py
  tree_sitter_analyzer/output_schema.py
  tree_sitter_analyzer/subgraph_traverser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(contracts): update collector tool group pin test for hatchling 1.32.0 / jsonschema 4.26.0
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): pin twine>=6.0 for metadata 2.5 support
  .github/workflows/reusable-build.yml
Due: check-yaml-local

fix(ci): decouple build-system hatchling pin from collector-tool pin
  .github/workflows/reusable-build.yml
  pyproject.toml
Due: check-yaml-local, check-toml-local

fix(cli): clear errors for --structure dir + empty-index sitemap hint
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(edge_store): batch upsert_edges with executemany
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
