Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

docs(rfc): bind exact process-local authorities
  AGENTS.md
  rfcs/0022-task-outcome-apis.md
Due: none

test(rfc): lock process-local parity boundary
  rfcs/0022-task-outcome-apis.md
  tests/contracts/test_mcp_cli_parity_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): make lifecycle cleanup exact
  rfcs/0022-task-outcome-apis.md
  tests/contracts/test_mcp_cli_parity_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): clarify read-existing adapter contract (#1255)
  AGENTS.md
  rfcs/0022-task-outcome-apis.md
  tests/contracts/test_mcp_cli_parity_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): add fail-closed read-existing adapters
  docs/agent-envelope-contract.md
  docs/api/facade-actions.md
  scripts/generate_facade_actions_doc.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/contracts/test_mcp_surface_metadata_contract.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_toon_compact_only.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_codegraph_status_tool.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_status_response.py
  tests/unit/test_read_existing_access.py
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/index_status_response.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_schema.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): pin collector-bound uv in test matrix
  .github/workflows/reusable-test.yml
Due: check-yaml-local

feat(trust): add Linux write-attempt authority
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_model.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_paths.py
  scripts/rfc0022_strace_positive_control.py
  scripts/rfc0022_strace_runtime.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_controls.py
  tests/contracts/test_rfc0022_strace_process_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: lock Linux authority live evidence
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_parser.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/fixtures/rfc0022_linux_expected_events.json
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: isolate Linux authority evidence
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_positive_control.py
  scripts/rfc0022_strace_privilege.py
  scripts/rfc0022_strace_runtime.py
  scripts/rfc0022_strace_state.py
  scripts/rfc0022_strace_target_launcher.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/fixtures/rfc0022_linux_expected_events.json
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: use accessible authority launcher runtime
  scripts/rfc0022_strace_privilege.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_process_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: expose read-only target workspace
  .github/workflows/rfc0022-linux-write-authority.yml
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

test: bind mapped events to raw provenance
  .github/workflows/rfc0022-linux-write-authority.yml
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix: harden Linux authority provenance
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_paths.py
  scripts/rfc0022_strace_preflight.py
  scripts/rfc0022_strace_privilege.py
  scripts/rfc0022_strace_state.py
  scripts/rfc0022_strace_target_launcher.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_controls.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
  tests/contracts/test_rfc0022_strace_preflight.py
  tests/contracts/test_rfc0022_strace_privilege.py
  tests/contracts/test_rfc0022_strace_process_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: bind normalized target argv
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: bound package provenance lookup
  scripts/rfc0022_strace_preflight.py
  tests/contracts/test_rfc0022_strace_preflight.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: make snapshot metadata check portable
  tests/contracts/test_rfc0022_strace_authority.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: bind exact strace package ownership
  scripts/rfc0022_strace_preflight.py
  tests/contracts/test_rfc0022_strace_preflight.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: bind authority evidence to head revision
  .github/workflows/rfc0022-linux-write-authority.yml
  tests/contracts/test_rfc0022_strace_evidence_binding.py
  tests/contracts/test_rfc0022_strace_preflight.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix: close Linux authority evidence gaps
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_model.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_snapshot.py
  scripts/rfc0022_strace_state.py
  scripts/rfc0022_strace_syntax.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_snapshot.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind complete trace lifetimes
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_runtime.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve modeled shared state semantics
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close remaining Linux authority races
  .github/workflows/rfc0022-linux-write-authority.yml
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_positive_control.py
  scripts/rfc0022_strace_runtime.py
  scripts/rfc0022_strace_syntax.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_runtime.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind nonfilesystem open provenance
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: gate Linux raw mode assertion
  tests/contracts/test_rfc0022_strace_evidence_binding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): pin collector-bound uv in test matrix (#1258)
  .github/workflows/reusable-test.yml
Due: check-yaml-local

fix(mcp): add CLI bridge and bound-root gate (#1257)
  tests/contracts/test_mcp_surface_metadata_contract.py
  tests/unit/cli/test_cli_main_module.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_read_existing_access.py
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_read_existing_bridge.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): decode byte paths, rebase cwd on rename (#1259)
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): fail closed on unbound root for edit.safe (#1257)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): pin seven-repo inventory fingerprints (NO1-008A)
  .secrets.baseline
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/seven_repo_inventory.json
  benchmarks/codegraph_compare/seven_repo_inventory.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): rebase fork cwds, byte-decode argv, harden literals (#1259)
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): replay exited CLONE_FILES peers (#1259)
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_state.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_process_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: allow deliberate unbound-root trap in read_existing test (#1257)
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: bind exit_timestamp in trace file keys (#1259)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(trust): add Linux write-attempt monitor authority (#1259)
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_model.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_paths.py
  scripts/rfc0022_strace_positive_control.py
  scripts/rfc0022_strace_preflight.py
  scripts/rfc0022_strace_privilege.py
  scripts/rfc0022_strace_runtime.py
  scripts/rfc0022_strace_snapshot.py
  scripts/rfc0022_strace_state.py
  scripts/rfc0022_strace_syntax.py
  scripts/rfc0022_strace_target_launcher.py
  tests/contracts/test_rfc0022_strace_authority.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_controls.py
  tests/contracts/test_rfc0022_strace_evidence_binding.py
  tests/contracts/test_rfc0022_strace_preflight.py
  tests/contracts/test_rfc0022_strace_privilege.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_runtime.py
  tests/contracts/test_rfc0022_strace_snapshot.py
  tests/contracts/test_rfc0022_strace_syntax.py
  tests/fixtures/rfc0022_linux_expected_events.json
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): pin seven-repo inventory fingerprints (NO1-008A) (#1260)
  .secrets.baseline
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/seven_repo_inventory.json
  benchmarks/codegraph_compare/seven_repo_inventory.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): reject duplicate pins, widen yaml parity (#1260)
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/seven_repo_inventory.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
