Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(nav): callers/callees emit agent_summary + mirrored verdict (#546 seam 3, #577 leftover)
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): callers/callees emit agent_summary + mirrored verdict (#546 seam 3, #577 leftover) (#709)
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0017 test effectiveness — mutation scoring + value invariants
  rfcs/0017-test-effectiveness-mutation-and-value-invariants.md
  rfcs/README.md
Due: none

docs(rfc): RFC-0017 test effectiveness — mutation scoring + value invariants (#701)
  rfcs/0017-test-effectiveness-mutation-and-value-invariants.md
  rfcs/README.md
Due: none

docs(readme): hero section — lead with cross-language correctness + agent-native positioning (面 G)
  README.md
  README_ja.md
  README_zh.md
Due: none

docs(readme): hero section — lead with cross-language correctness + agent-native positioning (面 G) (#711)
  README.md
  README_ja.md
  README_zh.md
Due: none

fix(queries): Python FUNCTIONS no longer double-captures every function (#557)
  tests/integration/mcp/test_user_story_3_query_integration.py
  tests/unit/core/test_queries_python.py
  tests/unit/core/test_query_code_cross_language_compatibility.py
  tree_sitter_analyzer/queries/python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add tracking reference to ImportError skip (Codex P1, #557)
  tests/unit/core/test_queries_python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(queries): Python FUNCTIONS no longer double-captures every function (#557) (#710)
  tests/integration/mcp/test_user_story_3_query_integration.py
  tests/unit/core/test_queries_python.py
  tests/unit/core/test_query_code_cross_language_compatibility.py
  tree_sitter_analyzer/queries/python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): enum-mode rejections enumerate valid values (#690)
  tests/unit/mcp/test_enum_error_enumeration.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/decision_journal_tool.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health): test_gap honors file_path in every mode (#693)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): enum-mode rejections enumerate valid values (#690) (#712)
  tests/unit/mcp/test_enum_error_enumeration.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/decision_journal_tool.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health): test_gap honors file_path in every mode (#693) (#713)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health): scope test_gap target_file during the walk, before max_files (#713 Codex P2)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(test-effectiveness): RFC-0017 phase 1 — mutation baseline for core modules
  .github/workflows/mutation-baseline.yml
  .gitignore
  pyproject.toml
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, bandit-local, pydocstyle-local, flake8-local

fix(health): scope test_gap target_file during the walk, before max_files (#713 Codex P2) (#715)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(test-effectiveness): RFC-0017 phase 1 — mutation baseline for core modules (#714)
  .github/workflows/mutation-baseline.yml
  .gitignore
  pyproject.toml
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, bandit-local, pydocstyle-local, flake8-local

test: harden parser readiness dogfood gates
  .secrets.baseline
  pyproject.toml
  tests/unit/cli/test_parser_readiness.py
  tests/unit/cli/test_parser_readiness_records.py
  tests/unit/core/test_language_loader_comprehensive.py
  tests/unit/core/test_parser.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/mcp/test_parser_readiness_tool.py
  tests/unit/security/test_security_boundary_properties.py
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/cli/parser_readiness_records.py
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: close parser readiness language gaps
  examples/sample.json
  examples/sample.scala
  examples/sample.sh
  tests/golden_masters/plugins/bash.json
  tests/golden_masters/plugins/json.json
  tests/golden_masters/plugins/scala.json
  tests/regression/test_plugin_golden_masters.py
  tests/unit/languages/test_bash_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: align swift grammar counts with lockfile
  tests/unit/grammar_coverage/test_introspector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: harden parser readiness dogfood gates
  .secrets.baseline
  examples/sample.json
  examples/sample.scala
  examples/sample.sh
  pyproject.toml
  tests/golden_masters/plugins/bash.json
  tests/golden_masters/plugins/json.json
  tests/golden_masters/plugins/scala.json
  tests/regression/test_plugin_golden_masters.py
  tests/unit/cli/test_parser_readiness.py
  tests/unit/cli/test_parser_readiness_records.py
  tests/unit/core/test_language_loader_comprehensive.py
  tests/unit/core/test_parser.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/languages/test_bash_plugin.py
  tests/unit/mcp/test_parser_readiness_tool.py
  tests/unit/security/test_security_boundary_properties.py
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/cli/parser_readiness_records.py
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: revive formatter integration coverage
  tests/golden_masters/compact/java_userservice_compact_format.md
  tests/golden_masters/csv/java_userservice_csv_format.csv
  tests/golden_masters/full/java_userservice_full_format.md
  tests/integration/formatters/comprehensive_test_suite.py
  tests/integration/formatters/golden_master.py
  tests/integration/formatters/test_formatter_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: revive formatter integration coverage (#718)
  tests/golden_masters/compact/java_userservice_compact_format.md
  tests/golden_masters/csv/java_userservice_csv_format.csv
  tests/golden_masters/full/java_userservice_full_format.md
  tests/integration/formatters/comprehensive_test_suite.py
  tests/integration/formatters/golden_master.py
  tests/integration/formatters/test_formatter_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: document search batch query shape
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: document search batch query shape (#719)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix co-change cache window handling
  tests/unit/mcp/tools/test_co_change.py
  tree_sitter_analyzer/mcp/tools/utils/co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix preflight chain coherence
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test mcp facade stdio envelopes
  tests/e2e/test_tool_functional.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test mcp facade stdio envelopes (#722)
  tests/e2e/test_tool_functional.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): persist a rebuild-in-progress marker so reads stop lying mid-rebuild (#578)
  tests/unit/test_ast_cache_build_state.py
  tree_sitter_analyzer/_ast_cache_build_state.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): persist a rebuild-in-progress marker so reads stop lying mid-rebuild (#578) (#723)
  tests/unit/test_ast_cache_build_state.py
  tree_sitter_analyzer/_ast_cache_build_state.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): reclaim AST cache storage after full rebuild
  tests/unit/test_ast_cache_maintenance.py
  tests/unit/test_codegraph_status_tool.py
  tree_sitter_analyzer/_ast_cache_maintenance.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): warn readers during full rebuild
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
  tree_sitter_analyzer/mcp/tools/index_rebuild_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(parse): surface outline parse and encoding signals
  tests/unit/cli/test_outline_cli.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/utils/parse_validity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): avoid uv during mutation baseline pyproject swap
  scripts/run_mutation_baseline.py
  tests/unit/test_run_mutation_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): track authoritative call graph build state
  tests/unit/test_call_graph_built_signal.py
  tree_sitter_analyzer/_ast_cache_callgraph_state.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(outline): cover parse diagnostic edge cases
  tests/unit/mcp/test_parse_validity_diagnostics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(nav): cover call graph state edge cases
  tests/unit/test_call_graph_built_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
