Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat: first-run experience pack — bundled skills, --install-skills, stale hint fix
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_install_skills.py
  tests/unit/test_codegraph_status_tool.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/install_skills.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
  tree_sitter_analyzer/skills/__init__.py
  tree_sitter_analyzer/skills/tsa-constraints/SKILL.md
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-structure/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(languages): Theme E — parameter extraction hardening (audit provenance)
  tests/unit/languages/test_parameter_extraction_theme_e.py
  tree_sitter_analyzer/languages/_cpp_signature_helpers.py
  tree_sitter_analyzer/languages/_go_common_helpers.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(param-extraction): harden Theme-E assertions per adversarial review
  tests/unit/languages/test_parameter_extraction_theme_e.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(gauntlet): update stale numbers, unify label semantics, extend dry-run
  benchmarks/codegraph_compare/GAUNTLET.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
  benchmarks/codegraph_compare/gauntlet_runner.py
  docs/articles/polyglot-miswire-article.md
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(gauntlet): lead arbitration — same-session ratios only, clean-tag protocol numbers
  benchmarks/codegraph_compare/GAUNTLET.md
  docs/articles/polyglot-miswire-article.md
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(golden): re-pin go/kotlin masters for Theme E parameter fixes
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
Due: none

feat(gauntlet): Polyglot Mis-wire Gauntlet — shareable benchmark card + runner + article draft (#432)
  benchmarks/codegraph_compare/GAUNTLET.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
  benchmarks/codegraph_compare/gauntlet_runner.py
  benchmarks/codegraph_compare/scorecard-template.md
  docs/articles/polyglot-miswire-article.md
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(cli): cover _handle_install_skills handler and error paths
  tests/unit/cli/test_install_skills.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(params): Theme E — Kotlin no-op, Go/PHP variadics, C++ packs (#431)
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/languages/test_parameter_extraction_theme_e.py
  tree_sitter_analyzer/languages/_cpp_signature_helpers.py
  tree_sitter_analyzer/languages/_go_common_helpers.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(cli): windows-safe path assertion in install-skills stderr test
  tests/unit/cli/test_install_skills.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(kotlin): class/object method receiver binding (Theme A, DF-18)
  tests/unit/languages/test_kotlin_method_receiver.py
  tests/unit/languages/test_kotlin_properties.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(onboarding): First-Run Experience Pack — ship the 13 tsa-* skills to PyPI users (#433)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_install_skills.py
  tests/unit/test_codegraph_status_tool.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/install_skills.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
  tree_sitter_analyzer/skills/__init__.py
  tree_sitter_analyzer/skills/tsa-constraints/SKILL.md
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-structure/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: dogfood trust-string issues DF-9, DF-8, DF-10, DF-11
  tests/unit/mcp/test_project_overview_tool.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_codegraph_autoindex_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): review refinements — field-referencing next_step, key compat, bash ext
  tests/unit/mcp/test_project_overview_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(readme): factual corrections to accuracy percentages, costs, and tool names
  README.md
  README_ja.md
  README_zh.md
Due: none

fix(trust): dogfood DF-8/9/10/11 — honest index status, real next_step, .py hints (#434)
  tests/unit/mcp/test_project_overview_tool.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_codegraph_autoindex_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(readme): factual corrections to accuracy percentages, costs, and tool names (#435)
  README.md
  README_ja.md
  README_zh.md
Due: none

docs(rfc): RFC-0014 — instant-edit safety (test-noise partition, test-map, co-change)
  rfcs/0014-instant-edit-safety.md
Due: none

fix(kotlin): adversarial-review P1/P2a/P2b/P3 findings on method-ownership
  tests/unit/languages/test_kotlin_method_receiver.py
  tests/unit/languages/test_kotlin_properties.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0015 — 瞬間 UML 图族 (instant UML family)
  rfcs/0015-instant-uml-family.md
Due: none

docs(rfc): RFC-0014 adversarial review round 1 — fix P1/P2/P3 findings
  rfcs/0014-instant-edit-safety.md
Due: none

docs(rfc): RFC-0014 — instant edit-safety trio (test_map / co_change / DF-16 partition) (#453)
  rfcs/0014-instant-edit-safety.md
Due: none

docs(rfc): RFC-0015 — 瞬間 UML 图族, adversarial review round 1 fixes
  rfcs/0015-instant-uml-family.md
Due: none

test(kotlin): complete coverage for method-receiver helper functions
  tests/unit/languages/test_kotlin_method_receiver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0015 — instant UML family (scoping fixes + activity/state diagrams) (#458)
  rfcs/0015-instant-uml-family.md
Due: none

feat(impact): RFC-0014 Phase A — DF-16 test-noise partition for nav action=impact
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(readme): re-pin CLI flag count to measured 276 post develop-merge (272-era pod base corrected)
  README_ja.md
  README_zh.md
Due: none

fix(kotlin): method ownership — is_method/receiver_type (Theme A) (#436)
  tests/unit/languages/test_kotlin_method_receiver.py
  tests/unit/languages/test_kotlin_properties.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(impact): resolve all adversarial-review findings on RFC-0014 Phase A
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/test_server_helpers.py
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(uml): RFC-0015 Phase 1 — scoping, validator, test-strip, truncation, observability
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_uml_cli.py
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/tools/test_validators.py
  tests/unit/mcp/tools/test_viz_facade_uml_p1.py
  tests/unit/test_uml_export.py
  tests/unit/test_uml_export_p1.py
  tests/unit/test_uml_tool.py
  tests/unit/test_uml_tool_p1.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/_validators.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(impact): production/test edge partition — DF-16 (RFC-0014 Phase A) (#461)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/test_server_helpers.py
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(uml): RFC-0015 Phase 1 adversarial review — P2 mechanical fixes
  tests/unit/test_uml_export.py
  tests/unit/test_uml_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(uml): RFC-0015 Phase 1 — scoping, validator, test-strip, truncation, observability (#462)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_uml_cli.py
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/tools/test_validators.py
  tests/unit/mcp/tools/test_viz_facade_uml_p1.py
  tests/unit/test_uml_export.py
  tests/unit/test_uml_export_p1.py
  tests/unit/test_uml_tool.py
  tests/unit/test_uml_tool_p1.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/_validators.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nav): RFC-0014 Phase B — nav action=test_map (which tests exercise a function)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): Phase B adversarial-review P1/P2/P3 — test_map facade correctness
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(parser-readiness): extract version from requirement spec when package not installed
  tests/unit/mcp/test_parser_readiness_tool.py
  tree_sitter_analyzer/cli/parser_readiness_package.py
  tree_sitter_analyzer/cli/parser_readiness_records.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(parser-readiness): honesty split — parser_package_version never carries spec-extracted version
  tests/unit/mcp/test_parser_readiness_tool.py
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/cli/parser_readiness_package.py
  tree_sitter_analyzer/cli/parser_readiness_records.py
  tree_sitter_analyzer/mcp/tools/parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nav): test_map — which tests exercise this function (RFC-0014 Phase B) (#463)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(parser-readiness): honest version reporting — installed vs declared (DF-20) (#464)
  tests/unit/mcp/test_parser_readiness_tool.py
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/cli/parser_readiness_package.py
  tree_sitter_analyzer/cli/parser_readiness_records.py
  tree_sitter_analyzer/mcp/tools/parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nav): RFC-0014 Phase C — nav action=co_change git-history co-change coupling
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  scripts/metrics_snapshot.py
  scripts/pod_verify.sh
  tests/unit/mcp/tools/test_co_change.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/utils/co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
