Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs: flag CLAUDE.md rules 8/9 mycelium commands as outdated
  CLAUDE.md
Due: none

feat: add FacadeTool dispatcher framework + search facade PoC (P0)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add 5 domain facades nav/structure/health/edit/project (Wave B)
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_structure_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: split index + viz facades -> final 8-facade shape (Wave C1)
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat!: switch MCP registry to 8 facades + legacy shim (Wave C2)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  tests/e2e/test_mcp_smoke.py
  tests/unit/mcp/test_index_sync_tools.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tests/unit/mcp/test_server_comprehensive_tools.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_context_tool.py
  tests/unit/test_semantic_classify_tool.py
  tests/unit/test_symbol_search_tool.py
  tests/unit/test_tool_registry.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/legacy_shim.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/server_utils/tool_registration.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Wave D — token diet to -80%, skill allowlists, migration docs
  .claude/skills/tsa-constraints/SKILL.md
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-safety/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-graph/SKILL.md
  .claude/skills/tsa-health-watch/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  .claude/skills/tsa-landing/SKILL.md
  .claude/skills/tsa-pr-review/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  .claude/skills/tsa-structure/SKILL.md
  .claude/skills/tsa-temporal/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/MIGRATION.md
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: flag CLAUDE.md rules 8/9 mycelium commands as outdated (#258)
  CLAUDE.md
Due: none

feat: multilang import/symbol resolution (Java) via Strategy registry
  tests/unit/synapse_resolver/test_java.py
  tree_sitter_analyzer/_ast_cache_synapse.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
  tree_sitter_analyzer/synapse_resolver/_java.py
  tree_sitter_analyzer/synapse_resolver/_java_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: skip unresolved-refs backfill for non-Python + dedup full-index backfill
  tests/unit/test_unresolved_refs.py
  tree_sitter_analyzer/_ast_cache_helpers.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: promote CALLS scalars to real edges columns + SQL pushdown (B1.1)
  tests/unit/test_edge_store_name_columns.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: migrate 5 call-edge readers from ast_call_edges to unified edges table (B1.2)
  tests/unit/test_ast_cache_bfs.py
  tests/unit/test_b1_reader_edge_parity.py
  tests/unit/test_call_path.py
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/_ast_cache_graph.py
  tree_sitter_analyzer/call_path.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/symbol_resolver.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: migrate get_call_edges() reader to unified edges table (B1.2b)
  tests/unit/test_b1_reader_edge_parity.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf!: drop ast_call_edges + unresolved_refs, unify on edges table (B1.3)
  tests/integration/test_synapse_backfill.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_bfs.py
  tests/unit/test_b1_reader_edge_parity.py
  tests/unit/test_constraint_dsl.py
  tests/unit/test_cross_file_backfill.py
  tests/unit/test_edge_store.py
  tests/unit/test_schema_integrity.py
  tests/unit/test_synapse_resolution.py
  tests/unit/test_unresolved_refs.py
  tree_sitter_analyzer/_ast_cache_graph.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_synapse.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: port call_path body-inlining enrich to b1-edge-consolidation
  tests/unit/mcp/tools/test_call_path_enrich.py
  tree_sitter_analyzer/mcp/tools/call_path_enrich.py
  tree_sitter_analyzer/mcp/tools/call_path_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: align call_path_enrich fixture with B1 unified edges table
  tests/unit/mcp/tools/test_call_path_enrich.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: P2 inline source bodies into nav navigate/callers/callees + search symbol
  tests/unit/mcp/tools/test_symbol_body_inline.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/call_path_enrich.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_body_inline.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: dependency_matrix call-edge dimension was always empty
  tests/unit/test_dependency_matrix.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/dependency_matrix.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add --table signatures lightweight method-directory mode
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_java_formatter_signatures.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/default_table_formatter.py
  tree_sitter_analyzer/formatters/_java_formatter_signatures_mixin.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/java_formatter.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: facade discoverability + nav context symbol→task normalization
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: align context-registration test with bespoke route + gitignore validation artifacts
  .gitignore
  tests/unit/test_codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update test_structure_facade for signatures bespoke route
  tests/unit/mcp/tools/test_structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf: candidate cache for unresolved 2nd-pass resolution (B4)
  tests/unit/test_unresolved_refs_cache_parity.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add callee_tree/caller_tree tree primitives (one-call nested call tree)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_call_tree_primitives.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/_call_tree.py
  tree_sitter_analyzer/mcp/tools/_call_tree_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: steer agents to context+tree-first (the win chip)
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: callee_tree/caller_tree primitives — one-call tree traversal (mycelium-inspired winning chip) (#267)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_call_tree_primitives.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/_call_tree.py
  tree_sitter_analyzer/mcp/tools/_call_tree_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: callee_tree/caller_tree primitives — one-call tree traversal (mycelium-inspired winning chip) (#267)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_call_tree_primitives.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/_call_tree.py
  tree_sitter_analyzer/mcp/tools/_call_tree_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: align MCP server instructions to v2.0 facades + stable trace playbook
  tests/unit/mcp/test_server_helpers.py
  tree_sitter_analyzer/mcp/_server_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: update e2e smoke instructions assertion to v2.0 facades
  tests/e2e/test_mcp_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: precise entry-point recall in codegraph_context (compound + name-match) (#268)
  tests/e2e/test_mcp_smoke.py
  tests/unit/mcp/test_server_helpers.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Hyphae DSL — CSS-selector graph query (mycelium RFC-0003 port)
  tests/unit/hyphae/__init__.py
  tests/unit/hyphae/test_evaluator.py
  tests/unit/hyphae/test_lexer_parser.py
  tests/unit/hyphae/test_select_tool.py
  tree_sitter_analyzer/hyphae/__init__.py
  tree_sitter_analyzer/hyphae/ast.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/hyphae/lexer.py
  tree_sitter_analyzer/hyphae/parser.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: register search/select in facade delegation contract table
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Hyphae DSL — CSS-selector graph query (mycelium RFC-0003 port) (#269)
  tests/unit/hyphae/__init__.py
  tests/unit/hyphae/test_evaluator.py
  tests/unit/hyphae/test_lexer_parser.py
  tests/unit/hyphae/test_select_tool.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/hyphae/__init__.py
  tree_sitter_analyzer/hyphae/ast.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/hyphae/lexer.py
  tree_sitter_analyzer/hyphae/parser.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: complete Hyphae MECE coverage — all edges/structural pseudos + error
  tests/unit/hyphae/test_evaluator.py
  tests/unit/hyphae/test_select_tool.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: complete Hyphae MECE coverage — all edges/structural pseudos + error (#270)
  tests/unit/hyphae/test_evaluator.py
  tests/unit/hyphae/test_select_tool.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: address Codex P2 reviews on Hyphae edge filters
  tests/unit/hyphae/test_evaluator.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/hyphae/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: lock rule — never ignore Codex review after a PR
  CLAUDE.md
Due: none

fix: address Codex P2 reviews on Hyphae edge filters (file identity + subclasses + implements) (#271)
  CLAUDE.md
  tests/unit/hyphae/test_evaluator.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/hyphae/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(spec): reactive push — virtual-DOM last mile (spec-first)
  docs/designs/REACTIVE_PUSH_SPEC.md
Due: none

docs(spec): fix session-acquisition per Codex review (capture at subscribe)
  docs/designs/REACTIVE_PUSH_SPEC.md
Due: none

docs(rfc): establish RFC process + RFC-0001 reactive push (was loose docs)
  docs/designs/REACTIVE_PUSH_SPEC.md
  rfcs/0000-template.md
  rfcs/0001-reactive-push.md
  rfcs/README.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
