Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

Add SafeSkill security badge (78/100)
  README.md
Due: none

feat: update MCP tool descriptions to intent-based language (#111)
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add comprehensive Security & Architecture section to all README versions
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: update type ignore comments for MyPy 1.19.1 compatibility
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: CEO Insights Phase 2 - Intent-based descriptions & Security docs (#113)
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: Python plugin now correctly detects decorated methods (@classmethod, @staticmethod, @property)
  tests/regression/test_python_decorated_methods_112.py
  tree_sitter_analyzer/languages/python_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Python plugin now correctly detects decorated methods (@classmethod, @staticmethod, @property) (#114)
  tests/regression/test_python_decorated_methods_112.py
  tree_sitter_analyzer/languages/python_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update Python golden masters for decorated methods
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/toon/python_sample_toon.toon
Due: none

fix: update tests for new Swift/Scala support and fix linting
  scripts/extract_node_counts.py
  tests/unit/core/test_language_detector_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve CI/CD failures in develop branch
  pyproject.toml
  scripts/extract_node_counts.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, bandit-local, pydocstyle-local, flake8-local

fix: add all 21 tree-sitter modules to MyPy overrides
  pyproject.toml
Due: check-toml-local

feat: Grammar Coverage MECE Framework - Phase 1+2
  corpus/python/classes/basic_classes.py
  corpus/python/expressions/basic_expressions.py
  corpus/python/functions/basic_functions.py
  corpus/python/imports/basic_imports.py
  corpus/python/statements/basic_statements.py
  docs/corpus-generator.md
  docs/grammar-coverage-phase2-summary.md
  docs/phase2-checklist.md
  pyproject.toml
  tests/unit/grammar_coverage/__init__.py
  tests/unit/grammar_coverage/test_corpus_generator.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/grammar_coverage/test_validator.py
  tree_sitter_analyzer/grammar_coverage/IMPLEMENTATION_SUMMARY.md
  tree_sitter_analyzer/grammar_coverage/README.md
  tree_sitter_analyzer/grammar_coverage/__init__.py
  tree_sitter_analyzer/grammar_coverage/corpus_example.py
  tree_sitter_analyzer/grammar_coverage/corpus_generator.py
  tree_sitter_analyzer/grammar_coverage/example_usage.py
  tree_sitter_analyzer/grammar_coverage/introspector.py
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 2.5 - Plugin Integration Complete
  tests/integration/grammar_coverage/__init__.py
  tests/integration/grammar_coverage/test_validator_demo.py
  tests/integration/grammar_coverage/test_validator_integration.py
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Grammar Coverage MECE Framework - Systematic Coverage Validation (#116)
  corpus/python/classes/basic_classes.py
  corpus/python/expressions/basic_expressions.py
  corpus/python/functions/basic_functions.py
  corpus/python/imports/basic_imports.py
  corpus/python/statements/basic_statements.py
  docs/corpus-generator.md
  docs/grammar-coverage-phase2-summary.md
  docs/phase2-checklist.md
  pyproject.toml
  tests/integration/grammar_coverage/__init__.py
  tests/integration/grammar_coverage/test_validator_demo.py
  tests/integration/grammar_coverage/test_validator_integration.py
  tests/unit/core/test_language_detector_extended.py
  tests/unit/grammar_coverage/__init__.py
  tests/unit/grammar_coverage/test_corpus_generator.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/grammar_coverage/test_validator.py
  tree_sitter_analyzer/grammar_coverage/IMPLEMENTATION_SUMMARY.md
  tree_sitter_analyzer/grammar_coverage/README.md
  tree_sitter_analyzer/grammar_coverage/__init__.py
  tree_sitter_analyzer/grammar_coverage/corpus_example.py
  tree_sitter_analyzer/grammar_coverage/corpus_generator.py
  tree_sitter_analyzer/grammar_coverage/example_usage.py
  tree_sitter_analyzer/grammar_coverage/introspector.py
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: add asyncio_mode config for pytest-asyncio compatibility with xdist
  pytest.ini
Due: none

fix: refactor validator to use language_loader for multi-language API compatibility
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: suppress Hypothesis HealthCheck.too_slow in test_function_creation
  tests/unit/core/test_models_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: remove obsolete validator tests and update Python coverage expectations
  tests/unit/grammar_coverage/test_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: achieve 100% grammar coverage for Scala (71/71 node types)
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for PHP (88/88 node types)
  tree_sitter_analyzer/languages/php_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for C (82/82 node types)
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/plugins/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for Kotlin (86/86 node types)
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for TypeScript (114/114 node types)
  .claude/settings.local.json
  TODOS.md
  corpus/python/expressions/advanced_expressions.py
  diagnose_coverage.py
  diagnose_coverage_sync.py
  tests/integration/languages/test_python_full_coverage.py
  tests/unit/core/test_models_new_elements.py
  tests/unit/languages/test_python_comprehensions.py
  tests/unit/languages/test_python_expressions.py
  tests/unit/languages/test_python_lambdas.py
  tests/unit/utils/test_text_utils.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/swift_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/models.py
  tree_sitter_analyzer/utils/__init__.py
  tree_sitter_analyzer/utils/text_utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for Rust (106/106 node types)
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for JavaScript (58/58 node types)
  scripts/test_sql_coverage.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/plugins/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for Bash (51/51 node types)
  tree_sitter_analyzer/languages/bash_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: achieve 100% grammar coverage for SQL (155/155 node types)
  tree_sitter_analyzer/formatters/sql_formatters.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add comprehensive grammar coverage achievement report
  docs/grammar-coverage-achievement.md
Due: none

fix: correct type annotations and import in SQL plugin
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: correct AnalysisRequest import path in all language plugins
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/swift_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove unused imports (pytest_asyncio, tree_sitter)
  tests/integration/grammar_coverage/test_validator_integration.py
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: move AnalysisRequest imports outside TYPE_CHECKING blocks
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(validator): eliminate False Positives with exact node identity matching
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add False Positive detection test suite (30 cases)
  tests/unit/grammar_coverage/test_validator_false_positives.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: Phase 2 wrapper node audit report (7 languages)
  docs/grammar-coverage/phase2-wrapper-audit.md
Due: none

docs: update architecture docs for Phase 1 MECE validator
  README.md
  docs/grammar-coverage-framework.md
Due: none

feat: Phase 3 Auto-Discovery feasibility validation (8/10 confidence)
  docs/grammar-coverage/PHASE3_AGENT5_COMPLETION.md
  docs/grammar-coverage/README_PHASE3.md
  docs/grammar-coverage/phase3-feasibility-report.md
  docs/grammar-coverage/phase3-quick-reference.md
  scripts/grammar_introspection_prototype.py
  scripts/grammar_structural_analysis.py
  scripts/phase3_demo.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): Phase 2 wrapper nodes extraction (TypeScript/Scala/Ruby)
  tests/golden/corpus_scala_expected.json
  tests/test_data/test_ruby_visibility.rb
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): update Python plugin tests for 6-tuple function signature
  tests/unit/languages/test_python_plugin_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
