Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(docs): accuracy sweep — facade surface, counts, dead paths, broken links
  GITFLOW.md
  GITFLOW_ja.md
  GITFLOW_zh.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/formatters.md
  docs/CODEMAPS/mcp-tools.md
  docs/CONTRIBUTING.md
  docs/MIGRATION.md
  docs/TESTING.md
  docs/architecture.md
  docs/developer_guide.md
  docs/grammar-coverage-framework.md
  docs/new-language-support-checklist.md
  docs/smart-workflow.md
  docs/testing-guide.md
Due: none

docs(rfc): review fixes — 0015 zero-transition criterion superseded by #480/#498 (INFO not NOT_FOUND); reopen codemap box (state missing from mcp-tools.md)
  rfcs/0015-instant-uml-family.md
Due: none

test: pin exact assertions — batch 8 (tests/unit/languages) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_cpp_plugin_coverage_boost_advanced.py
  tests/unit/languages/test_css_plugin_enhanced_selectors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: count both attribute selectors, pin exact selector list — Codex P2
  tests/unit/languages/test_css_plugin_enhanced_selectors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 8 (tests/unit/languages) + ratchet baseline down (#525)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_cpp_plugin_coverage_boost_advanced.py
  tests/unit/languages/test_css_plugin_enhanced_selectors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mcp): structure explore accepts documented multi-symbol params (#515)
  tests/unit/test_codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: review fixes — full-index defaults to incremental (show mode=full), status health check via --codegraph-status
  docs/index-lifecycle.md
Due: none

fix(docs): review fixes — real narrow golden-master command (-k plugin), TSA_UPDATE_GOLDEN=1 update flow (not formatter baselines)
  docs/testing-guide.md
Due: none

docs(rfc): sync statuses to shipped reality — 0015 implemented, 0014 evidence notes, 0011 clarification, index entries (#521)
  rfcs/0011-miswire-audit.md
  rfcs/0014-instant-edit-safety.md
  rfcs/0015-instant-uml-family.md
  rfcs/README.md
Due: none

chore(docs): prune 30+ zero-reference stale working notes; banner kept historical records (#522)
  benchmarks/codegraph_compare/scorecard-template.md
Due: none

docs: index lifecycle guide + UML diagram family in features (audit gaps 2+5) (#523)
  docs/README.md
  docs/features.md
  docs/index-lifecycle.md
Due: none

fix(mcp): declare symbol as string-or-array in the public schema — Codex P2
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(docs): accuracy sweep — facade surface, stale counts, dead test paths, broken links (#524)
  GITFLOW.md
  GITFLOW_ja.md
  GITFLOW_zh.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/formatters.md
  docs/CODEMAPS/mcp-tools.md
  docs/CONTRIBUTING.md
  docs/MIGRATION.md
  docs/TESTING.md
  docs/architecture.md
  docs/developer_guide.md
  docs/grammar-coverage-framework.md
  docs/new-language-support-checklist.md
  docs/smart-workflow.md
  docs/testing-guide.md
Due: none

fix(mcp): structure explore accepts documented multi-symbol params (#526)
  tests/unit/test_codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cli): --check-scale FILE — single-file CLI door for health action=scale (#513 leg 1)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_check_scale_cli.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): delegate path resolution to the tool, forward --language — Codex P2 x2
  tests/unit/cli/test_check_scale_cli.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cli): --check-scale FILE — single-file CLI door for health action=scale (#527)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_check_scale_cli.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(formatters): TypeScript --table signatures + supported-language list in errors (#513 leg 2, #449)
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_typescript_formatter_signatures_table.py
  tree_sitter_analyzer/formatters/_typescript_formatter_signatures_table.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): read container kind from 'type' with class_type fallback — Codex P2
  tests/unit/formatters/test_typescript_formatter_signatures_table.py
  tree_sitter_analyzer/formatters/_typescript_formatter_signatures_table.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(formatters): TypeScript --table signatures + supported-language list in errors (#541)
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_typescript_formatter_signatures_table.py
  tree_sitter_analyzer/formatters/_typescript_formatter_signatures_table.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): byte budget + honest truncation for structure/outline surface (#513 leg 3)
  tests/unit/mcp/test_tools/test_get_code_outline_budget.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): name the overflowing list(s) in the truncation hint — Codex P2
  tests/unit/mcp/test_tools/test_get_code_outline_budget.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): byte budget + honest truncation for structure/outline surface (#542)
  tests/unit/mcp/test_tools/test_get_code_outline_budget.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): classify returns verdict+summary by default, bulk payload opt-in with budget (#528)
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact fixture counts — own ratchet caught the pod's loose asserts
  tests/unit/test_semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: exact byte pins + CLI parity for classify budget knobs — Codex P1+P2
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): classify returns verdict+summary by default, bulk payload opt-in with budget (#543)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): ast_diff infers mode from args, honest schema + mode-enumerating errors (#529)
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): source/file signatures win mode inference over materialized ref defaults — Codex P2
  tests/unit/test_ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): ast_diff infers mode from args, honest schema + mode-enumerating errors (#551)
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): journal doc honesty, positive-int limit validation, selector echo cap (#540)
  tests/unit/hyphae/test_select_tool.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cap selector echo on the syntax-error branch too — lead review
  tests/unit/hyphae/test_select_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): summary_line interpolates the capped selector echo — Codex P2
  tests/unit/hyphae/test_select_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): journal doc honesty, positive-int limit validation, selector echo cap (#553)
  tests/unit/hyphae/test_select_tool.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_select_tool.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact assertions — batch 9 (test_ast_cache solo) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/test_ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: rewrite legacy MCP tool names to facade actions (#503) + fix CLAUDE.md rule-7 flag names
  CLAUDE.md
  README.md
  README_ja.md
  README_zh.md
Due: none

test: pin exact assertions — batch 9 (test_ast_cache solo) + ratchet baseline down (#554)
  scripts/loose_assertion_baseline.txt
  tests/unit/test_ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 10 (core/heatmap) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_query_code_cross_language_compatibility.py
  tests/unit/test_complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: facade-name the safe_to_edit symptom prose in CLAUDE.md §2 — opencode review
  CLAUDE.md
Due: none

docs: rewrite legacy MCP tool names to facade actions + fix CLAUDE.md rule-7 flag names (#555)
  CLAUDE.md
  README.md
  README_ja.md
  README_zh.md
Due: none
