Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

style: drop a blank line ruff-format removed in the merge resolution
  tests/unit/mcp/test_safe_to_edit_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): correct RFC-0028 P1 defects found in adversarial review
  rfcs/0028-measuring-claimed-properties.md
Due: none

feat: generation-keyed answer cache for the pre-edit safety gate (RFC-0027 L6.1) (#1320)
  docs/agent-envelope-contract.md
  docs/baselines/rfc0025-l5-latency-windows-e0.json
  rfcs/0027-agent-secretary-and-calibration.md
  scripts/measure_self_health_baseline.py
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/conftest.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_answer_cache.py
  tests/unit/test_answer_cache_policy.py
  tree_sitter_analyzer/cache/answer_cache.py
  tree_sitter_analyzer/cache/answer_cache_policy.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(governance): pin the budget-retry fence instead of its platform scope
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): correct RFC-0029 P1 defects found in adversarial review
  rfcs/0029-does-this-test-constrain-this-code.md
  rfcs/README.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs(rfc): RFC-0028 measuring the properties we already claim (#1316)
  rfcs/0028-measuring-claimed-properties.md
  rfcs/README.md
Due: none

fix(ci): make the budget-retry mitigation actually work, on every platform (#1321)
  .github/workflows/reusable-test.yml
  scripts/classify_windows_pytest_failure.py
  tests/governance/test_ci_routing_contract.py
  tests/unit/test_classify_windows_pytest_failure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): give the manifest WARN an actionable next_step (dogfood round 1)
  STATE.md
  tests/unit/test_codegraph_full_index_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0029 make "does this test constrain this code" askable (#1323)
  rfcs/0029-does-this-test-constrain-this-code.md
  rfcs/README.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

feat: derive edit.safe dependents from the index, incrementally (RFC-0025 L1)
  rfcs/0025-instant-causal-proprioception.md
  scripts/measure_self_health_baseline.py
  tests/unit/mcp/tools/utils/test_dependents_index.py
  tree_sitter_analyzer/mcp/tools/utils/dependents_index.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): assert the next_step reaches the caller, not just that it exists
  tests/unit/test_codegraph_full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(l1): close fail-open in edit.safe dependents lookup with relative project_root
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): give the manifest WARN an actionable next_step (dogfood round 1) (#1324)
  STATE.md
  tests/unit/test_codegraph_full_index_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(l1): derive edit.safe dependents from index with fail-closed guarantee (RFC-0025 L1) (#1325)
  rfcs/0025-instant-causal-proprioception.md
  scripts/measure_self_health_baseline.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/mcp/tools/utils/test_dependents_index.py
  tree_sitter_analyzer/mcp/tools/utils/dependents_index.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(l7-l8): wire refactor queue, tool dispositions, and plan-rename (RFC-0027)
  .claude/skills/tsa-refactor-queue/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  rfcs/0027-agent-secretary-and-calibration.md
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_capability_commands.py
  tests/unit/cli/test_install_skills.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_tool_dispositions.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_refactor_queue_tool.py
  tests/unit/test_refactor_queue.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tool_dispositions.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/refactor_queue_tool.py
  tree_sitter_analyzer/refactor_queue.py
  tree_sitter_analyzer/rename_symbol.py
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(contract): re-pin translated README CLI flag count to 330 (was 325)
  tests/contracts/test_language_support_inventory_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(l7-l8): wire refactor queue, tool dispositions, and plan-rename (RFC-0027) (#1326)
  .claude/skills/tsa-refactor-queue/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  rfcs/0027-agent-secretary-and-calibration.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_capability_commands.py
  tests/unit/cli/test_install_skills.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_tool_dispositions.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_refactor_queue_tool.py
  tests/unit/test_refactor_queue.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/capability_commands.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tool_dispositions.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/refactor_queue_tool.py
  tree_sitter_analyzer/refactor_queue.py
  tree_sitter_analyzer/rename_symbol.py
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(rfc0029): edit action=mutation_probe — does this test constrain this code?
  .pre-commit-config.yaml
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/mutation_probe/__init__.py
  tests/unit/mutation_probe/fixtures/__init__.py
  tests/unit/mutation_probe/fixtures/_probe_always_fails.py
  tests/unit/mutation_probe/fixtures/_probe_bool.py
  tests/unit/mutation_probe/fixtures/_probe_crash.py
  tests/unit/mutation_probe/fixtures/_probe_dispatch.py
  tests/unit/mutation_probe/fixtures/_probe_hoist.py
  tests/unit/mutation_probe/fixtures/_probe_rel_import.py
  tests/unit/mutation_probe/fixtures/bool_target.py
  tests/unit/mutation_probe/fixtures/crash_target.py
  tests/unit/mutation_probe/fixtures/dispatch_target.py
  tests/unit/mutation_probe/fixtures/hoist_target.py
  tests/unit/mutation_probe/fixtures/rel_import_helper.py
  tests/unit/mutation_probe/fixtures/rel_import_target.py
  tests/unit/mutation_probe/test_mutation_probe.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/mutation_probe_tool.py
  tree_sitter_analyzer/mutation_probe/__init__.py
  tree_sitter_analyzer/mutation_probe/engine.py
  tree_sitter_analyzer/mutation_probe/runner.py
  tree_sitter_analyzer/mutation_probe/types.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rfc0029): address code-reviewer HIGH/MEDIUM findings in mutation_probe
  tests/unit/mutation_probe/test_mutation_probe.py
  tree_sitter_analyzer/mcp/tools/mutation_probe_tool.py
  tree_sitter_analyzer/mutation_probe/__init__.py
  tree_sitter_analyzer/mutation_probe/runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task16): add output_format to action=card description in project facade
  tree_sitter_analyzer/mcp/tools/project_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task17): time-box DependencyGraph construction in score_dependencies
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task12): expand Ruby and PHP extension tables in plugins and indexer map
  tree_sitter_analyzer/languages/lang_extension_map.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rfc0029): update CLI codemap flag count 330→333 (mutation_probe adds 3 flags)
  docs/CODEMAPS/cli.md
Due: none

fix(cleanup): remove test_server_full.py aggregator (imported deleted modules)
  tests/unit/mcp/test_server_full.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update native qualification probe to expect JSON output format (TOON removed)
  .secrets.baseline
  scripts/native_mcp_probe.py
  scripts/qualify_native_install.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): register mutation_probe in delegation table and fix counts (#1327)
  README.md
  README_ja.md
  README_zh.md
  docs/api/facade-actions.md
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/mcp/tools/test_edit_facade.py
  tree_sitter_analyzer/mcp/facade_map.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): re-pin CLI flag count to 333 in claim scanner, add mutation_probe to schema test (#1327)
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): remove remaining TOON test assertions after format removal (#1332)
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/unit/mcp/_test_query_execute.py
  tests/unit/mcp/_test_query_init_def_validate.py
  tests/unit/mcp/test_find_and_grep_helpers.py
  tests/unit/mcp/test_find_and_grep_tool_def.py
  tests/unit/mcp/test_find_and_grep_tool_execute.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_list_files_tool_execute.py
  tests/unit/mcp/test_list_files_tool_init_and_def.py
  tests/unit/mcp/test_mcp_query_tool_definition.py
  tests/unit/mcp/test_project_summary_pagerank.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_tools/test_analyze_scale_basic.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): add mutation_probe to all_actions test, update doc pin and README counts (#1327)
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: remove toon-specific tests for json-only output
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/integration/core/test_golden_master_regression.py
  tests/integration/mcp/test_integration.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: fix remaining toon->json test failures (batch 3)
  .github/workflows/reusable-native-qualification-attestation.yml
  .secrets.baseline
  rfcs/schemas/no1-006a-outdated-uv-attestation-v3.schema.json
  tests/integration/cli/test_read_partial_tool_batch.py
  tests/integration/core/test_analyze_scale_tool_batch_metrics.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_mixins_extra.py
  tests/unit/test_codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, flake8-local

feat(rfc0029): edit action=mutation_probe — does this test constrain this code? (#1327)
  .pre-commit-config.yaml
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mutation_probe/__init__.py
  tests/unit/mutation_probe/fixtures/__init__.py
  tests/unit/mutation_probe/fixtures/_probe_always_fails.py
  tests/unit/mutation_probe/fixtures/_probe_bool.py
  tests/unit/mutation_probe/fixtures/_probe_crash.py
  tests/unit/mutation_probe/fixtures/_probe_dispatch.py
  tests/unit/mutation_probe/fixtures/_probe_hoist.py
  tests/unit/mutation_probe/fixtures/_probe_rel_import.py
  tests/unit/mutation_probe/fixtures/bool_target.py
  tests/unit/mutation_probe/fixtures/crash_target.py
  tests/unit/mutation_probe/fixtures/dispatch_target.py
  tests/unit/mutation_probe/fixtures/hoist_target.py
  tests/unit/mutation_probe/fixtures/rel_import_helper.py
  tests/unit/mutation_probe/fixtures/rel_import_target.py
  tests/unit/mutation_probe/test_mutation_probe.py
  tree_sitter_analyzer/cli/argument_groups/__init__.py
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/mutation_probe_tool.py
  tree_sitter_analyzer/mutation_probe/__init__.py
  tree_sitter_analyzer/mutation_probe/engine.py
  tree_sitter_analyzer/mutation_probe/runner.py
  tree_sitter_analyzer/mutation_probe/types.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): make cache and Python 3.10 contracts deterministic
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/contracts/test_no1_010b_internal_only_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): update tests and production code for TOON removal
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/api/facade-actions.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/integration/cli/test_cli_integration.py
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/cli/_test_cli_main_module_parser_mixin.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tests/unit/cli/test_cli_main_module.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/cli/test_constraint_check_persistence.py
  tests/unit/cli/test_subcommand_format_alias.py
  tests/unit/core/test_analysis_session.py
  tests/unit/mcp/test_agent_skills_tool.py
  tests/unit/mcp/test_agent_workflow_tool.py
  tests/unit/mcp/test_hyphae_resource_read.py
  tests/unit/mcp/test_parser_readiness_tool.py
  tests/unit/mcp/test_search_content_execute.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/test_tools/_test_analyze_scale_tool_execute_mixins.py
  tests/unit/mcp/test_tools/test_analyze_scale_advanced.py
  tests/unit/mcp/test_universal_analyze_tool_execute.py
  tests/unit/mcp/test_unreachable_code_tool.py
  tests/unit/mcp/test_utils/test_file_output_manager.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/tools/test_co_change.py
  tests/unit/mcp/utils/test_verdict_safety_net.py
  tests/unit/task/test_task_harness.py
  tests/unit/test_builtin_receiver_gate.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/agent_workflow_tool.py
  tree_sitter_analyzer/mcp/tools/parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(lint): remove duplicate test_cli_supports_json_output in integration test
  tests/integration/cli/test_cli_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
