Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

chore: drop lead-side ops scripts smuggled into the feature diff (one PR = one feature)
  scripts/metrics_snapshot.py
  scripts/pod_verify.sh
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(nav-co-change): address Phase C adversarial-review P2/P3/INFO findings
  rfcs/0014-instant-edit-safety.md
  tests/unit/mcp/tools/test_co_change.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/tools/utils/co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): smell-ratchet + per-test-budget gates — nav dispatch extracted, fixture slimmed
  tests/unit/mcp/tools/test_co_change.py
  tree_sitter_analyzer/cli/nav_special_commands.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): wrap hyphae resource read in ReadResourceContents — issue #454
  tests/unit/mcp/test_hyphae_resource_read.py
  tree_sitter_analyzer/mcp/server_utils/resource_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(skills): rewrite all 13 tsa-* skills to use 8-facade MCP surface (issue #437)
  .claude/skills/tsa-constraints/SKILL.md
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-safety/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-graph/SKILL.md
  .claude/skills/tsa-health-watch/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  .claude/skills/tsa-landing/SKILL.md
  .claude/skills/tsa-pr-review/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  .claude/skills/tsa-structure/SKILL.md
  .claude/skills/tsa-temporal/SKILL.md
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/skills/tsa-constraints/SKILL.md
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-structure/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(skills): review round — correct CLI substitutions, dynamic legacy scan
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(hyphae): degenerate empty-selector URI — wrapped, never raw (review P3)
  tests/unit/mcp/test_hyphae_resource_read.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(nav-co-change): Add 8 new tests for codecov gap closure
  tests/unit/mcp/tools/test_co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(nav): co_change — git co-change coupling with true lift (RFC-0014 Phase C) (#466)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0014-instant-edit-safety.md
  tests/unit/mcp/tools/test_co_change.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/nav_special_commands.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/utils/co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(skills): teach the 8-facade surface — first-call success for PyPI users (#437) (#468)
  .claude/skills/tsa-constraints/SKILL.md
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-safety/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-graph/SKILL.md
  .claude/skills/tsa-health-watch/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  .claude/skills/tsa-landing/SKILL.md
  .claude/skills/tsa-pr-review/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  .claude/skills/tsa-structure/SKILL.md
  .claude/skills/tsa-temporal/SKILL.md
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/skills/tsa-constraints/SKILL.md
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-structure/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(toon): strip viz bulk fields (nodes/edges/mermaid/groups) from TOON top-level (#439)
  tests/unit/mcp/test_output_cost_invariants.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolution): builtin-receiver gate — dict.get must not bind to project .get (issue #447)
  tests/unit/test_builtin_receiver_gate.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): activity diagram (P2-A of RFC-0015) — CFG via tree-sitter
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0015-instant-uml-family.md
  tests/unit/test_uml_activity.py
  tests/unit/test_uml_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_activity.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(hyphae): resources/read on tsa://hyphae/* — wrap dict as ReadResourceContents (#454) (#467)
  tests/unit/mcp/test_hyphae_resource_read.py
  tree_sitter_analyzer/mcp/server_utils/resource_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolution): invert builtin-receiver gate — inference-only, not STDLIB_METHODS_PY match
  tests/unit/test_builtin_receiver_gate.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/callee_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(toon): make TOON duplication structurally extinct — P1/P2/P3
  tests/unit/mcp/test_output_cost_invariants.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(uml): adversarial-review P1/P2/P3 fixes — label text, edge labels, RFC contract
  rfcs/0015-instant-uml-family.md
  tests/unit/test_uml_activity.py
  tree_sitter_analyzer/uml_activity.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(gap): re-pin gaps assertion to json mode + add TOON strip test (#439)
  tests/unit/test_test_gap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(co_change): skip the wall-clock invariant on Windows runners
  tests/unit/mcp/tools/test_co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(structure): Go/Rust receiver methods now nest under their struct in outline
  tests/unit/languages/test_go_class_method_association.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): state diagram (P2-B of RFC-0015) — stateDiagram-v2 from enum/match FSMs
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_uml_state.py
  tests/unit/test_uml_tool.py
  tests/unit/test_uml_tool_p1.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
  tree_sitter_analyzer/uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(outline): Go/Rust receiver methods — single-ownership invariant + accuracy
  tests/unit/languages/test_go_class_method_association.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(co_change): skip the wall-clock invariant on Windows runners (#473)
  tests/unit/mcp/tools/test_co_change.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(toon): value-based bulk-strip invariant — duplication class extinction (#439) (#471)
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(uml): re-pin diagram enum to 5 elements after develop merge (activity lands first)
  tests/unit/test_uml_tool_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(outline): Go/Rust receiver methods nest under their structs (#456) (#474)
  tests/unit/languages/test_go_class_method_association.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(viz): state diagram adversarial review — P2a/P2b/P3a/P3b fixes
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
  tree_sitter_analyzer/uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(viz): pin adversarial review fixes — P2a/P2b/P3a/P3b conformance tests
  tests/unit/test_uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(resolution): evidence-inverted builtin-receiver gate (#447) (#470)
  tests/unit/test_builtin_receiver_gate.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/callee_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(uml): cover activity CFG branches missed by patch coverage
  tests/unit/test_uml_activity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(viz): activity diagrams — per-function CFG (RFC-0015 P2-A) (#472)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/mcp-tools.md
  rfcs/0015-instant-uml-family.md
  tests/unit/test_uml_activity.py
  tests/unit/test_uml_tool.py
  tests/unit/test_uml_tool_p1.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_activity.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(viz): state diagram Codex P2 triage — project_root paths, per-enum transition scan, qualified enum bases
  tests/unit/test_uml_export_p1.py
  tests/unit/test_uml_state.py
  tree_sitter_analyzer/uml_export.py
  tree_sitter_analyzer/uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(toon): RED invariants for value-kind bulk-strip rule (RFC-0012 Phase 2)
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(toon): value-kind bulk-strip rule — RFC-0012 Phase 2 (issue #439)
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(toon): update functional tests for Phase 2 value-kind rule
  rfcs/0012-toon-json-dedup.md
  tests/benchmarks/test_large_file_performance.py
  tests/unit/mcp/_test_query_execute.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_code_patterns_execute.py
  tests/unit/mcp/test_mcp_find_and_grep_p1.py
  tests/unit/mcp/test_mcp_rg_phase3_advanced_edges.py
  tests/unit/mcp/test_mcp_rg_phase5_integration.py
  tests/unit/mcp/test_mcp_rg_phase7_integration_edges.py
  tests/unit/mcp/test_mcp_search_content_p2.py
  tests/unit/mcp/test_mcp_tools_integration_workflows.py
  tests/unit/mcp/test_query_symbol_search.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_smart_context_tool.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_coverage_mixins.py
  tests/unit/mcp/test_tools/test_analyze_scale_helpers_build.py
  tests/unit/mcp/test_toon_compact_only.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_pr_review_tool.py
  tests/unit/test_import_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(viz): cover state diagram branches missed by patch coverage
  tests/unit/test_uml_export_p1.py
  tests/unit/test_uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(toon): pin exact byte sizes for synthetic nav-impact fixture (Codex P2)
  tests/unit/mcp/test_output_cost_invariants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(viz): state diagram — RFC-0015 P2-B (stateDiagram-v2 from enum/match FSMs) (#475)
  tests/unit/test_uml_activity.py
  tests/unit/test_uml_export_p1.py
  tests/unit/test_uml_state.py
  tests/unit/test_uml_tool.py
  tests/unit/test_uml_tool_p1.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
  tree_sitter_analyzer/uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): TOON control-surface allowlist — value-kind bulk strip (RFC-0012 Phase 2) (#476)
  rfcs/0012-toon-json-dedup.md
  tests/benchmarks/test_large_file_performance.py
  tests/unit/mcp/_test_query_execute.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_code_patterns_execute.py
  tests/unit/mcp/test_mcp_find_and_grep_p1.py
  tests/unit/mcp/test_mcp_rg_phase3_advanced_edges.py
  tests/unit/mcp/test_mcp_rg_phase5_integration.py
  tests/unit/mcp/test_mcp_rg_phase7_integration_edges.py
  tests/unit/mcp/test_mcp_search_content_p2.py
  tests/unit/mcp/test_mcp_tools_integration_workflows.py
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/test_query_symbol_search.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_smart_context_tool.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_coverage_mixins.py
  tests/unit/mcp/test_tools/test_analyze_scale_helpers_build.py
  tests/unit/mcp/test_toon_compact_only.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_pr_review_tool.py
  tests/unit/test_import_graph_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(typescript): abstract classes extract members — abstract_class_declaration + abstract_method_signature (#459)
  tests/unit/languages/test_typescript_abstract_class.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_traversal_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
