Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(callers): ClassName.method qualified lookup returns NOT_FOUND (closes #217)
  tree_sitter_analyzer/_ast_cache_helpers.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(SLF001): expose parser property; use cache.fts5_available in indexer
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph_query): verify all 7 sort fields from README parse correctly
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(README): fix 16→13 indexed languages across all three locales
  README.md
  README_ja.md
  README_zh.md
Due: none

feat(doc-sync): add documentation-code sync checker — scans md for stale file refs
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_doc_sync.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/doc_sync.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/doc_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(tests): consolidate kotlin plugin tests 4→1 file
  tests/unit/languages/test_kotlin_plugin.py
  tests/unit/languages/test_kotlin_plugin_coverage.py
  tests/unit/languages/test_kotlin_plugin_enhanced.py
  tests/unit/languages/test_kotlin_plugin_final.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(semantic_search): cover exception fallback + legacy schema paths; sync README test counts
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_semantic_symbol_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(README): update BM25 relevance_score description to reflect min-max normalization
  README.md
  README_ja.md
  README_zh.md
Due: none

refactor(tests): extract _make_parser_mock to grammar_coverage/conftest.py
  tests/unit/grammar_coverage/conftest.py
  tests/unit/grammar_coverage/test_validator_fp_boundary.py
  tests/unit/grammar_coverage/test_validator_fp_depth.py
  tests/unit/grammar_coverage/test_validator_fp_wrapper_c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(README): fix 6→7 health dimensions across all three locales
  README.md
  README_ja.md
  README_zh.md
Due: none

chore(test-slimming): remove zero-value test files, rename survivors to intent-reflecting names
  tests/temp_cli_test_large/93ce5054/test_large_cli.py
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_analysis_engine_branch_coverage.py
  tests/unit/core/test_api_coverage_boost.py
  tests/unit/core/test_api_error_paths_additional.py
  tests/unit/core/test_api_error_paths_basic.py
  tests/unit/core/test_manager_internal_branches.py
  tests/unit/core/test_query_coverage_boost.py
  tests/unit/formatters/test_legacy_table_formatter_coverage_boost2.py
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tests/unit/languages/test_javascript_plugin_coverage_boost.py
  tests/unit/mcp/test_server_missing_branches.py
  tests/unit/utils/test_encoding_utils_edge_cases.py
  tests/unit/utils/test_tree_sitter_compat_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(codegraph_class_hierarchy): add 14 tests for README-exclusive tool
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_class_hierarchy_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: fix MCP tool count 59→61 in pyproject.toml description
  pyproject.toml
Due: check-toml-local

fix(symbol_search): apply min-max BM25 normalization to fuzzy_search path
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): formalize LanguagePlugin inheritance contract
  tree_sitter_analyzer/plugins/_manager_helpers.py
  tree_sitter_analyzer/plugins/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph_query_dsl): guard sort(by='confidence') BM25-relevance parse
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_query_dsl.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: remove boilerplate MCP tool and formatter tests covered by contracts
  tests/unit/formatters/test_cpp_formatter_helpers.py
  tests/unit/formatters/test_csharp_formatter_helpers.py
  tests/unit/formatters/test_go_formatter_helpers.py
  tests/unit/formatters/test_java_formatter_advanced.py
  tests/unit/formatters/test_java_formatter_basic.py
  tests/unit/formatters/test_javascript_formatter_coverage.py
  tests/unit/formatters/test_markdown_formatter_coverage_boost.py
  tests/unit/formatters/test_python_formatter_comprehensive_basic.py
  tests/unit/formatters/test_python_formatter_format_methods.py
  tests/unit/formatters/test_python_formatter_formatting.py
  tests/unit/formatters/test_sql_formatter_wrapper_format.py
  tests/unit/formatters/test_typescript_formatter_core.py
  tests/unit/mcp/test_analyze_code_structure_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_core.py
  tests/unit/mcp/test_batch_search_tool.py
  tests/unit/mcp/test_build_project_index_tool.py
  tests/unit/mcp/test_check_tools_tool.py
  tests/unit/mcp/test_find_and_grep_tool_def.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_list_files_tool_init_and_def.py
  tests/unit/mcp/test_mcp_tools_coverage.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_resources/test_base_resource_contract.py
  tests/unit/mcp/test_resources/test_code_file_resource.py
  tests/unit/mcp/test_resources/test_project_stats_resource.py
  tests/unit/mcp/test_search_content_init_and_def.py
  tests/unit/mcp/test_search_content_tool_init.py
  tests/unit/mcp/test_tools/test_analyze_scale_basic.py
  tests/unit/mcp/test_tools/test_base_tool.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): consolidate SQL plugin tests 17→2 files
  tests/unit/languages/test_sql_class_view_extractor.py
  tests/unit/languages/test_sql_coverage_boost.py
  tests/unit/languages/test_sql_function_extraction_properties.py
  tests/unit/languages/test_sql_function_extractor.py
  tests/unit/languages/test_sql_plugin.py
  tests/unit/languages/test_sql_plugin_branches.py
  tests/unit/languages/test_sql_plugin_comprehensive.py
  tests/unit/languages/test_sql_plugin_coverage_80.py
  tests/unit/languages/test_sql_plugin_coverage_final.py
  tests/unit/languages/test_sql_plugin_coverage_supplement.py
  tests/unit/languages/test_sql_plugin_deep_coverage.py
  tests/unit/languages/test_sql_plugin_enhanced.py
  tests/unit/languages/test_sql_plugin_extract_methods.py
  tests/unit/languages/test_sql_plugin_uncovered.py
  tests/unit/languages/test_sql_plugin_val_and_meta.py
  tests/unit/languages/test_sql_procedure_extractor_direct.py
  tests/unit/languages/test_sql_view_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(codegraph_incremental_sync): add 13 tests for content-hash diff sync tool
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(bm25): min-max normalization for relevance_score — strong matches 1.0, weak 0.0
  README.md
  README_ja.md
  README_zh.md
  tests/unit/mcp/test_fts5_bm25_ranking.py
  tree_sitter_analyzer/_ast_cache_query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(dogfood): FTS kind-boost, import consolidation, zero-assert fix, sync mode_used
  pyproject.toml
  tests/unit/mcp/test_fts5_bm25_ranking.py
  tests/unit/test_no_project_root_traps.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(README): add smart_context + decision_journal to exclusive features table
  README.md
  README_ja.md
  README_zh.md
Due: none

test(codegraph_autoindex): add 12 tests for transparent cache-warming tool
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_autoindex_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(symbol_search): assert relevance_score presence + sort order on FTS5 results
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(codegraph_query): add 15 tests for 1354-line tool (tool wrapper layer)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(codegraph_similarity): add 6 tests for AST-structural clone detection tool
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_similarity_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(exclusive_tools): add 14 tests for dead_code + dep_matrix + complexity tools
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_exclusive_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(README): update CodeGraph comparison + test count + CLI flags
  README.md
  README_ja.md
  README_zh.md
Due: none

test: remove remaining MCP boilerplate and language extraction duplicate tests
  tests/unit/mcp/test_batch_search_tool.py
  tests/unit/mcp/test_build_project_index_tool.py
  tests/unit/mcp/test_check_tools_tool.py
  tests/unit/mcp/test_find_and_grep_tool_def.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_list_files_tool_init_and_def.py
  tests/unit/mcp/test_mcp_tools_coverage.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_search_content_init_and_def.py
  tests/unit/mcp/test_search_content_tool_init.py
  tests/unit/mcp/test_smart_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mycelium-audit): remove 7 duplicate tests found via neighbor-similarity analysis
  tests/unit/core/test_language_detector.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: eliminate duplicate contract tests (language plugins, MCP tools, query modules)
  tests/unit/languages/test_c_plugin.py
  tests/unit/languages/test_cpp_plugin.py
  tests/unit/languages/test_csharp_plugin_interface.py
  tests/unit/languages/test_css_plugin.py
  tests/unit/languages/test_go_plugin.py
  tests/unit/languages/test_html_plugin.py
  tests/unit/languages/test_java_plugin.py
  tests/unit/languages/test_javascript_plugin_extended.py
  tests/unit/languages/test_kotlin_coverage_boost.py
  tests/unit/languages/test_kotlin_plugin.py
  tests/unit/languages/test_markdown_plugin_comprehensive.py
  tests/unit/languages/test_php_plugin.py
  tests/unit/languages/test_plugins_base_core.py
  tests/unit/languages/test_plugins_coverage.py
  tests/unit/languages/test_python_plugin.py
  tests/unit/languages/test_python_plugin_coverage.py
  tests/unit/languages/test_python_plugin_coverage_boost.py
  tests/unit/languages/test_queries_module_contract.py
  tests/unit/languages/test_ruby_plugin.py
  tests/unit/languages/test_rust_plugin_basic.py
  tests/unit/languages/test_rust_plugin_integration.py
  tests/unit/languages/test_scala_plugin.py
  tests/unit/languages/test_swift_plugin.py
  tests/unit/languages/test_typescript_plugin.py
  tests/unit/languages/test_yaml_plugin.py
  tests/unit/mcp/test_base_mcp_tool_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(codegraph_query): document path alias for file in sort() description
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: delete 5 more duplicate aggregator files (all sources collected independently)
  tests/unit/formatters/test_javascript_formatter_core.py
  tests/unit/formatters/test_legacy_table_formatter_comprehensive.py
  tests/unit/formatters/test_python_formatter_edge_cases.py
  tests/unit/formatters/test_sql_formatter_wrapper_coverage.py
  tests/unit/languages/test_plugins_base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mycelium-audit): delete test_cpp_plugin_edge_cases.py (complete duplicate)
  tests/unit/languages/test_cpp_plugin_edge_cases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(codegraph_refactor): add 15 tests for untested symbol-rename MCP tool
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_refactor_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): inline engine test mixins — each had exactly 1 consumer
  tests/unit/core/_test_engine_analysis_mixin.py
  tests/unit/core/_test_engine_manager_test_mixin.py
  tests/unit/core/_test_engine_unified_mixin.py
  tests/unit/core/test_engine.py
  tests/unit/core/test_engine_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(mycelium-audit): extract _QueryState and facet builders from codegraph_query_tool
  tree_sitter_analyzer/mcp/tools/_codegraph_query_facets.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_state.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mycelium-audit): extract compact formatters from codegraph_query_tool
  tree_sitter_analyzer/mcp/tools/_codegraph_query_compact.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(plugins): add extract_elements to 7 remaining plugins
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
