Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix: update golden master baselines after plugin improvements
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/full/css_comprehensive_sample_full.md
  tests/integration/cli/test_cli_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update remaining golden master baselines (batch 2)
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/csv/css_comprehensive_sample_csv.csv
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/markdown_test_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
Due: none

fix: update validator tests for exact node identity matching
  tests/unit/grammar_coverage/test_validator.py
  tests/unit/grammar_coverage/test_validator_false_positives.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve MyPy type checking errors across 3 modules
  tree_sitter_analyzer/formatters/sql_formatters.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update Python coverage test for MECE validator + sync multilang READMEs
  README_ja.md
  README_zh.md
  tests/integration/languages/test_python_full_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve ruff lint errors (I001, W291, W293, F401) in scripts and tests
  diagnose_coverage.py
  diagnose_coverage_sync.py
  scripts/test_sql_coverage.py
  tests/unit/languages/test_sql_plugin_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pre-landing review fixes + bump v1.10.6
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  TODOS.md
  pyproject.toml
  tree_sitter_analyzer/grammar_coverage/grammar_snapshot.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update condition for formatting benchmarks and add warning for no files found
  .github/workflows/benchmarks.yml
Due: check-yaml-local

fix: add sql to LANGUAGE_MODULE_MAP — CI grammar guard was failing
  tests/unit/grammar_coverage/test_introspector.py
  tree_sitter_analyzer/grammar_coverage/introspector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: mypy — tree param type Tree | None for None-guard methods
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: mark completed TODO (golden master infrastructure) in v1.10.6
  TODOS.md
Due: none

perf/fix: validator O(N×M)→O(M) + wrapper detection false positives
  tree_sitter_analyzer/grammar_coverage/auto_discovery.py
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: coverage inflation, wrapper FP, Go import double-count
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/toon/go_sample_toon.toon
  tests/integration/languages/test_python_full_coverage.py
  tests/unit/grammar_coverage/test_validator_false_positives.py
  tree_sitter_analyzer/grammar_coverage/validator.py
  tree_sitter_analyzer/languages/go_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Python start_line = def line (not decorator) + decorator_start_line field
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/python_sample_full.txt
  tests/golden_masters/toon/python_sample_toon.toon
  tests/unit/grammar_coverage/test_validator.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: convert Rust/Kotlin/Scala _traverse_and_extract to iterative (P3)
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: intent-based MCP tool descriptions + fix pre-existing import error
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: split python_plugin.py (1959 LOC) into plugin + extractor
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tree_sitter_analyzer/languages/python_extractor.py
  tree_sitter_analyzer/languages/python_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: cache git commit hash (5s TTL) + TODOS cleanup
  TODOS.md
  tests/unit/core/test_analysis_session.py
  tree_sitter_analyzer/core/analysis_session.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: cache file hash by mtime in AnalysisSession
  tests/unit/core/test_analysis_session.py
  tree_sitter_analyzer/core/analysis_session.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: benchmark trend job — continue-on-error when no artifact
  .github/workflows/benchmarks.yml
Due: check-yaml-local

fix: re-apply Python golden masters after develop merge (decorator→def line)
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/toon/python_sample_toon.toon
Due: none

fix: re-apply Go golden masters after develop merge (import double-count removed)
  tests/golden_masters/full/go_sample_full.md
Due: none

chore: bump version v1.10.7 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: check-toml-local

Feat/grammar coverage phase 1.2 (#118)
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  TODOS.md
  pyproject.toml
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/python_sample_full.txt
  tests/golden_masters/toon/go_sample_toon.toon
  tests/golden_masters/toon/python_sample_toon.toon
  tests/integration/languages/test_python_full_coverage.py
  tests/unit/core/test_analysis_session.py
  tests/unit/grammar_coverage/test_validator.py
  tests/unit/grammar_coverage/test_validator_false_positives.py
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/grammar_coverage/auto_discovery.py
  tree_sitter_analyzer/grammar_coverage/validator.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/python_extractor.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
  tree_sitter_analyzer/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: remove dependabot config — manual dependency management
  .github/dependabot.yml
Due: check-yaml-local

chore: restore dependabot for GitHub Actions only (remove pip — breaks uv.lock)
  .github/dependabot.yml
Due: check-yaml-local

feat: add grammar coverage for CSS, HTML, and Markdown (#gap)
  grammar_snapshot.json
  scripts/generate_expected_counts.py
  tests/golden/corpus_css.css
  tests/golden/corpus_css_expected.json
  tests/golden/corpus_html.html
  tests/golden/corpus_html_expected.json
  tests/golden/corpus_markdown.md
  tests/golden/corpus_markdown_expected.json
  tests/golden/test_golden_corpus.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): rewrite tool descriptions as cognitive boundaries + add mcp_instructions
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): add check_tools and batch_search tools (P1)
  tree_sitter_analyzer/mcp/tools/batch_search_tool.py
  tree_sitter_analyzer/mcp/tools/check_tools_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: bump uv.lock version to 1.10.7
  uv.lock
Due: none

feat(mcp): add proactive impact warning system (P2)
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): P2 proactive impact warnings + enforce English in all Claude-facing messages
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): add cross-session codebase memory (P3)
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): fix project index quality + add compact text format
  .tree-sitter-cache/project-index.json
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): redesign project summary to TOON format with semantic descriptions
  .tree-sitter-cache/project-index.json
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): add unit tests for 5 new tools and project_index utility
  tests/unit/mcp/test_batch_search_tool.py
  tests/unit/mcp/test_build_project_index_tool.py
  tests/unit/mcp/test_check_tools_tool.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_utils/__init__.py
  tests/unit/mcp/test_utils/test_project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): remove __init__.py from test_utils to fix module name collision
  tests/unit/mcp/test_utils/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(yaml): use regex for numeric scalar detection instead of float()
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
