Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test: pin exact assertions — batch 11 (integration) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_async.py
  tests/integration/mcp/test_user_story_4_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 10 (core/heatmap) + ratchet baseline down (#556)
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_query_code_cross_language_compatibility.py
  tests/unit/test_complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: single-line exemption markers (ruff-stable) + baseline re-measure
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_async.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(languages): honest install-state for extras grammars — error carries the fix, show-supported-languages reports installed (#537)
  README.md
  tests/unit/core/test_grammar_install_hints.py
  tree_sitter_analyzer/cli/info_commands.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: sync the extras-install troubleshooting note to ja/zh READMEs — lead review
  README_ja.md
  README_zh.md
Due: none

test: write fixtures with fixed LF newlines — Codex P2 (Windows CRLF inflated byte-size pins)
  tests/integration/mcp/test_user_story_4_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: loader-less languages report not-installed; extract execute helpers; pin the probe seam in the hint test — Codex P2 + smell ratchet + CI
  tests/unit/core/test_grammar_install_hints.py
  tree_sitter_analyzer/cli/info_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): outline reads inheritance from each plugin's real field spellings (#530)
  tests/unit/mcp/test_analyze_code_structure_helpers.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact assertions — batch 11 (integration) + ratchet baseline down (#558)
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_async.py
  tests/integration/mcp/test_user_story_4_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(languages): honest install-state for extras grammars — error carries the fix, show-supported-languages reports installed (#559)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/core/test_grammar_install_hints.py
  tree_sitter_analyzer/cli/info_commands.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: re-pin outline byte sizes — inheritance fields legitimately grew the response
  tests/unit/mcp/test_tools/test_get_code_outline_budget.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: type-guard the inheritance resolvers — Mock auto-attrs leaked reprs into responses
  tests/unit/mcp/test_tools/test_get_code_outline_budget.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact assertions — batch 12 (yaml/ruby/html/css) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_queries_css_comprehensive.py
  tests/unit/languages/test_queries_html_comprehensive.py
  tests/unit/languages/test_ruby_plugin.py
  tests/unit/languages/test_yaml_plugin_features.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(csharp): real return types (primitive+generic) and implicit-public interface members (#536)
  tests/golden_masters/compact/csharp_sample_compact.md
  tests/golden_masters/csv/csharp_sample_csv.csv
  tests/golden_masters/full/csharp_sample_full.md
  tests/golden_masters/toon/csharp_sample_toon.toon
  tests/unit/languages/_test_csharp_helpers_declarations.py
  tests/unit/languages/test_csharp_plugin_integration.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: bare-MagicMock leak-guard regression tests for the resolvers — opencode MEDIUM
  tests/unit/mcp/test_analyze_code_structure_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(php,ruby): method name carries the bare name — owner moves to structured fields (#535)
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/golden_masters/plugins/php.json
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/toon/php_sample_toon.toon
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tests/unit/languages/test_ruby_plugin.py
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(csharp): implicit-public covers properties and events too — Codex P2
  tests/unit/languages/test_csharp_plugin_integration.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): outline reads inheritance from each plugin's real field spellings (#560)
  tests/unit/mcp/test_analyze_code_structure_helpers.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(csharp): real return types (primitive+generic) and implicit-public interface members (#564)
  tests/golden_masters/compact/csharp_sample_compact.md
  tests/golden_masters/csv/csharp_sample_csv.csv
  tests/golden_masters/full/csharp_sample_full.md
  tests/golden_masters/toon/csharp_sample_toon.toon
  tests/unit/languages/_test_csharp_helpers_declarations.py
  tests/unit/languages/test_csharp_plugin_integration.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: TODO(#535) annotations on owner-prefix accommodations — opencode should-fix
  tests/unit/languages/test_ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 12 (yaml/ruby/html/css) + ratchet baseline down (#563)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_queries_css_comprehensive.py
  tests/unit/languages/test_queries_html_comprehensive.py
  tests/unit/languages/test_ruby_plugin.py
  tests/unit/languages/test_yaml_plugin_features.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: resolve TODO(#535) — exact bare-name pins now that names are clean
  tests/unit/languages/test_ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: singleton separator honors is_static; fields carry receiver_type — Codex P2 x2
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/formatters/_ruby_formatter_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(php,ruby): method name carries the bare name — owner moves to structured fields (#565)
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/golden_masters/plugins/php.json
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/toon/php_sample_toon.toon
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tests/unit/languages/test_ruby_plugin.py
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/formatters/_ruby_formatter_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(outline): nested functions are not top-level — span-containment ownership (#534)
  tests/golden_masters/compact/c_sample_compact.md
  tests/golden_masters/csv/c_sample_csv.csv
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/plugins/c.json
  tests/golden_masters/plugins/javascript.json
  tests/golden_masters/toon/c_sample_toon.toon
  tests/unit/languages/test_c_plugin.py
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_javascript_plugin_extraction.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(languages): is_constructor for Python/Ruby/PHP/Scala/C++ keyword constructors (#531)
  tests/unit/languages/test_is_constructor_531.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/python_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(c): macro dedup keyed by enclosing preproc conditional — Codex P2
  tests/unit/languages/test_c_plugin.py
  tree_sitter_analyzer/languages/c_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(outline): nested functions are not top-level — span-containment ownership (#566)
  tests/golden_masters/compact/c_sample_compact.md
  tests/golden_masters/csv/c_sample_csv.csv
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/plugins/c.json
  tests/golden_masters/plugins/javascript.json
  tests/golden_masters/toon/c_sample_toon.toon
  tests/unit/languages/test_c_plugin.py
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_javascript_plugin_extraction.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: decorated __init__ + C++ declaration paths flag constructors; goldens regenerated — Codex P2 x2 + CI
  tests/golden_masters/csv/cpp_sample_csv.csv
  tests/golden_masters/csv/python_sample_csv.csv
  tests/unit/languages/test_is_constructor_531.py
  tree_sitter_analyzer/languages/_cpp_field_function_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_function_extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(languages): is_constructor for Python/Ruby/PHP/Scala/C++ keyword constructors (#567)
  tests/golden_masters/csv/cpp_sample_csv.csv
  tests/golden_masters/csv/python_sample_csv.csv
  tests/unit/languages/test_is_constructor_531.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/languages/_cpp_field_function_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/python_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: innermost-container method ownership for nested classes/namespaces/modules (#532)
  tests/unit/test_api_result_helpers.py
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: local functions stay unowned — function-span containment guard — Codex P2
  tests/unit/test_api_result_helpers.py
  tree_sitter_analyzer/_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover the span-less-sibling guard — codecov patch
  tests/unit/test_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cover find_class_name span-less guard — codecov patch
  tests/unit/test_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: innermost-container method ownership for nested classes/namespaces/modules (#570)
  tests/unit/test_api_result_helpers.py
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(params): default-valued parameters extracted in JS/Python (#533)
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/unit/languages/test_parameter_extraction_theme_e_residual.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): parse default-valued string params in structure conversion — Codex P2
  tests/unit/languages/test_parameter_extraction_theme_e_residual.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover get_method_parameters string path and blank-param guards — codecov patch
  tests/unit/languages/test_parameter_extraction_theme_e_residual.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(params): default-valued parameters extracted in JS/Python (#581)
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/unit/languages/test_parameter_extraction_theme_e_residual.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cli): --outline FILE — CLI door for the rich MCP outline schema (#539)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_outline_cli.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
