Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: cover canonical Lua install hint
  tests/unit/cli/test_info_commands.py
  tests/unit/core/test_grammar_install_hints.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: lock Lua install hint format
  tests/unit/cli/test_info_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: specify real-world competitive benchmark
  rfcs/0021-real-world-competitive-benchmark.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(lua): wire loader-backed symbol indexing (#1151)
  README.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/languages.md
  tests/contracts/test_plugin_architecture_contract.py
  tests/unit/cli/test_info_commands.py
  tests/unit/core/test_grammar_install_hints.py
  tests/unit/core/test_language_loader_comprehensive.py
  tests/unit/core/test_parser.py
  tests/unit/languages/test_lua_plugin.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: specify real-world competitive benchmark (#1152)
  rfcs/0021-real-world-competitive-benchmark.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat: add benchmark integrity foundation
  benchmarks/codegraph_compare/_integrity_gate.py
  benchmarks/codegraph_compare/integrity.py
  benchmarks/codegraph_compare/schemas.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: fail closed on invalid benchmark state
  benchmarks/codegraph_compare/_integrity_gate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add benchmark integrity foundation (#1153)
  benchmarks/codegraph_compare/_integrity_gate.py
  benchmarks/codegraph_compare/integrity.py
  benchmarks/codegraph_compare/schemas.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: fail closed benchmark setup before model runs
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/setup_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: validate benchmark backend before setup
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/setup_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: fail closed benchmark setup before model runs (#1154)
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/setup_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: isolate and clean pytest temp artifacts
  tests/conftest.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: separate pytest system and work temp roots
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(call-graph): stop hardcoding a 7-language file-scan allowlist
  docs/CODEMAPS/languages.md
  tests/contracts/test_internal_architecture_contract.py
  tests/fixtures/call_graph/csharp_project/Main.cs
  tests/fixtures/call_graph/kotlin_project/main.kt
  tests/fixtures/call_graph/lua_project/main.lua
  tests/fixtures/call_graph/php_project/main.php
  tests/fixtures/call_graph/ruby_project/main.rb
  tests/fixtures/call_graph/rust_project/main.rs
  tests/fixtures/call_graph/swift_project/main.swift
  tests/unit/test_call_graph_integration.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): fold drifted consistency script into the pytest contract; fix scala delegation
  scripts/check_plugin_consistency.py
  tests/contracts/test_plugin_architecture_contract.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scala): preserve extract_elements() fallback contract in analyze_file
  tests/unit/languages/test_scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(call-graph): address Codex review — build-dir pruning, dead-code entries, test guards
  tests/contracts/test_internal_architecture_contract.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(scala): split scala_plugin.py into a package (T-1/500-line hygiene)
  docs/CODEMAPS/languages.md
  pyproject.toml
  tests/contracts/test_plugin_architecture_contract.py
  tests/unit/languages/test_scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin/__init__.py
  tree_sitter_analyzer/languages/scala_plugin/_class_extractor_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/_complexity.py
  tree_sitter_analyzer/languages/scala_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/_scaladoc.py
  tree_sitter_analyzer/languages/scala_plugin/_variable_import_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/extractor.py
  tree_sitter_analyzer/languages/scala_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(call-graph): stop hardcoding a 7-language file-scan allowlist (#1157)
  docs/CODEMAPS/languages.md
  tests/contracts/test_internal_architecture_contract.py
  tests/fixtures/call_graph/csharp_project/Main.cs
  tests/fixtures/call_graph/kotlin_project/main.kt
  tests/fixtures/call_graph/lua_project/main.lua
  tests/fixtures/call_graph/php_project/main.php
  tests/fixtures/call_graph/ruby_project/main.rb
  tests/fixtures/call_graph/rust_project/main.rs
  tests/fixtures/call_graph/swift_project/main.swift
  tests/unit/test_call_graph_integration.py
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/dead_code_analyzer.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): fold drifted consistency script into pytest contract; fix scala delegation (#1158)
  scripts/check_plugin_consistency.py
  tests/contracts/test_plugin_architecture_contract.py
  tests/unit/languages/test_scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(scala): split scala_plugin.py into a package (T-1/500-line hygiene) (#1159)
  docs/CODEMAPS/languages.md
  pyproject.toml
  tests/contracts/test_plugin_architecture_contract.py
  tests/unit/languages/test_scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/scala_plugin/__init__.py
  tree_sitter_analyzer/languages/scala_plugin/_class_extractor_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/_complexity.py
  tree_sitter_analyzer/languages/scala_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/_scaladoc.py
  tree_sitter_analyzer/languages/scala_plugin/_variable_import_mixin.py
  tree_sitter_analyzer/languages/scala_plugin/extractor.py
  tree_sitter_analyzer/languages/scala_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden managed pytest temp lifecycle
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: preserve cross-platform temp path semantics
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: compare macOS temp aliases consistently
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Prevent pytest temp artifacts from exhausting local disks (#1156)
  tests/conftest.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/pytest_temp_hygiene.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(benchmarks): validate manifest-bound setup evidence
  benchmarks/codegraph_compare/_integrity_gate.py
  benchmarks/codegraph_compare/integrity.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/setup_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmarks): satisfy weak assertion ratchet
  loop-run-log.md
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(constraints): prefilter caller edges in sqlite
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(loop): bound No.1 automation budget
  LOOP.md
  STATE.md
  loop-budget.md
  loop-run-log.md
Due: none

fix(change-impact): disambiguate same-stem tests
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_stems.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix project health scan statistics
  tests/unit/test_health_scorer.py
  tests/unit/test_project_health_coverage_fields.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve bounded index error details
  tests/unit/mcp/test_incremental_sync_bug_806.py
  tests/unit/mcp/utils/test_error_sanitizer.py
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_codegraph_incremental_sync_tool.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
  tree_sitter_analyzer/mcp/utils/error_sanitizer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): keep full-index scope consistent
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): tolerate terminal summary process race
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cover terminal summary process exit race
  tests/contracts/test_pytest_runtime_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): preserve quarantine summary on probe failure
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cover quarantine reporting after probe failure
  tests/contracts/test_pytest_runtime_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(change-impact): preserve exact and family matches
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): derive generic subsystem affinity
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_stems.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(change-impact): cover scoped disambiguation regressions
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
