Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: pin exact assertions — batch 1 continued (test_mcp_list_files_p2: all 15 assertions + test_mcp_list_files_p3b_filters: 1 assertion)
  tests/unit/mcp/test_mcp_list_files_p2.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: update loose assertion baseline — batch 1 complete (2121→1700)
  scripts/loose_assertion_baseline.txt
Due: none

fix(ci): ratchet baseline re-measured (1792, enforcement-aligned) — pod recorded unverifiable 1700
  scripts/loose_assertion_baseline.txt
Due: none

fix(test): size-filter mock recognizes fd -S flag; pin FILTERED counts (Codex P2)
  tests/unit/mcp/test_mcp_list_files_p2.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 1 (tests/unit/mcp) + ratchet baseline down (#504)
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_dependency_analysis_tool.py
  tests/unit/mcp/test_fts5_bm25_ranking.py
  tests/unit/mcp/test_mcp_list_files_p2.py
  tests/unit/mcp/test_mcp_list_files_p3b_filters.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(search): content search default budget — honest truncation (DF-1)
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/test_search_content_tool_execute.py
  tree_sitter_analyzer/mcp/tools/search_content_helpers.py
  tree_sitter_analyzer/mcp/tools/search_content_response.py
  tree_sitter_analyzer/mcp/tools/search_content_response_modes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): default cap restricted to normal mode; hard cap survives explicit max_count (Codex P2 + re-pin)
  tests/unit/mcp/test_mcp_rg_phase4_regex_perf.py
  tests/unit/mcp/test_search_content_tool_execute.py
  tree_sitter_analyzer/mcp/tools/search_content_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): content search default budget — honest truncation (DF-1) (#505)
  tests/unit/mcp/test_mcp_rg_phase4_regex_perf.py
  tests/unit/mcp/test_output_cost_invariants.py
  tests/unit/mcp/test_search_content_tool_execute.py
  tree_sitter_analyzer/mcp/tools/search_content_helpers.py
  tree_sitter_analyzer/mcp/tools/search_content_response.py
  tree_sitter_analyzer/mcp/tools/search_content_response_modes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

release: v1.23.0 — version bump + changelog
  CHANGELOG.md
  pyproject.toml
  scripts/metrics_snapshot.py
  scripts/pod_verify.sh
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(release): ratchet skips string-literal version specs; pin 8 loose assertions exact
  scripts/check_loose_assertions.sh
  tests/unit/mcp/tools/test_class_inspect_tool.py
  tests/unit/mcp/tools/test_co_change.py
  tests/unit/test_codegraph_pr_review_tool.py
  tests/unit/test_codegraph_similarity_tool.py
  tests/unit/test_uml_state.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cli): --co-change routes symbols as symbol= for facade resolution (Codex P2)
  tests/unit/mcp/tools/test_co_change.py
  tree_sitter_analyzer/cli/nav_special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(release): tests badge 18493 -> 19300 (release CI ubuntu axis measured)
  README.md
  README_ja.md
  README_zh.md
Due: none

test: pin exact assertions — batch 2 (tests/unit/mcp) — test_mcp_async_integration.py
  tests/unit/mcp/test_mcp_async_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — test_utils/test_file_metrics.py
  tests/unit/mcp/test_utils/test_file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: exempt mixed-concurrent loop assertions; ratchet baseline 1792->1760
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_async_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin concurrent multisets exactly — Codex P2 on #507
  tests/unit/mcp/test_mcp_async_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 2 (tests/unit/mcp) + ratchet baseline down (#507)
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_async_integration.py
  tests/unit/mcp/test_utils/test_file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 3 (tests/unit/mcp) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_fd_rg_utils.py
  tests/unit/mcp/test_mcp_list_files_p1b_fd_features.py
  tests/unit/mcp/test_mcp_list_files_p3a_path_output.py
  tests/unit/mcp/test_mcp_list_files_p3b_filters.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_server_comprehensive_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: fix dead-branch mocks for real fd flags, pin platform-stable values — Codex P2 x2 + ubuntu CI
  tests/unit/mcp/test_mcp_list_files_p3a_path_output.py
  tests/unit/mcp/test_mcp_list_files_p3b_filters.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 3 (tests/unit/mcp) + ratchet baseline down (#508)
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_fd_rg_utils.py
  tests/unit/mcp/test_mcp_list_files_p1b_fd_features.py
  tests/unit/mcp/test_mcp_list_files_p3a_path_output.py
  tests/unit/mcp/test_mcp_list_files_p3b_filters.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_server_comprehensive_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 4 (tests/unit/mcp) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_find_and_grep_fd_simulation_p1.py
  tests/unit/mcp/test_mcp_find_and_grep_p2.py
  tests/unit/mcp/test_mcp_list_files_symlinks_p2.py
  tests/unit/mcp/test_mcp_search_content_fd_compat.py
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_batch_core_mixins.py
  tests/unit/mcp/tools/test_batch_executor_execute.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: convert dead-guard/vacuous exemptions to live exact pins — lead review
  tests/unit/mcp/test_mcp_find_and_grep_fd_simulation_p1.py
  tests/unit/mcp/test_mcp_list_files_symlinks_p2.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_batch_core_mixins.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: realpath-normalize fd_02/fd_04 mocks, pin live cross-platform values — Codex P1 x2
  tests/unit/mcp/test_mcp_find_and_grep_fd_simulation_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 4 (tests/unit/mcp) + ratchet baseline down (#509)
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_mcp_find_and_grep_fd_simulation_p1.py
  tests/unit/mcp/test_mcp_find_and_grep_p2.py
  tests/unit/mcp/test_mcp_list_files_symlinks_p2.py
  tests/unit/mcp/test_mcp_search_content_fd_compat.py
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_batch_core_mixins.py
  tests/unit/mcp/tools/test_batch_executor_execute.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 5 (tests/unit/mcp) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_gitignore_detector_comprehensive.py
  tests/unit/mcp/test_mcp_list_files_p4.py
  tests/unit/mcp/test_mcp_search_content_p2.py
  tests/unit/mcp/test_utils/test_gitignore_detector.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/mcp/tools/test_refactoring_plan_builder_targets.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: make gitignore walk-up and project-index counts environment-independent — Codex P2 + 3-platform CI
  tests/unit/mcp/test_utils/test_gitignore_detector.py
  tests/unit/mcp/test_utils/test_project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 5 (tests/unit/mcp) + ratchet baseline down (#510)
  scripts/loose_assertion_baseline.txt
  tests/unit/mcp/test_gitignore_detector_comprehensive.py
  tests/unit/mcp/test_mcp_list_files_p4.py
  tests/unit/mcp/test_mcp_search_content_p2.py
  tests/unit/mcp/test_utils/test_gitignore_detector.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/mcp/tools/test_refactoring_plan_builder_targets.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 6 (tests/unit/languages) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_cpp_plugin_coverage_boost_core.py
  tests/unit/languages/test_kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact assertions — batch 6 (tests/unit/languages) + ratchet baseline down (#511)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_cpp_plugin_coverage_boost_core.py
  tests/unit/languages/test_kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(kotlin): bind import extraction to the node type the grammar actually emits (#512)
  tests/unit/languages/test_kotlin_plugin.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin): AST-child import parsing + regenerate kotlin golden masters — Codex P2 + golden CI
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: regenerate kotlin plugin golden master (imports now extracted)
  tests/golden_masters/plugins/kotlin.json
Due: check-json-local

test: cover import-extraction fallback and error paths (codecov patch)
  tests/unit/languages/test_kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(kotlin): bind import extraction to the node type the grammar actually emits (#514)
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/unit/languages/test_kotlin_plugin.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact assertions — batch 7 (tests/unit/languages) + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_html_plugin_advanced.py
  tests/unit/languages/test_html_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: pin exact min start_line — Codex P2 (!= 0 admitted negative line numbers)
  tests/unit/languages/test_html_plugin_advanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(docs): prune 30+ zero-reference stale working notes; banner kept historical records
  benchmarks/codegraph_compare/scorecard-template.md
Due: none

docs(rfc): sync statuses to shipped reality — 0015 implemented, 0014 evidence notes, 0011 clarification, index entries
  rfcs/0011-miswire-audit.md
  rfcs/0014-instant-edit-safety.md
  rfcs/0015-instant-uml-family.md
  rfcs/README.md
Due: none

docs: index lifecycle guide + UML diagram family in features (audit gaps 2+5)
  docs/README.md
  docs/features.md
  docs/index-lifecycle.md
Due: none

test: pin exact assertions — batch 7 (tests/unit/languages) + ratchet baseline down (#518)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_html_plugin_advanced.py
  tests/unit/languages/test_html_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
