Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

refactor: add get_call_graph()/get_cache() public APIs to 4 more MCP tools + fix test violations
  tests/unit/test_codegraph_query_tool_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: replace _cache access with public API in test_ast_cache_watch_modes.py
  tests/unit/mcp/test_ast_cache_watch_modes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add CallGraph public adjacency API (P1-P5 of expose-callgraph-core-private-attrs)
  tests/unit/test_call_graph_integration.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add TestCallGraphAllCallEdges — TDD coverage for all_call_edges() public API
  tests/unit/test_call_graph_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: add get_call_graph() public API to CodeGraphCallTool + fix test violations
  tests/unit/mcp/test_graph_cache_invalidation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(constraint_check_command): add 64 unit tests, coverage 0%→98.6%
  tests/unit/cli/test_constraint_check_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(unreachable_code): eliminate C-grade structural debt + fix language detection bug
  openspec/changes/fix-unreachable-code-structural-debt/tasks.md
  tests/unit/test_unreachable_code.py
  tree_sitter_analyzer/unreachable_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(ast_cache): reduce structural debt — extract BFS/schema modules, depth 18→15
  openspec/changes/fix-ast-cache-structural-debt/tasks.md
  tests/unit/test_ast_cache_bfs.py
  tree_sitter_analyzer/_ast_cache_graph.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(SLF001): move noqa comment to violation line in java_formatter_class_mixin
  tree_sitter_analyzer/formatters/_java_formatter_class_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(cross_file_resolver): flatten deep subscript chains in _register_module_path and _parse_js_import
  tree_sitter_analyzer/cross_file_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(SLF001): expose formatter layer public API (87→24)
  tests/unit/formatters/test_cpp_formatter_helpers.py
  tests/unit/formatters/test_python_formatter_conversion.py
  tree_sitter_analyzer/formatters/_cpp_formatter_convert_mixin.py
  tree_sitter_analyzer/formatters/_cpp_formatter_helpers.py
  tree_sitter_analyzer/formatters/_java_formatter_class_mixin.py
  tree_sitter_analyzer/formatters/_java_formatter_compact_mixin.py
  tree_sitter_analyzer/formatters/_java_formatter_full_mixin.py
  tree_sitter_analyzer/formatters/_python_formatter_compact.py
  tree_sitter_analyzer/formatters/_python_formatter_conversion.py
  tree_sitter_analyzer/formatters/_python_formatter_full_classes.py
  tree_sitter_analyzer/formatters/_python_formatter_full_functions.py
  tree_sitter_analyzer/formatters/_python_formatter_full_header.py
  tree_sitter_analyzer/formatters/_python_formatter_rows.py
  tree_sitter_analyzer/formatters/_toon_encoder_task_helpers.py
  tree_sitter_analyzer/formatters/_typescript_formatter_compact.py
  tree_sitter_analyzer/formatters/_typescript_formatter_full.py
  tree_sitter_analyzer/formatters/_typescript_formatter_helpers.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/cpp_formatter.py
  tree_sitter_analyzer/formatters/python_formatter.py
  tree_sitter_analyzer/formatters/toon_encoder.py
  tree_sitter_analyzer/formatters/toon_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rename_symbol): add 53 unit tests — coverage 0% → 98%
  tests/unit/test_rename_symbol_pure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(route_detector): extract _CacheRecord type alias to reduce AST depth 20→18
  tree_sitter_analyzer/route_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: hoist nested expressions to reduce AST depth in fixture_detector and ast_cache_tool
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(codegraph_query): reduce AST depth 20→19, grade C→B
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(language_loader): extract _try_wrap_language and pre-compute lang_attr
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(ast_cache): extract module-level helpers — 643→597 lines, grade C→B
  tree_sitter_analyzer/_ast_cache_helpers.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(P1,F1,T1): expose ASTCache.get_conn() public alias, replace all ._get_conn() callers
  openspec/changes/expose-ast-cache-get-conn/tasks.md
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_query_tool_advanced.py
  tests/unit/test_codegraph_query_tool_core.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/semantic_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health_scorer): exclude examples/ from project health scoring
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(SLF001): expose QueryExecutor/AnalysisEngine/PerformanceMonitor public API (113→87)
  tests/unit/core/test_query_execution_helpers.py
  tree_sitter_analyzer/core/_query_execution.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/performance.py
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ast_cache): add 3 coverage tests — coverage 89.4% → 92.5%, grade C→B
  tests/unit/test_ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(css_helpers): hoist node_text assignment to flatten elif nesting depth
  tree_sitter_analyzer/languages/css_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(openspec): mark SLF001 elimination complete (144→0)
  openspec/changes/expose-ast-cache-get-conn/tasks.md
  openspec/changes/slf001-complete-elimination/tasks.md
Due: none

refactor(SLF001): expose MCP tools layer public API (24→0)
  tests/unit/test_change_impact_analysis.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/languages/markdown_plugin/private_extraction.py
  tree_sitter_analyzer/languages/markdown_plugin/public_extraction.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/server_utils/tool_registration.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(tests): reduce test_agent_contracts.py AST depth 19→17, grade C→B
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(scala_plugin): add 79 unit tests — coverage 13%→63%, grade B→B+
  tests/unit/languages/test_scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: mark all expose-callgraph-core-private-attrs tasks complete
  openspec/changes/expose-callgraph-core-private-attrs/tasks.md
Due: none

refactor(P6-P8, F4, T2): DependencyGraph public API + fix all MCP tool callers
  openspec/changes/expose-callgraph-core-private-attrs/tasks.md
  tests/unit/test_project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(universal_analyze): pre-compute cx_scores to reduce generator nesting depth
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(codegraph_impact): split setdefault().add() chains and pre-compute to_dict calls
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(codegraph_index_commands): extract payload builders depth 18→13, add 27 tests — grade B→A
  tests/unit/cli/test_codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(batch_search): extract schema constant and helper methods to reduce AST depth
  tree_sitter_analyzer/mcp/tools/batch_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(unreachable_code_tool): extract helpers to reduce depth 22→16, add 28 tests — grade B→A
  tests/unit/mcp/test_unreachable_code_tool.py
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp_commands): extract 6 lambdas to named functions — depth 16→15
  tree_sitter_analyzer/cli/commands/mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(ast_path): extract _find_and_collect_siblings to module level
  tree_sitter_analyzer/ast_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(_ast_extraction): flatten 9-level nesting with generator expressions — grade B→A
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(ast_cache): extract sub-modules — 1811→517 lines, grade C→B
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_synapse.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(json_formatter): extract _format_prop_row helper, add 32 tests — grade B→A
  tests/unit/formatters/test_json_formatter.py
  tree_sitter_analyzer/formatters/json_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(grammar_coverage): extract walk closure and _LineIndex alias to reduce AST depth
  tree_sitter_analyzer/grammar_coverage/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in import_extractors.py (B→A)
  tree_sitter_analyzer/import_extractors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
