Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(trust): inspect full branches and close test databases
  tests/unit/test_change_impact_git.py
  tests/unit/test_schema_integrity.py
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(release): record v2 readiness evidence
  CHANGELOG.md
  rfcs/0033-native-search-independence.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

fix(change-impact): route release branches to main
  tests/unit/test_change_impact_git.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): inspect full branch impact and close test databases (#1505)
  CHANGELOG.md
  rfcs/0033-native-search-independence.md
  rfcs/ROADMAP-no1-agent-trust.md
  tests/unit/test_change_impact_git.py
  tests/unit/test_schema_integrity.py
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): repin native installer attestation
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(ci): repin native installer attestation (#1506)
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(test): exempt native subprocess checks from unit budget
  tests/unit/mcp/test_verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): exempt native subprocess checks from unit budget (#1507)
  tests/unit/mcp/test_verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(release): prepare v2.0.0
  CHANGELOG.md
  docs/MIGRATION.md
  pyproject.toml
  rfcs/ROADMAP-no1-agent-trust.md
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(release): retire expired MCP compatibility classes
  CHANGELOG.md
  docs/MIGRATION.md
  examples/security_integration_demo.py
  rfcs/ROADMAP-no1-agent-trust.md
  tests/governance/test_tool_validation_contract.py
  tests/integration/cli/test_universal_analyze_tool_extra.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_mcp_tools_path_resolution.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_registered_surface_reachability.py
  tests/unit/mcp/test_scale_tools_honest_parse_failure.py
  tests/unit/mcp/test_server.py
  tests/unit/mcp/test_server_missing_branches.py
  tests/unit/mcp/test_tool_dispositions.py
  tests/unit/mcp/test_tools/test_base_tool.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
  tests/unit/mcp/test_universal_analyze_tool_execute.py
  tests/unit/mcp/test_universal_analyze_tool_metrics.py
  tests/unit/security/test_security_integration.py
  tests/unit/test_index_snapshot.py
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/server_utils/code_scale_handler.py
  tree_sitter_analyzer/mcp/tool_dispositions.py
  tree_sitter_analyzer/mcp/tools/base_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_helpers.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(roadmap): record v2.0.0 release completion
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs(roadmap): record v2.0.0 release completion (#1510)
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

feat(mcp): reject silent facade argument drops
  docs/agent-envelope-contract.md
  rfcs/0013-facade-dropped-param-visibility.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/README.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_structure_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): align facade contracts with JSON-only output
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/test_safe_to_edit_tool_read_existing.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): make facade argument handling fail closed (#1511)
  docs/agent-envelope-contract.md
  rfcs/0013-facade-dropped-param-visibility.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/README.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/benchmarks/claims/test_answer_cache_invariants.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/test_safe_to_edit_tool_read_existing.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_structure_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): expose per-action discovery schemas
  docs/api/facade-actions.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  scripts/generate_facade_actions_doc.py
  tests/e2e/test_tool_functional.py
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tree_sitter_analyzer/mcp/tools/facade_discovery.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): cover facade discovery controls
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): expose per-action discovery schemas (#1512)
  docs/api/facade-actions.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  scripts/generate_facade_actions_doc.py
  tests/e2e/test_tool_functional.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tree_sitter_analyzer/mcp/tools/facade_discovery.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): unify symbol source evidence
  docs/CODEMAPS/mcp-tools.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/_navigation_test_support.py
  tests/unit/test_symbol_resolver.py
  tests/unit/test_symbol_search_conceptual_demotion.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): unify symbol source evidence (#1513)
  docs/CODEMAPS/mcp-tools.md
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/_navigation_test_support.py
  tests/unit/test_symbol_resolver.py
  tests/unit/test_symbol_search_conceptual_demotion.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add first NO1-010B reference transcript
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/no1_010b/test_transcript.py
  tests/unit/test_verification_plan.py
  tree_sitter_analyzer/no1_010b/__main__.py
  tree_sitter_analyzer/no1_010b/transcript.py
  tree_sitter_analyzer/verification_plan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve optional verification binding compatibility
  tests/unit/no1_010b/test_transcript.py
  tests/unit/test_verification_plan.py
  tree_sitter_analyzer/verification_plan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add first NO1-010B reference transcript (#1514)
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/no1_010b/test_transcript.py
  tests/unit/test_verification_plan.py
  tree_sitter_analyzer/no1_010b/__main__.py
  tree_sitter_analyzer/no1_010b/transcript.py
  tree_sitter_analyzer/verification_plan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: expand NO1-010B reference transcripts
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/no1_010b/test_transcript.py
  tree_sitter_analyzer/no1_010b/__main__.py
  tree_sitter_analyzer/no1_010b/transcript.py
  tree_sitter_analyzer/no1_010b/transcript_specs.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover NO1-010B failure boundaries
  tests/unit/no1_010b/test_transcript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: expand NO1-010B reference transcripts (#1515)
  rfcs/0036-agent-native-core-workflow.md
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/no1_010b/test_transcript.py
  tree_sitter_analyzer/no1_010b/__main__.py
  tree_sitter_analyzer/no1_010b/transcript.py
  tree_sitter_analyzer/no1_010b/transcript_specs.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: accelerate index resolution and repair save recovery
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/synapse_resolver/test_unique_method.py
  tests/unit/test_ast_cache_index_project.py
  tests/unit/test_cross_file_backfill.py
  tests/unit/test_incremental_sync_callgraph.py
  tree_sitter_analyzer/cache/index_project_runner.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/cache/unresolved.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: accelerate index resolution and repair save recovery (#1516)
  rfcs/ROADMAP-agent-native-workbench.md
  tests/unit/synapse_resolver/test_unique_method.py
  tests/unit/test_ast_cache_index_project.py
  tests/unit/test_cross_file_backfill.py
  tests/unit/test_incremental_sync_callgraph.py
  tree_sitter_analyzer/cache/index_project_runner.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/cache/unresolved.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): prepare v2.1.0
  CHANGELOG.md
  pyproject.toml
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: tolerate loaded Windows watcher completion
  tests/unit/test_incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(roadmap): record v2.1.0 release completion
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

test: tolerate loaded Windows watcher completion (#1519)
  tests/unit/test_incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(roadmap): record v2.1.0 release completion (#1520)
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

fix(index): reuse stale snapshot evidence
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): reuse stale snapshot evidence (#1521)
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract router session state
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_session.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract router session state (#1522)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_session.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): pin router wire byte corpus
  tests/unit/task/test_task_wire_bytes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): pin router wire byte corpus (#1523)
  tests/unit/task/test_task_wire_bytes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
