Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(test): re-stage after pre-commit trailing newline fixes
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): update golden masters for kotlin/java/php/c/go fixes; mark scale test slow_ok
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): update plugin golden masters for kotlin/rust; mark scale test slow_ok
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/plugins/rust.json
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix(test): regenerate all stale golden masters; pin line_count and structure size
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/markdown_test_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/markdown_test_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/unit/languages/test_markdown_plugin_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_boost.py
  tests/unit/mcp/test_smart_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): correct java/php/kotlin golden master headers (case fix)
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
Due: none

fix(test): merge develop, update rust/language golden masters post rust-enum fix
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/plugins/rust.json
Due: check-json-local

fix(test): merge develop, update rust/language golden masters post rust-enum fix
  tests/golden_masters/plugins/bash.json
  tests/golden_masters/plugins/rust.json
Due: check-json-local

fix(test): merge develop, update rust/language golden masters post rust-enum fix
  tests/golden_masters/plugins/rust.json
Due: check-json-local

fix(test): C enum FakeNode enumerator_list, update rust/csharp golden masters
  tests/golden_masters/plugins/csharp.json
  tests/golden_masters/plugins/rust.json
  tests/unit/languages/_test_c_traversal_type_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix(kotlin): constructor return_type, property modifiers, local val as fields (#759 #760 #761) (#834)
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/plugins/rust.json
  tests/golden_masters/toon/c_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/unit/languages/_test_c_traversal_type_helpers.py
  tests/unit/languages/test_kotlin_fixes_759_760_761.py
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(typescript): correct visibility/decorators/async/enum extraction (#772 #773 #774 #795) (#838)
  tests/unit/languages/test_typescript_extraction_fixes.py
  tests/unit/languages/test_typescript_extractor_comprehensive.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/typescript_plugin/_class_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_signature_helpers.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ruby,php): correct line_count, phantom fields, default params, enum parent_class, top-level namespace (#763 #765 #768 #769 #770) (#840)
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/markdown_test_csv.csv
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/markdown_test_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/unit/languages/test_markdown_plugin_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_boost.py
  tests/unit/languages/test_ruby_php_extraction_fixes.py
  tests/unit/mcp/test_smart_context_tool.py
  tree_sitter_analyzer/languages/markdown_plugin/elements.py
  tree_sitter_analyzer/languages/markdown_plugin/private_extraction.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(csharp,python): C# namespace extraction and Python single-letter const filter #767 #793 (#842)
  tests/golden_masters/full/swift_sample_full.md
  tests/golden_masters/plugins/csharp.json
  tests/golden_masters/toon/csharp_sample_toon.toon
  tests/unit/languages/test_csharp_plugin_extraction.py
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bash): variable extraction wiring, phantom elements, compact unknown header #776 #777 #778 (#844)
  tests/golden_masters/plugins/bash.json
  tests/unit/formatters/test_legacy_table_coverage_format_utils.py
  tests/unit/formatters/test_legacy_table_formatter_advanced.py
  tests/unit/formatters/test_legacy_table_formatter_boost2_compact.py
  tests/unit/formatters/test_legacy_table_formatter_branches.py
  tests/unit/formatters/test_legacy_table_formatter_core.py
  tests/unit/languages/test_bash_bugs_776_777_778.py
  tree_sitter_analyzer/_legacy_table_formatter_compact.py
  tree_sitter_analyzer/default_table_formatter.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/legacy_table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): batch-39 — pin loose assertions in formatter/CLI/security tests (#845)
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_queries.py
  tests/integration/cli/test_cli_table_partial_query.py
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_utils/test_error_handler.py
  tests/unit/security/test_mcp_security.py
  tests/unit/test_cached_call_graph.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_codegraph_metrics_tool.py
  tests/unit/test_file_health_blocks.py
  tests/unit/test_temporal_activation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(nav): raise depth cap to 100, fix call_path bidirectional (#779 #797) (#848)
  tests/unit/test_ast_extraction.py
  tests/unit/test_call_path.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/call_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health,viz): verdict coherence, circular-dep count, matching_file_count, edge truncation flag #783 #784 #785 #786 (#849)
  tests/unit/mcp/test_dependency_analysis_tool.py
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): class_tree supers alias, class_detail class_name schema (#802 #804) (#851)
  docs/api/facade-actions.md
  scripts/generate_facade_actions_doc.py
  tests/unit/mcp/tools/test_structure_facade.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(css,nav): SCSS variable extraction, exclude private helpers from test-map (#790 #807) (#852)
  tests/unit/languages/test_css_plugin.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: correct CLI codemap surface
  docs/CODEMAPS/cli.md
Due: none

fix(sync): log exception type in sync error envelope, survive conn.commit() failure #806
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): language-gate call_path source body to prevent cross-language inline (#800)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/call_path_enrich.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): flag ambiguous symbol in risk_score, prevent false 'low risk' verdict (#799)
  tests/unit/mcp/test_nav_impact_boundary.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sync): log exception type in sync error envelope, survive conn.commit() failure #806 (#856)
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): add enumerator_list to enum FakeNodes, regenerate golden masters post-merge
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/toon/kotlin_sample_toon.toon
Due: none
