Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

chore(release): regenerate uv.lock for 1.24.0 (fixes --locked) (#1017) (#1020)
  uv.lock
Due: none

test(health): slow_ok the remaining heavy full-surface boundary tests (Windows budget flakes)
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/test_toon_compact_only.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(advanced): assert language-labeling invariant, not grammar-variable element total (#1019)
  tests/unit/test_multilang_extraction_activation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(health): slow_ok the remaining heavy full-surface boundary tests (Windows budget flakes) (#1024)
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/test_toon_compact_only.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cli): normalize SQL method parameters in --summary JSON output (#1015) (#1021)
  tests/unit/cli/test_summary_command.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/cli/commands/summary_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast-cache): --ast-cache-language filters the index file-walk (skip non-matching languages) (#1018) (#1022)
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(advanced): elements no longer report language='unknown' for C#/PHP/Ruby/SQL (#1019) (#1023)
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/cli/commands/advanced_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(onboarding): echo --install-skills destination + README CLI verification twin (#549)
  README.md
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/cli/install_skills.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(check-scale): add max_nesting_depth to file_metrics (#580)
  tests/unit/mcp/test_utils/test_file_metrics.py
  tree_sitter_analyzer/mcp/utils/file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(onboarding): echo --install-skills destination + README CLI verification twin (#549) (#1025)
  README.md
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/cli/install_skills.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(check-scale): add max_nesting_depth to file_metrics (#580) (#1026)
  tests/unit/mcp/test_utils/test_file_metrics.py
  tree_sitter_analyzer/mcp/utils/file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(safe-to-edit): build recommendation from escalated verdict, not raw risk (#1027)
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(skills/runtime): replace invalid --ast-cache-mode force/status with valid commands (#1028)
  .claude/skills/tsa-graph/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  docs/agent-envelope-contract.md
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(skills): document batch_search >=2 constraint; portable sqlite3 examples (#1029)
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  .claude/skills/tsa-temporal/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: none

fix(safe-to-edit): build recommendation from escalated verdict, not raw risk (#1027) (#1030)
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(skills): document batch_search >=2 constraint; portable sqlite3 examples (#1029) (#1035)
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  .claude/skills/tsa-temporal/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: none

fix(skills/runtime): replace invalid --ast-cache-mode force/status with valid commands (#1028) (#1031)
  .claude/skills/tsa-graph/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  docs/agent-envelope-contract.md
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
  tree_sitter_analyzer/skills/tsa-graph/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(README): document additional CLI entry points + --install-skills-global (#1032, #1033)
  README.md
Due: none

docs(README): document additional CLI entry points + --install-skills-global (#1032, #1033) (#1036)
  README.md
Due: none

test(cli): de-duplicate triplicated CLI info-command tests (#1037)
  tests/integration/cli/test_cli_execution.py
  tests/integration/cli/test_cli_query_exec_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(cli): de-duplicate triplicated CLI info-command tests (#1037) (#1048)
  tests/integration/cli/test_cli_execution.py
  tests/integration/cli/test_cli_query_exec_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(codemaps): re-sync all 6 CODEMAPS with current code (doc-code alignment)
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/formatters.md
  docs/CODEMAPS/languages.md
  docs/CODEMAPS/mcp-tools.md
  docs/CODEMAPS/security.md
Due: none

docs(codemaps): re-sync all 6 CODEMAPS with current code (doc-code alignment) (#1049)
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/formatters.md
  docs/CODEMAPS/languages.md
  docs/CODEMAPS/mcp-tools.md
  docs/CODEMAPS/security.md
Due: none

chore(release): v1.25.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(release): slow_ok the java/javascript parser-recovery property tests
  tests/unit/core/test_parser_error_recovery_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): slow_ok ast-cache dispatch + constraint-integration tests
  tests/unit/cli/test_ast_cache_mode_wiring.py
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): slow_ok facade-actions doc-drift registry tests
  tests/unit/docs/test_facade_actions_doc_drift.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): slow_ok YAML parsing-consistency property tests
  tests/unit/languages/test_yaml_parsing_consistency_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(heatmap): coerce string max_files in project mode (MCP int/str crash)
  tests/unit/test_complexity_heatmap.py
  tree_sitter_analyzer/mcp/tools/complexity_heatmap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(heatmap): coerce string max_files in project mode (MCP int/str crash) (#1051)
  tests/unit/test_complexity_heatmap.py
  tree_sitter_analyzer/mcp/tools/complexity_heatmap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(heatmap): extend complexity heatmap to all plugin languages via fallback
  tests/unit/test_complexity_heatmap.py
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(heatmap): extend complexity heatmap to all plugin languages via fallback (#1052)
  tests/unit/test_complexity_heatmap.py
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): correct parameter name/type swap and raw-dict signature leak
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/unit/languages/test_go_param_name_type_swap.py
  tree_sitter_analyzer/cli/commands/table_command_helpers.py
  tree_sitter_analyzer/formatters/go_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): coerce numeric params to int at MCP boundary in 11 tools
  tests/unit/mcp/test_numeric_param_coercion.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/ast_path_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_matrix_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): add cyclomatic complexity to Ruby, Kotlin, PHP, and Swift
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): compute cyclomatic complexity for Ruby/Kotlin/PHP; defer Swift
  .tree-sitter-cache/project-index.json
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): correct parameter name/type swap and raw-dict signature leak (#1053)
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/unit/languages/test_go_param_name_type_swap.py
  tree_sitter_analyzer/cli/commands/table_command_helpers.py
  tree_sitter_analyzer/formatters/go_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): coerce numeric params to int at MCP boundary in 11 tools (#1054)
  tests/unit/mcp/test_numeric_param_coercion.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/ast_path_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_matrix_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): compute cyclomatic complexity for Ruby/Kotlin/PHP (#1055)
  .tree-sitter-cache/project-index.json
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): compute cyclomatic complexity for Swift functions
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
