Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat: add FTS5 full-text symbol search to AST cache (P1)
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add 100 unit tests for Swift plugin (extensions, enums, protocols, generics, node helpers)
  tests/unit/languages/test_swift_plugin_enhanced.py
  tests/unit/languages/test_swift_plugin_nodes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add P1 incremental sync engine with content-hash comparison (CodeGraph parity)
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add P1 PR URL analysis — parse GitHub PR URLs, fetch diff via gh CLI
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_pr_url.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/pr_url.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: unify plugin architecture across all 18 language plugins
  scripts/check_plugin_consistency.py
  tests/unit/languages/test_markdown_plugin_comprehensive.py
  tests/unit/languages/test_markdown_plugin_new_elements.py
  tests/unit/languages/test_python_plugin_coverage_boost.py
  tests/unit/languages/test_yaml_plugin_features.py
  tests/unit/languages/test_yaml_plugin_structure.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/default_table_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin/plugin.py
  tree_sitter_analyzer/languages/python_plugin/plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/swift_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/plugins/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: eliminate self.extractor from all analyze_file methods
  scripts/check_plugin_consistency.py
  tests/unit/languages/test_rust_plugin_extractor.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/sql_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): propagate detected encoding to C/Java extractors; drop dead attr in PHP/Ruby
  tests/unit/languages/test_plugin_encoding_propagation.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(routes): URL→handler route detection across 5 web frameworks (CodeGraph parity)
  tests/unit/test_agent_contracts.py
  tests/unit/test_route_detector.py
  tree_sitter_analyzer/_route_detector_helpers.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
  tree_sitter_analyzer/route_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(code-patterns): skip docstring-located lines in Python anti-pattern checks (dogfood)
  tests/unit/mcp/test_code_patterns_tool.py
  tree_sitter_analyzer/mcp/tools/code_patterns_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): unblock pytest collection for test_api_result_helpers (TEST-P1)
  tests/unit/test_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(autonomy): safe self-driving sprint loop — discover, never commit
  .github/workflows/auto-sprint.yml
  .gitignore
  scripts/auto_review.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

docs: comprehensive audit findings + README hero with TOON/MCP differentiation
  README.md
  docs/AUDIT_FINDINGS_2026-05-20.md
  docs/PLUGIN_ARCHITECTURE_KNOWN_ISSUES.md
Due: none

docs(audit): add AUDIT-INFRA-1 — pre-commit mypy hook failing on 36 pre-existing errors
  docs/AUDIT_FINDINGS_2026-05-20.md
Due: none

perf(routes): wire RouteDetector to a content-hash cache (140x warm speedup)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/test_route_detector.py
  tree_sitter_analyzer/_route_cache.py
  tree_sitter_analyzer/_route_detector_scanners.py
  tree_sitter_analyzer/route_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(parser): raise Parser._cache to 2000 + stat fast path (PERF-2)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/core/test_parser.py
  tests/unit/test_route_detector.py
  tree_sitter_analyzer/core/parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(mcp): lazy-import 23 tool modules in _create_tool_registry (PERF-3)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(regression): golden-master snapshots for all 18 language plugins (TEST-P5)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/golden_masters/plugins/c.json
  tests/golden_masters/plugins/cpp.json
  tests/golden_masters/plugins/csharp.json
  tests/golden_masters/plugins/css.json
  tests/golden_masters/plugins/go.json
  tests/golden_masters/plugins/html.json
  tests/golden_masters/plugins/java.json
  tests/golden_masters/plugins/javascript.json
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/plugins/markdown.json
  tests/golden_masters/plugins/php.json
  tests/golden_masters/plugins/python.json
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/plugins/rust.json
  tests/golden_masters/plugins/sql.json
  tests/golden_masters/plugins/swift.json
  tests/golden_masters/plugins/typescript.json
  tests/golden_masters/plugins/yaml.json
  tests/regression/test_plugin_golden_masters.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

feat(autonomy): Level 1.5 + Level 2 — brief generator, executor workflow, doc
  .github/workflows/auto-sprint-execute.yml
  docs/AUTONOMOUS_DEV.md
  scripts/auto_sprint_brief.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

perf(ast-cache): parallel index_project via multiprocessing pool (PERF-4)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): honor --output-format when --table is set (DOG-3)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/cli/test_table_command_format_override.py
  tree_sitter_analyzer/cli/commands/table_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(security): block output_file traversal + redact exception strings (SEC-1, SEC-2)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/mcp/test_error_recovery_coverage.py
  tests/unit/mcp/utils/test_error_sanitizer.py
  tree_sitter_analyzer/mcp/server_utils/error_recovery.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
  tree_sitter_analyzer/mcp/utils/error_sanitizer.py
  tree_sitter_analyzer/mcp/utils/file_output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(cli): replace _get_tool_class if-ladder with dict (ARCH-A2 partial)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(types): zero mypy errors across 436 source files (AUDIT-INFRA-1)
  pyproject.toml
  tree_sitter_analyzer/cli/parser_readiness_sources.py
  tree_sitter_analyzer/mcp/server_utils/tool_registration.py
  tree_sitter_analyzer/platform_compat/profiles.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(audit): mark AUDIT-INFRA-1 fixed (mypy clean)
  docs/AUDIT_FINDINGS_2026-05-20.md
Due: none

test(flaky): kill TEST-P3 root causes (Hypothesis DB + ALL_QUERIES mutation)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/conftest.py
  tree_sitter_analyzer/queries/css.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): unify BaseMCPTool init + rebind via single hook (ARCH-A4)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/base_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/file_health_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(scope): relocate IO/timing tests from unit/ to integration/ (TEST-P4)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/integration/core/test_performance.py
  tests/integration/mcp/utils/__init__.py
  tests/integration/mcp/utils/test_search_cache.py
  tests/integration/performance/__init__.py
  tests/integration/performance/test_async_performance.py
  tests/integration/performance/test_mcp_performance.py
  tests/unit/languages/test_python_import_helpers_coverage.py
  tests/unit/mcp/tools/test_element_extractor_coverage.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_api_query_helpers.py
  tests/unit/test_api_validation_helpers.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_change_impact_response.py
  tests/unit/test_encoding_streaming.py
  tests/unit/test_exceptions_core.py
  tests/unit/test_exceptions_security.py
  tests/unit/test_output_manager.py
  tests/unit/test_project_graph_coverage.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): ToolResponse typed envelope + 14-test contract (ARCH-A5)
  docs/AUDIT_FINDINGS_2026-05-20.md
  tests/unit/mcp/tools/test_tool_response_contract.py
  tree_sitter_analyzer/mcp/tools/tool_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

style(tests): absorb pre-commit ruff auto-format leftovers + fix F841
  tests/unit/languages/test_python_import_helpers_coverage.py
  tests/unit/mcp/tools/test_element_extractor_coverage.py
  tests/unit/test_api_query_helpers.py
  tests/unit/test_api_validation_helpers.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_change_impact_response.py
  tests/unit/test_encoding_streaming.py
  tests/unit/test_exceptions_core.py
  tests/unit/test_exceptions_security.py
  tests/unit/test_output_manager.py
  tests/unit/test_project_graph_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: close out ARCH-A1, ARCH-A3 anchor, TEST-P2, GROW-2/3 handoffs
  docs/AUDIT_FINDINGS_2026-05-20.md
  docs/PROMOTION_CHECKLIST.md
  scripts/benchmark_real_projects.py
  scripts/benchmark_results.json
  scripts/benchmark_vs_codegraph.py
  scripts/check_orphan_modules.py
  scripts/orphan_baseline.txt
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/agent_skills_tool.py
  tree_sitter_analyzer/mcp/tools/agent_workflow_tool.py
  tree_sitter_analyzer/mcp/tools/parser_readiness_tool.py
  tree_sitter_analyzer/plugins/base.py
  tree_sitter_analyzer/services/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: master audit final report (27 findings, ~140x speedup, mypy clean)
  docs/AUDIT_FINAL_REPORT_2026-05-20.md
Due: none

fix: green tests across consolidated branch (562 -> 12 flakes)
  pyproject.toml
  tree_sitter_analyzer/_encoding_streaming.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/formatters/toon_encoder.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: align tests with consolidated behaviour (562 -> 12 flakes)
  tests/unit/core/test_language_detector_extended.py
  tests/unit/formatters/test_toon_encoder_array_table_auto.py
  tests/unit/languages/test_java_annotation_extraction.py
  tests/unit/languages/test_java_caffeine_validation.py
  tests/unit/languages/test_java_query_validation.py
  tests/unit/languages/test_python_comprehensions.py
  tests/unit/languages/test_python_expressions.py
  tests/unit/languages/test_python_lambdas.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_project_summary_pagerank.py
  tests/unit/mcp/test_trace_impact_count_fix.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tests/unit/mcp/tools/test_output_format_validator.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_change_impact_response.py
  tests/unit/test_output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(release): 1.12.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(goldens): regenerate integration golden masters for v1.12.0
  tests/golden_masters/compact/c_sample_compact.md
  tests/golden_masters/compact/cpp_sample_compact.md
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/compact/rust_sample_compact.md
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/c_sample_csv.csv
  tests/golden_masters/csv/cpp_sample_csv.csv
  tests/golden_masters/csv/css_comprehensive_sample_csv.csv
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/markdown_test_csv.csv
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/full/cpp_sample_full.md
  tests/golden_masters/full/css_comprehensive_sample_full.md
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/markdown_test_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/toon/c_sample_toon.toon
  tests/golden_masters/toon/cpp_sample_toon.toon
  tests/golden_masters/toon/go_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/golden_masters/toon/typescript_enum_toon.toon
Due: none

test: delete dead private-API mock tests
  tests/unit/formatters/test_toon_encoder_array_table_auto.py
  tests/unit/languages/test_python_comprehensions.py
  tests/unit/languages/test_python_expressions.py
  tests/unit/languages/test_python_lambdas.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: drop duplicate collection in aggregator test files
  tests/unit/cli/test_list_files_cli_comprehensive.py
  tests/unit/core/test_file_output_optimization.py
  tests/unit/formatters/test_javascript_formatter_comprehensive.py
  tests/unit/mcp/test_list_files_tool.py
  tests/unit/mcp/test_search_content_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(infra): auto-retry xdist-flaky tests via pytest-rerunfailures
  pyproject.toml
  pytest.ini
  uv.lock
Due: check-toml-local
