Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test(index): scope frozen handoff deadline
  tests/unit/test_codegraph_full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(index): bound sqlite backup callbacks
  tree_sitter_analyzer/index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): classify large backup boundary
  tests/unit/test_index_snapshot_open.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): certify stable source projections
  tests/unit/test_ast_cache.py
  tests/unit/test_codegraph_status_tool.py
  tests/unit/test_incremental_sync_callgraph.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_open.py
  tests/unit/test_index_snapshot_registry.py
  tests/unit/test_index_snapshot_schema_validation.py
  tests/unit/test_index_snapshot_symbols.py
  tests/unit/test_index_source_snapshot.py
  tests/unit/test_index_source_stream.py
  tests/unit/test_index_status_response.py
  tree_sitter_analyzer/cache/callgraph_state.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_source_snapshot.py
  tree_sitter_analyzer/index_status_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): normalize canonical lag path
  tests/unit/test_index_status_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): authenticate stable storage hierarchies
  tests/unit/test_ast_cache.py
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_source_snapshot.py
  tests/unit/test_indexer.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/index_source_snapshot.py
  tree_sitter_analyzer/indexing_candidate_materialization.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): fail closed on stale graph state
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_snapshot_stats.py
  tests/unit/test_index_source_snapshot.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/index_snapshot_stats.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): scope custom authority by platform
  tests/unit/test_incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(edit): evaluate frozen constraints read-only
  docs/api/facade-actions.md
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_leases.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/constraints/parser.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): bind frozen constraint evidence
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_constraint_dsl.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(edit): preserve portable snapshot seams
  tests/unit/_diff_snapshot_support.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): close frozen constraint review gaps
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  docs/cli-reference.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_constraint_dsl.py
  tests/unit/test_index_snapshot_registry.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_constraints.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_validation.py
  tree_sitter_analyzer/index_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): bind reusable capability scope
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_diff_snapshot_constraints.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_index_snapshot_registry.py
  tree_sitter_analyzer/index_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): require exact constraint authority
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(edit): preserve config capture seams
  tests/unit/_diff_snapshot_support.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(edit): emulate portable config evidence
  tests/unit/_diff_snapshot_support.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(edit): complete portable oracle seams
  tests/unit/_diff_snapshot_support.py
  tests/unit/test_diff_snapshot_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): harden read-only constraint authority
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_diff_snapshot_constraints.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_index_snapshot_registry.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/diff_snapshot_constraints.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_source.py
  tree_sitter_analyzer/diff_snapshot_validation.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_schema.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): enforce bounded constraint reads
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_index_snapshot_registry.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_manifest.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): bound response materialization
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_index_snapshot_manifest.py
  tests/unit/test_index_snapshot_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(edit): scope read-only errors by platform
  tests/unit/cli/test_constraint_check_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(edit): isolate facade snapshot contract
  tests/unit/mcp/tools/test_edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): certify bounded cross-platform constraints
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/cli/test_constraint_check_persistence.py
  tests/unit/mcp/tools/_constraint_check_support.py
  tests/unit/mcp/tools/test_constraint_check_exactness.py
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tests/unit/mcp/tools/test_constraint_check_snapshot.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_constraint_dsl.py
  tests/unit/test_constraint_evaluator_bounds.py
  tests/unit/test_constraint_evaluator_deduplication.py
  tests/unit/test_constraint_evaluator_import_resolution.py
  tests/unit/test_constraint_evaluator_selection.py
  tests/unit/test_diff_snapshot_constraints.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/diff_snapshot_constraints.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close portable constraint gaps
  tests/unit/mcp/tools/test_constraint_check_exactness.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot_faults.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_constraint_evaluator_bounds.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): normalize portable index errors
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(edit): align portable snapshot contracts
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): normalize corrupt portable indexes
  tests/unit/mcp/tools/test_constraint_index_snapshot_faults.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close portable constraint authority
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_constraint_planes.py
  tests/unit/cli/test_argument_parser_builder_constraint_options.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/mcp/tools/test_constraint_check_exactness.py
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot_budget.py
  tests/unit/mcp/tools/test_constraint_index_snapshot_faults.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_ast_diff_node_budget.py
  tests/unit/test_ast_diff_snapshot_consumers.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_constraints.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_diff_snapshot_registry_authority.py
  tests/unit/test_index_snapshot_registry.py
  tests/unit/test_index_snapshot_registry_capabilities.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/diff_snapshot_constraints.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_live.py
  tree_sitter_analyzer/mcp/tools/constraint_check_persistence.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(edit): make portable oracles cross-platform
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot_faults.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(index): align portable Windows contracts
  tests/unit/mcp/test_index_sync_tools.py
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cache): close final constraint gates
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/cli/test_constraint_check_persistence.py
  tests/unit/test_codegraph_sitemap.py
  tests/unit/test_evaluator_import_resolution.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/cli/commands/constraint_check_execution.py
  tree_sitter_analyzer/mcp/tools/constraint_check_portable_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(snapshot): close final review gates
  tests/unit/_diff_snapshot_support.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/cli/test_constraint_check_persistence.py
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/mcp/tools/test_constraint_index_snapshot_faults.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_diff_snapshot_constraints.py
  tests/unit/test_diff_snapshot_validation.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/cli/commands/constraint_check_execution.py
  tree_sitter_analyzer/diff_snapshot_constraints.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_validation.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(snapshot): close cross-platform review gates
  scripts/native_qualification_lib.py
  tests/contracts/test_native_install_qualification.py
  tests/integration/performance/test_mcp_performance.py
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/cli/test_constraint_check_command.py
  tests/unit/cli/test_constraint_check_execution.py
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_change_impact_git.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_diff_snapshot_validation.py
  tests/unit/test_git_subprocess.py
  tests/unit/test_portable_source_snapshot.py
  tests/unit/test_source_epoch.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): clarify read-existing adapter contract
  rfcs/0022-task-outcome-apis.md
Due: none

fix(ci): fetch history for docs contracts
  .github/workflows/ci.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix(ci): fetch history for docs contracts (#1256)
  .github/workflows/ci.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

docs(rfc): close read-existing review gaps
  AGENTS.md
  rfcs/0022-task-outcome-apis.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
