Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix: code_smell_detector - fix class_pattern and large_class detection
  progress.md
  task_plan.md
  tests/unit/analysis/test_code_smells.py
  tree_sitter_analyzer/analysis/code_smells.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: complete Phase 7 Loop 16 (performance optimization 4th round)
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 17 (code audit 5th round)
  progress.md
  task_plan.md
Due: none

feat: add code clone detection engine (Phase 7 Loop 18)
  progress.md
  task_plan.md
  tests/unit/analysis/test_code_clones.py
  tree_sitter_analyzer/analysis/code_clones.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: complete Phase 7 Loop 19 (test reinforcement 4th round)
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 20 (documentation sync 4th round)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
  task_plan.md
Due: none

feat: integrate code_smell_detector and code_clone_detection as MCP tools
  progress.md
  task_plan.md
  tests/unit/mcp/test_code_clone_detection_tool.py
  tests/unit/mcp/test_code_smell_detector_tool.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/code_clone_detection_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 7 Loop 23 performance optimization (5th round)
  progress.md
  task_plan.md
Due: none

feat: Phase 7 Loop 24 test reinforcement (5th round)
  progress.md
  task_plan.md
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: Phase 7 Loop 25 documentation sync (5th round)
  ARCHITECTURE.md
  CHANGELOG.md
  progress.md
  task_plan.md
Due: none

feat: Phase 7 Loop 26 code audit (7th round)
  progress.md
  task_plan.md
Due: none

feat: Phase 7 Loop 27 new feature exploration (7th round)
  progress.md
  task_plan.md
  tests/unit/mcp/test_ci_report_tool.py
  tests/unit/mcp/test_health_score_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/ci_report_tool.py
  tree_sitter_analyzer/mcp/tools/health_score_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 7 Loop 28 performance optimization (6th round)
  progress.md
  task_plan.md
Due: none

fix: Phase 7 Loop 29 test reinforcement (6th round)
  progress.md
  task_plan.md
  tree_sitter_analyzer/formatters/java_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Phase 7 Loop 30 documentation sync (6th round)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
  task_plan.md
Due: none

docs: update progress with context reset information
  progress.md
Due: none

feat: Phase 7 Loop 31 code audit (8th round)
  progress.md
  task_plan.md
Due: none

feat: add java_patterns MCP tool (Phase 7 Loop 32)
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tests/unit/mcp/test_tools/test_java_patterns_tool.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/java_patterns_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add code smell detection engine and MCP tool (Sprint 25)
  tests/unit/analysis/test_code_smells.py
  tree_sitter_analyzer/mcp/tools/code_smell_detector_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 7 Loop 33 性能优化（第七轮）完成
  progress.md
  task_plan.md
Due: none

feat: Phase 7 Loop 34 测试加固（第七轮）完成
  progress.md
  task_plan.md
Due: none

docs: Phase 7 Loop 35 documentation sync (7th round) complete
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
  task_plan.md
Due: none

feat: Phase 7 Loop 36 code audit (9th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 37 new feature exploration (9th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 38 performance optimization (8th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 39 test reinforcement (8th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 40 documentation sync (8th round) complete
  task_plan.md
Due: none

docs: update progress with Phase 7 Loops 36-40 completion
  progress.md
Due: none

feat: Phase 7 Loop 41 code audit (10th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 42 new feature exploration (10th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 43 performance optimization (9th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 44 test reinforcement (9th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 45 documentation sync (9th round) complete
  task_plan.md
Due: none

docs: update progress with Phase 7 Loops 41-45 completion
  progress.md
Due: none

feat: Phase 7 Loop 46 code audit (11th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 47 new feature exploration (11th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 48 performance optimization (10th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 49 test reinforcement (10th round) complete
  task_plan.md
Due: none

feat: Phase 7 Loop 50 documentation sync (10th round) complete
  task_plan.md
Due: none

docs: update progress with Phase 7 Loops 46-50 completion
  progress.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
