Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

Implement unified logging system with LoggerManager
  .roo/commands/openspec-apply.md
  .roo/commands/openspec-archive.md
  .roo/commands/openspec-proposal.md
  AGENTS.md
  CLINE.md
  docs/logger_duplication_fix_ja.md
  openspec/AGENTS.md
  openspec/changes/archive/2025-10-25-fix-logger-duplication-unified/design.md
  openspec/changes/archive/2025-10-25-fix-logger-duplication-unified/proposal.md
  openspec/changes/archive/2025-10-25-fix-logger-duplication-unified/specs/logging-management/spec.md
  openspec/changes/archive/2025-10-25-fix-logger-duplication-unified/tasks.md
  openspec/project.md
  openspec/specs/logging-management/spec.md
  start_mcp_server.py
  tests/test_file_output_manager_duplications.py
  tests/test_logger_duplication_fix.py
  tree_sitter_analyzer/logging_manager.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/utils/file_output_manager.py
  tree_sitter_analyzer/utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Implement output format parameter validation and mutual exclusion
  openspec/changes/archive/2025-10-25-fix-search-content-parameters/proposal.md
  openspec/changes/archive/2025-10-25-fix-search-content-parameters/specs/mcp-tools/spec.md
  openspec/changes/archive/2025-10-25-fix-search-content-parameters/tasks.md
  openspec/specs/mcp-tools/spec.md
  tests/test_mcp_rg_phase2_filters_perf.py
  tests/test_mcp_rg_phase6_fs_encoding.py
  tests/test_mcp_rg_phase7_integration_edges.py
  tests/test_search_content_parameters_fix.py
  tests/test_smart_cache_optimization.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/utils/search_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

git commit -m "feat: Add LLM guidance for search_content tool with token-efficient strategies
  .roo/rules/search-best-practices.md
  CHANGELOG.md
  docs/mcp_fd_rg_design.md
  openspec/changes/archive/2025-10-27-add-llm-guidance-to-search-content/design.md
  openspec/changes/archive/2025-10-27-add-llm-guidance-to-search-content/proposal.md
  openspec/changes/archive/2025-10-27-add-llm-guidance-to-search-content/specs/llm-guidance/spec.md
  openspec/changes/archive/2025-10-27-add-llm-guidance-to-search-content/specs/mcp-tools/spec.md
  openspec/changes/archive/2025-10-27-add-llm-guidance-to-search-content/tasks.md
  openspec/specs/llm-guidance/spec.md
  pyproject.toml
  tests/test_core/test_parser.py
  tests/test_core_query_service.py
  tests/test_file_output_manager_duplications.py
  tests/test_languages/test_python_plugin.py
  tests/test_llm_guidance_compliance.py
  tests/test_logger_duplication_fix.py
  tests/test_search_content_description.py
  tests/test_search_content_parameters_fix.py
  tree_sitter_analyzer/core/query.py
  tree_sitter_analyzer/core/query_service.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/logging_manager.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/utils/file_output_manager.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.6.1.3: Update version and documentation
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Update JavaScript language support in parser tests
  tests/test_core/test_parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Enhance logger tests and project detector behavior
  tests/test_logger_duplication_fix.py
  tests/test_project_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Add encoding demonstration and normalization tests
  examples/encoding.txt
  examples/encoding_demo.py
  tests/test_encoding_normalization.py
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Add comprehensive tests for UTF-8 encoding handling
  tests/test_utf8_encoding_fix.py
  tree_sitter_analyzer/api.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Enhance encoding support and file processing across the system
  docs/api.md
  docs/mcp_fd_rg_design.md
  openspec/changes/2025-10-28-enhance-encoding-support/design.md
  openspec/changes/2025-10-28-enhance-encoding-support/proposal.md
  openspec/changes/2025-10-28-enhance-encoding-support/specs/encoding-support/spec.md
  openspec/changes/2025-10-28-enhance-encoding-support/tasks.md
Due: none

refactor: Archive and remove outdated encoding support documentation
  openspec/changes/archive/2025-10-28-enhance-encoding-support/design.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/proposal.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/specs/encoding-support/spec.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/tasks.md
Due: none

fix: Ensure consistent newline handling in test result files and scripts
  test_results/BC-CLI-01_structure_analysis_complete.json
  test_results/BC-CLI-02_query_code_complete.json
  test_results/BC-CLI-03_help_command_complete.json
  test_results/BC-MCP-01_analyze_code_structure_complete.json
  test_results/BC-MCP-02_query_code_complete.json
  test_results/BC-MCP-03_check_code_scale_complete.json
  test_results/INT-LOG-01_combined_variables_complete.json
  test_results/INT-LOG-02_log_content_verification_complete.json
  test_results/INT-LOG-03_performance_impact_complete.json
  test_results/INT-LOG-04_logger_level_separation_complete.json
  test_results/LOG-CTL-01_default_behavior_complete.json
  test_results/LOG-CTL-02_file_log_enablement_complete.json
  test_results/LOG-CTL-03_custom_directory_complete.json
  test_results/LOG-CTL-04_debug_level_complete.json
  test_results/LOG-CTL-05_info_level_complete.json
  test_results/LOG-CTL-06_warning_level_complete.json
  test_results/LOG-CTL-07_error_level_complete.json
  test_results/LOG-CTL-08_invalid_level_complete.json
  test_results/LOG-CTL-09_no_permission_complete.json
  test_results/analyze_logs.ps1
  test_results/performance_test.py
  test_results/run_test.py
  test_results/test_int_log_01.bat
  test_results/test_int_log_02.bat
  test_results/test_int_log_04.bat
  test_results/test_log_ctl_05.bat
  test_results/test_log_ctl_06.bat
  test_results/test_log_ctl_07.bat
  test_results/test_log_ctl_08.bat
  test_results/test_log_ctl_09.bat
  test_results/test_result_template.json
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Implement automatic encoding detection in search_content tool
  openspec/changes/archive/2025-10-28-enhance-encoding-support/design.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/proposal.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/specs/encoding-support/spec.md
  openspec/changes/archive/2025-10-28-enhance-encoding-support/tasks.md
  openspec/changes/fix-encoding-search-compatibility/design.md
  openspec/changes/fix-encoding-search-compatibility/proposal.md
  openspec/changes/fix-encoding-search-compatibility/specs/mcp-tools/spec.md
  openspec/changes/fix-encoding-search-compatibility/tasks.md
  pyproject.toml
  tests/test_encoding_search_compatibility.py
  tests/test_search_content_encoding_detection.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Refactor file reading for improved performance and memory efficiency
  openspec/changes/refactor-streaming-read-performance/design.md
  openspec/changes/refactor-streaming-read-performance/proposal.md
  openspec/changes/refactor-streaming-read-performance/specs/mcp-tools/spec.md
  openspec/changes/refactor-streaming-read-performance/tasks.md
  tests/test_streaming_read_performance.py
  tests/test_streaming_read_performance_extended.py
  tree_sitter_analyzer/encoding_utils.py
  tree_sitter_analyzer/file_handler.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.6.1.4: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

git commit -m "docs: Add Japanese project documentation and update CHANGELOG
  CHANGELOG.md
  docs/ja/README.md
  docs/ja/project-management/00_プロジェクト憲章.md
  docs/ja/project-management/01_スコープ定義書.md
  docs/ja/project-management/02_WBS.md
  docs/ja/project-management/03_品質管理計画.md
  docs/ja/specifications/01_システム概要.md
  docs/ja/test-management/00_テスト戦略.md
  docs/ja/test-management/01_テストケース一覧.md
Due: none

git commit -m "feat: Establish comprehensive project management framework
  CHANGE_MANAGEMENT_GUIDE.md
  README.md
  README_ja.md
  README_zh.md
  docs/ja/README.md
  docs/ja/project-management/05_変更管理方針.md
Due: none

docs: Major expansion of Japanese documentation system and multilingual support
  README.md
  README_ja.md
  README_zh.md
  docs/debugging_guide.md
  docs/ja/README.md
  docs/ja/specifications/02_アーキテクチャ設計.md
  docs/ja/specifications/03_MCP統合仕様.md
  docs/ja/specifications/04_CLI仕様.md
  docs/ja/specifications/05_コア解析エンジン仕様.md
  docs/ja/specifications/06_言語プラグイン仕様.md
  docs/ja/specifications/07_セキュリティ仕様.md
  docs/ja/test-management/00_テスト戦略.md
  docs/ja/test-management/01_テストケース一覧.md
  docs/ja/test-management/03_テスト実施記録.md
  docs/ja/test-management/04_品質メトリクス.md
  docs/ja/user-guides/00_クイックスタートガイド.md
  docs/troubleshooting_guide.md
Due: none

git commit -m "fix: resolve HTML element duplication and Java regex pattern issues
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/queries/java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

git commit -m "docs(ja): Align project management and test management docs with implementation
  docs/ja/project-management/00_プロジェクト憲章.md
  docs/ja/project-management/01_スコープ定義書.md
  docs/ja/project-management/02_WBS.md
  docs/ja/project-management/03_品質管理計画.md
  docs/ja/project-management/05_変更管理方針.md
  docs/ja/specifications/01_システム概要.md
  docs/ja/specifications/02_アーキテクチャ設計.md
  docs/ja/test-management/00_テスト戦略.md
  docs/ja/test-management/01_テストケース一覧.md
Due: none

Release v1.9.3: Update version and documentation
  CHANGELOG.md
  README.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Update documentation files for v1.9.3 release
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
Due: none

chore: Update README statistics (tests: )
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: Java method_with_annotations query pattern
  CHANGELOG.md
  examples/TestAnnotationIssue.java
  openspec/changes/fix-java-annotation-method-query/proposal.md
  openspec/changes/fix-java-annotation-method-query/specs/java-query-fix/spec.md
  openspec/changes/fix-java-annotation-method-query/tasks.md
  tests/test_queries/test_java_annotation_query.py
  tree_sitter_analyzer/queries/java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update fix-java-annotation-method-query tasks status
  openspec/changes/fix-java-annotation-method-query/tasks.md
Due: none

feat(api): Add custom query execution support through API
  tree_sitter_analyzer/api.py
  tree_sitter_analyzer/core/engine.py
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(changelog): Update with API custom query support details
  CHANGELOG.md
Due: none

fix(java-plugin): Add node_count to analyze_file result
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.4: GitFlow automated release - version update and documentation sync
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix test failures in test_comprehensive_format_validation.py
  .github/workflows/format-regression-testing.yml
  .github/workflows/format-validation.yml
  .pre-commit-hooks.yaml
  docs/format-testing-guide.md
  docs/format_specifications.md
  openspec/changes/implement-comprehensive-format-testing-strategy/tasks.md
  scripts/format_change_management.py
  scripts/format_monitoring_tool.py
  scripts/pre_commit_format_validation.py
  tests/format_testing/README.md
  tests/format_testing/__init__.py
  tests/format_testing/comprehensive_test_suite.py
  tests/format_testing/cross_component_tests.py
  tests/format_testing/end_to_end_tests.py
  tests/format_testing/enhanced_assertions.py
  tests/format_testing/format_assertions.py
  tests/format_testing/format_contract_tests.py
  tests/format_testing/generate_regression_report.py
  tests/format_testing/golden_master.py
  tests/format_testing/integration_tests.py
  tests/format_testing/performance_tests.py
  tests/format_testing/schema_validation.py
  tests/format_testing/specification_compliance_tests.py
  tests/format_testing/test_comprehensive_format_validation.py
  tests/format_testing/test_data_manager.py
  tests/format_testing/test_framework_validation.py
  tests/format_testing/test_real_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix all format testing issues - achieve 100% test pass rate
  .gitignore
  tests/format_testing/comprehensive_test_suite.py
  tests/format_testing/enhanced_assertions.py
  tests/format_testing/schema_validation.py
  tests/format_testing/test_real_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix GitHub Actions format-validation workflow issues
  .github/workflows/format-validation.yml
Due: check-yaml-local

Remove all TableFormatter mocks from test_table_format_tool.py
  tests/mcp/test_tools/test_table_format_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix remaining test failures: ValueError propagation, Legacy formatter isinstance checks, HTML formatter test skips, and async query service exception handling
  tests/test_async_query_service.py
  tests/test_formatter_registry.py
  tests/test_html_formatter.py
  tree_sitter_analyzer/mcp/tools/table_format_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix cross_component_tests.py import errors - skip tests pending v1.6.1.4 refactoring
  tests/format_testing/cross_component_tests.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
