Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat(kotlin): class-kind fidelity — annotation/data/enum/sealed (Theme I)
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/languages/test_kotlin_class_kind_fidelity.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(scala): wire Scala language support end-to-end (#417)
  pyproject.toml
  tests/unit/cli/test_info_commands.py
  tests/unit/mcp/test_structure_unparseable_language.py
  tests/unit/test_lang_extension_map.py
  tests/unit/test_scala_language_wiring.py
  tree_sitter_analyzer/_lang_extension_map.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: replace >=-style approximate assertions with exact pins (locked rule)
  CLAUDE.md
  tests/unit/mcp/test_structure_unparseable_language.py
  tests/unit/test_bash_language_wiring.py
  tests/unit/test_scala_language_wiring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(typescript): namespace extraction (retry after reformat)
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/typescript_enum_csv.csv
  tests/golden_masters/full/typescript_enum_full.md
  tests/golden_masters/plugins/typescript.json
  tests/golden_masters/toon/typescript_enum_toon.toon
  tests/unit/languages/test_typescript_namespace_extraction.py
  tree_sitter_analyzer/languages/typescript_plugin/_class_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_traversal_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(kotlin): class-kind fidelity — annotation/data/enum/sealed (Theme I) (#419)
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/languages/test_kotlin_class_kind_fidelity.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: replace >=-style approximate assertions with exact pins (locked rule) (#420)
  CLAUDE.md
  tests/unit/mcp/test_structure_unparseable_language.py
  tests/unit/test_bash_language_wiring.py
  tests/unit/test_scala_language_wiring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(cpp): enum + conversion operator extraction (retry after reformat)
  tests/golden_masters/full/cpp_sample_full.md
  tests/golden_masters/plugins/cpp.json
  tests/golden_masters/toon/cpp_sample_toon.toon
  tests/unit/languages/test_cpp_enum_conversion_extraction.py
  tree_sitter_analyzer/languages/_cpp_signature_helpers.py
  tree_sitter_analyzer/languages/cpp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(typescript): extract namespace/module containers + their members (Theme I) (#421)
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/typescript_enum_csv.csv
  tests/golden_masters/full/typescript_enum_full.md
  tests/golden_masters/plugins/typescript.json
  tests/golden_masters/toon/typescript_enum_toon.toon
  tests/unit/languages/test_typescript_namespace_extraction.py
  tree_sitter_analyzer/languages/typescript_plugin/_class_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_traversal_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(typescript): namespace coverage (retry after reformat)
  tests/unit/languages/test_typescript_namespace_extraction.py
  tree_sitter_analyzer/languages/typescript_plugin/_traversal_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(cpp): cover enum-extractor except branch + operator_cast no-type path
  tests/unit/languages/test_cpp_enum_conversion_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(typescript): namespace coverage (retry after reformat) (#423)
  tests/unit/languages/test_typescript_namespace_extraction.py
  tree_sitter_analyzer/languages/typescript_plugin/_traversal_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cpp): extract enum/enum-class and conversion operators (Theme I) (#422)
  tests/golden_masters/full/cpp_sample_full.md
  tests/golden_masters/plugins/cpp.json
  tests/golden_masters/toon/cpp_sample_toon.toon
  tests/unit/languages/test_cpp_enum_conversion_extraction.py
  tree_sitter_analyzer/languages/_cpp_signature_helpers.py
  tree_sitter_analyzer/languages/cpp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

release: v1.22.0 — extraction correctness + bash/scala graduation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(inheritance): Ruby '<'-token superclass, PHP extends, serializer drop (Theme C)
  tests/unit/languages/test_ruby_php_inheritance.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci(windows): install fd/ripgrep from GitHub Releases, drop chocolatey
  .github/actions/setup-system/action.yml
Due: check-yaml-local

fix(php): interface multi-extends keeps all parents (review HIGH)
  tests/unit/languages/test_ruby_php_inheritance.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cpp): base classes captured — no base_specifier wrapper in ts-cpp 0.23 (Theme C)
  tests/unit/languages/test_cpp_base_classes.py
  tree_sitter_analyzer/languages/_cpp_variable_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci(windows): install fd/ripgrep from GitHub Releases, drop chocolatey (#425)
  .github/actions/setup-system/action.yml
Due: check-yaml-local

test(inheritance): cover degenerate branches — patch coverage 100%
  tests/unit/languages/test_ruby_php_inheritance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(release): test badge/table 18333 -> 18493 (authoritative ubuntu CI count)
  README.md
  README_ja.md
  README_zh.md
Due: none

fix(inheritance): Ruby '<'-token superclass, PHP extends, serializer drop (Theme C) (#424)
  tests/unit/languages/test_ruby_php_inheritance.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(cpp): cover legacy base_specifier wrapper branch — patch 100%
  tests/unit/languages/test_cpp_base_classes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(toon): RFC-0012 Phase 1 — opt-in compact_only TOON compaction (#393)
  README.md
  README_ja.md
  README_zh.md
  rfcs/0012-toon-json-dedup.md
  rfcs/README.md
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_toon_compact_only.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/server_utils/tool_registration.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/file_health_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): impl-block fns get receiver_type/is_method/receiver (Theme A)
  tests/unit/languages/test_rust_impl_receiver.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(cpp): review fixes — qualified base real-AST case + stale comment
  tests/unit/languages/test_cpp_base_classes.py
  tests/unit/languages/test_cpp_plugin_coverage_boost_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(invariants): review rework — drop loose ceiling, invariants only
  CLAUDE.md
  tests/unit/mcp/test_output_cost_invariants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0013 review fixes — _NEVER_REPORT vs reality, pseudocode hardening
  rfcs/0013-facade-dropped-param-visibility.md
Due: none

fix(go): receiver/receiver_type reach the API consumer (Theme A)
  tests/unit/languages/test_go_receiver_serialization.py
  tree_sitter_analyzer/_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(go): review fix — pin exact always-present-as-None receiver behavior
  tests/unit/languages/test_go_receiver_serialization.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cpp): base classes captured — no base_specifier wrapper in ts-cpp 0.23 (Theme C) (#426)
  tests/unit/languages/test_cpp_base_classes.py
  tests/unit/languages/test_cpp_plugin_coverage_boost_core.py
  tree_sitter_analyzer/languages/_cpp_variable_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(invariants): output-cost oracle + CLAUDE.md rule 11 (why testing missed the TOON bloat) (#394)
  CLAUDE.md
  tests/unit/mcp/test_output_cost_invariants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0013 — facade dropped-parameter visibility (#400)
  rfcs/0013-facade-dropped-param-visibility.md
Due: none

fix(go): receiver/receiver_type reach the API consumer (Theme A) (#429)
  tests/unit/languages/test_go_receiver_serialization.py
  tree_sitter_analyzer/_api_result_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): verbose self receivers (self: Box<Self> / Pin<&mut Self>) are methods
  tests/unit/languages/test_rust_impl_receiver.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rust): e2e Theme-A — receiver binding survives API serialization
  tests/unit/languages/test_rust_impl_receiver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(rust): bound impl-owner parent walk + encode source once (140GB OOM root cause)
  tests/unit/languages/test_rust_plugin_extractor.py
  tests/unit/languages/test_rust_properties.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): impl-block fns get receiver_type/is_method/receiver (Theme A) (#428)
  tests/unit/languages/test_rust_impl_receiver.py
  tests/unit/languages/test_rust_plugin_extractor.py
  tests/unit/languages/test_rust_properties.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(claude): lock develop-freeze rule + release finalization checklist
  CLAUDE.md
Due: none

docs(claude): lock develop-freeze rule + release finalization checklist (#430)
  CLAUDE.md
Due: none

feat(gauntlet): add Polyglot Mis-Wire Gauntlet results card and runner
  benchmarks/codegraph_compare/GAUNTLET.md
  benchmarks/codegraph_compare/gauntlet_runner.py
  benchmarks/codegraph_compare/scorecard-template.md
  docs/articles/polyglot-miswire-article.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
