Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(index): enforce private snapshot and extraction failure contracts
  README.md
  README_zh.md
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_java_plugin.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/test_ast_cache.py
  tests/unit/test_cache_write.py
  tests/unit/test_file_watcher.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_lag.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_capability.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/cache/schema.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_capability.py
  tree_sitter_analyzer/languages/_java_element.py
  tree_sitter_analyzer/languages/_java_element_common.py
  tree_sitter_analyzer/languages/_java_extractor_support.py
  tree_sitter_analyzer/languages/_java_import.py
  tree_sitter_analyzer/languages/_java_modern.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): companion_object members attributed to enclosing Kotlin class
  tests/unit/test_cpp_function_extraction.py
  tree_sitter_analyzer/cache/extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): add record_declaration to _CLASS_LIKE for Java 16+ records
  tests/unit/test_cpp_function_extraction.py
  tree_sitter_analyzer/cache/extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(index): bump extractor_version 16->17 for Kotlin/Java classification fixes
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: remove xfail from test_local_free_function_resolves_on_real_index
  tests/unit/test_cpp_method_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): extend C name recovery to C++ — 68+ functions/methods absent
  tests/unit/test_cpp_function_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(typing): scope missing imports to optional model dependencies
  pyproject.toml
Due: check-toml-local

fix(index): preserve source completeness and portable database bytes
  README.md
  README_zh.md
  tests/unit/languages/test_plugins.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/test_ast_cache_index_mixin.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_unresolved_refs.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(windows): restore collector contracts with bounded materialization
  .github/workflows/windows-trust-diagnostics.yml
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

test(windows): use portable Git capture for restored contracts
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(windows): pin checkout newline policy for collector bytes
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

deps: refresh validated requirements and matching lockfile
  pyproject.toml
  uv.lock
Due: check-toml-local

test: isolate activation state in change-impact summaries
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

deps: refresh validated requirements and matching lockfile (#1399)
  pyproject.toml
  uv.lock
Due: check-toml-local

test(windows): restore contained collector contracts and qualify Python 3.12 (#1398)
  .github/workflows/windows-trust-diagnostics.yml
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix(testing): preserve explicit test-pattern matches
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health): classify gap files relative to project root
  tests/unit/test_test_gap_analyzer.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(testing): scope verification families to their owners
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_stems.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health): classify gap files relative to project root (#1401)
  tests/unit/test_test_gap_analyzer.py
  tree_sitter_analyzer/test_gap_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(testing): centralize monotonic package admission
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_stems.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(watcher): detect source destinations during atomic saves
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: specify source-certified Pulse query contract
  rfcs/0030-pulse-source-evidence.md
  rfcs/README.md
Due: none

fix(pulse): bind context queries to current source evidence
  docs/CODEMAPS/mcp-tools.md
  tests/unit/api/test_pulse.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_pulse_tool.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(pulse): guard the active source acquisition boundary
  tests/unit/mcp/tools/test_pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(pulse): preserve batch query and source failure witnesses
  tests/unit/api/test_pulse.py
  tests/unit/mcp/tools/test_pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(watcher): detect source destinations during atomic saves (#1403)
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(pulse): classify source acquisition failures consistently
  rfcs/0030-pulse-source-evidence.md
  tests/unit/mcp/tools/test_pulse_tool.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(watcher): certify automatic incremental refreshes
  rfcs/0030-pulse-source-evidence.md
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(snapshot): route Windows source checks through portable inventory
  rfcs/0030-pulse-source-evidence.md
  tests/unit/test_index_snapshot_capability.py
  tree_sitter_analyzer/index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(snapshot): add native Windows private WAL capture
  rfcs/0030-pulse-source-evidence.md
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_windows.py
  tree_sitter_analyzer/index_snapshot_capability.py
  tree_sitter_analyzer/index_snapshot_windows.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(snapshot): enforce current Windows capability and source routes
  rfcs/0030-pulse-source-evidence.md
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_manifest.py
  tests/unit/test_index_snapshot_registry_capabilities.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(pulse): bind context results to source-certified snapshots (#1404)
  docs/CODEMAPS/mcp-tools.md
  rfcs/0030-pulse-source-evidence.md
  rfcs/README.md
  tests/unit/api/test_pulse.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_constraint_index_snapshot.py
  tests/unit/mcp/tools/test_pulse_tool.py
  tests/unit/test_file_watcher.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_capability.py
  tests/unit/test_index_snapshot_manifest.py
  tests/unit/test_index_snapshot_registry_capabilities.py
  tests/unit/test_index_snapshot_windows.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/pulse_evidence.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_capability.py
  tree_sitter_analyzer/index_snapshot_windows.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: detect and index content changes with preserved metadata
  tests/unit/test_ast_cache_frozen_reader.py
  tests/unit/test_file_watcher.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/incremental_sync_support.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: drive extraction with language taxonomy and harden rename planning
  docs/CODEMAPS/languages.md
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/integration/formatters/end_to_end_tests.py
  tests/unit/mcp/test_subscription_registry.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_ast_extraction.py
  tests/unit/test_codegraph_refactor_tool.py
  tests/unit/test_node_taxonomy.py
  tests/unit/test_rename_symbol_pure.py
  tests/unit/test_symbols_json_enrichment.py
  tests/unit/test_unhandled_node_tracking.py
  tree_sitter_analyzer/api/__init__.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_rules.py
  tree_sitter_analyzer/cache/_symbol_syntax.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/node_taxonomy.py
  tree_sitter_analyzer/cache/unhandled_nodes.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/registry/singleton_registry.py
  tree_sitter_analyzer/registry/subscription_registry.py
  tree_sitter_analyzer/rename_python.py
  tree_sitter_analyzer/rename_symbol.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
