Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix: retain mapped tests in change-impact verification
  tests/unit/mcp/test_change_impact_tool.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: normalize watcher paths and avoid synthetic resync events
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve source encoding and raw watcher fingerprints
  tests/unit/test_ast_cache_frozen_reader.py
  tests/unit/test_file_watcher.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_source_stream.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/incremental_sync_support.py
  tree_sitter_analyzer/index_source_snapshot.py
  tree_sitter_analyzer/index_source_stream.py
  tree_sitter_analyzer/indexing_candidate_materialization.py
  tree_sitter_analyzer/indexing_snapshot.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: execute complete verification with bounded test batches
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/mcp/test_verification_command.py
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_verification.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: drive extraction with language taxonomy and harden rename planning
  docs/CODEMAPS/languages.md
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/integration/formatters/end_to_end_tests.py
  tests/unit/mcp/test_subscription_registry.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_ast_extraction.py
  tests/unit/test_codegraph_refactor_tool.py
  tests/unit/test_node_taxonomy.py
  tests/unit/test_rename_symbol_pure.py
  tests/unit/test_symbols_json_enrichment.py
  tests/unit/test_unhandled_node_tracking.py
  tree_sitter_analyzer/api/__init__.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_rules.py
  tree_sitter_analyzer/cache/_symbol_syntax.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/node_taxonomy.py
  tree_sitter_analyzer/cache/unhandled_nodes.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/registry/singleton_registry.py
  tree_sitter_analyzer/registry/subscription_registry.py
  tree_sitter_analyzer/rename_python.py
  tree_sitter_analyzer/rename_symbol.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retain commented import bindings and enable C++ resolution regression
  tests/unit/test_cpp_method_resolution.py
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: verify serializer compatibility after layering fix
  tests/unit/mcp/test_utils/test_format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: isolate and resume polling discovery across bounded slices
  docs/CODEMAPS/architecture.md
  tests/unit/test_file_watcher.py
  tests/unit/test_file_watcher_polling.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/file_watcher_polling.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/index_source_snapshot.py
  tree_sitter_analyzer/index_source_stream.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: validate extraction boundaries and release documentation
  README.md
  tests/unit/test_ast_extraction.py
  tests/unit/test_rename_symbol_pure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: align merged public surface contracts
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_surface_metadata_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: preserve high-risk gates and PowerShell batch execution
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/mcp/test_verification_command.py
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_verification.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: use binary descriptors in Windows polling harness
  tests/unit/test_file_watcher_polling.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: accept interpreter-specific syntax diagnostics
  tests/unit/test_rename_symbol_pure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: remove redundant unreachable file mode guard
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: invalidate indexed sources rejected after unsafe replacement
  tests/unit/test_file_watcher_polling.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher_polling.py
  tree_sitter_analyzer/incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pin directories before opening polling enumerators
  docs/CODEMAPS/architecture.md
  tests/unit/test_file_watcher_polling.py
  tree_sitter_analyzer/file_watcher_polling.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: reconcile existing index after watcher startup
  docs/CODEMAPS/architecture.md
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: align mergeback projection fixtures and claim contracts
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/mcp/_safe_to_edit_tool_helpers.py
  tests/unit/mcp/test_safe_to_edit_tool_include_projection.py
  tests/unit/mcp/test_safe_to_edit_tool_java_projection.py
  tests/unit/mcp/test_safe_to_edit_tool_snapshot_integrity.py
  tests/unit/mcp/test_safe_to_edit_tool_syntax_envelope.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: invalidate polling sources exceeding the read budget
  tests/unit/test_file_watcher_polling.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher_polling.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: propose bounded verification plan execution
  rfcs/0031-bounded-verification-execution.md
  rfcs/README.md
Due: none

test: verify watch-health history entries independently of score changes
  tests/integration/test_watch_health_cli.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: preserve indexed rows on transient candidate capture failures
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/indexing_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: serialize watcher candidate capture and index commits
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retain watcher timer ownership through shutdown
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: reject watcher stop success while background work remains
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retry transient watcher sync failures with bounded backoff
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retain pending watcher shutdown across project rebinds
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: compile bounded verification batches as argument arrays
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: align verification RFC with current facade and checkout contracts
  rfcs/0031-bounded-verification-execution.md
Due: none

fix: share cache writer lock across watcher instances
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: coordinate cache owners by canonical database path
  docs/CODEMAPS/architecture.md
  tests/unit/test_ast_cache.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bound direct cache reads before decoding
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/cache/indexer_io.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retry incomplete watcher sync error results
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retry polling fingerprints in a fresh scan slice
  docs/CODEMAPS/architecture.md
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/file_watcher_polling.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: certify recycled WAL current frame prefixes
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_windows.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_capability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: unify cache identity through project root aliases
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/cache/helpers.py
  tree_sitter_analyzer/cache/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: detect and index saves with preserved file metadata (#1405)
  docs/CODEMAPS/architecture.md
  tests/integration/test_watch_health_cli.py
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_frozen_reader.py
  tests/unit/test_file_watcher.py
  tests/unit/test_file_watcher_polling.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_source_stream.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/file_watcher_polling.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/incremental_sync_support.py
  tree_sitter_analyzer/index_source_stream.py
  tree_sitter_analyzer/indexing_candidate_materialization.py
  tree_sitter_analyzer/indexing_snapshot.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve descendants beneath recursive root aliases
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/cache/helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: certify recycled WAL current frame prefixes (#1410)
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_windows.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_capability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
