Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(resolver): Codex P2 #346 — scope this-calls and bare-global kinds (JS)
  tests/unit/test_javascript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/javascript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): TS shadow gate works in real index path + variable shadows (Codex P2 #347)
  tests/unit/test_typescript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/typescript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): SAFE Rust per-language callee resolver (RFC-0010) (#349)
  tests/unit/test_rust_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/_rust_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/rust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): Codex P2 #346 — this/bare calls never bind sibling methods (JS)
  tests/unit/test_javascript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/javascript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): read TS import statement from text field for shadow gate (Codex P2 #347)
  tests/unit/test_typescript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/typescript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): gate Go stdlib import-evidence on full canonical path (Codex P2)
  tests/unit/test_go_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_go_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): gate C++ member calls on single owner-class (PR #348 P2)
  tests/unit/test_cpp_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/cpp.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0010 first-wave Go callee resolver (new-files-only) (#350)
  tests/unit/test_go_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_go_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/go.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): self-contained SAFE JavaScript callee resolver (RFC-0010) (#346)
  tests/unit/test_javascript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/_javascript_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/javascript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): TypeScript per-language callee resolver (RFC-0010 first wave) (#347)
  tests/unit/test_typescript_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_typescript_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/typescript.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative C++ callee resolver (RFC-0010 first wave) (#348)
  tests/unit/test_cpp_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_cpp_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/cpp.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): reflect the 8-language correctness moat (RFC-0010 first wave shipped)
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(readme): surface the 8-language cross-language-safe resolver (RFC-0010)
  README.md
Due: none

docs: qualify the cross-language claim to match the audit + sync RFC statuses (Codex P2/P3 #351)
  README.md
  rfcs/0008-multilang-method-classification.md
  rfcs/0010-resolver-language-registry.md
Due: none

docs(rfc): align roadmap cross-language verdict with the measured ~0.01% (Codex P3 #351)
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(rfc): reflect the 8-language correctness moat (RFC-0010 first wave shipped) (#351)
  README.md
  rfcs/0008-multilang-method-classification.md
  rfcs/0010-resolver-language-registry.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(resolver): conservative Ruby callee resolver (RFC-0010 second wave)
  tests/unit/test_ruby_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_ruby_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/ruby.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(synapse): add SAFE per-language C callee resolver (RFC-0010)
  tests/unit/test_c_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_c_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(synapse): RFC-0010 Kotlin per-language callee resolver (new-files-only)
  tests/unit/test_kotlin_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_kotlin_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/kotlin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative C# callee resolver (RFC-0010 second wave)
  tests/unit/test_csharp_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_csharp_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/csharp.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative PHP callee resolver (RFC-0010 second wave)
  tests/unit/test_php_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_php_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/php.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: accurate active-vs-resolver-ready language counts (honesty fix)
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(extraction): wire Rust call-edge extraction — activates the dormant resolver
  tests/unit/test_rust_extraction_activation.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: accurate active-vs-resolver-ready language counts (honesty fix) (#357)
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(extraction): wire Rust call-edge extraction — activates the dormant resolver (#358)
  tests/unit/test_rust_extraction_activation.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(synapse): add SAFE per-language C callee resolver (RFC-0010) (#353)
  tests/unit/test_c_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_c_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Rust now active (8 languages), not resolver-ready
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs: Rust now active (8 languages), not resolver-ready (#359)
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(synapse): RFC-0010 Kotlin per-language callee resolver (new-files-only) (#354)
  tests/unit/test_kotlin_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_kotlin_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/kotlin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative Ruby callee resolver (RFC-0010 second wave) (#352)
  tests/unit/test_ruby_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_ruby_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/ruby.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative C# callee resolver (RFC-0010 second wave) (#355)
  tests/unit/test_csharp_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_csharp_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/csharp.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): conservative PHP callee resolver (RFC-0010 second wave) (#356)
  tests/unit/test_php_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/languages/_php_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/php.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(extraction): activate Kotlin/Ruby/C#/PHP resolvers via call-edge extraction
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(extraction): address independent review of #360 (PHP scope P1, C# ctor, Kotlin generics)
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: fix unsupported-language fixture (ruby is now supported)
  tests/unit/test_call_graph_ast_b.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(extraction): activate Kotlin/Ruby/C#/PHP resolvers via call-edge extraction (#360)
  tests/unit/test_call_graph_ast_b.py
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: 12 languages now fully active (Kotlin/Ruby/C#/PHP activated #360)
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

fix(c-resolver): project-defined libc names no longer misclassified as stdlib
  tests/unit/test_c_method_resolution.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/synapse_resolver/languages/c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: 12 languages now fully active (Kotlin/Ruby/C#/PHP activated #360) (#361)
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(report): addendum — 12-language cross-language moat verified (0 mis-wires)
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none
