Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test: ratchet batch-21 — pin 36 loose assertions in top-4 AST-ranked files (#622)
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_javascript_extended.py
  tests/unit/core/test_queries_python.py
  tests/unit/core/test_queries_typescript_extended.py
  tests/unit/formatters/test_javascript_formatter_robustness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): PHP constants indexed as symbols (#624)
  tests/golden_masters/plugins/php.json
  tests/unit/languages/test_php_plugin.py
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(php): table goldens regenerated + enum const ownership — CI red & Codex P2
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(php): cover constant guard branches — codecov
  tests/unit/test_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): PHP constants indexed as symbols (#625)
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/plugins/php.json
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/languages/php_helpers.py
  tree_sitter_analyzer/languages/php_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-22 — pin 33 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_commands.py
  tests/integration/formatters/test_comprehensive_format_validation.py
  tests/unit/core/test_queries_c.py
  tests/unit/formatters/test_markdown_formatter_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: ratchet batch-22 — pin 33 loose assertions in top-4 AST-ranked files (#627)
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_commands.py
  tests/integration/formatters/test_comprehensive_format_validation.py
  tests/unit/core/test_queries_c.py
  tests/unit/formatters/test_markdown_formatter_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): JS/TS function-local variables no longer over-captured (#626)
  tests/unit/test_ast_extraction.py
  tests/unit/test_javascript_method_resolution.py
  tests/unit/test_symbols_json_enrichment.py
  tests/unit/test_typescript_method_resolution.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): ERROR regions excluded from JS/TS variable emission — Codex P2
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): JS/TS function-local variables no longer over-captured (#629)
  tests/unit/test_ast_extraction.py
  tests/unit/test_javascript_method_resolution.py
  tests/unit/test_symbols_json_enrichment.py
  tests/unit/test_typescript_method_resolution.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): Java method-local variables no longer over-captured (#626)
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): Java method-local variables no longer over-captured (#626) (#630)
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-23 — pin 32 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_cpp.py
  tests/unit/languages/test_csharp_plugin_elements.py
  tests/unit/languages/test_html_plugin_accuracy.py
  tests/unit/languages/test_html_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): C# method-local variables no longer over-captured (#628)
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-23 — pin 32 loose assertions in top-4 AST-ranked files (#631)
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_cpp.py
  tests/unit/languages/test_csharp_plugin_elements.py
  tests/unit/languages/test_html_plugin_accuracy.py
  tests/unit/languages/test_html_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): C# method-local variables no longer over-captured (#628) (#633)
  tests/unit/test_ast_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(html): self-closing tags no longer captured twice (#632)
  tests/unit/languages/test_html_plugin_coverage_boost.py
  tree_sitter_analyzer/languages/html_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-24 — pin 32 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_markdown_plugin_extract.py
  tests/unit/test_code_similarity.py
  tests/unit/test_cross_file_backfill.py
  tests/unit/test_dependency_matrix.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(html): self-closing tags no longer captured twice (#632) (#634)
  tests/unit/languages/test_html_plugin_coverage_boost.py
  tree_sitter_analyzer/languages/html_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-24 — pin 32 loose assertions in top-4 AST-ranked files (#635)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_markdown_plugin_extract.py
  tests/unit/test_code_similarity.py
  tests/unit/test_cross_file_backfill.py
  tests/unit/test_dependency_matrix.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: ratchet batch-25 — pin 28 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_user_story_1_integration.py
  tests/integration/mcp/test_user_story_3_query_integration.py
  tests/unit/cli/test_info_commands.py
  tests/unit/core/test_async_query_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: ratchet batch-25 — pin 28 loose assertions in top-4 AST-ranked files (#636)
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_user_story_1_integration.py
  tests/integration/mcp/test_user_story_3_query_integration.py
  tests/unit/cli/test_info_commands.py
  tests/unit/core/test_async_query_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(toon): heterogeneous arrays no longer drop fields silently (#637)
  tests/unit/formatters/test_toon_heterogeneous_637.py
  tests/unit/mcp/test_toon_losslessness_637.py
  tree_sitter_analyzer/formatters/_toon_encoder_table_helpers.py
  tree_sitter_analyzer/formatters/toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): kind parameter discoverable in facade schema (#640)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(toon): heterogeneous arrays no longer drop fields silently (#637) (#642)
  tests/unit/formatters/test_toon_heterogeneous_637.py
  tests/unit/mcp/test_toon_losslessness_637.py
  tree_sitter_analyzer/formatters/_toon_encoder_table_helpers.py
  tree_sitter_analyzer/formatters/toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): kind parameter discoverable in facade schema (#640) (#644)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): module-level constants visible in structure surfaces (#639)
  tests/unit/languages/test_python_module_constants.py
  tree_sitter_analyzer/languages/python_plugin/_class_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): ghost caller rows eliminated — call sites attributed or counted (#638)
  tests/unit/test_ghost_caller_rows_638.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(outline): top_level_fields — Codex P2
  tests/unit/languages/test_python_module_constants.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): ghost caller rows eliminated — call sites attributed or counted (#638) (#646)
  tests/unit/test_ghost_caller_rows_638.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): module-level constants visible in structure surfaces (#645)
  tests/unit/languages/test_python_module_constants.py
  tree_sitter_analyzer/languages/python_plugin/_class_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-26 — pin 28 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_engine.py
  tests/unit/core/test_language_detector_html_css.py
  tests/unit/core/test_queries_javascript.py
  tests/unit/languages/test_markdown_plugin_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(nav): callers dedup keeps same-named methods; parse tier stops misattributing module calls (#647, #648)
  tests/unit/test_call_graph_cached.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_callers_dedup_and_parse_tier_647_648.py
  tests/unit/test_ghost_caller_rows_638.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-26 — pin 28 loose assertions in top-4 AST-ranked files (#649)
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_engine.py
  tests/unit/core/test_language_detector_html_css.py
  tests/unit/core/test_queries_javascript.py
  tests/unit/languages/test_markdown_plugin_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(nav): callers dedup keeps same-named methods; parse tier stops misattributing module calls (#647, #648) (#650)
  tests/unit/test_call_graph_cached.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_callers_dedup_and_parse_tier_647_648.py
  tests/unit/test_ghost_caller_rows_638.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-27 — pin 24 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/core/test_api.py
  tests/integration/core/test_performance.py
  tests/integration/grammar_coverage/test_validator_integration.py
  tests/unit/core/test_queries_sql.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): guard modification_type discoverable in schema; checklist numbering sequential (#641)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-27 — pin 24 loose assertions in top-4 AST-ranked files (#652)
  scripts/loose_assertion_baseline.txt
  tests/integration/core/test_api.py
  tests/integration/core/test_performance.py
  tests/integration/grammar_coverage/test_validator_integration.py
  tests/unit/core/test_queries_sql.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): guard modification_type discoverable in schema; checklist numbering sequential (#641) (#653)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-28 — pin 24 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_go_queries.py
  tests/unit/languages/test_rust_queries.py
  tests/unit/test_codegraph_overview_tool.py
  tests/unit/test_cross_file_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
