Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix: resolve CI quality check failures
  .github/workflows/reusable-quality.yml
  pyproject.toml
  tree_sitter_analyzer/core/memory_monitor.py
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: optimize test workflow to prevent timeouts
  .github/workflows/reusable-test.yml
Due: check-yaml-local

ci: fix reusable workflow validation and test gating
  .github/workflows/reusable-test.yml
  tests/integration/workflows/validate_ci_workflow.py
  tests/integration/workflows/validate_develop_workflow.py
  tests/integration/workflows/validate_hotfix_workflow.py
  tests/integration/workflows/validate_release_workflow.py
  validate_workflows.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: enhance Java element extraction and improve fallback discovery in MCP tools
  tests/unit/languages/test_java_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): remove redundant contextlib shim causing CI failures
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve MyPy 1.19.1 compatibility issues
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: optimize test suite for 5-minute CI execution
  .github/workflows/reusable-test.yml
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix: handle skipped/skipped tests correctly in quality gate
  .github/workflows/ci.yml
Due: check-yaml-local

fix: mark slow tests with @pytest.mark.slow to skip in fast PR CI
  tests/unit/core/test_cache_logic_only.py
  tests/unit/core/test_cache_service.py
  tests/unit/core/test_encoding_cache.py
  tests/unit/core/test_performance.py
  tests/unit/mcp/test_utils/test_search_cache.py
  tests/unit/performance/test_async_performance.py
  tests/unit/performance/test_mcp_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: clean up root directory by moving scripts and removing generated files
  .gitignore
  coverage_report.txt
  generate_golden_masters.py
  profile_results.txt
  profile_results_improved.txt
  scripts/analyze_coverage.py
  scripts/analyze_coverage_json.py
  scripts/analyze_specific_sql.py
  scripts/build_standalone.py
  scripts/check_quality.py
  scripts/check_stability.py
  scripts/collect_project_metrics.py
  scripts/debug_async_test.py
  scripts/fix_indentation.py
  scripts/get_all_low_coverage.py
  scripts/llm_code_checker.py
  scripts/profile_analysis.py
  scripts/regenerate_with_normalization.py
  scripts/run_coverage.py
  scripts/run_regression_tests.py
  scripts/start_mcp_server.py
  scripts/upload_interactive.py
  scripts/upload_to_pypi.py
  scripts/validate_workflows.py
  scripts/verify_workflow_structure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(intelligence): implement stability_metrics, hotspots, depth BFS, layer_rules validation
  openspec/changes/add-code-intelligence-graph/specs/architecture-health/spec.md
  openspec/changes/add-code-intelligence-graph/specs/call-graph-extraction/spec.md
  tests/unit/intelligence/test_architecture_metrics.py
  tests/unit/intelligence/test_call_graph.py
  tests/unit/mcp/test_tools/test_check_architecture_health_tool.py
  tree_sitter_analyzer/intelligence/architecture_metrics.py
  tree_sitter_analyzer/intelligence/call_graph.py
  tree_sitter_analyzer/intelligence/models.py
  tree_sitter_analyzer/mcp/tools/check_architecture_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(intelligence): cover partial branches flagged by Codecov
  tests/unit/intelligence/test_architecture_metrics.py
  tests/unit/intelligence/test_call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(java): correct annotation extraction ordering in JavaPlugin
  openspec/changes/fix-java-plugin-annotation-extraction/design.md
  openspec/changes/fix-java-plugin-annotation-extraction/proposal.md
  openspec/changes/fix-java-plugin-annotation-extraction/specs/java-annotation-extraction/spec.md
  openspec/changes/fix-java-plugin-annotation-extraction/tasks.md
  tests/integration/languages/test_java_integration.py
  tests/unit/languages/test_java_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): narrow create_extractor return type to JavaElementExtractor
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): correct namespace/package state loss in C++, PHP, Kotlin extractors
  openspec/changes/fix-plugin-namespace-state/specs/cpp-namespace-extraction/spec.md
  openspec/changes/fix-plugin-namespace-state/specs/kotlin-reset-caches-cleanup/spec.md
  openspec/changes/fix-plugin-namespace-state/specs/php-namespace-extraction/spec.md
  tests/integration/languages/test_cpp_integration.py
  tests/unit/languages/test_cpp_plugin.py
  tests/unit/languages/test_kotlin_plugin.py
  tests/unit/languages/test_php_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(lint): remove unused pytest import and sort imports in test_cpp_integration
  tests/integration/languages/test_cpp_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: add CLAUDE.md for cross-machine context sync and gitignore settings.local.json
  .gitignore
  CLAUDE.md
Due: none

fix(plugins): remove business state from _reset_caches in C# and Ruby extractors
  openspec/changes/fix-plugin-namespace-state/specs/csharp-reset-caches-cleanup/spec.md
  openspec/changes/fix-plugin-namespace-state/specs/ruby-dead-code-cleanup/spec.md
  tests/unit/languages/test_csharp_plugin.py
  tests/unit/languages/test_ruby_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scripts): correct sys.path and cwd after relocation from root to scripts/
  scripts/run_coverage.py
  scripts/start_mcp_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(scripts): correct sys.path and cwd after relocation to scripts/
  scripts/run_coverage.py
  scripts/start_mcp_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

chore: clean up root directory - move scripts and fix paths
  .gitignore
  coverage_report.txt
  generate_golden_masters.py
  profile_results.txt
  profile_results_improved.txt
  scripts/analyze_coverage.py
  scripts/analyze_coverage_json.py
  scripts/analyze_specific_sql.py
  scripts/build_standalone.py
  scripts/check_quality.py
  scripts/check_stability.py
  scripts/collect_project_metrics.py
  scripts/debug_async_test.py
  scripts/fix_indentation.py
  scripts/get_all_low_coverage.py
  scripts/llm_code_checker.py
  scripts/profile_analysis.py
  scripts/regenerate_with_normalization.py
  scripts/run_coverage.py
  scripts/run_regression_tests.py
  scripts/start_mcp_server.py
  scripts/upload_interactive.py
  scripts/upload_to_pypi.py
  scripts/validate_workflows.py
  scripts/verify_workflow_structure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): update patch path for start_mcp_server after relocation to scripts/
  tests/integration/cli/test_startup_script.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(intelligence): 修复架构分析误报并清理死代码
  openspec/changes/fix-intelligence-graph/specs/false-positive-detection/spec.md
  openspec/changes/fix-intelligence-graph/specs/output-manager-dead-code/spec.md
  tests/unit/intelligence/test_isinstance_reference_detection.py
  tests/unit/intelligence/test_lazy_import_false_positive.py
  tests/unit/test_output_manager_dead_code.py
  tree_sitter_analyzer/intelligence/architecture_metrics.py
  tree_sitter_analyzer/intelligence/models.py
  tree_sitter_analyzer/intelligence/project_indexer.py
  tree_sitter_analyzer/output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(intelligence): extend ProjectIndexer to support Java and C++ via language plugins
  openspec/changes/fix-intelligence-graph/specs/multi-language-indexing/spec.md
  tests/integration/intelligence/test_multi_language_indexing.py
  tree_sitter_analyzer/intelligence/project_indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: correct mock paths in file_output tests
  tests/unit/core/test_file_output_optimization.py
  tests/unit/core/test_find_and_grep_tool_file_output.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: accept localized error messages in output_format_validator test
  tests/unit/core/test_output_format_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: consolidate exception tests (3 → 1 file)
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_exceptions_comprehensive.py
  tests/unit/core/test_exceptions_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: test architecture improvements - Phase 1 & 2 (#107)
  tests/unit/core/test_exceptions.py
  tests/unit/core/test_exceptions_comprehensive.py
  tests/unit/core/test_exceptions_extended.py
  tests/unit/core/test_file_output_optimization.py
  tests/unit/core/test_find_and_grep_tool_file_output.py
  tests/unit/core/test_output_format_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: optimize conftest.py - remove duplicate singleton reset code
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add property-based tests for encoding_utils and models modules
  tests/unit/core/test_models_properties.py
  tests/unit/utils/test_encoding_utils_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add skip markers for tests requiring external tools (fd, rg)
  tests/unit/mcp/test_fd_rg_utils.py
  tests/unit/performance/test_mcp_performance.py
  tests/unit/search/test_search_content_validator_integration.py
  tests/unit/security/test_mcp_security.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

style: fix lint issues in property tests
  tests/unit/core/test_models_properties.py
  tests/unit/utils/test_encoding_utils_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add skip markers for integration tests requiring external tools
  tests/integration/mcp/test_error_handling_remaining_tools.py
  tests/integration/mcp/test_user_story_4_integration.py
  tests/integration/test_phase7_performance_integration.py
  tests/integration/test_phase7_security_integration.py
  tests/property/test_language_detection_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: exclude dot from character set in all language detection property tests
  tests/conftest.py
  tests/property/test_language_detection_properties.py
  tests/unit/core/test_models_properties.py
  tests/unit/utils/test_encoding_utils_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: reorganize test directory structure
  tests/integration/test_language_detection_properties.py
  tests/unit/core/test_file_handler.py
  tests/unit/core/test_plugins_manager.py
  tests/unit/security/test_boundary_manager.py
  tests/unit/security/test_regex_checker.py
  tests/unit/security/test_validator.py
  tests/unit/test_boundary_manager.py
  tests/unit/test_regex_checker.py
  tests/unit/test_validator.py
  tests/unit/utils/test_logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test consolidation: Query and Cache groups
  tests/unit/core/test_cache_format_compatibility_bug.py
  tests/unit/core/test_cache_logic_only.py
  tests/unit/core/test_core_query_comprehensive.py
  tests/unit/core/test_core_query_coverage.py
  tests/unit/core/test_core_query_filter.py
  tests/unit/core/test_core_query_service.py
  tests/unit/core/test_engine.py
  tests/unit/core/test_query.py
  tests/unit/core/test_query_extended.py
  tests/unit/core/test_query_tool_file_output.py
  tests/unit/core/test_query_tool_file_output_extended.py
  tests/unit/core/test_search_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test consolidation: Output and Models groups
  CLAUDE.md
  docs/TEST_MERGE_PLAN.md
  tests/unit/core/test_analysis_engine.py
  tests/unit/core/test_conftest_query.py
  tests/unit/core/test_core_engine_comprehensive.py
  tests/unit/core/test_core_engine_extended.py
  tests/unit/core/test_engine.py
  tests/unit/core/test_engine_manager.py
  tests/unit/core/test_engine_security_regression.py
  tests/unit/core/test_engine_unification.py
  tests/unit/core/test_output.py
  tests/unit/core/test_output_format_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: refine README positioning for MCP use cases
  README.md
  README_ja.md
  README_zh.md
Due: none
