Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(change-impact): reuse cached dependency graph (#170)
  tests/unit/test_call_graph_impact.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_change_impact_cached_graph.py
  tests/unit/test_project_graph_coverage.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/call_graph_impact.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add chained query tool
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  pyproject.toml
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add chained query tool (#171)
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  pyproject.toml
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: avoid duplicate feature PR CI runs
  .github/workflows/ci.yml
  tests/integration/workflows/test_workflow_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

ci: avoid duplicate feature PR CI runs (#172)
  .github/workflows/ci.yml
  tests/integration/workflows/test_workflow_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

feat(benchmark): add reproducible codegraph phases
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/analyze.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  benchmarks/codegraph_compare/repos.yaml
  benchmarks/codegraph_compare/run.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): add reproducible codegraph phases (#173)
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/analyze.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  benchmarks/codegraph_compare/repos.yaml
  benchmarks/codegraph_compare/run.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): index large repo hot paths
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph_impact.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): enrich chained query answer packs
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): index large repo hot paths (#174)
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph_impact.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): enrich chained query answer packs (#175)
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): resolve Go method call edges
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast-cache): invalidate stale extractor output
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph): cover Go edge cache upgrades
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(codegraph): compact chained query answer packs
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph): close Go edge patch coverage
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph): satisfy local patch coverage gate
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): resolve Go method call edges (#176)
  tests/unit/test_ast_cache.py
  tests/unit/test_call_graph.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): compact chained query answer packs (#177)
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(test): add local patch coverage gate
  AGENTS.md
  docs/TESTING.md
  scripts/check_patch_coverage.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_patch_coverage_check.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(test): add local patch coverage gate (#178)
  AGENTS.md
  docs/TESTING.md
  scripts/check_patch_coverage.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_patch_coverage_check.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): evaluate current run schema
  benchmarks/codegraph_compare/evaluate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): mark llm fallback evaluations
  benchmarks/codegraph_compare/evaluate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): evaluate current run schema (#179)
  benchmarks/codegraph_compare/evaluate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): fallback query chains to concept search
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): fallback query chains to concept search (#180)
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): normalize code-like query seeds
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): normalize code-like query seeds (#181)
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): prioritize declaration query evidence
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): target declared type query names
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): prioritize declaration query evidence (#182)
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): surface Go const declarations in query chains
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): surface Go const declarations in query chains (#183)
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): prefer source symbols in query chains
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): include long source excerpts in query packs
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): prefer exact Go type declarations in query packs
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: bound reusable test matrix runtime
  .github/workflows/reusable-test.yml
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

feat(codegraph): prefer exact Go type declarations in query packs
  .github/workflows/reusable-test.yml
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_concepts.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
