Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat(codegraph): filter runtime noise from query relations
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ci): bound temporal git subprocesses
  tests/fixtures/git_temporal/make_repo.py
  tests/unit/test_temporal_activation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(codegraph): filter runtime noise from query relations
  tests/fixtures/git_temporal/make_repo.py
  tests/unit/test_codegraph_query_tool.py
  tests/unit/test_temporal_activation.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

release: v1.15.3
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): index method receiver functions in CallGraph
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): index method receiver functions in CallGraph (#190)
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(explore): deprioritize test files in codegraph-explore results
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(explore): deprioritize test files in codegraph-explore results (#191)
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(call-graph): cover Go method receiver extraction
  tests/unit/test_call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(call-graph): cover Go method receiver extraction (#192)
  tests/unit/test_call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(uml): export mermaid architecture diagrams
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/mcp_tools_specification.md
  tests/unit/cli/test_uml_cli.py
  tests/unit/cli/test_uml_export_cli_contract.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_uml_export.py
  tests/unit/test_uml_export_renderers.py
  tests/unit/test_uml_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(uml): export mermaid architecture diagrams (#193)
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/mcp_tools_specification.md
  tests/unit/cli/test_uml_cli.py
  tests/unit/cli/test_uml_export_cli_contract.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_uml_export.py
  tests/unit/test_uml_export_renderers.py
  tests/unit/test_uml_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add chain query selection filters
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_filters.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add chain query selection filters (#194)
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_filters.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add relation-aware has query step
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(e2e): harden real repo clone fixture
  tests/e2e/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): route expensive checks by change scope
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/gitflow-guard.yml
  .github/workflows/hotfix-automation.yml
  .github/workflows/regression-tests.yml
  .github/workflows/release-automation.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
  AGENTS.md
  _verify_workflow_structure_helpers.py
  config/ci-routing.yml
  pyproject.toml
  pytest.ini
  scripts/ci_route.py
  tests/conftest.py
  tests/golden/test_golden_corpus.py
  tests/integration/workflows/test_workflow_properties.py
  tests/integration/workflows/validate_hotfix_workflow.py
  tests/integration/workflows/validate_release_workflow.py
  tests/regression/test_plugin_golden_masters.py
  tests/unit/mcp/test_gitignore_detector_edge_cases.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_ci_routing.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: harden PR coverage and e2e gates
  .github/workflows/test-coverage.yml
  tests/e2e/conftest.py
  tests/unit/test_ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

feat(codegraph): add relation-aware has query step (#196)
  .github/workflows/test-coverage.yml
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/e2e/conftest.py
  tests/unit/test_ast_cache.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): route expensive checks by change scope (#197)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/gitflow-guard.yml
  .github/workflows/hotfix-automation.yml
  .github/workflows/regression-tests.yml
  .github/workflows/release-automation.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
  AGENTS.md
  _verify_workflow_structure_helpers.py
  config/ci-routing.yml
  pyproject.toml
  pytest.ini
  scripts/ci_route.py
  tests/conftest.py
  tests/golden/test_golden_corpus.py
  tests/integration/workflows/test_workflow_properties.py
  tests/integration/workflows/validate_hotfix_workflow.py
  tests/integration/workflows/validate_release_workflow.py
  tests/regression/test_plugin_golden_masters.py
  tests/unit/mcp/test_gitignore_detector_edge_cases.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_ci_routing.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(call-graph): import extraction helpers from shared module
  tests/unit/test_call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(mcp): share codegraph visualization bootstrap
  tests/unit/test_codegraph_visualization_hub.py
  tests/unit/test_uml_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualization_hub.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/uml_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): route query uml facet through visualization hub
  tests/unit/test_codegraph_visualization_hub.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualization_hub.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dead-code): restore analyzer AST traversal
  tests/unit/mcp/tools/test_canonical_verdict.py
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): fix implements-generics splitting and annotation attribution
  .kiro/specs/formatter-architecture-unification/tasks.md
  CLAUDE.md
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
  tests/unit/languages/test_java_caffeine_validation.py
  tests/unit/languages/test_java_element_extractor_core.py
  tree_sitter_analyzer/languages/_java_element_helpers.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(tests): split test_route_detector.py (1516→5 files, phase8 slice)
  tests/unit/conftest.py
  tests/unit/test_route_detector.py
  tests/unit/test_route_detector_cache.py
  tests/unit/test_route_detector_go.py
  tests/unit/test_route_detector_python.py
  tests/unit/test_route_detector_tool.py
  tests/unit/test_route_detector_web.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): split test_codegraph_query_tool.py (1980→6 files, phase8 slice)
  tests/unit/_codegraph_query_helpers.py
  tests/unit/test_codegraph_query_dsl.py
  tests/unit/test_codegraph_query_internals.py
  tests/unit/test_codegraph_query_internals_facets.py
  tests/unit/test_codegraph_query_tool.py
  tests/unit/test_codegraph_query_tool_advanced.py
  tests/unit/test_codegraph_query_tool_core.py
  tests/unit/test_codegraph_query_tool_has.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): split 2 oversized files into 10 focused modules (phase8 slice)
  tests/unit/grammar_coverage/test_validator_false_positives.py
  tests/unit/grammar_coverage/test_validator_fp_boundary.py
  tests/unit/grammar_coverage/test_validator_fp_depth.py
  tests/unit/grammar_coverage/test_validator_fp_multifile.py
  tests/unit/grammar_coverage/test_validator_fp_wrapper_a.py
  tests/unit/grammar_coverage/test_validator_fp_wrapper_b.py
  tests/unit/grammar_coverage/test_validator_fp_wrapper_c.py
  tests/unit/test_call_graph.py
  tests/unit/test_call_graph_ast_a.py
  tests/unit/test_call_graph_ast_b.py
  tests/unit/test_call_graph_cached.py
  tests/unit/test_call_graph_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): split 3 oversized files into 8 focused modules (phase8 slice)
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tests/unit/mcp/test_code_patterns_execute.py
  tests/unit/mcp/test_code_patterns_regression.py
  tests/unit/mcp/test_code_patterns_tool.py
  tests/unit/mcp/test_code_patterns_unit.py
  tests/unit/mcp/test_universal_analyze_tool.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
  tests/unit/mcp/test_universal_analyze_tool_execute.py
  tests/unit/mcp/test_universal_analyze_tool_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(openspec): mark phase8-code-slimming complete — all 7 oversized files split
  openspec/changes/phase8-code-slimming/tasks.md
Due: none

feat(formatters): add TableFormatter at canonical formatters/ location (Phase 7)
  .kiro/specs/formatter-architecture-unification/tasks.md
  .kiro/specs/golden-master-format-restoration/tasks.md
  docs/CODEMAPS/formatters.md
  tree_sitter_analyzer/formatters/__init__.py
  tree_sitter_analyzer/formatters/table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(openspec): record architectural decisions and close remaining follow-up tasks
  .kiro/specs/toon-format-integration/tasks.md
  openspec/changes/consolidate-code-intelligence-architecture/tasks.md
Due: none

docs(openspec): close all formatter-architecture-unification verification checklist items
  .kiro/specs/formatter-architecture-unification/tasks.md
Due: none

docs(openspec): close formatter-architecture-unification 8.2 as N/A
  .kiro/specs/formatter-architecture-unification/tasks.md
Due: none

docs(openspec): close all golden-master-format-restoration tasks (spec superseded)
  .kiro/specs/golden-master-format-restoration/tasks.md
Due: none

docs(java-annotation): write design.md + CHANGELOG entry (T4.3, T4.4)
  CHANGELOG.md
  openspec/changes/improve-java-annotation-extraction/design.md
  openspec/changes/improve-java-annotation-extraction/tasks.md
Due: none

fix(java): complete annotation extraction pipeline for MCP analyze_code_structure
  tests/unit/languages/test_java_caffeine_validation.py
  tests/unit/languages/test_java_element_extractor_optimized.py
  tree_sitter_analyzer/languages/_java_element_helpers.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update CHANGELOG and task status for Java annotation pipeline fix
  CHANGELOG.md
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
  openspec/changes/improve-java-annotation-extraction/tasks.md
Due: none

docs(openspec): mark T3.3 complete — netty validation confirms Bug 1+2 fixes
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
