Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test(outline): add acceptance tests for parse-error / NUL-byte diagnostics (#707)
  tests/unit/mcp/test_structure_unparseable_language.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(change-impact): fix 2 P2 Codex findings on resource_profile default (#925)
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(lineage): authoritative per-file mtime check for index_stale (#703)
  tests/unit/mcp/test_symbol_lineage_tool.py
  tree_sitter_analyzer/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(change-impact): pin resource_profile in CLI command test assertions
  tests/unit/cli/test_mcp_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(change-impact): surface doc-drift verification steps for CLI/MCP surface changes (#732) (#924)
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(outline): add acceptance tests for parse-error / NUL-byte diagnostics (#707) (#926)
  tests/unit/mcp/test_structure_unparseable_language.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(symbol-search): ~Suffix now finds CamelCase symbols via true linear fallback (#919) (#922)
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(change-impact): add --change-impact-fail-on-risk exit-code gate (#550)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_mcp_commands.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): mock sys.platform for POSIX-specific nice(1) assertions
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(lineage): authoritative per-file mtime check for index_stale (#703) (#927)
  tests/unit/mcp/test_symbol_lineage_tool.py
  tree_sitter_analyzer/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): correct _VERDICT_ORDER severity and add WARN (Codex P2 #930)
  tests/unit/cli/test_mcp_commands.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(change-impact): default MCP resource_profile to local_low_impact for AI agents (#731) (#925)
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(change-impact): add --change-impact-fail-on-risk exit-code gate (#550) (#930)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_mcp_commands.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(golden): ruby golden masters — take develop's 12-field phantom-fix values
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/plugins/ruby.json
  tests/golden_masters/toon/ruby_sample_toon.toon
Due: check-json-local

fix(ruby,php): line_count, phantom fields, default params, enum parent_class (#763 #765 #768 #769 #770) (#950)
  tests/golden_masters/compact/php_sample_compact.md
Due: none

fix(codemap+test): add tracking ref to skip and update SQL codemap (#775 #808)
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_sql_fixes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(sql): FUNCTION param extraction, CREATE TABLE AS SELECT capture (#775 #808) (#940)
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_sql_fixes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(safe-to-edit): pin downstream_count to exact fixture value (#956 Codex P2)
  tests/unit/mcp/test_safe_to_edit_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(bash): subscripted assignment targets, wire variables into ASTCache index (#949)
  tests/unit/test_bash_language_wiring.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/languages/bash_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): normalize generic receivers
  tests/unit/languages/test_go_bugs_749_750.py
  tests/unit/languages/test_go_receiver_serialization.py
  tests/unit/test_call_graph_ast_a.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/languages/_go_common_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health-scorer): bash/Scala/Swift complexity types, dependency scoring for new extensions (#953)
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(uml): preserve truncation signals
  tests/unit/test_uml_bugs_787_788_789.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
