Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(mcp): coerce structure read line/column bounds to int (broken read escape hatch) (#328)
  tests/unit/mcp/tools/test_structure_facade.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0009 nav context self-sufficiency — close the turn-count gap
  rfcs/0009-nav-context-self-sufficiency.md
Due: none

fix(deadcode): exclude hidden/vendored dot-dirs from dead-code walks (F2) (#329)
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0009 — drop stale-index root cause, raise budget to cover target (Codex #330)
  rfcs/0009-nav-context-self-sufficiency.md
Due: none

docs(rfc): RFC-0009 status draft -> accepted (owner approved)
  rfcs/0009-nav-context-self-sufficiency.md
Due: none

docs(rfc): RFC-0009 nav context self-sufficiency — close the turn-count gap (#330)
  rfcs/0009-nav-context-self-sufficiency.md
Due: none

feat(mcp): RFC-0009 nav context full entry bodies + entry-first ranking (re-add after format)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): RFC-0009 nav context full entry bodies + entry-first ranking (re-add after format) (#331)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bench): per-invocation session_id so re-runs don't overwrite raw artifacts
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): RFC-0009 C — drop generic-verb candidates when a specific symbol is named
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bench): address Codex P2 — microsecond session_id + RunRecord schema field
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/schemas.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): treat quoted generic verbs as explicit symbols (Codex P2 #333)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): treat qualified-method verbs as explicit (Codex P2 #333 re-review)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): invalid facade action errors enumerate the valid actions
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: single-source constants.EXCLUDE_DIRS for vendored/cache dir exclusion
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(mcp): surface the reactive-push + edges_by_kind differentiators
  README.md
  tests/e2e/test_mcp_smoke.py
  tests/unit/mcp/test_server_helpers.py
  tree_sitter_analyzer/mcp/_server_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bench): per-invocation session_id so re-runs don't overwrite raw artifacts (#332)
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/schemas.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): bound project overview output so large repos do not emit a wall of text
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_sitemap.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): enumerate valid modes in inner-tool mode-validation errors
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_mode_error_enumeration.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/ast_path_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/complexity_heatmap_tool.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/mcp/utils/error_handler.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): robust explicit-symbol detection for generic-verb filter (Codex P2 #333, 3rd round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): also treat slash-qualified generic verbs as explicit (Codex P2 #333, 4th round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): invalid facade action errors enumerate the valid actions (#334)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: single-source constants.EXCLUDE_DIRS for vendored/cache dir exclusion (#335)
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(mcp): surface the reactive-push + edges_by_kind differentiators (#336)
  README.md
  tests/e2e/test_mcp_smoke.py
  tests/unit/mcp/test_server_helpers.py
  tree_sitter_analyzer/mcp/_server_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): flag max_files truncation + validate budgets (Codex P2 + reviewer P3s #337)
  tests/unit/test_codegraph_sitemap.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): count explicitly-named tokens as filter anchors (Codex P2 #333, 5th round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add concrete tracker to new Windows skipif reasons (Codex P1 #337)
  tests/unit/test_codegraph_sitemap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): bound project overview output so large repos do not emit a wall of text (#337)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_sitemap.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): drop '/' as a symbol qualifier — file paths must not anchor (Codex P2 #333, 6th round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): exclude file-path components from anchor detection (Codex P2 #333, 7th round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

style: ruff format (RFC-0009 C path-exclusion)
  tests/unit/test_codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mcp): recognise Windows path separators in path-fragment exclusion (Codex P2 #333, 8th round)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): fuzzy 'did you mean' suggestion on invalid facade action
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: correct pyproject description — 8 facade tools, drop disproven benchmark claim
  pyproject.toml
  tests/integration/docs/test_pyproject_description_truth.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

feat(mcp): RFC-0009 C — drop generic-verb candidates when a specific symbol is named (#333)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): sync ROADMAP + RFC statuses to shipped code reality
  rfcs/0008-multilang-method-classification.md
  rfcs/0009-nav-context-self-sufficiency.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(readme): align feature table + quick-start to the 8 facade tools
  README.md
  README_ja.md
  README_zh.md
  tests/integration/docs/test_readme_structure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(bench): capture cache/cost columns + a pre-flight live-setup gate
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/schemas.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): Python 3.10 tomllib fallback to tomli (Codex P1 #339)
  tests/integration/docs/test_pyproject_description_truth.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): fuzzy 'did you mean' suggestion on invalid facade action (#338)
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
