Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

Disable generate_format_report.py step in format-validation workflow - script does not exist
  .github/workflows/format-validation.yml
Due: check-yaml-local

Fix format specification compliance tests
  import_test.txt
  test_import.py
  test_output.txt
  tests/format_testing/specification_compliance_tests.py
  tests/test_format_regression_v1_6_1_4.py
  tree_sitter_analyzer/formatters/legacy_formatter_adapters.py
  tree_sitter_analyzer/legacy_table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix JavaScript plugin edge case test
  tests/test_languages/test_javascript_plugin_edge_cases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix format contract tests - regex and overloaded method handling
  tests/format_testing/format_contract_tests.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix format validation workflow - disable non-existent scripts
  .github/workflows/format-validation.yml
Due: check-yaml-local

Disable additional non-existent format validation scripts
  .github/workflows/format-validation.yml
Due: check-yaml-local

Fix flaky test: Reset current_package in JavaPlugin cache reset
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.5: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Add missing format testing scripts for CI/CD workflow
  .pre-commit-config.yaml
  tests/format_testing/cross_version_compatibility.py
  tests/format_testing/format_monitor.py
  tests/format_testing/generate_compatibility_report.py
  tests/format_testing/update_baselines.py
  tests/format_testing/validate_golden_masters.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

feat: implement comprehensive format testing strategy (OpenSpec)
  .pre-commit-config.yaml
  generate_golden_masters.py
  openspec/changes/implement-comprehensive-format-testing-strategy/IMPLEMENTATION_SUMMARY.md
  openspec/changes/implement-comprehensive-format-testing-strategy/tasks.md
  test_output.md
  tests/format_testing/format_assertions.py
  tests/format_testing/integration_tests.py
  tests/mcp/test_tools/test_table_format_tool.py
  tests/test_format_regression_v1_6_1_4.py
  tree_sitter_analyzer/formatters/legacy_formatter_adapters.py
  tree_sitter_analyzer/legacy_table_formatter.py
  tree_sitter_analyzer/mcp/tools/table_format_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: correct regex patterns in format contract tests
  .pre-commit-config.yaml
  tests/format_testing/format_contract_tests.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix: Java interface/enum type recognition and enum member extraction
  .gitignore
  .roo/mcp.json
  CHANGELOG.md
  docs/testing-guide.md
  scripts/update_golden_masters.py
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/javascript_class_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/java_bigservice_csv.md
  tests/golden_masters/csv/java_sample_csv.md
  tests/golden_masters/csv/javascript_class_csv.md
  tests/golden_masters/csv/python_sample_csv.md
  tests/golden_masters/csv/typescript_enum_csv.md
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/javascript_class_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/typescript_enum_full.md
  tests/test_data/test_class.js
  tests/test_data/test_class.py
  tests/test_data/test_enum.ts
  tests/test_golden_master_regression.py
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/formatters/java_formatter.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Normalize line endings in golden master tests
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: Update README statistics (tests: )
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: Improve output normalization for golden master tests
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: Improve diff output for golden master test failures
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Normalize Python parameter names in golden master tests
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Release v1.9.6: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Improve import display and package detection for Java and Python
  generate_golden_masters.py
  tests/golden_masters/compact/java_sample_multiclass_compact.md
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/csv/java_sample_csv.csv
  tests/golden_masters/csv/java_sample_multiclass_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/java_sample_multiclass_full.md
  tests/golden_masters/full/javascript_class_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/typescript_enum_full.md
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/core/engine.py
  tree_sitter_analyzer/formatters/java_formatter.py
  tree_sitter_analyzer/formatters/python_formatter.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.7: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix: Add write permissions to format-regression-testing workflow
  .github/workflows/format-regression-testing.yml
Due: check-yaml-local

Fix: Enable format-monitoring on both main and develop branches
  .github/workflows/format-regression-testing.yml
Due: check-yaml-local

fix: Improve package extraction and title generation for better golden masters
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/javascript_class_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/javascript_class_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/sql_sample_database_full.md
  tests/golden_masters/full/typescript_enum_full.md
  tree_sitter_analyzer/cli/commands/table_command.py
  tree_sitter_analyzer/table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Update SQL golden masters with improved index information
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/full/sql_sample_database_full.md
Due: none

docs: Update CHANGELOG and tasks.md for fix-command-formatter-coupling
  CHANGELOG.md
  openspec/changes/fix-command-formatter-coupling/tasks.md
Due: none

docs: Update tasks.md to READY FOR INTEGRATION status
  openspec/changes/fix-command-formatter-coupling/tasks.md
Due: none

docs: Add completion summary for archival
  openspec/changes/fix-command-formatter-coupling/COMPLETION_SUMMARY.md
Due: none

chore: Archive fix-command-formatter-coupling to archive/
  openspec/changes/archive/fix-command-formatter-coupling/COMPLETION_SUMMARY.md
  openspec/changes/archive/fix-command-formatter-coupling/IMPLEMENTATION_SUMMARY.md
  openspec/changes/archive/fix-command-formatter-coupling/ISOLATION_DESIGN.md
  openspec/changes/archive/fix-command-formatter-coupling/README_zh.md
  openspec/changes/archive/fix-command-formatter-coupling/design.md
  openspec/changes/archive/fix-command-formatter-coupling/proposal.md
  openspec/changes/archive/fix-command-formatter-coupling/specs/explicit-formatter-selection/spec.md
  openspec/changes/archive/fix-command-formatter-coupling/tasks.md
Due: none

docs: Add closure note for improve-language-formatter-isolation
  openspec/changes/improve-language-formatter-isolation/CLOSURE_NOTE.md
Due: none

chore: Archive all completed OpenSpec changes
  openspec/changes/archive/add-sql-language-support/design.md
  openspec/changes/archive/add-sql-language-support/proposal.md
  openspec/changes/archive/add-sql-language-support/specs/sql-language-support/spec.md
  openspec/changes/archive/add-sql-language-support/tasks.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/design.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/design_ja.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/proposal.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/proposal_ja.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/specs/format-restoration/spec.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/specs/format-restoration/spec_ja.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/tasks.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/tasks_ja.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/v1.6.1.4-format-specification.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/v1.9.4-implementation-gaps.md
  openspec/changes/archive/fix-analyze-code-structure-format-regression/validation.md
  openspec/changes/archive/fix-golden-master-regression/INDEX.md
  openspec/changes/archive/fix-golden-master-regression/README.md
  openspec/changes/archive/fix-golden-master-regression/README_zh.md
  openspec/changes/archive/fix-golden-master-regression/VALIDATION_SUMMARY.md
  openspec/changes/archive/fix-golden-master-regression/design.md
  openspec/changes/archive/fix-golden-master-regression/proposal.md
  openspec/changes/archive/fix-golden-master-regression/specs/golden-master-title-format/spec.md
  openspec/changes/archive/fix-golden-master-regression/tasks.md
  openspec/changes/archive/fix-golden-master-regression/validation.md
  openspec/changes/archive/fix-java-annotation-method-query/proposal.md
  openspec/changes/archive/fix-java-annotation-method-query/specs/java-query-fix/spec.md
  openspec/changes/archive/fix-java-annotation-method-query/tasks.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/IMPLEMENTATION_SUMMARY.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/design.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/proposal.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/tasks.md
  openspec/changes/archive/improve-language-formatter-isolation/CLOSURE_NOTE.md
  openspec/changes/archive/improve-language-formatter-isolation/design.md
  openspec/changes/archive/improve-language-formatter-isolation/proposal.md
  openspec/changes/archive/improve-language-formatter-isolation/tasks.md
  openspec/changes/archive/integrate-v1-6-1-x-releases/proposal.md
  openspec/changes/archive/integrate-v1-6-1-x-releases/tasks.md
Due: none

test: Update Python title format test to match improvements
  tests/test_cli_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Update Python formatter and tests for improved title format
  openspec/changes/update-tests-for-format-improvements/proposal.md
  tests/test_formatters/test_python_formatter_comprehensive.py
  tree_sitter_analyzer/formatters/python_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: Skip tests for unimplemented features
  .pre-commit-config.yaml
  tests/format_testing/specification_compliance_tests.py
  tests/test_cli_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

test: Skip outdated format contract tests
  tests/format_testing/format_contract_tests.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Improve SQL analyzer index and trigger name extraction
  test_sql_extraction.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: Update all Golden Masters with improved formatters
  scripts/update_golden_masters.py
  tests/golden_masters/csv/python_sample_csv.md
  tests/golden_masters/csv/sql_sample_database_csv.md
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

chore: Clean up obsolete and misplaced Golden Master files
  tests/golden_masters/compact/java_sample_multiclass_compact.md
  tests/golden_masters/csv/java_bigservice_csv.md
  tests/golden_masters/csv/java_sample_csv.md
  tests/golden_masters/csv/java_sample_multiclass_csv.csv
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/golden_masters/full/golden_master_python_compact.md
  tests/golden_masters/full/golden_master_python_csv.md
  tests/golden_masters/full/golden_master_python_full.md
  tests/golden_masters/full/java_sample_multiclass_full.md
Due: none

fix: Fix 9 test failures in one batch
  tests/test_cli_regression.py
  tests/test_formatters/test_sql_formatters.py
  tests/test_languages/test_sql_plugin.py
  tests/test_sql_formatters.py
  tests/test_table_formatter.py
  tree_sitter_analyzer/formatters/python_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
