Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix: compare compatible Windows pytest config timestamps (#1439)
  tests/unit/test_change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/verification_pytest_config.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Prepare release v1.30.0
  CHANGELOG.md
  README.es-ES.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: restore claim-registry-safe wording in README_ja.md/README_zh.md
  README_ja.md
  README_zh.md
Due: none

feat(pulse): resolve reverse-import context for TypeScript/JavaScript
  tests/unit/api/test_pulse_typescript_imported_by.py
  tests/unit/synapse_resolver/test_typescript_imports.py
  tests/unit/synapse_resolver/test_typescript_module_resolution.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
  tree_sitter_analyzer/synapse_resolver/_typescript_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(pulse): normalize backslash paths platform-independently in specifier resolver
  tree_sitter_analyzer/synapse_resolver/_typescript_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(pulse): reverse-import context for TypeScript/JavaScript (#1441)
  tests/unit/api/test_pulse_typescript_imported_by.py
  tests/unit/synapse_resolver/test_typescript_imports.py
  tests/unit/synapse_resolver/test_typescript_module_resolution.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
  tree_sitter_analyzer/synapse_resolver/_typescript_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Prepare release v1.31.0
  CHANGELOG.md
  pyproject.toml
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add pulse imported_by chain audit and archive 2026-09 value audit
  docs/pulse-imported-by-audit-2026-09.md
  docs/value-audit-2026-09.md
Due: none

fix(pulse): degrade over-limit enrichment and mark imports graph availability
  tests/unit/api/test_pulse.py
  tests/unit/api/test_pulse_serialization.py
  tree_sitter_analyzer/api/_pulse_models.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/serialization.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add pulse imported_by chain audit and archive 2026-09 value audit (#1443)
  docs/pulse-imported-by-audit-2026-09.md
  docs/value-audit-2026-09.md
Due: none

fix(pulse): degrade over-limit enrichment and mark imports graph availability (#1446)
  tests/unit/api/test_pulse.py
  tests/unit/api/test_pulse_serialization.py
  tree_sitter_analyzer/api/_pulse_models.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/serialization.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(pulse): cache python importers map with content stamps
  tests/unit/api/test_pulse.py
  tests/unit/api/test_pulse_import_cache.py
  tree_sitter_analyzer/api/pulse.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(pulse): cache python importers map with content stamps (#1447)
  tests/unit/api/test_pulse.py
  tests/unit/api/test_pulse_import_cache.py
  tree_sitter_analyzer/api/pulse.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): honor .gitignore when discovering index candidates
  tests/unit/test_index_candidate_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/ignore_rules.py
  tree_sitter_analyzer/index_candidate_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(auto-index): record that symbol search must not auto-warm
  tree_sitter_analyzer/mcp/utils/auto_index_guard.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(listing): version the published description and gate its claims
  docs/repository-listing.md
  server.json
  tests/governance/test_repository_listing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix(index): describe action=auto by its real parameters
  tree_sitter_analyzer/mcp/tools/index_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Prepare release v1.32.0
  CHANGELOG.md
  pyproject.toml
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(callers): declare completeness instead of implying absence
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/tools/test_callers_completeness.py
  tree_sitter_analyzer/_ast_cache_graph_mixin.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cost): declare QueryCost on the three expensive routes (RFC-0027 L6.2)
  rfcs/0027-agent-secretary-and-calibration.md
  tests/unit/test_query_cost.py
  tree_sitter_analyzer/cache/query_cost.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rfc-0028): gate §1 on a hand-checked undecidable corpus
  tests/benchmarks/claims/test_completeness_honesty_ratchet.py
  tests/benchmarks/claims/test_unknown_rate_ratchet.py
  tests/fixtures/call_graph/undecidable_project/callers.py
  tests/fixtures/call_graph/undecidable_project/dynamic.py
  tests/fixtures/call_graph/undecidable_project/plugins.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(callers): gate completeness on the declaring file (RFC-0028 §1.2)
  rfcs/0028-measuring-claimed-properties.md
  rfcs/ROADMAP-no1-agent-trust.md
  tests/benchmarks/claims/test_completeness_honesty_ratchet.py
  tree_sitter_analyzer/_ast_cache_graph_mixin.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rfc-0028): add the §3.1 registered-surface reachability gate
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/test_registered_surface_reachability.py
  tests/unit/mcp/test_tool_dispositions.py
  tree_sitter_analyzer/mcp/tool_dispositions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rfc-0028): gate next_step routability, and make "removed" checkable
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/test_next_step_routability.py
  tree_sitter_analyzer/mcp/facade_map.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rfc-0028): assert §3.1's zero-caller signal is a hard binary
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/test_registered_surface_reachability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(import-graph): delete the unreachable text-sniff JS arm
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/test_dispatch_reachability.py
  tree_sitter_analyzer/import_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rfc-0028): measure the unknown rate instead of restating it
  rfcs/0028-measuring-claimed-properties.md
  tests/benchmarks/claims/test_unknown_rate_ratchet.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(rfc-0028): derive the first-party gate inventory from the config
  rfcs/0028-measuring-claimed-properties.md
  tests/governance/test_first_party_gate_inventory.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(rfc-0028): enumerate the marker-driven gates from the workflow YAML
  rfcs/0028-measuring-claimed-properties.md
  tests/governance/test_workflow_marker_sets.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: add organism vision and reflex-arc proposal (proposed RFC-0030)
  docs/organism-vision-reflex-arc.md
Due: none

fix(callers): stop certifying an empty list over counted module-level callers
  tests/unit/mcp/tools/test_callers_completeness.py
  tree_sitter_analyzer/_ast_cache_graph_mixin.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(gates): anchor two first-party gates to the repo root and add self-checks
  scripts/check_ps_ascii.py
  scripts/check_test_encoding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc-0028): correct the section 3.2 gate scope against the actual config
  rfcs/0028-measuring-claimed-properties.md
Due: none

test(gates): run every gate self-check from a non-root cwd
  tests/governance/test_gate_self_checks.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(callers): answer completeness wherever it is computable, and stop gating files on builtin receivers
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/tools/test_callers_completeness.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(gates): give the remaining three local gates a self-check and run all six
  rfcs/0028-measuring-claimed-properties.md
  scripts/check-local-artifacts.sh
  scripts/check-test-file-names.sh
  scripts/check_loose_assertions.py
  tests/governance/test_gate_self_checks.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(gates): replace three lower-bound guards with exact assertions
  tests/benchmarks/claims/test_unknown_rate_ratchet.py
  tests/governance/test_first_party_gate_inventory.py
  tests/governance/test_workflow_marker_sets.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(gates): resolve a usable POSIX shell instead of assuming `bash`
  tests/governance/test_gate_self_checks.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc-0028): reconcile the two independent §3.2 scope corrections
  rfcs/0028-measuring-claimed-properties.md
Due: none

test(rfc-0028): pin the next_step harvest to exact counts
  tests/unit/mcp/test_next_step_routability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
