Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

ci: diagnostic — dump full pytest output on coverage failure
  .github/workflows/reusable-test.yml
Due: check-yaml-local

Revert "ci: diagnostic — dump full pytest output on coverage failure"
  .github/workflows/reusable-test.yml
Due: check-yaml-local

fix(task): close all open RFC-0023 validator review gates (#1269 follow-up) (#1271)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record No.1 takeover and RFC-0023 review closure (#1272)
  STATE.md
Due: none

ci: drop redundant quick gate, split test step timeouts (#1270)
  .github/workflows/reusable-test.yml
Due: check-yaml-local

test(languages): remove redundant python plugin coverage file (T-1) (#1273)
  tests/unit/languages/test_python_plugin_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: record merged state and Windows CI debt (dogfood round)
  STATE.md
Due: none

docs: record merged state and Windows CI debt (dogfood round) (#1274)
  STATE.md
Due: none

fix(ci): exempt rfc0022 strace workflow from dependabot action bump
  .github/workflows/rfc0022-linux-write-authority.yml
Due: check-yaml-local

fix(ci): pin uv to 0.12.3 in ci.yml jobs (#1258 follow-up)
  .github/workflows/ci.yml
Due: check-yaml-local

docs: handoff remaining work to next session
  HANDOFF-2026-08-15.md
Due: none

docs: handoff remaining work to next session (#1277)
  HANDOFF-2026-08-15.md
Due: none

fix(constraints): stop Windows CI CONSTRAINT_CONFIG_UNKNOWN/CHANGED flakiness
  tree_sitter_analyzer/mcp/tools/constraint_check_live.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(constraints): stop Windows CI CONSTRAINT_CONFIG_UNKNOWN/CHANGED flakiness (#1278)
  tree_sitter_analyzer/mcp/tools/constraint_check_live.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): pin uv to 0.12.3 in ci.yml jobs (#1258 follow-up) (#1276)
  .github/workflows/ci.yml
Due: check-yaml-local

docs(dogfood): record python self-index differential verification
  docs/dogfood/data/detail.jsonl.gz
  docs/dogfood/data/totals.json
  docs/dogfood/python-self-index-verification.md
Due: check-json-local

docs(dogfood): record python self-index differential verification (#1275)
  docs/dogfood/data/detail.jsonl.gz
  docs/dogfood/data/totals.json
  docs/dogfood/python-self-index-verification.md
Due: check-json-local

test: drop banned-name duplicate test files (T-1 debt)
  tests/integration/cli/test_cli_comprehensive.py
  tests/integration/cli/test_cli_query_exec.py
  tests/unit/cli/test_find_and_grep_cli_comprehensive.py
  tests/unit/cli/test_list_files_cli_comprehensive.py
  tests/unit/cli/test_search_content_cli_comprehensive.py
  tests/unit/formatters/test_javascript_formatter_comprehensive.py
  tests/unit/formatters/test_legacy_table_coverage_format_utils.py
  tests/unit/formatters/test_legacy_table_coverage_platform_header.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(indexing): record future imports and commented paren imports
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/cache/_symbol_rules.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(indexing): record future imports and commented paren imports (#1279)
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/cache/_symbol_rules.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: drop banned-name duplicate test files (T-1 debt) (#1280)
  tests/integration/cli/test_cli_comprehensive.py
  tests/integration/cli/test_cli_query_exec.py
  tests/unit/cli/test_find_and_grep_cli_comprehensive.py
  tests/unit/cli/test_list_files_cli_comprehensive.py
  tests/unit/cli/test_search_content_cli_comprehensive.py
  tests/unit/formatters/test_javascript_formatter_comprehensive.py
  tests/unit/formatters/test_legacy_table_coverage_format_utils.py
  tests/unit/formatters/test_legacy_table_coverage_platform_header.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(indexing): record import statement lines in ast_imports
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/dependency_matrix.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(graph): resolved EXTENDS edges replace generic placeholders
  tests/unit/test_unresolved_refs_cache_parity.py
  tree_sitter_analyzer/cache/unresolved.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(indexing): type _worker_payload imports as dict-or-str entries
  tree_sitter_analyzer/cache/extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(indexing): sync extractor version constant in cache/indexer
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin resolved-extends single-edge behaviour in incremental sync
  tests/unit/test_incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cover non-hierarchy guard in placeholder cleanup
  tests/unit/test_unresolved_refs_cache_parity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(indexing): record import statement lines in ast_imports (#1281)
  tests/unit/test_symbols_json_enrichment.py
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/dependency_matrix.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(graph): resolved EXTENDS edges replace generic placeholders (#1282)
  tests/unit/test_incremental_sync.py
  tests/unit/test_unresolved_refs_cache_parity.py
  tree_sitter_analyzer/cache/unresolved.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(indexing): resolve call edges only from the complete index
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/cache/indexer_io.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(indexing): resolve call edges only from the complete index (#1283)
  tests/unit/test_synapse_resolution.py
  tree_sitter_analyzer/cache/indexer_io.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record dogfood session completion and Windows CI re-analysis
  HANDOFF-2026-08-15.md
Due: none

docs: record dogfood session completion and Windows CI re-analysis (#1284)
  HANDOFF-2026-08-15.md
Due: none

fix(snapshot): make database identity portable across fstat/lstat on Windows
  tree_sitter_analyzer/index_snapshot_capability.py
  tree_sitter_analyzer/mcp/tools/constraint_check_live.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot_faults.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(snapshot): keep st_ino on Windows, exclude only ctime
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot_faults.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(snapshot): make database identity portable across fstat/lstat on Windows (#1285)
  tree_sitter_analyzer/index_snapshot_capability.py
  tree_sitter_analyzer/mcp/tools/constraint_check_live.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot_faults.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: drop assertion-free should-not-raise tests across banned files
  tests/integration/formatters/test_comprehensive_format_validation.py
  tests/unit/core/test_analysis_engine_branch_coverage.py
  tests/unit/core/test_tree_sitter_compat_coverage.py
  tests/unit/formatters/test_cpp_formatter_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_supplement.py
  tests/unit/languages/test_plugins_coverage.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tests/unit/mcp/test_server_comprehensive_tools.py
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/security/test_boundary_manager_coverage.py
  tests/unit/utils/test_encoding_utils_edge_cases.py
  tests/unit/utils/test_logging_coverage.py
  tests/unit/utils/test_path_resolver_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: drop assertion-free should-not-raise tests across banned files (#1286)
  tests/integration/formatters/test_comprehensive_format_validation.py
  tests/unit/core/test_analysis_engine_branch_coverage.py
  tests/unit/core/test_tree_sitter_compat_coverage.py
  tests/unit/formatters/test_cpp_formatter_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_supplement.py
  tests/unit/languages/test_plugins_coverage.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tests/unit/mcp/test_server_comprehensive_tools.py
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/security/test_boundary_manager_coverage.py
  tests/unit/utils/test_encoding_utils_edge_cases.py
  tests/unit/utils/test_logging_coverage.py
  tests/unit/utils/test_path_resolver_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
