Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat(v2): MCP Hello World + Binary Detection (T0.3 & T0.4)
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/cli/__init__.py
  tree_sitter_analyzer/cli/commands/analyze_code_structure_tool.py
  tree_sitter_analyzer/cli/commands/analyze_complexity_tool.py
  tree_sitter_analyzer/cli/commands/analyze_metrics_tool.py
  tree_sitter_analyzer/cli/commands/analyze_performance_tool.py
  tree_sitter_analyzer/cli/commands/analyze_scale_tool.py
  tree_sitter_analyzer/cli/commands/query_tool.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/cache_service.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/core/query.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/models/analysis.py
  tree_sitter_analyzer/models/base.py
  tree_sitter_analyzer/models/markup.py
  tree_sitter_analyzer/plugins/manager.py
  tree_sitter_analyzer/plugins/programming_language_extractor.py
  tree_sitter_analyzer/query_loader.py
  v2/tests/test_binary_detection.py
  v2/tests/test_mcp_server.py
  v2/tree_sitter_analyzer_v2/mcp/__init__.py
  v2/tree_sitter_analyzer_v2/mcp/server.py
  v2/tree_sitter_analyzer_v2/utils/__init__.py
  v2/tree_sitter_analyzer_v2/utils/binaries.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(v2): CI/CD Pipeline + Documentation (T0.5 & T0.6)
  v2/.github/workflows/quality.yml
  v2/.github/workflows/test.yml
  v2/CONTRIBUTING.md
  v2/README.md
  v2/codecov.yml
  v2/docs/conventions.md
  v2/docs/tdd-workflow.md
Due: check-yaml-local

feat(v2): Daily use improvements - encoding fix + CLI simplification
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_TRACKER.md
  .kiro/specs/v2-complete-rewrite/V1_VS_V2_GAP_ANALYSIS.md
  .kiro/specs/v2-complete-rewrite/V2_DAILY_USE_ACTION_PLAN.md
  v2/pyproject.toml
  v2/tree_sitter_analyzer_v2/cli/main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): Fix UTF-8 encoding errors in search_content (Issues #10, #11)
  .kiro/specs/v2-complete-rewrite/CONTINUATION_PROMPT.md
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_QUICK_REF.md
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_TRACKER.md
  .kiro/specs/v2-complete-rewrite/PAINPOINT_FIX_TASKS.md
  .kiro/specs/v2-complete-rewrite/SESSION_20_REAL_USE_DISCOVERY.md
  v2/tests/unit/test_search_engine.py
  v2/tree_sitter_analyzer_v2/search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(v2): Add --summary mode for concise analysis output
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_TRACKER.md
  .kiro/specs/v2-complete-rewrite/TASK_A_SUMMARY_MODE.md
  v2/tests/integration/test_summary_mode.py
  v2/tests/unit/test_summary_formatter.py
  v2/tree_sitter_analyzer_v2/cli/main.py
  v2/tree_sitter_analyzer_v2/formatters/registry.py
  v2/tree_sitter_analyzer_v2/formatters/summary_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(v2): Improve Markdown format readability - remove nested tables
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_TRACKER.md
  .kiro/specs/v2-complete-rewrite/TASK_B_MARKDOWN_FORMAT.md
  v2/tests/unit/test_markdown_readable.py
  v2/tree_sitter_analyzer_v2/formatters/markdown_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(v1): Fix TOON format token duplication issue
  .kiro/specs/v1-v2-separation/TOON_FIX_SUMMARY.md
  .kiro/specs/v1-v2-separation/design.md
  .kiro/specs/v1-v2-separation/progress.md
  .kiro/specs/v1-v2-separation/requirements.md
  .kiro/specs/v1-v2-separation/tasks.md
  .kiro/specs/v2-complete-rewrite/PAINPOINTS_TRACKER.md
  .kiro/specs/v2-complete-rewrite/SESSION_21_FIX_ENCODING_BUGS.md
  .kiro/specs/v2-complete-rewrite/TASK_C_CODE_GRAPH.md
  tree_sitter_analyzer/mcp/utils/format_helper.py
  v2/tests/unit/test_code_graph_queries.py
  v2/tree_sitter_analyzer_v2/graph/queries.py
  v2/tree_sitter_analyzer_v2/utils/output_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(v1): Fix TOON format token duplication - pure TOON output
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Add branch strategy execution status
  .kiro/specs/v1-v2-separation/BRANCH_STRATEGY_STATUS.md
Due: none

style(v2): Apply ruff linting fixes and type annotations
  .pre-commit-config.yaml
  v2/tests/unit/test_code_graph_queries.py
  v2/tree_sitter_analyzer_v2/graph/queries.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pre-commit for V2 - remove missing script hook, fix import check, restore .secrets.baseline
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-yaml-local

docs: mark V2 separation and workspace tasks done in checklist
  .kiro/specs/v1-v2-separation/V2_SEPARATION_TASK.md
Due: none

fix: Update encoding fixtures for Chinese and Japanese text files
  tests/fixtures/encoding_fixtures/chinese_gbk.txt
  tests/fixtures/encoding_fixtures/japanese_shift_jis.txt
Due: none

fix: test output_format and project_detector assertion; encoding_utils log, cpp_formatter cleanup
  tests/unit/cli/test_universal_analyze_tool_comprehensive.py
  tests/unit/cli/test_universal_analyze_tool_coverage.py
  tests/unit/core/test_project_detector.py
  tests/unit/core/test_query_tool_file_output.py
  tests/unit/core/test_suppress_output_feature.py
  tree_sitter_analyzer/encoding_utils.py
  tree_sitter_analyzer/formatters/cpp_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(tests): V2-guided architecture - mcp_tool_json_args fixture, dedup output_format; add ARCHITECTURE_AND_V2_GUIDANCE.md
  tests/ARCHITECTURE_AND_V2_GUIDANCE.md
  tests/conftest.py
  tests/unit/cli/test_universal_analyze_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): use mcp_tool_json_args in comprehensive, suppress_output, query_tool_file_output (V2-guided dedup)
  tests/unit/cli/test_universal_analyze_tool_comprehensive.py
  tests/unit/core/test_query_tool_file_output.py
  tests/unit/core/test_suppress_output_feature.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): use mcp_tool_json_args in core and mcp file_output tests
  tests/unit/core/test_file_output_enhancement.py
  tests/unit/core/test_file_output_optimization.py
  tests/unit/core/test_find_and_grep_tool_file_output.py
  tests/unit/mcp/test_mcp_file_output_feature.py
  tests/unit/mcp/test_mcp_tools_integration.py
  tests/unit/mcp/test_tools/test_analyze_scale_tool.py
  tests/unit/mcp/test_universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Add MCP tool improvements with TDD
  .cursor/mcp.json
  .kiro/specs/v1-v2-separation/MCP_TOOL_EVALUATION.md
  .kiro/specs/v1-v2-separation/V2_IMPROVEMENT_ITEM1_STATUS.md
  CURSOR配置说明.md
  Cursor测试指南.md
  MCP_IMPROVEMENTS_COMPLETED.md
  MCP_IMPROVEMENTS_SUMMARY.md
  README.md
  README_CURSOR.md
  tests/unit/test_find_and_grep_matches.py
  tests/unit/test_search_engine_grouping.py
  tests/unit/test_search_engine_pagination.py
  tree_sitter_analyzer_v2/mcp/__main__.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/find_and_grep.py
  tree_sitter_analyzer_v2/mcp/tools/search.py
  tree_sitter_analyzer_v2/search.py
  修复说明.md
  快速配置.txt
  验证安装.ps1
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

TDD 实现 V2 高优先级功能
  tests/unit/test_search_content_context.py
  tests/unit/test_write_file.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/search.py
  tree_sitter_analyzer_v2/mcp/tools/write.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

TDD 实现 V2 字符串替换工具 (ReplaceInFileTool)
  tests/unit/test_replace_in_file.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/replace.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 1: 添加文件删除和多行匹配支持
  tests/unit/test_delete_file.py
  tests/unit/test_search_multiline.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/delete.py
  tree_sitter_analyzer_v2/mcp/tools/search.py
  tree_sitter_analyzer_v2/search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 2: 批量文件操作工具
  tests/unit/test_batch_operations.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/batch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 3-5: 重构和质量检查工具
  tests/unit/test_code_quality.py
  tests/unit/test_refactor_rename.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/formatter.py
  tree_sitter_analyzer_v2/mcp/tools/linter.py
  tree_sitter_analyzer_v2/mcp/tools/quality.py
  tree_sitter_analyzer_v2/mcp/tools/refactor.py
  tree_sitter_analyzer_v2/mcp/tools/test_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 6-10: 依赖、文档、Git 和项目管理工具
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/dependencies.py
  tree_sitter_analyzer_v2/mcp/tools/documentation.py
  tree_sitter_analyzer_v2/mcp/tools/git_tools.py
  tree_sitter_analyzer_v2/mcp/tools/project.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 11-30: 安全、性能、生成和度量工具
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/generator.py
  tree_sitter_analyzer_v2/mcp/tools/metrics.py
  tree_sitter_analyzer_v2/mcp/tools/performance.py
  tree_sitter_analyzer_v2/mcp/tools/security.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 31-35: 增量分析和缓存工具
  pyproject.toml
  tests/unit/test_incremental.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/incremental.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

迭代 36-50: AI 辅助和协作工具
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/__init__.py
  tree_sitter_analyzer_v2/mcp/tools/ai_assistant.py
  tree_sitter_analyzer_v2/mcp/tools/collaboration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Remove Chinese encoding from all tools
  tree_sitter_analyzer_v2/mcp/tools/ai_assistant.py
  tree_sitter_analyzer_v2/mcp/tools/collaboration.py
  tree_sitter_analyzer_v2/mcp/tools/incremental.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Remove all Chinese comments and docstrings
  tree_sitter_analyzer_v2/mcp/tools/incremental.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Add pagination and timeout configuration to code graph analysis
  tree_sitter_analyzer_v2/mcp/tools/code_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: 实现项目知识图谱系统 - 让Agent瞬间理解项目
  PROJECT_KNOWLEDGE_SYSTEM_COMPLETE.md
  tree_sitter_analyzer_v2/features/cicd_integration.py
  tree_sitter_analyzer_v2/features/doc_generator.py
  tree_sitter_analyzer_v2/features/multilang_support.py
  tree_sitter_analyzer_v2/features/performance_analyzer.py
  tree_sitter_analyzer_v2/features/project_knowledge.py
  tree_sitter_analyzer_v2/features/security_scanner.py
  tree_sitter_analyzer_v2/features/semantic_search.py
  tree_sitter_analyzer_v2/features/tech_debt_tracker.py
  tree_sitter_analyzer_v2/mcp/resources.py
  tree_sitter_analyzer_v2/mcp/server.py
  tree_sitter_analyzer_v2/mcp/tools/refactoring_safety.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: Apply TDD with English comments and flexible config
  tests/scenarios/test_project_knowledge.py
  tree_sitter_analyzer_v2/features/project_knowledge.py
  tree_sitter_analyzer_v2/graph/builder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: prevent false positive project root detection from common home dir files
  tree_sitter_analyzer/project_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: cut 44 non-core tools, keep only 11 tree-sitter/fd/rg tools
  .cursorrules
  .pre-commit-config.yaml
  ISSUES.json
  scripts/cross_analyze.py
  scripts/quality_gate.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/test_mcp_integration.py
  tests/integration/test_mcp_server_registration.py
  tests/integration/test_search_tools.py
  tests/scenarios/__init__.py
  tests/test_mcp_server.py
  tests/unit/__init__.py
  tests/unit/test_mcp_server.py
  tools_audit.json
  tree_sitter_analyzer_v2/mcp/__init__.py
  tree_sitter_analyzer_v2/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(v2): Sprint 4-6 architecture improvements from expert review
  v2/tests/unit/test_architecture_sprint456.py
  v2/tree_sitter_analyzer_v2/core/call_extractor_registry.py
  v2/tree_sitter_analyzer_v2/core/code_map/scanner.py
  v2/tree_sitter_analyzer_v2/core/config.py
  v2/tree_sitter_analyzer_v2/core/language_registry.py
  v2/tree_sitter_analyzer_v2/core/parser_registry.py
  v2/tree_sitter_analyzer_v2/core/types.py
  v2/tree_sitter_analyzer_v2/formatters/registry.py
  v2/tree_sitter_analyzer_v2/graph/__init__.py
  v2/tree_sitter_analyzer_v2/languages/java_constants.py
  v2/tree_sitter_analyzer_v2/languages/java_parser.py
  v2/tree_sitter_analyzer_v2/languages/python_parser.py
  v2/tree_sitter_analyzer_v2/languages/typescript_parser.py
  v2/tree_sitter_analyzer_v2/mcp/server.py
  v2/tree_sitter_analyzer_v2/mcp/tools/base.py
  v2/tree_sitter_analyzer_v2/mcp/tools/code_graph.py
  v2/tree_sitter_analyzer_v2/mcp/tools/extract.py
  v2/tree_sitter_analyzer_v2/mcp/tools/intelligence.py
  v2/tree_sitter_analyzer_v2/mcp/tools/registry.py
  v2/tree_sitter_analyzer_v2/mcp/tools/types.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(v2): Add data-driven LanguageProfile system + 4 new languages (Go/Rust/C/C++)
  .kiro/specs/language-profile-adapter/design.md
  .kiro/specs/language-profile-adapter/requirements.md
  .kiro/specs/language-profile-adapter/tasks.md
  v2/pyproject.toml
  v2/tests/fixtures/analyze_fixtures/sample.go
  v2/tests/fixtures/analyze_fixtures/sample.rs
  v2/tests/fixtures/analyze_fixtures/sample_c.c
  v2/tests/integration/test_mcp_server_registration.py
  v2/tests/test_mcp_server.py
  v2/tests/unit/test_generic_parser.py
  v2/tests/unit/test_java_graph_builder.py
  v2/tree_sitter_analyzer_v2/core/language_registry.py
  v2/tree_sitter_analyzer_v2/core/parser.py
  v2/tree_sitter_analyzer_v2/core/types.py
  v2/tree_sitter_analyzer_v2/languages/generic_parser.py
  v2/tree_sitter_analyzer_v2/languages/profiles.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
