Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(install): harden offline bootstrap qualification
  README.md
  install.sh
  scripts/qualify_fresh_install.py
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): add zero-cost trust rehearsal
  benchmarks/codegraph_compare/production_rehearsal.py
  tests/unit/test_production_rehearsal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): define edge evidence contract
  rfcs/0023-edge-evidence-confidence-freshness.md
  rfcs/fixtures/edge-evidence-v1-generated-rule-registry.json
  rfcs/fixtures/edge-evidence-v1-golden.json
  rfcs/fixtures/edge-evidence-v1-negative.json
  rfcs/fixtures/edge-evidence-v1-stable-sort-base.json
  rfcs/schemas/edge-evidence-v1.schema.json
  tests/contracts/test_edge_evidence_rfc_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

docs(rfc): draft task outcome APIs
  rfcs/0022-task-outcome-apis.md
Due: none

fix(install): preserve symlinks and terminate on signals
  install.sh
  tests/unit/cli/test_install_skills.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(benchmarks): add zero-cost trust rehearsal (#1234)
  benchmarks/codegraph_compare/production_rehearsal.py
  tests/unit/test_production_rehearsal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): close task outcome review gaps
  rfcs/0022-task-outcome-apis.md
Due: none

docs(rfc): close edge evidence semantic gaps
  rfcs/0023-edge-evidence-confidence-freshness.md
  rfcs/fixtures/edge-evidence-v1-generated-rule-registry.json
  rfcs/fixtures/edge-evidence-v1-index-status.json
  rfcs/fixtures/edge-evidence-v1-negative.json
  rfcs/fixtures/edge-evidence-v1-stable-sort-base.json
  rfcs/schemas/edge-evidence-v1.schema.json
  tests/contracts/test_edge_evidence_rfc_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test(install): scope symlink contract to shell platforms
  tests/unit/cli/test_install_skills.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): close second task outcome review
  rfcs/0022-task-outcome-apis.md
Due: none

fix: harden installer version probes
  install.sh
  scripts/qualify_fresh_install.py
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): bind edge evidence authorities
  rfcs/0023-edge-evidence-confidence-freshness.md
  rfcs/fixtures/edge-evidence-v1-generated-rule-registry.json
  rfcs/fixtures/edge-evidence-v1-negative.json
  rfcs/schemas/edge-evidence-v1.schema.json
  tests/contracts/test_edge_evidence_rfc_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test(install): scope shell contracts off Windows
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_install_skills.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): draft task outcome APIs (#1235)
  rfcs/0022-task-outcome-apis.md
Due: none

test(install): allow loaded runners to observe timeout
  tests/contracts/test_fresh_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(trust): govern claims and language support
  .secrets.baseline
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/claim_registry.json
  benchmarks/codegraph_compare/claim_registry.py
  benchmarks/codegraph_compare/claim_registry.schema.json
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/languages.md
  docs/language-support-inventory.json
  scripts/generate_language_support_inventory.py
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/test_claim_registry.py
  tests/unit/test_import_extractors.py
  tests/unit/test_route_detector_tool.py
  tree_sitter_analyzer/import_extractors/__init__.py
  tree_sitter_analyzer/language_inventory.py
  tree_sitter_analyzer/route_detector/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): define edge evidence contract (#1236)
  rfcs/0023-edge-evidence-confidence-freshness.md
  rfcs/fixtures/edge-evidence-v1-generated-rule-registry.json
  rfcs/fixtures/edge-evidence-v1-golden.json
  rfcs/fixtures/edge-evidence-v1-index-status.json
  rfcs/fixtures/edge-evidence-v1-negative.json
  rfcs/fixtures/edge-evidence-v1-stable-sort-base.json
  rfcs/schemas/edge-evidence-v1.schema.json
  tests/contracts/test_edge_evidence_rfc_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

docs(readme): preserve Python prerequisite command
  README.md
Due: none

fix(install): terminate timed-out probe trees
  install.sh
  scripts/qualify_fresh_install.py
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(doctor): escalate surviving probe groups
  tests/unit/cli/test_doctor_command.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(claims): allow exact Python prerequisite probe
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(doctor): keep process-tree mocks portable
  tests/unit/cli/test_doctor_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(install): clean up interrupted probes
  install.sh
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(install): scope POSIX signal contracts
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(install): harden offline bootstrap qualification (#1233)
  README.md
  install.sh
  scripts/qualify_fresh_install.py
  tests/contracts/test_fresh_install_qualification.py
  tests/unit/cli/test_doctor_command.py
  tests/unit/cli/test_install_skills.py
  tree_sitter_analyzer/cli/commands/doctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(roadmap): establish No1 agent trust program
  LOOP.md
  STATE.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

fix(trust): require independent claim evidence
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/claim_registry.py
  benchmarks/codegraph_compare/e4_evidence.py
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/languages.md
  docs/language-support-inventory.json
  scripts/generate_language_support_inventory.py
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/test_claim_registry.py
  tests/unit/test_route_detector_go.py
  tree_sitter_analyzer/language_inventory.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): close README claim scanner bypasses
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close Codex trust review gaps
  .secrets.baseline
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/claim_registry.json
  benchmarks/codegraph_compare/claim_registry.py
  benchmarks/codegraph_compare/claim_registry.schema.json
  benchmarks/codegraph_compare/e4_evidence.py
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/language-support-inventory.json
  scripts/generate_language_support_inventory.py
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/test_claim_registry.py
  tree_sitter_analyzer/language_inventory.py
  tree_sitter_analyzer/route_detector/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): close localized claim scanner gaps
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(trust): govern claims and language support (#1237)
  .secrets.baseline
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/claim_registry.json
  benchmarks/codegraph_compare/claim_registry.py
  benchmarks/codegraph_compare/claim_registry.schema.json
  benchmarks/codegraph_compare/e4_evidence.py
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/languages.md
  docs/language-support-inventory.json
  scripts/generate_language_support_inventory.py
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/test_claim_registry.py
  tests/unit/test_import_extractors.py
  tests/unit/test_route_detector_go.py
  tests/unit/test_route_detector_tool.py
  tree_sitter_analyzer/import_extractors/__init__.py
  tree_sitter_analyzer/language_inventory.py
  tree_sitter_analyzer/route_detector/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(roadmap): align E4 completion boundary
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs(roadmap): reconcile evidence and dependency state
  LOOP.md
  STATE.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs(roadmap): establish No.1 agent trust program (#1238)
  LOOP.md
  STATE.md
  rfcs/README.md
  rfcs/ROADMAP-beyond-codegraph.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

feat: add native wheel MCP qualification foundation
  .github/workflows/native-install-qualification.yml
  pyproject.toml
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/qualify_native_install.py
  tests/contracts/test_native_install_qualification.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden native qualification trust boundary
  .github/workflows/native-install-qualification.yml
  pyproject.toml
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_native_install_qualification.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tree_sitter_analyzer/mcp/_sdk_compat.py
  tree_sitter_analyzer/mcp/server.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close native qualification trust gaps
  .github/workflows/native-install-qualification.yml
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_native_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: independently verify native install bytes
  .github/workflows/native-install-qualification.yml
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_native_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: rescan late native qualification descendants
  scripts/native_qualification_lib.py
  tests/contracts/test_native_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): bootstrap native manifest dependencies
  .github/workflows/native-install-qualification.yml
  tree_sitter_analyzer/mcp/_sdk_compat.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
