Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(mcp): re-export missing helper functions and fix SecurityValidator import path
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): re-export _resolve_extends/_resolve_implements from get_code_outline_tool
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): Phase 3 — MCP tool layer consolidation (#1126)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  reports/mcp-dead-code.json
  scripts/audit_mcp_line_length.py
  scripts/audit_mcp_reachability.py
  scripts/update_facade_snapshots.py
  tests/contracts/snapshots/mcp_facade_input_schema.json
  tests/contracts/test_mcp_facade_schema_contract.py
  tests/integration/core/test_analyze_scale_tool_cli_compatible.py
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/test_numeric_param_coercion.py
  tests/unit/mcp/test_search_content_file_in_roots.py
  tests/unit/mcp/test_symbol_lineage_tool.py
  tests/unit/mcp/test_tools/test_analyze_scale_tool_cli_compat_unit.py
  tests/unit/mcp/test_trace_no_duplicate_results_array.py
  tests/unit/mcp/test_unreachable_code_tool.py
  tests/unit/mcp/tools/test_list_files_path_alias.py
  tests/unit/test_codegraph_refactor_tool.py
  tests/unit/test_fts_fast_path.py
  tests/unit/test_middleware_detector.py
  tree_sitter_analyzer/mcp/tools/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool_cli_compatible.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/middleware_detector_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
  tree_sitter_analyzer/mcp/tools/utils/codegraph_context_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/codegraph_context_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/lineage_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/lineage_graph_builder.py
  tree_sitter_analyzer/mcp/tools/utils/outline_enrichers.py
  tree_sitter_analyzer/mcp/tools/utils/outline_extractors.py
  tree_sitter_analyzer/mcp/tools/utils/scale_guidance_builder.py
  tree_sitter_analyzer/mcp/tools/utils/scale_structural_extractor.py
  tree_sitter_analyzer/mcp/tools/utils/trace_impact_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/trace_impact_graph_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: Phase 4 — benchmark harness and CI regression gate (#1127)
  .github/workflows/benchmarks.yml
  benchmarks/README.md
  scripts/benchmark.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): Phase 5 — Claude Code hooks installer (#1128)
  .claude/hooks/on-file-edit.sh
  .claude/hooks/pre-edit-impact.sh
  .claude/settings.json
  scripts/install_hooks.sh
Due: check-json-local

fix(tests): correct stale module paths after #1123 namespace cleanup
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/test_health_scorer_helpers_encoding.py
  tree_sitter_analyzer/exceptions/__init__.py.new
  tree_sitter_analyzer/registry/health_scorer_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(anti-patterns): add explicit encoding=''utf-8'' to read_text
  tests/unit/mcp/tools/utils/test_anti_patterns_encoding.py
  tree_sitter_analyzer/mcp/tools/utils/anti_patterns.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): strengthen weak assertions to pass ratchet CI gate
  tests/unit/mcp/tools/utils/test_anti_patterns_encoding.py
  tests/unit/test_health_scorer_helpers_encoding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): address codex review P1/P2 — tracking ref and T-1 consolidation
  tests/unit/mcp/tools/test_r37au_ap001_constructor_kwarg_suppression.py
  tests/unit/mcp/tools/utils/test_anti_patterns_encoding.py
  tests/unit/test_health_scorer_helpers_encoding.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: fix class name (CodeAnalyzer→UnifiedAnalysisEngine) and add missing entry points in cli.md
  docs/CODEMAPS/cli.md
  docs/architecture.md
Due: none

docs: fix recovery flag, language count, CLI flag count, and env-var description
  README.md
  docs/installation.md
Due: none

docs: align AGENTS.md pytest session-timeout with pytest.ini
  AGENTS.md
Due: none

test(language-detector): consolidate 56 oversplit cases into parametrized matrices
  tests/unit/core/test_language_detector_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(integration): dedup user-story-3 temp_project fixture into conftest
  tests/integration/mcp/conftest.py
  tests/integration/mcp/test_user_story_3_extract_integration.py
  tests/integration/mcp/test_user_story_3_query_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(integration): remove dead format_monitor stub
  tests/integration/formatters/format_monitor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(readme): keep CLI flag count at 319 to match registry
  README.md
Due: none

chore: remove dead root-level debris and fix format drift
  analyze_coverage.py
  analyze_coverage_json.py
  analyze_specific_sql.py
  coverage_report.txt
  debug_async_test.py
  diagnose_coverage.py
  diagnose_coverage_sync.py
  fix_indentation.py
  generate_golden_masters.py
  get_all_low_coverage.py
  profile_analysis.py
  profile_results.txt
  profile_results_improved.txt
  pytest_out.txt
  regenerate_with_normalization.py
  run_coverage.py
  tests/output.toon
  tests/unit/core/test_language_detector_extended.py
  tests/unit/mcp/tools/test_r37au_ap001_constructor_kwarg_suppression.py
  tests/unit/test_health_scorer_helpers_encoding.py
  tree_sitter_analyzer/mypy_current_errors.txt
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): land RFC-0018 on develop; index RFC-0018/0019
  rfcs/0018-response-envelope-normalization-and-adaptive-toon.md
  rfcs/README.md
Due: none

docs(rfc): triage Codex review on #1136 — fix all 5 P2 findings
  rfcs/0018-response-envelope-normalization-and-adaptive-toon.md
Due: none

feat(install): add install.sh, --doctor command, and README Quick Start improvements
  README.md
  README_ja.md
  README_zh.md
  install.sh
  pyproject.toml
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/cli/commands/doctor.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(docs): trim README to under 500 lines and switch install.sh to English
  README.md
  README_ja.md
  README_zh.md
  install.sh
Due: none

test(doctor): add unit tests for --doctor command (patch coverage gate)
  tests/unit/cli/test_doctor_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(release): bump version to 1.29.0 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): sync [tool.mcp] server_version to 1.29.0
  pyproject.toml
Due: check-toml-local

docs(spec): add SVCD dogfood system design spec
  docs/superpowers/specs/2026-07-08-svcd-dogfood-system-design.md
Due: none

feat: add SVCD claim invariant suite + dogfood CI workflows
  .github/workflows/dogfood-pr-check.yml
  .github/workflows/dogfood-sprint.yml
  scripts/check_loose_assertions.py
  scripts/dogfood_sprint.py
  tests/benchmarks/claims/__init__.py
  tests/benchmarks/claims/conftest.py
  tests/benchmarks/claims/test_390x_miswire_claim.py
  tests/benchmarks/claims/test_96pct_classification.py
  tests/benchmarks/claims/test_bm25_ranking_invariant.py
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/benchmarks/claims/test_safety_layers_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: ruff lint errors in claims tests + dogfood script
  scripts/dogfood_sprint.py
  tests/benchmarks/claims/conftest.py
  tests/benchmarks/claims/test_390x_miswire_claim.py
  tests/benchmarks/claims/test_96pct_classification.py
  tests/benchmarks/claims/test_bm25_ranking_invariant.py
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/benchmarks/claims/test_safety_layers_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Refine dogfood sprint checks
  .github/workflows/dogfood-pr-check.yml
  .github/workflows/dogfood-sprint.yml
  scripts/dogfood_sprint.py
  tests/benchmarks/claims/test_390x_miswire_claim.py
  tests/benchmarks/claims/test_96pct_classification.py
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/unit/test_dogfood_sprint.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(test): add quarantine marker for flaky/slow tests
  pytest.ini
  tests/conftest.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/unit/test_route_detector_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: split uml_state and ast_cache index orchestration
  tree_sitter_analyzer/_uml_state_helpers.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/uml_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: re-export _EXT_TO_LANG from ast_cache for back-compat
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: restore _post_index_backfill delegate on ASTCache
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove slow marker from route-cache PERF-1 guard
  tests/unit/test_route_detector_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): quarantine + timeout(120) + Windows budget for eval_perf test
  tests/unit/test_constraint_dsl.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(docs): reconcile 124x/390x mis-wire ratio methodology across README/GAUNTLET/REPORT
  README.md
  benchmarks/codegraph_compare/GAUNTLET.md
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

fix(docs): correct stale Wave 2 language resolver status in ROADMAP-beyond-codegraph.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(guidelines): prohibit unattributable 6.2/12 skills score in published content
  docs/CONTENT_GUIDELINES.md
  docs/README.md
Due: none

docs(articles): restore competitor shootout as docs/articles/ast-oracle-shootout.md
  docs/articles/ast-oracle-shootout.md
Due: none

test(benchmarks): update claims tests with re-verified mis-wire multipliers
  tests/benchmarks/claims/test_390x_miswire_claim.py
  tests/benchmarks/claims/test_96pct_classification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
