Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(mcp): long-tail cleanup — envelope verdicts + UX doc rewrite
  docs/api/mcp_tools_specification.md
  docs/designs/get_code_outline_toon_enhancement.md
  docs/smart-workflow.md
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(mcp): mark codegraph_navigate as PRIMARY entry point
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): codegraph_status — index health at-a-glance (CodeGraph parity)
  .claude/skills/tsa-index/SKILL.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_status_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): codegraph_explore — bulk batch-fetch symbols (CodeGraph parity)
  .claude/skills/tsa-graph/SKILL.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_explore_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): 60+ pre-existing failures on feat/consolidated — 16,154 → 0 failed
  .autonomous-runtime/loop.sh
  .autonomous-runtime/status.sh
  .autonomous-runtime/tick.sh
  .gitignore
  tests/unit/cli/test_argument_parser_builder_ratchet.py
  tests/unit/cli/test_special_commands_smell_ratchet.py
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/mcp/test_symbol_lineage_tool.py
  tests/unit/mcp/test_tools/_test_read_partial_tool_execute_core_mixins.py
  tests/unit/mcp/tools/test_landing_decision_surface_contract.py
  tests/unit/mcp/tools/test_n7_file_health_smell_parity.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/_route_detector_go.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/cli/agent_skills.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/cli/output_format.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/file_health_blocks.py
  tree_sitter_analyzer/mcp/tools/utils/file_health_smells.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/route_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast_cache): unblock Swift / Kotlin / Ruby / PHP / C# indexing (5-line bug)
  tests/unit/test_project_graph_coverage.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(mcp): PRIMARY / ADVANCED / NICHE tiering on 5 core tools
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(lang_map): single source of truth for ext→language wiring
  tests/unit/test_lang_extension_map.py
  tree_sitter_analyzer/_lang_extension_map.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(cli): --affected — list tests transitively affected by changes
  docs/CODEMAPS/cli.md
  tests/unit/test_affected_command.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/affected_command.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): rewrite all three READMEs around 6-repo benchmark + Skills
  README.md
  README_ja.md
  README_zh.md
Due: none

fix(ci): unblock PR #133 — Py3.10 NameError + ruff dup + mypy
  tests/integration/test_watch_health_cli.py
  tests/unit/mcp/test_fd_rg_native_flags.py
  tests/unit/test_api_result_helpers.py
  tests/unit/test_codegraph_sitemap.py
  tests/unit/test_complexity_heatmap.py
  tests/unit/test_dead_code_analyzer.py
  tests/unit/test_file_health_blocks.py
  tests/unit/test_file_health_smells.py
  tests/unit/test_node_text_perf_contract.py
  tests/unit/test_xref.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin/plugin.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin/plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/python_plugin/plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/sql_plugin/plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): v1.13.0 — CodeGraph parity + 5-language unblock + benchmark wins
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): final ruff + mypy + watchdog cleanup for PR #133
  pyproject.toml
  scripts/auto_review.py
  scripts/benchmark_real_projects.py
  scripts/benchmark_vs_codegraph.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): exclude tests/fixtures from ruff — fixture imports are part of the test surface
  pyproject.toml
Due: check-toml-local

fix(ci): cleanup_asyncio_tasks Py3.12+ compat — get_running_loop instead of get_event_loop
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(golden): regenerate 18 TOON golden masters for v1.13.0 envelope shape
  tests/golden_masters/toon/c_sample_toon.toon
  tests/golden_masters/toon/cpp_sample_toon.toon
  tests/golden_masters/toon/csharp_sample_toon.toon
  tests/golden_masters/toon/css_comprehensive_sample_toon.toon
  tests/golden_masters/toon/go_sample_toon.toon
  tests/golden_masters/toon/html_comprehensive_sample_toon.toon
  tests/golden_masters/toon/java_bigservice_toon.toon
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/javascript_class_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/markdown_test_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/golden_masters/toon/python_sample_toon.toon
  tests/golden_masters/toon/ruby_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/golden_masters/toon/sql_sample_database_toon.toon
  tests/golden_masters/toon/typescript_enum_toon.toon
  tests/golden_masters/toon/yaml_sample_config_toon.toon
Due: none

fix(ci): batch_executor mock + CLI JSON envelope + Windows unraisable suppress
  pytest.ini
  tests/integration/cli/test_cli_query_exec_coverage.py
  tests/unit/mcp/tools/test_batch_executor_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): more CLI JSON-envelope + TOON metadata-survives test updates
  tests/integration/cli/test_cli_execution.py
  tests/integration/cli/test_cli_query_exec_coverage.py
  tests/integration/cli/test_cli_table_partial_query.py
  tests/integration/mcp/test_toon_mcp_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): cross-platform compat — Windows paths + /tmp + Py3.12 time mock + win-skip call_graph
  tests/fixtures/call_graph/python_project/.ast-cache/index.db
  tests/unit/mcp/test_search_content_tool_cache.py
  tests/unit/mcp/tools/test_refactoring_plan_builder_targets.py
  tests/unit/security/test_regex_checker.py
  tests/unit/test_call_graph.py
  tests/unit/test_call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(cli): accept v1.13.0 JSON envelope + tolerant counts
  tests/integration/cli/test_cli_execution.py
  tests/integration/cli/test_cli_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(ci): accept v1.13.0 envelope across MCP/CLI integration tests
  tests/integration/cli/test_cli_commands.py
  tests/integration/cli/test_cli_queries.py
  tests/integration/cli/test_read_partial_tool_extended.py
  tests/integration/cli/test_universal_analyze_tool_extended.py
  tests/integration/mcp/test_error_handling_remaining_tools.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/integration/mcp/test_intent_aliases_integration.py
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/integration/mcp/test_tools/test_get_code_outline_toon_integration.py
  tests/integration/mcp/test_user_story_3_extract_integration.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): Windows path drift + macOS test drift + bump maxfail
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
  README.md
  tests/benchmarks/test_query_performance.py
  tests/integration/docs/test_readme_structure.py
  tests/integration/formatters/test_toon_public_contract.py
  tests/integration/platform/test_mcp_capabilities.py
  tests/integration/test_call_graph_cross_file.py
  tests/unit/cli/test_cli_package.py
  tests/unit/core/test_api_coverage_boost_additional.py
  tests/unit/test_call_graph.py
  tests/unit/test_call_graph_tool.py
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): Windows path normalization + cli_exports cleanup
  tests/unit/cli/test_cli_package.py
  tree_sitter_analyzer/_health_scorer_helpers.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_languages.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_python.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ci): Windows skipif markers for remaining path-drift tests
  tests/fixtures/call_graph/python_project/.ast-cache/index.db
  tests/integration/test_call_graph_cross_file.py
  tests/unit/cli/test_cli_package.py
  tests/unit/core/test_language_detector_helpers.py
  tests/unit/mcp/test_agent_skills_tool.py
  tests/unit/mcp/test_gitignore_detector_edge_cases.py
  tests/unit/mcp/test_search_content_caching.py
  tests/unit/mcp/tools/test_fd_rg_result_utils.py
  tests/unit/test_codegraph_sitemap.py
  tests/unit/test_health_scorer.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_project_graph_coverage.py
  tests/unit/utils/test_encoding_utils_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): real product bugs surfaced by the dogfood pass
  pyproject.toml
  pytest.ini
  tests/benchmarks/test_query_performance.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/tools/query_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: register get_code_outline + real Windows path fixes
  .claude/skills/tsa-structure/SKILL.md
  CHANGELOG.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/integration/formatters/test_toon_public_contract.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/unit/core/test_language_detector_helpers.py
  tests/unit/mcp/test_search_content_caching.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/_language_detector_helpers.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): unbreak macOS — get_code_outline contract row + cli_exports isolation
  tests/unit/cli/test_cli_package.py
  tests/unit/mcp/tools/test_tool_response_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

ci: exclude @pytest.mark.slow from the matrix
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

test(ci): use cwd as root in CLI exit-code tests — patch-leak resilience
  tests/unit/cli/test_find_and_grep_cli.py
  tests/unit/cli/test_list_files_cli.py
  tests/unit/cli/test_search_content_cli.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(ci): re-skip flaky path/mock tests with explicit follow-up notes
  tests/unit/cli/test_find_and_grep_cli.py
  tests/unit/cli/test_list_files_cli.py
  tests/unit/cli/test_search_content_cli.py
  tests/unit/core/test_language_detector_helpers.py
  tests/unit/mcp/test_search_content_caching.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(ci): mark all remaining matrix-flaky tests with tracked-separately
  tests/integration/mcp/test_user_story_1_integration.py
  tests/integration/test_watch_health_cli.py
  tests/unit/cli/test_agent_skills.py
  tests/unit/cli/test_clean_state_command.py
  tests/unit/cli/test_find_and_grep_cli.py
  tests/unit/mcp/test_utils/test_path_resolver_boost.py
  tests/unit/runtime/test_autonomous_status_script.py
  tests/unit/test_middleware_detector.py
  tests/unit/test_schema_integrity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(ci): finalize matrix — retag middleware as @slow + skip list_files H1
  tests/unit/cli/test_list_files_cli.py
  tests/unit/test_middleware_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(py310): replace datetime.UTC with timezone.utc + widen test-naming exclude
  .pre-commit-config.yaml
  tests/fixtures/factories.py
  tests/integration/formatters/_comprehensive_suite_models.py
  tests/integration/formatters/_comprehensive_suite_reporting.py
  tests/integration/formatters/_test_data_manager_io.py
  tests/integration/formatters/comprehensive_test_suite.py
  tests/integration/formatters/generate_regression_report.py
  tests/integration/formatters/performance_tests_helpers.py
  tests/integration/formatters/performance_tests_tests.py
  tests/integration/formatters/test_data_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix(py310): tomllib back-port via tomli — unblock test_agent_contracts
  pyproject.toml
  tests/unit/test_agent_contracts.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

chore(release): bump [tool.mcp] server_version to 1.13.0
  pyproject.toml
Due: check-toml-local

fix(grammar-coverage): update snapshot baseline for c-sharp grammar bump
  grammar_snapshot.json
Due: check-json-local

fix(grammar-coverage): add Linux-wheel csharp nodes to baseline
  grammar_snapshot.json
Due: check-json-local
