Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat(DSL): add sort(by='confidence') to codegraph_query DSL
  tests/unit/test_codegraph_query_internals_facets.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in core/parser.py (B→A)
  tree_sitter_analyzer/core/parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(DSL): clarify fan_in/fan_out sort requires callers()/callees() first
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in fd_rg_utils.py (B→A)
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: promote analyze_scale_tool B→A by reducing AST depth and file size
  tests/unit/mcp/test_tools/test_analyze_scale_core.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(G4/G5): complete BM25 ranked search rollout across all FTS5 callers
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/_fts_fast_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(codegraph-explore): promote to A-grade by extracting module-level helpers
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(analyze_code_structure): eliminate depth-11 AST nodes, promote B→A
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(symbol_resolver): extract ReferenceLocation constructor to reduce AST depth 20→19
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(analysis_engine): reduce AST depth 13→10, improve score B 87→89.5
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in query_tool.py (B→A)
  tree_sitter_analyzer/mcp/tools/query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test_mcp_file_metrics_unification): extract fixtures, eliminate 100% duplication
  tests/unit/mcp/test_mcp_file_metrics_unification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf: promote build_project_index_tool.py from B→A (97.1, struct=85)
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(agent_skills): catch OSError on unreadable SKILL.md instead of crashing
  tests/unit/mcp/test_agent_skills_tool.py
  tree_sitter_analyzer/cli/agent_skills_metadata.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: replace if/elif language chains in function_extraction with dispatch tables
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(_concept_candidate_paths): prefer FTS5 index over LIKE scan for symbol lookup
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(complexity_heatmap): extract name helpers, flatten _extract_functions nesting 8→3
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(call_path): extract shared BFS engine + direction helpers, reduce dup 63→73
  tree_sitter_analyzer/call_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test_validator_fp_wrapper_c): extract mock factories, reduce dup 55→93
  tests/unit/grammar_coverage/test_validator_fp_wrapper_c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(semantic_search): 8 tests for BM25 pre-filter + fallback paths
  tests/unit/test_semantic_symbol_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(middleware_detector): reduce AST depth 22→18, B(87.2)→A(90.6)
  tree_sitter_analyzer/middleware_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in rename_symbol.py (B→A)
  tree_sitter_analyzer/rename_symbol.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: promote java.py B→A (85.3→96.3) extract 7 module-level helpers
  tree_sitter_analyzer/mcp/utils/edge_extractors/java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(G2): upgrade ast_cache_tool mode=search to BM25 ranked results
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(_route_detector_scanners): use extracted helpers to reduce CC 76→99
  tree_sitter_analyzer/_route_detector_scanners.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test_mcp_rg_phase1_basic): extract _build_rg wrapper, reduce dup 53→88
  tests/unit/mcp/test_mcp_rg_phase1_basic.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: promote mcp/server.py B→A by reducing AST depth and file size
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(G3): upgrade symbol_search_tool._exact_search to BM25 ranked results
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in codegraph_pr_review_tool.py (B→A)
  tree_sitter_analyzer/mcp/tools/codegraph_pr_review_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in scala_plugin, _function_helpers, ruby_plugin (B→A ×3)
  tree_sitter_analyzer/languages/scala_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(G1): FTS5 BM25 ranked symbol search
  openspec/changes/G1/proposal.md
  openspec/changes/G1/tasks.md
  tests/unit/mcp/test_fts5_bm25_ranking.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/query_symbol_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(_convert_class): use actual class visibility instead of hardcoded 'public'
  tests/unit/mcp/test_analyze_code_structure_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: reduce AST depth in code_similarity.py (B→A)
  tree_sitter_analyzer/code_similarity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(claude_md_frontmatter): extract design-rule helpers, reduce CC 62→100
  tree_sitter_analyzer/utils/claude_md_frontmatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test_java_formatter_advanced): extract _FMT/_BASE_CLASS/_BASE_DATA/_data helpers
  tests/unit/formatters/test_java_formatter_advanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(README): add post-benchmark BM25 improvement note to all three locales
  README.md
  README_ja.md
  README_zh.md
Due: none

test(codegraph_query): add path alias sort test; bump badge 18701→18702
  README.md
  README_ja.md
  README_zh.md
  tests/unit/test_codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(release): bump version to 1.16.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mycelium-audit): fix core→MCP cycle, replace module-alias dispatch, annotate hub module
  .gitignore
  tree_sitter_analyzer/_graph_cache_fingerprint.py
  tree_sitter_analyzer/_language_detector_helpers.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/_graph_cache_fingerprint.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(claude-md): add 6 code-intelligence analysis rules (lessons from mycelium sprint)
  CLAUDE.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
