Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs(openspec): close two pre-fixed proposals with verification notes
  openspec/changes/fix-java-query-predicate-and-coverage/tasks.md
  openspec/changes/fix-trace-impact-count-truncation/tasks.md
Due: none

fix(csharp): extract_attributes reads direct children, not prev_sibling
  tests/unit/languages/_test_csharp_helpers_primitives.py
  tests/unit/languages/test_csharp_plugin_elements.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record C# attribute extraction fix and netty T3.3 in CHANGELOG
  CHANGELOG.md
  openspec/changes/add-csharp-language-support/tasks.md
Due: none

fix(java): extract interface extends clause into implements_interfaces
  tests/unit/languages/test_java_caffeine_validation.py
  tree_sitter_analyzer/languages/_java_element_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add Java interface extends fix to CHANGELOG
  CHANGELOG.md
Due: none

refactor: eliminate all D-grade health violations
  examples/javascript_analysis_demo.py
  tests/integration/test_phase7_performance_integration.py
  tests/unit/languages/test_java_element_extractor_optimized.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, flake8-local

refactor: eliminate deep nesting in dead_code_analyzer (D→B)
  .kiro/specs/mcp-tool-efficiency/requirements.md
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: reduce nesting in test_sql_plugin_enhanced (C→B)
  tests/unit/languages/test_sql_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract _validate_string_arg in query_helpers (C→B)
  tree_sitter_analyzer/mcp/tools/query_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test): extract scalability/partition helpers to reduce nesting depth
  tests/integration/test_phase7_performance_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract yaml parsing helpers to reduce CC in multi-document tests
  tests/unit/languages/test_yaml_multi_document_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract yaml element helper to reduce CC in scalar type tests
  tests/unit/languages/test_yaml_scalar_type_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract yaml helpers to flatten nesting in structure extraction tests
  tests/unit/languages/test_yaml_structure_extraction_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract yaml isolation helpers to reduce CC and nesting
  tests/unit/languages/test_yaml_language_isolation_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract capture name and tuple-format helpers to reduce CC
  tests/unit/core/test_tree_sitter_compat_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): extract _make_default_args helper in find_and_grep cli tests
  tests/unit/cli/test_find_and_grep_cli_run.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): flatten MCP integration test fixture nesting
  tests/integration/mcp/test_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): extract skill-fixture and chmod-probe helpers in agent_skills tests
  tests/unit/mcp/test_agent_skills_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(fts): extract _aggregate_by_file and _build_symbol_groups helpers
  tree_sitter_analyzer/mcp/tools/_fts_fast_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(benchmarks): extract claude-result parser and cmd builder from run_one
  benchmarks/codegraph_compare/adapters/claude_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(call-path): extract _make_chain helper, flatten BFS nesting
  tree_sitter_analyzer/call_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test): extract _assert_result_structure helper to flatten 6-level nesting
  tests/unit/core/test_query_code_cross_language_compatibility.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(validate-workflows): extract _report_workflow/_report_action to reduce main() CC
  validate_workflows.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mastery-scan): extract _is_counted_call to flatten 6-level nesting
  scripts/test_mastery_scan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

refactor(test-java): extract mock builder and assertion helpers to reduce long methods
  tests/unit/languages/test_java_element_extractor_optimized.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test-workflow): extract assertion helpers to reduce 73-line test
  tests/unit/mcp/test_agent_workflow_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test-search): extract rg mock helpers to eliminate repeated_blocks
  tests/unit/core/test_file_output_search_content.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract yaml parse helper and scalar strategy to reduce nesting
  tests/unit/languages/test_yaml_anchor_alias_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(ruby): implement visibility detection from preceding private/protected/public siblings
  tests/unit/languages/test_ruby_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(property): add hypothesis tests for _split_respecting_generics and determine_visibility
  tests/property/test_java_helpers_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mypy): fix import sources in unreachable_code after call_graph refactor
  tree_sitter_analyzer/unreachable_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(golden-master): update ruby_sample visibility after detection impl
  tests/golden_masters/toon/ruby_sample_toon.toon
Due: none

fix(callees): expose callee_resolved_file from SQL path and fix enrich caller arg
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): mark test_function_mode_on_real_func slow_ok
  tests/unit/test_codegraph_visualize_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(java-queries): apply #match? predicates in execute_newest_api (tree-sitter 0.25+)
  openspec/changes/archive/2026-05-28-fix-trace-impact-count-truncation/proposal.md
  tests/unit/languages/test_java_match_predicate_fix.py
  tree_sitter_analyzer/utils/_tree_sitter_compat_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): archive fix-java-query-predicate-and-coverage and fix-trace-impact-count-truncation
  openspec/changes/archive/2026-05-28-fix-java-query-predicate-and-coverage/proposal.md
  openspec/changes/archive/2026-05-28-fix-java-query-predicate-and-coverage/tasks.md
  openspec/changes/archive/2026-05-28-fix-trace-impact-count-truncation/proposal.md
  openspec/changes/archive/2026-05-28-fix-trace-impact-count-truncation/tasks.md
  tree_sitter_analyzer/queries/java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: add CallGraph.call_edges() public accessor
  tests/unit/test_call_graph_cached.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): add call_edges() to FakeCachedCallGraph in response contract test
  tests/unit/mcp/tools/test_tool_response_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: add function_refs/callee_refs_of/caller_refs_of public accessors
  tests/unit/test_call_graph_cached.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
