Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix: ensure permission error test is reliably skipped on Windows
  tests/unit/test_core_engine_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: improve Windows platform detection for permission test
  tests/unit/test_core_engine_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: regenerate golden masters with corrected SQL function extraction
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/csv/java_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/unit/test_core_engine_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Release v1.9.14: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Update product documentation and structure in Japanese
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

fix: Improve SQL parameter extraction accuracy and add keyword filtering
  tests/golden_masters/compact/sql_sample_database_compact.md
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/full/sql_sample_database_full.md
  tree_sitter_analyzer/formatters/sql_formatters.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.15: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(sql): Improve SQL function extraction with enhanced validation and property-based tests
  .kiro/specs/sql-function-extraction-fix/design.md
  .kiro/specs/sql-function-extraction-fix/requirements.md
  .kiro/specs/sql-function-extraction-fix/tasks.md
  .pre-commit-config.yaml
  fix_indentation.py
  pyproject.toml
  tests/test_sql_function_extraction_properties.py
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Update README statistics (tests: )
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: Ensure consistent test execution across platforms and fail CI on test failures
  .github/workflows/reusable-test.yml
Due: check-yaml-local

Refactor: Use asyncio.wait_for for timeout compatibility
  tests/test_async_query_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix: Adjust test thresholds for performance and security
  tests/format_testing/test_comprehensive_format_validation.py
  tests/security/test_mcp_security.py
  tests/test_async_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Normalize Python type hints and SQL trigger names
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix: Normalize SQL elements and improve trigger detection
  tests/test_golden_master_regression.py
  tests/test_languages/test_sql_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Relax async performance threshold and fix SQL type/column false positives
  tests/test_async_performance.py
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Refactor golden master regression test to improve SQL keyword detection
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Enhance SQL view and trigger extraction in error nodes
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sql): enhance element extraction resilience across platforms
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sql): implement robust cross-platform validation for SQL elements
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add SQL cross-platform compatibility specification
  .kiro/specs/sql-cross-platform-compatibility/design.md
  .kiro/specs/sql-cross-platform-compatibility/requirements.md
Due: none

feat: Implement SQL cross-platform compatibility layer
  .github/workflows/sql-platform-compat.yml
  .kiro/settings/mcp.json
  .kiro/specs/sql-cross-platform-compatibility/design.md
  .kiro/specs/sql-cross-platform-compatibility/tasks.md
  .roo/mcp.json
  README.md
  docs/sql-cross-platform-compatibility.md
  tests/platform_compat/test_adapter_properties.py
  tests/platform_compat/test_cache.py
  tests/platform_compat/test_compare_properties.py
  tests/platform_compat/test_detector_properties.py
  tests/platform_compat/test_equivalence_properties.py
  tests/platform_compat/test_fixtures_properties.py
  tests/platform_compat/test_integration_properties.py
  tests/platform_compat/test_mcp_capabilities.py
  tests/platform_compat/test_profiles_properties.py
  tests/platform_compat/test_recorder_properties.py
  tests/platform_compat/test_report_properties.py
  tests/platform_profiles/baseline/windows/3.13/profile.json
  tests/platform_profiles/windows/3.13/profile.json
  tests/test_mcp_server.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/models.py
  tree_sitter_analyzer/platform_compat/__init__.py
  tree_sitter_analyzer/platform_compat/adapter.py
  tree_sitter_analyzer/platform_compat/compare.py
  tree_sitter_analyzer/platform_compat/detector.py
  tree_sitter_analyzer/platform_compat/fixtures.py
  tree_sitter_analyzer/platform_compat/profiles.py
  tree_sitter_analyzer/platform_compat/record.py
  tree_sitter_analyzer/platform_compat/recorder.py
  tree_sitter_analyzer/platform_compat/report.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): Use uv run for profile comparison to ensure dependencies are loaded
  .github/workflows/sql-platform-compat.yml
Due: check-yaml-local

fix: Handle manual profile loading in compare script to prevent AttributeError
  tree_sitter_analyzer/platform_compat/compare.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve BehaviorProfile crash and correct SQL trigger extraction logic
  explore_sql_ast.py
  tests/golden_masters/compact/sql_sample_database_compact.md
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/full/sql_sample_database_full.md
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/platform_compat/profiles.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: correct SQL parameter extraction regex to resolve CI failures
  tests/golden_masters/compact/sql_sample_database_compact.md
  tests/golden_masters/full/sql_sample_database_full.md
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix: SQL trigger extraction for multiple triggers in ERROR nodes
  tests/golden_masters/compact/sql_sample_database_compact.md
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/full/sql_sample_database_full.md
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: enhance SQL parsing robustness and platform compatibility
  analyze_specific_sql.py
  compatibility_test/scripts/analyze_differences.py
  openspec/changes/archive/language-plugin-isolation-audit/verification_test.py
  scripts/format_monitoring_tool.py
  scripts/generate_golden_masters.py
  scripts/sync_version.py
  tests/fixtures/assertion_helpers.py
  tests/format_testing/format_assertions.py
  tests/format_testing/format_contract_tests.py
  tests/format_testing/generate_compatibility_report.py
  tests/format_testing/generate_regression_report.py
  tests/format_testing/performance_tests.py
  tests/format_testing/specification_compliance_tests.py
  tests/integration/test_phase7_integration_suite.py
  tests/test_element_type_system.py
  tests/test_formatter_registry.py
  tests/test_golden_master_regression.py
  tests/test_mcp/test_server_comprehensive.py
  tests/test_queries_typescript.py
  tests/test_query_service.py
  tests/test_sql_function_extraction_properties.py
  tests/unit/test_find_and_grep_cli_comprehensive.py
  tests/unit/test_list_files_cli_comprehensive.py
  tests/unit/test_search_content_cli_comprehensive.py
  tests/unit/test_tree_sitter_compat.py
  tree_sitter_analyzer/encoding_utils.py
  tree_sitter_analyzer/formatters/typescript_formatter.py
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/platform_compat/adapter.py
  upload_to_pypi.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve pre-commit linting and security issues
  .coveragerc
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  scripts/format_monitoring_tool.py
  tests/format_testing/end_to_end_tests.py
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/csv/java_sample_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/javascript_class_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/typescript_enum_full.md
  tests/unit/test_cli_main_module.py
  tests/unit/test_utils_init.py
  tree_sitter_analyzer/core/cache_service.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
  tree_sitter_analyzer/security/validator.py
  tree_sitter_analyzer/utils/logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: implement get_tree_sitter_language in SQLPlugin and add hypothesis dependency
  pyproject.toml
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve SQL trigger extraction regression and fix SQL plugin tests
  AI_BEST_PRACTICES.md
  tests/test_languages/test_sql_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: apply black formatting and normalize line endings in golden masters
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve Black formatting issues in CI quality checks
  compatibility_test/scripts/analyze_differences.py
  scripts/sync_version.py
  tests/format_testing/format_assertions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix CI failures: Apply Black formatting and ignore flaky SQL Views in regression tests
  tests/test_golden_master_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add AST dump tool and CI step for cross-platform debugging
  .github/workflows/sql-platform-compat.yml
  scripts/dump_ast.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

Fix Windows regression and improve coverage
  tests/debug_artifacts/ast-dump-macos-latest-3.10.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.11.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.12.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.13.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.10.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.11.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.12.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.13.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.10.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.11.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.12.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.13.zip
  tests/platform_profiles/windows/3.10/profile.json
  tests/platform_profiles/windows/3.11/profile.json
  tests/platform_profiles/windows/3.12/profile.json
  tests/test_golden_master_regression.py
  tests/test_sql_formatter_coverage.py
  tests/test_workflows/test_workflow_properties.py
  tree_sitter_analyzer/formatters/sql_formatter_wrapper.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Cleanup: Remove debug artifact zip files and ignore them
  .gitignore
  tests/debug_artifacts/ast-dump-macos-latest-3.10.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.11.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.12.zip
  tests/debug_artifacts/ast-dump-macos-latest-3.13.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.10.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.11.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.12.zip
  tests/debug_artifacts/ast-dump-ubuntu-latest-3.13.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.10.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.11.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.12.zip
  tests/debug_artifacts/ast-dump-windows-latest-3.13.zip
Due: none
