Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(complexity): count && / || in Java/C/C++/C# cyclomatic complexity (#1085)
  docs/CODEMAPS/languages.md
  tests/golden_masters/compact/cpp_sample_compact.md
  tests/golden_masters/compact/csharp_sample_compact.md
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/compact/java_userservice_compact_format.md
  tests/golden_masters/csv/cpp_sample_csv.csv
  tests/golden_masters/csv/csharp_sample_csv.csv
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/csv/java_userservice_csv_format.csv
  tests/golden_masters/full/cpp_sample_full.md
  tests/golden_masters/full/csharp_sample_full.md
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_userservice_full_format.md
  tests/integration/formatters/test_formatter_integration.py
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_complexity_logical.py
  tree_sitter_analyzer/languages/_cpp_complexity_helpers.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
  tree_sitter_analyzer/languages/c_helpers.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): Java was silently ignoring switch / ternary / do-while
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): count Java switch / ternary / do-while (stale node names)
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(api): remove inert include_details/include_complexity params
  tree_sitter_analyzer/api.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(formatters): remove dead IStructureFormatter abstraction
  docs/CODEMAPS/formatters.md
  tree_sitter_analyzer/formatters/__init__.py
  tree_sitter_analyzer/formatters/_formatter_interface.py
  tree_sitter_analyzer/formatters/formatter_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(api): drop removed include_complexity/include_details kwargs from test_analyze_file_with_options
  tests/integration/core/test_api.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(complexity): C/C++ switch counts once, not per case
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_cpp_plugin_coverage_boost_advanced.py
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_cpp_complexity_helpers.py
  tree_sitter_analyzer/languages/c_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): Java was silently ignoring switch / ternary / do-while (#1087)
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/full/java_bigservice_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(kotlin): show Cx (complexity) column in full table
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/formatters/test_kotlin_formatter.py
  tree_sitter_analyzer/formatters/kotlin_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): C/C++ switch counts once, not per case (#1090)
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_cpp_plugin_coverage_boost_advanced.py
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_cpp_complexity_helpers.py
  tree_sitter_analyzer/languages/c_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): render module-level functions in TS/JS full table
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_javascript_formatter_coverage.py
  tests/unit/formatters/test_typescript_formatter_core.py
  tree_sitter_analyzer/formatters/_javascript_formatter_full_mixin.py
  tree_sitter_analyzer/formatters/_typescript_formatter_full.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: remove two verified-dead internal helpers (-25 LOC)
  tree_sitter_analyzer/_health_score_cache.py
  tree_sitter_analyzer/cli/commands/mcp_command_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: remove two verified-dead internal helpers (-25 LOC) (#1095)
  tree_sitter_analyzer/_health_score_cache.py
  tree_sitter_analyzer/cli/commands/mcp_command_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): render module-level functions in TS/JS full table (#1092)
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_javascript_formatter_coverage.py
  tests/unit/formatters/test_typescript_formatter_core.py
  tree_sitter_analyzer/formatters/_javascript_formatter_full_mixin.py
  tree_sitter_analyzer/formatters/_typescript_formatter_full.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(kotlin): show Cx (complexity) column in full table (#1093)
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/formatters/test_kotlin_formatter.py
  tree_sitter_analyzer/formatters/kotlin_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): JS/TS cyclomatic complexity is an AST walk, not keyword-text counting
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tests/unit/languages/test_javascript_plugin_comprehensive.py
  tests/unit/languages/test_typescript_plugin.py
  tree_sitter_analyzer/languages/_complexity_decisions.py
  tree_sitter_analyzer/languages/javascript_plugin/_utility_mixin.py
  tree_sitter_analyzer/languages/typescript_plugin/_text_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): JS/TS cyclomatic complexity is an AST walk, not keyword-text counting (#1097)
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tests/unit/languages/test_javascript_plugin_comprehensive.py
  tests/unit/languages/test_typescript_plugin.py
  tree_sitter_analyzer/languages/_complexity_decisions.py
  tree_sitter_analyzer/languages/javascript_plugin/_utility_mixin.py
  tree_sitter_analyzer/languages/typescript_plugin/_text_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): Ruby/Scala/Bash count switch/match/case once, not per arm
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): Ruby/Scala/Bash count switch/match/case once, not per arm (#1098)
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0019 — cyclomatic complexity single source of truth (#1094)
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

docs(rfc): RFC-0019 — pin the signature-heterogeneity wrinkle (per-language adapters)
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

test(rfc-0019): add cross-path complexity invariant as strict-xfail (#1094)
  rfcs/0019-complexity-single-source-of-truth.md
  tests/unit/test_complexity_cross_path_invariant.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc-0019): decision_points breakdown must survive — refine the source-of-truth to be the decision-node TYPE definitions, not a scalar
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

docs(rfc-0019): record the heatmap _COMPLEXITY_NODES drift (per-case + else_clause + stale operator nodes)
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

fix(complexity): Python cyclomatic complexity is an AST walk, not a keyword-regex count
  docs/CODEMAPS/languages.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tests/unit/languages/test_python_element_extractor_core.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tree_sitter_analyzer/languages/python_plugin/_core_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_python_complexity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc-0019): fold in the 4 Codex review findings
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

fix(complexity): Python cyclomatic complexity is an AST walk, not a keyword-regex count (#1100)
  docs/CODEMAPS/languages.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tests/unit/languages/test_python_element_extractor_core.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tree_sitter_analyzer/languages/python_plugin/_core_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_python_complexity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc-0019): mark accepted
  rfcs/0019-complexity-single-source-of-truth.md
Due: none

RFC-0019: cyclomatic complexity single source of truth (#1094) (#1099)
  rfcs/0019-complexity-single-source-of-truth.md
  tests/unit/test_complexity_cross_path_invariant.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(complexity): health_scorer derives CC from the extractor (single source of truth, #1094)
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): heatmap (live + cache) derives CC from the extractor (#1094)
  tests/unit/test_complexity_cross_path_invariant.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(health): pin JS-ternary CC to exact == 2 (LOCKED exact-assertion rule)
  tests/unit/test_health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

RFC-0020: visualization — correctness credibility demo (draft)
  rfcs/0020-viz-correctness-credibility-demo.md
Due: none

fix(complexity): heatmap (live + cache) derives CC from the extractor (#1094) (#1101)
  tests/unit/test_complexity_cross_path_invariant.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(health): re-pin Java switch CC to construct-once truth after #1101
  tests/unit/test_health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(complexity): health_scorer derives CC from the extractor (single source of truth, #1094) (#1102)
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(dead-code): add path scoping to health action=dead (#1084)
  README.md
  README_ja.md
  README_zh.md
  docs/api/facade-actions.md
  tests/unit/mcp/tools/test_dead_code_counts_consistency.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dead-code): treat '.' and './' path prefix as root-relative (Codex P2 #1104)
  tests/unit/mcp/tools/test_dead_code_counts_consistency.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(e2e): warm the index before measuring project_health latency
  tests/e2e/test_mcp_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(e2e): override pytest-timeout for the cold warm-up (Codex P1 #1105)
  tests/e2e/test_mcp_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
