Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(edit): fail closed on malformed causal inputs
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbol_walker_projection_edges.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): reject stored dynamic loader aliases
  tests/unit/test_symbol_walker_projection_edges.py
  tree_sitter_analyzer/cache/_symbol_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): seal nested loader alias escapes
  tests/unit/test_symbol_walker_projection_edges.py
  tree_sitter_analyzer/cache/_symbol_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close final projection escape hatches
  tests/unit/mcp/test_projection_completeness_edges.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbol_walker_projection_edges.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close certified projection review gaps
  tests/e2e/test_tool_functional.py
  tests/unit/mcp/test_projection_completeness_edges.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbol_walker_projection_edges.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close exact-head certification gaps
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close loader and index review gaps
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_lang_extension_map.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/languages/lang_extension_map.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): close cross-platform projection gaps
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_lang_extension_map.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/languages/lang_extension_map.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): make module projections scope aware
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_predicates.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: make causal envelope checks portable
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_symbols_json_enrichment.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): close loader and NodeNext projection gaps
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): seal Python dynamic loader retention
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): align dynamic and NodeNext projections
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): seal computed loader escape paths
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): seal retained loader object paths
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): close dynamic loader escape routes
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_typescript_plugin.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/languages/typescript_plugin/plugin.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/utils/project_index/_models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): seal loader owner and evaluator aliases
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_project_graph_extra.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/__init__.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): close retained execution paths
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_project_graph_extra.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/__init__.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: remove obsolete documentation and repoint dangling links
  docs/README.md
  docs/REGISTRY-SUBMISSION-PREP.md
  docs/ci-cd-migration-guide.md
  docs/ci-cd-overview.md
  docs/ci-cd-secrets-reference.md
  docs/ci-cd-troubleshooting.md
  docs/dogfood/data/detail.jsonl.gz
  docs/dogfood/data/totals.json
  docs/dogfood/python-self-index-verification.md
  docs/launch-plan-visibility-campaign.md
  docs/regression-testing-guide.md
  docs/sql-format-guide.md
  docs/test-writing-guide.md
  docs/testing-guide.md
Due: check-json-local

docs(rfc): RFC-0027 secretary layer — instant answers, comprehension, calibration
  rfcs/0027-agent-secretary-and-calibration.md
  rfcs/README.md
Due: none

fix(cache): fail closed on unmodelled dynamic loader positions
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): whitelist typeof queries and import.meta in loader projection
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/cache/_symbol_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): address all eight Codex findings on RFC-0027
  rfcs/0027-agent-secretary-and-calibration.md
Due: none

fix: admit Node module suffixes across graph fingerprint and resolvers
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_cross_file_resolver.py
  tests/unit/test_import_graph.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: stop TESTING.md from teaching what its own rules forbid
  docs/TESTING.md
Due: none

fix: repair both dead detectors in the codemap-sync gate
  .github/workflows/reusable-quality.yml
  AGENTS.md
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  scripts/codemap-sync-check.sh
  tests/integration/test_codemap_sync_hook.sh
Due: check-yaml-local

fix: make Node module suffix support reachable end-to-end
  tests/unit/test_cross_file_resolver.py
  tests/unit/test_import_graph.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: latency instrumentation + --self-health / health action=self
  .pre-commit-config.yaml
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/baselines/rfc0025-l5-latency-windows-e0.json
  scripts/measure_self_health_baseline.py
  tests/conftest.py
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_self_health_tool.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/test_latency.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/latency.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/self_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: narrow detect-secrets exemption to the commit-SHA line shape
  .pre-commit-config.yaml
  .secrets.baseline
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/baselines/rfc0025-l5-latency-windows-e0.json
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: compare surface sets instead of matching diff lines in codemap gate
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .github/workflows/reusable-quality.yml
  AGENTS.md
  docs/CODEMAPS/cli.md
  docs/architecture.md
  scripts/codemap-sync-check.sh
  scripts/codemap_surface.py
  tests/contracts/test_agent_docs_contract.py
  tests/integration/test_codemap_sync_hook.sh
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: report the cache it names, and classify tiers at call entry
  .pre-commit-config.yaml
  .secrets.baseline
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  scripts/measure_self_health_baseline.py
  tests/unit/mcp/test_self_health_tool.py
  tests/unit/test_latency.py
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/latency.py
  tree_sitter_analyzer/mcp/tools/health_facade.py
  tree_sitter_analyzer/mcp/tools/self_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: carry per-root cache numbers behind an AMBIGUOUS verdict
  .pre-commit-config.yaml
  .secrets.baseline
  tree_sitter_analyzer/mcp/tools/self_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(baseline): regenerate RFC-0025 L5 artifact with full provenance
  docs/baselines/rfc0025-l5-latency-windows-e0.json
Due: check-json-local

fix: compare surface sets instead of matching diff lines in the codemap gate (#1314)
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .github/workflows/reusable-quality.yml
  AGENTS.md
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/architecture.md
  scripts/codemap-sync-check.sh
  scripts/codemap_surface.py
  tests/contracts/test_agent_docs_contract.py
  tests/integration/test_codemap_sync_hook.sh
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: correct four broken examples introduced by the previous commit
  docs/TESTING.md
Due: none

docs: preserve the live MCP-registry publish procedure and correct workflow job names
  CLAUDE.md
  docs/ci-cd-overview.md
  docs/regression-testing-guide.md
Due: none

feat(edit): return snapshot-bound causal envelope (#1308)
  .github/workflows/reusable-test.yml
  docs/CODEMAPS/languages.md
  docs/VISION-proprioception-scenarios.md
  scripts/check_causal_envelope.py
  tests/e2e/test_tool_functional.py
  tests/governance/test_ci_routing_contract.py
  tests/unit/languages/test_typescript_plugin.py
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/test_audit_authority_service.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_cross_file_resolver.py
  tests/unit/test_import_graph.py
  tests/unit/test_lang_extension_map.py
  tests/unit/test_project_graph_extra.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/_symbol_rules.py
  tree_sitter_analyzer/cache/_symbol_walker.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/languages/lang_extension_map.py
  tree_sitter_analyzer/languages/typescript_plugin/plugin.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_predicates.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/__init__.py
  tree_sitter_analyzer/mcp/utils/project_index/_models.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: close the patch-coverage gap on latency.py and self_health_tool.py
  tests/unit/mcp/test_self_health_tool.py
  tests/unit/test_latency.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: remove obsolete documentation and preserve the live publish procedure (#1309)
  CLAUDE.md
  docs/README.md
  docs/REGISTRY-SUBMISSION-PREP.md
  docs/ci-cd-migration-guide.md
  docs/ci-cd-overview.md
  docs/ci-cd-secrets-reference.md
  docs/ci-cd-troubleshooting.md
  docs/dogfood/data/detail.jsonl.gz
  docs/dogfood/data/totals.json
  docs/dogfood/python-self-index-verification.md
  docs/launch-plan-visibility-campaign.md
  docs/regression-testing-guide.md
  docs/sql-format-guide.md
  docs/test-writing-guide.md
  docs/testing-guide.md
Due: check-json-local

docs: stop TESTING.md from teaching what its own rules forbid (#1313)
  docs/TESTING.md
Due: none
