Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(benchmark): close execution deadline and output gaps
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_recompute.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close exact14 verifier resource bounds
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/sqlite_ledger_validation.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_recompute.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close exact14 retry and preflight races
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): preflight exact14 verifier authority inputs
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/sqlite_ledger_validation.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): preflight cgroups and retry receipt sends
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close exact14 operator preflight bounds
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_inventory.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/verifier.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close qualification deadline retry gaps
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close no1 receipt execution bounds
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/receipt_inventory.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_recompute.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close executor terminal preflight gaps
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_audit_authority_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close sealed evidence read bounds
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_recompute.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bound live output and recover decisions
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/execution_budget.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: allow executor validators to import on Windows
  benchmarks/codegraph_compare/setup_qualification_executor.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: define measured default dependency split RFC
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  rfcs/README.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: preregister pinned offline baseline protocol
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: evaluate closure markers in collector environment
  scripts/collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix: derive isolated inventory root from sys prefix
  scripts/collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

docs: record lock-pinned macos E0 receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

docs: define post-measurement dependency split gates
  rfcs/0024-default-dependency-split.md
Due: none

fix: bound collector subprocess evidence
  .secrets.baseline
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: refresh receipt with bounded collector
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

chore: classify receipt hashes as non-secrets
  .secrets.baseline
Due: none

fix: harden descriptive baseline contracts
  rfcs/0024-default-dependency-split.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: query markers through target interpreter
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: enforce schema on collection output
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: refresh descriptive baseline receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

docs: isolate baseline collector tooling
  rfcs/0024-default-dependency-split.md
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: isolate macOS collector validation contract
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: scope collector runtime contracts to POSIX
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: pin baseline collector build toolchain
  .secrets.baseline
  pyproject.toml
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, bandit-local, pydocstyle-local, flake8-local

test: bind collector tool provenance
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  rfcs/README.md
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix: attest exact collector environment
  .secrets.baseline
  rfcs/0024-default-dependency-split.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: refresh exact collector receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

test: keep collector evidence contracts cross-platform
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: preserve and validate baseline evidence
  rfcs/0024-default-dependency-split.md
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden no1 baseline publication
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: refresh secrets baseline
  .secrets.baseline
Due: none

docs: publish re-attested no1 receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

fix: bind no1 receipt source provenance
  .secrets.baseline
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: re-attest deterministic no1 receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local
