Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

refactor: add CallGraph.call_edges() public accessor (#200)
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_call_graph_cached.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/dead_code_analyzer.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: expose ASTCache.get_conn() as public API
  openspec/changes/expose-ast-cache-get-conn/spec.md
  openspec/changes/expose-ast-cache-get-conn/tasks.md
  tests/unit/test_ast_cache.py
  tests/unit/test_symbol_resolver.py
  tests/unit/test_xref.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_path.py
  tree_sitter_analyzer/class_hierarchy.py
  tree_sitter_analyzer/code_similarity.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/semantic_search.py
  tree_sitter_analyzer/symbol_resolver.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): fix remaining mock stubs missing get_conn() after I3 migration
  tests/unit/test_call_path.py
  tests/unit/test_change_impact_cached_graph.py
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_backend.py
  tests/unit/test_codegraph_query_tool_advanced.py
  tests/unit/test_codegraph_query_tool_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: expose DependencyGraph.has_node()/node_count()/edge_count() as public API
  openspec/changes/expose-dependency-graph-public-api/spec.md
  openspec/changes/expose-dependency-graph-public-api/tasks.md
  tests/unit/test_project_graph.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: expose ASTCache.get_conn() as public API (#201)
  openspec/changes/expose-ast-cache-get-conn/spec.md
  openspec/changes/expose-ast-cache-get-conn/tasks.md
  tests/unit/test_ast_cache.py
  tests/unit/test_call_path.py
  tests/unit/test_change_impact_cached_graph.py
  tests/unit/test_codegraph_explore_helpers.py
  tests/unit/test_codegraph_query_backend.py
  tests/unit/test_codegraph_query_tool_advanced.py
  tests/unit/test_codegraph_query_tool_core.py
  tests/unit/test_symbol_resolver.py
  tests/unit/test_xref.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_path.py
  tree_sitter_analyzer/class_hierarchy.py
  tree_sitter_analyzer/code_similarity.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/semantic_search.py
  tree_sitter_analyzer/symbol_resolver.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): archive expose-ast-cache-get-conn; add expose-callgraph-private-attrs spec
  openspec/changes/archive/expose-ast-cache-get-conn/spec.md
  openspec/changes/archive/expose-ast-cache-get-conn/tasks.md
  openspec/changes/expose-callgraph-private-attrs/spec.md
  openspec/changes/expose-callgraph-private-attrs/tasks.md
Due: none

fix: add has_node/node_count/edge_count to CachedDependencyGraph
  tests/unit/test_change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): mark expose-dependency-graph-public-api tasks complete
  openspec/changes/expose-dependency-graph-public-api/tasks.md
Due: none

refactor: expose DependencyGraph public accessors (has_node/node_count/edge_count)
  openspec/changes/archive/expose-ast-cache-get-conn/spec.md
  openspec/changes/archive/expose-ast-cache-get-conn/tasks.md
  openspec/changes/expose-callgraph-private-attrs/spec.md
  openspec/changes/expose-callgraph-private-attrs/tasks.md
  openspec/changes/expose-dependency-graph-public-api/spec.md
  openspec/changes/expose-dependency-graph-public-api/tasks.md
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_project_graph.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): mark expose-callgraph-private-attrs tasks complete (PR #203)
  openspec/changes/expose-callgraph-private-attrs/tasks.md
Due: none

chore(openspec): archive expose-ast-cache-get-conn; add expose-callgraph-private-attrs spec
  openspec/changes/expose-ast-cache-get-conn/spec.md
  openspec/changes/expose-ast-cache-get-conn/tasks.md
Due: none

refactor: expose DependencyGraph.has_node()/node_count()/edge_count() as public API
  openspec/changes/expose-dependency-graph-public-api/tasks.md
Due: none

refactor: migrate CallGraph MCP tools from private attrs to public API
  tests/unit/test_codegraph_impact_tool.py
  tests/unit/test_codegraph_overview_tool.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_overview_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: expose ASTCache.fts5_available property and CallGraph public methods
  openspec/changes/expose-cache-and-callgraph-internals/spec.md
  openspec/changes/expose-cache-and-callgraph-internals/tasks.md
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_call_graph_integration.py
  tests/unit/test_codegraph_impact_tool.py
  tests/unit/test_codegraph_query_backend.py
  tests/unit/test_codegraph_visualize_tool.py
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/mcp/tools/_fts_fast_path.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): mark expose-cache-and-callgraph-internals tasks complete
  openspec/changes/expose-cache-and-callgraph-internals/tasks.md
Due: none

refactor: expose CallGraph internal methods as public aliases (phase 2)
  openspec/changes/expose-callgraph-internals-phase2/spec.md
  openspec/changes/expose-callgraph-internals-phase2/tasks.md
  tests/unit/test_call_graph_cached.py
  tests/unit/test_call_graph_integration.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: expose DependencyGraph.is_excluded/iter_source_files; fix missed _find_enclosing_func in cached tests
  tests/unit/test_call_graph_cached.py
  tests/unit/test_project_graph_coverage.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): update tasks.md — add P6/T8 for CodeGraphCallTool, update V1→138 passed
  openspec/changes/expose-mcp-tool-callgraph-api/tasks.md
Due: none

refactor: expose MCP tool lazy-init methods as public API
  openspec/changes/expose-mcp-tool-callgraph-api/spec.md
  openspec/changes/expose-mcp-tool-callgraph-api/tasks.md
  tests/unit/test_codegraph_impact_tool.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_overview_tool.py
  tests/unit/test_codegraph_query_tool_core.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_overview_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): eliminate remaining private-attr violations in 4 test files
  tests/unit/test_call_graph_tool.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_overview_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): mark expose-mcp-tool-callgraph-api tasks complete (PR #206)
  openspec/changes/expose-mcp-tool-callgraph-api/tasks.md
Due: none

fix(ruff): remove duplicate has_node/node_count/edge_count from rebase
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: consolidate code intelligence architecture
  docs/CODEMAPS/formatters.md
  tests/unit/test_codegraph_query_backend.py
  tests/unit/test_xref.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/semantic_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): share codegraph visualization bootstrap
  tests/unit/test_codegraph_visualization_hub.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualization_hub.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): route query uml facet through visualization hub
  tests/unit/test_codegraph_visualization_hub.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualization_hub.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(tests): split test_codegraph_query_tool.py (1980→6 files, phase8 slice)
  tests/unit/test_codegraph_query_tool_advanced.py
  tests/unit/test_codegraph_query_tool_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: expose remaining MCP tool private attrs as public API
  openspec/changes/expose-remaining-mcp-tool-private-attrs/spec.md
  openspec/changes/expose-remaining-mcp-tool-private-attrs/tasks.md
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_pr_review_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(openspec): create expose-callgraph-core-private-attrs spec
  openspec/changes/expose-callgraph-core-private-attrs/spec.md
  openspec/changes/expose-callgraph-core-private-attrs/tasks.md
Due: none

docs: update expose-remaining-mcp-tool-private-attrs tasks — Phase 4 complete
  openspec/changes/expose-remaining-mcp-tool-private-attrs/tasks.md
Due: none

chore(openspec): mark expose-remaining-mcp-tool-private-attrs all tasks complete
  openspec/changes/expose-remaining-mcp-tool-private-attrs/tasks.md
Due: none

fix(cli): align --full-index-mode choices with MCP tool valid modes
  tests/unit/cli/test_argument_parser_builder_options.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add noqa SLF001 to test_ast_cache_tool.py fixture setup write
  tests/unit/test_ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
