Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat(modification-guard): unified summary_line output
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: prepare hotfix v1.11.1
  CHANGELOG.md
  TODOS.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update README version badges to v1.11.1
  README.md
  README_ja.md
  README_zh.md
Due: none

chore: sync uv.lock package version to 1.11.1
  uv.lock
Due: none

fix: support --table json in CLI
  tests/integration/cli/test_cli_commands.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: stabilize flaky CI checks
  tests/unit/core/test_exception_context_properties.py
  tests/unit/performance/test_async_performance.py
  tests/unit/performance/test_mcp_performance.py
  tests/unit/security/test_security_boundary_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: support --table json in CLI (#128)
  tests/integration/cli/test_cli_commands.py
  tests/unit/core/test_exception_context_properties.py
  tests/unit/performance/test_async_performance.py
  tests/unit/performance/test_mcp_performance.py
  tests/unit/security/test_security_boundary_properties.py
  tree_sitter_analyzer/formatters/base_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: 配置完全自主开发模式
  .claude/settings.local.json
  AUTONOMOUS.md
  scripts/autonomous-dev.sh
  scripts/autonomous-loop.sh
Due: check-json-local

feat: Sprint 1 T1+T2 — 新增 Skill 层 + 全量权限
  .claude/settings.local.json
  .claude/skills/ts-analyzer-skills/SKILL.md
Due: check-json-local

fix: 修复 autonomous-loop.sh 整数比较 bug
  scripts/autonomous-loop.sh
Due: none

fix: trace_impact call_count truncation — fix skipped mock test
  tests/unit/mcp/test_trace_impact_count_fix.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Sprint 1 T3-T5 — CJK query tests + token benchmarks + docs
  openspec/changes/add-claude-code-skill/tasks.md
  progress.md
  task_plan.md
  tests/integration/mcp/test_tools/test_cjk_skill_queries.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add StreamableHTTP transport for MCP server (Phase 2.1)
  openspec/changes/add-streamable-http-transport/proposal.md
  tests/unit/mcp/test_streamable_http_server.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/streamable_http_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

style: ruff fixes for StreamableHTTP tests
  tests/unit/mcp/test_streamable_http_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add public SDK facade for Python embedding (Phase 2.2)
  tests/unit/test_sdk.py
  tree_sitter_analyzer/sdk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 2 complete — SDK embedding + schema examples
  openspec/changes/add-streamable-http-transport/tasks.md
  progress.md
  task_plan.md
  tests/unit/mcp/test_sdk.py
  tests/unit/mcp/test_tool_schema_examples.py
  tree_sitter_analyzer/mcp/sdk.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add dependency graph + health score engine (Phase 3.1 + 3.2)
  openspec/changes/add-dependency-graph-and-health-score/proposal.md
  tests/unit/analysis/test_dependency_graph.py
  tree_sitter_analyzer/analysis/__init__.py
  tree_sitter_analyzer/analysis/dependency_graph.py
  tree_sitter_analyzer/analysis/health_score.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update task_plan + progress for Phases 2-4 completion
  progress.md
  task_plan.md
Due: none

feat: Phase 3.3 — blast radius + dependency query tool
  progress.md
  task_plan.md
  tests/unit/mcp/test_dependency_query.py
  tree_sitter_analyzer/mcp/tools/dependency_query_tool.py
  tree_sitter_analyzer/mcp/utils/graph_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add error recovery mechanism (Phase 5.2)
  openspec/changes/add-error-recovery-mechanism/proposal.md
  tests/unit/analysis/test_error_recovery.py
  tree_sitter_analyzer/analysis/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update task_plan — Phase 5.2+5.3 complete
  task_plan.md
Due: none

feat: Phase 5.1 — TOON key alias optimization
  task_plan.md
  tests/unit/formatters/test_toon_key_aliases.py
  tree_sitter_analyzer/formatters/toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress — all 5 phases complete
  progress.md
Due: none

docs: update progress — Phase 5.2 error recovery complete
  progress.md
Due: none

feat: Phase 4.3 — multi-language AST chunking optimization
  openspec/changes/add-ast-chunking-optimization/tasks.md
  tests/unit/core/test_ast_chunker.py
  tree_sitter_analyzer/core/ast_chunker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress — Phase 4.3 AST chunking complete
  progress.md
  task_plan.md
Due: none

docs: mark Phase 5 complete — all phases done
  task_plan.md
Due: none

feat: v2 自主开发计划 — 80+ 任务 + 永续循环
  AUTONOMOUS.md
  scripts/autonomous-loop.sh
  task_plan.md
Due: none

fix: TOON encoder circular ref crash + compact array alias mismatch
  tree_sitter_analyzer/formatters/toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 6.2 — coverage boost tests + SDK parameter fix
  tests/unit/formatters/test_base_formatter_coverage.py
  tests/unit/formatters/test_compat.py
  tests/unit/mcp/test_edge_extractors.py
  tests/unit/mcp/test_java_edge_extractor.py
  tests/unit/test_sdk.py
  tests/unit/utils/test_encoding_utils_coverage.py
  tree_sitter_analyzer/sdk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add cycle detection, cyclomatic complexity, and dependency weights
  tests/unit/analysis/test_analysis_engine_deep.py
  tree_sitter_analyzer/analysis/dependency_graph.py
  tree_sitter_analyzer/analysis/health_score.py
  tree_sitter_analyzer/mcp/utils/graph_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: register dependency_query in MCP server + comprehensive skill routing tests
  tests/unit/mcp/test_skill_routing.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add C#, Go, Kotlin edge extractors for dependency graph
  tests/unit/mcp/test_new_edge_extractors.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/__init__.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/csharp.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/go.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/java.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/kotlin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add semantic boundary detection and import context enrichment to AST chunker
  tests/unit/core/test_ast_chunker_deep.py
  tree_sitter_analyzer/core/ast_chunker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: SDK batch analysis, caching, and extended tools (trace/guard/dependency)
  tests/unit/mcp/test_sdk_extended.py
  tree_sitter_analyzer/mcp/sdk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Mermaid/DOT cycle annotation + multi-language query support
  tests/unit/analysis/test_cycle_annotation.py
  tree_sitter_analyzer/analysis/dependency_graph.py
  tree_sitter_analyzer/mcp/tools/dependency_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: SSE heartbeat keepalive + rate limiting for StreamableHTTP server
  tests/unit/mcp/test_streamable_http.py
  tree_sitter_analyzer/mcp/streamable_http_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: multi-language regex fallback in error recovery
  tests/unit/analysis/test_error_recovery_lang.py
  tree_sitter_analyzer/analysis/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
