Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: cover complexity coverage gaps
  tests/unit/test_complexity_heatmap.py
  tests/unit/test_health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

style: refresh knowledge graph studio UI
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/knowledge_graph/static/app.css
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

style: refresh knowledge graph studio UI (#1121)
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/knowledge_graph/static/app.css
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): decompose base_tool.py into focused modules
  tests/unit/mcp/tools/test_strict_params.py
  tests/unit/mcp/tools/test_verdict.py
  tree_sitter_analyzer/mcp/tools/_language_mismatch.py
  tree_sitter_analyzer/mcp/tools/_strict_params.py
  tree_sitter_analyzer/mcp/tools/_verdict.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: add pre-commit hook to block local development artifacts
  .pre-commit-config.yaml
  scripts/check-local-artifacts.sh
Due: check-yaml-local

chore: add node_modules/ to .gitignore
  .gitignore
Due: none

chore: add test quality rules and pre-commit enforcement gates
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/check-test-file-names.sh
Due: check-yaml-local

fix: correct relative import in exceptions/execution.py after subpackage move
  tree_sitter_analyzer/exceptions/execution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: address Codex P2 review findings
  docs/CODEMAPS/formatters.md
  scripts/check-test-file-names.sh
  tests/unit/languages/test_java_regression.py
  tree_sitter_analyzer/knowledge_graph/server.py
  tree_sitter_analyzer/serialization/json_serializer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update contract test path _ast_extraction.py -> cache/extraction.py
  tests/contracts/test_internal_architecture_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: mark 3 failing tests correctly
  tests/unit/languages/test_java_regression.py
  tests/unit/mcp/test_output_cost_invariants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): establish green baseline before Phase 1 test purge
  .gitignore
  tests/integration/mcp/test_intent_aliases_integration.py
  tests/unit/cli/test_n1_case_resolution.py
  tests/unit/core/test_parser.py
  tests/unit/mcp/test_search_content_execute.py
  tests/unit/mcp/test_search_content_file_in_roots.py
  tests/unit/mcp/test_search_content_tool_execute.py
  tests/unit/mcp/test_trace_no_duplicate_results_array.py
  tests/unit/mcp/tools/test_list_files_path_alias.py
  tests/unit/test_swift_method_resolution.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(phase4): add benchmark harness, CI step, and benchmarks/README
  .github/workflows/benchmarks.yml
  benchmarks/README.md
  scripts/benchmark.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

feat(plugins): Phase 2 — golden master snapshots, CI gate, Lua demo plugin
  docs/CODEMAPS/languages.md
  scripts/check_language_branches.py
  scripts/snapshot_phase2.py
  tests/golden/snapshots/phase2_before_bash.json
  tests/golden/snapshots/phase2_before_c.json
  tests/golden/snapshots/phase2_before_cpp.json
  tests/golden/snapshots/phase2_before_css.json
  tests/golden/snapshots/phase2_before_go.json
  tests/golden/snapshots/phase2_before_html.json
  tests/golden/snapshots/phase2_before_java.json
  tests/golden/snapshots/phase2_before_javascript.json
  tests/golden/snapshots/phase2_before_json.json
  tests/golden/snapshots/phase2_before_kotlin.json
  tests/golden/snapshots/phase2_before_markdown.json
  tests/golden/snapshots/phase2_before_php.json
  tests/golden/snapshots/phase2_before_python.json
  tests/golden/snapshots/phase2_before_ruby.json
  tests/golden/snapshots/phase2_before_rust.json
  tests/golden/snapshots/phase2_before_scala.json
  tests/golden/snapshots/phase2_before_sql.json
  tests/golden/snapshots/phase2_before_swift.json
  tests/golden/snapshots/phase2_before_typescript.json
  tests/golden/snapshots/phase2_before_yaml.json
  tree_sitter_analyzer/languages/lua_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): Phase 5 — Claude Code hooks installer script
  scripts/install_hooks.sh
Due: none

fix: address Codex P1/P2 review findings for phase1-test-purge
  scripts/audit_test_quality.py
  tests/integration/mcp/test_intent_aliases_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: address Codex P1/P2 review findings for phase2-lang-abstraction
  docs/CODEMAPS/languages.md
  scripts/check_language_branches.py
  scripts/snapshot_phase2.py
  tests/unit/core/test_parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: address Codex P2 review findings for phase4-performance
  .github/workflows/benchmarks.yml
  scripts/benchmark.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix: commit hooks files to git and improve install_hooks.sh validation
  .claude/hooks/on-file-edit.sh
  .claude/hooks/pre-edit-impact.sh
  .claude/settings.json
  scripts/install_hooks.sh
Due: check-json-local

fix(ci): suppress mypy import-not-found error for tree_sitter_lua
  pyproject.toml
Due: check-toml-local

fix(ci): resolve test quality audit failures in phase1-test-purge
  tests/integration/cli/test_read_partial_tool_extended.py
  tests/integration/cli/test_universal_analyze_tool_extended.py
  tests/integration/mcp/test_tools/test_table_format_tool.py
  tests/unit/cli/test_universal_analyze_tool_coverage.py
  tests/unit/core/test_async_query_service.py
  tests/unit/core/test_manager_internal_branches.py
  tests/unit/core/test_query_filter_properties.py
  tests/unit/core/test_serialization_roundtrip_properties.py
  tests/unit/formatters/test_sql_formatter_wrapper_conversion.py
  tests/unit/formatters/test_toon_encoder.py
  tests/unit/languages/test_csharp_plugin_elements.py
  tests/unit/languages/test_csharp_plugin_enhanced.py
  tests/unit/languages/test_typescript_extractor_comprehensive.py
  tests/unit/languages/test_yaml_query_properties.py
  tests/unit/mcp/test_analyze_code_structure_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_core.py
  tests/unit/mcp/test_batch_search_tool.py
  tests/unit/mcp/test_dependency_analysis_tool.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
  tests/unit/mcp/tools/test_element_extractor_coverage.py
  tests/unit/mcp/tools/test_refactoring_plan_builder_helpers.py
  tests/unit/security/test_boundary_manager_coverage.py
  tests/unit/security/test_mcp_security.py
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_tool.py
  tests/unit/test_call_tree_primitives.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_health_history.py
  tests/unit/test_schema_integrity.py
  tests/unit/utils/test_logging.py
  tests/unit/utils/test_logging_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(plugins): convert lua_plugin to package structure (contract test compliance)
  docs/CODEMAPS/languages.md
  tree_sitter_analyzer/languages/lua_plugin/__init__.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): use consistent SecurityValidator import path to fix Windows isinstance failure
  tests/unit/cli/test_universal_analyze_tool_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(plugins): correct relative imports in lua_plugin package
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): update supported language count to 26 after Lua plugin addition
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(plugins): Phase 2 — language abstraction unification (#1125)
  docs/CODEMAPS/languages.md
  pyproject.toml
  scripts/check_language_branches.py
  scripts/snapshot_phase2.py
  tests/golden/snapshots/phase2_before_bash.json
  tests/golden/snapshots/phase2_before_c.json
  tests/golden/snapshots/phase2_before_cpp.json
  tests/golden/snapshots/phase2_before_css.json
  tests/golden/snapshots/phase2_before_go.json
  tests/golden/snapshots/phase2_before_html.json
  tests/golden/snapshots/phase2_before_java.json
  tests/golden/snapshots/phase2_before_javascript.json
  tests/golden/snapshots/phase2_before_json.json
  tests/golden/snapshots/phase2_before_kotlin.json
  tests/golden/snapshots/phase2_before_markdown.json
  tests/golden/snapshots/phase2_before_php.json
  tests/golden/snapshots/phase2_before_python.json
  tests/golden/snapshots/phase2_before_ruby.json
  tests/golden/snapshots/phase2_before_rust.json
  tests/golden/snapshots/phase2_before_scala.json
  tests/golden/snapshots/phase2_before_sql.json
  tests/golden/snapshots/phase2_before_swift.json
  tests/golden/snapshots/phase2_before_typescript.json
  tests/golden/snapshots/phase2_before_yaml.json
  tests/integration/mcp/test_intent_aliases_integration.py
  tests/unit/core/test_engine.py
  tests/unit/core/test_parser.py
  tests/unit/core/test_query_filter_properties.py
  tests/unit/mcp/test_analyze_code_structure_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_core.py
  tests/unit/mcp/test_universal_analyze_tool_core.py
  tree_sitter_analyzer/languages/lang_extension_map.py
  tree_sitter_analyzer/languages/lua_plugin/__init__.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(mcp): Phase 3 — MCP tool layer cleanup (dead code removal + facade contracts + file splits)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  reports/mcp-dead-code.json
  scripts/audit_mcp_line_length.py
  scripts/audit_mcp_reachability.py
  scripts/update_facade_snapshots.py
  tests/contracts/snapshots/mcp_facade_input_schema.json
  tests/contracts/test_mcp_facade_schema_contract.py
  tests/integration/core/test_analyze_scale_tool_cli_compatible.py
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/test_symbol_lineage_tool.py
  tests/unit/mcp/test_tools/test_analyze_scale_tool_cli_compat_unit.py
  tests/unit/mcp/test_unreachable_code_tool.py
  tests/unit/test_codegraph_refactor_tool.py
  tests/unit/test_middleware_detector.py
  tree_sitter_analyzer/mcp/tools/_graph_cache_fingerprint.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool_cli_compatible.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_refactor_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/middleware_detector_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/tools/unreachable_code_tool.py
  tree_sitter_analyzer/mcp/tools/utils/codegraph_context_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/codegraph_context_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/lineage_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/lineage_graph_builder.py
  tree_sitter_analyzer/mcp/tools/utils/outline_enrichers.py
  tree_sitter_analyzer/mcp/tools/utils/outline_extractors.py
  tree_sitter_analyzer/mcp/tools/utils/scale_guidance_builder.py
  tree_sitter_analyzer/mcp/tools/utils/scale_structural_extractor.py
  tree_sitter_analyzer/mcp/tools/utils/trace_impact_formatter.py
  tree_sitter_analyzer/mcp/tools/utils/trace_impact_graph_walker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): restore re-export imports in analyze_scale_helpers.py (noqa F401)
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): resolve import errors and language branch gate in phase3-mcp-cleanup
  tests/unit/mcp/test_numeric_param_coercion.py
  tests/unit/mcp/test_search_content_file_in_roots.py
  tests/unit/mcp/test_trace_no_duplicate_results_array.py
  tests/unit/mcp/tools/test_list_files_path_alias.py
  tests/unit/test_fts_fast_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
