Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(docs): compress README methodology note to stay under the 500-line cap
  README.md
Due: none

test(benchmarks): add tool-menu-size experimental arm to codegraph_compare harness
  benchmarks/codegraph_compare/TOOL-MENU-EXPERIMENT-FINDINGS.md
  benchmarks/codegraph_compare/tool_menu_experiment.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(registry): add server.json manifest for MCP Registry submission
  docs/REGISTRY-SUBMISSION-PREP.md
  server.json
Due: check-json-local

docs(articles): finalize polyglot-miswire-article and add security-posture article
  docs/articles/ast-oracle-shootout.md
  docs/articles/polyglot-miswire-article.md
  docs/articles/security-posture.md
  docs/launch-plan-visibility-campaign.md
Due: none

fix(docs): correct GAUNTLET prose to match table (1 vs 4 mis-wires by version)
  benchmarks/codegraph_compare/GAUNTLET.md
Due: none

fix(review): address Codex CR findings on server.json, security-posture, ast-oracle, registry-prep
  docs/REGISTRY-SUBMISSION-PREP.md
  docs/articles/ast-oracle-shootout.md
  docs/articles/security-posture.md
  server.json
Due: check-json-local

fix(lint): sort imports in tool_menu_experiment.py (ruff I001)
  benchmarks/codegraph_compare/tool_menu_experiment.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(synapse): arch-fix synapse coverage groups 1-8 + complexity filter
  scripts/benchmark_real_projects.py
  tests/benchmarks/claims/test_unknown_rate_ratchet.py
  tests/integration/cli/test_cli_query_filter_integration.py
  tests/unit/core/test_query_filter.py
  tests/unit/core/test_query_service.py
  tests/unit/core/test_query_service_helpers.py
  tests/unit/test_bash_resolver.py
  tests/unit/test_corpus_exclusion.py
  tests/unit/test_lua_extractor.py
  tests/unit/test_plugin_skip_warning.py
  tests/unit/test_star_import_resolution.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/core/_query_service_helpers.py
  tree_sitter_analyzer/core/query_filter.py
  tree_sitter_analyzer/core/query_service.py
  tree_sitter_analyzer/languages/lua_plugin/__init__.py
  tree_sitter_analyzer/languages/lua_plugin/extractor.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/synapse_resolver/languages/bash.py
  tree_sitter_analyzer/synapse_resolver/languages/scala.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): address MEDIUM findings M1-M4 from arch-fix review
  scripts/benchmark_real_projects.py
  tests/unit/test_scala_resolver.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/synapse_resolver/languages/scala.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): address Ruff/MyPy/ratchet failures and Codex P1 review findings
  docs/CODEMAPS/languages.md
  tests/benchmarks/claims/test_unknown_rate_ratchet.py
  tests/integration/cli/test_cli_query_filter_integration.py
  tests/unit/test_bash_resolver.py
  tests/unit/test_corpus_exclusion.py
  tests/unit/test_lua_extractor.py
  tests/unit/test_plugin_skip_warning.py
  tests/unit/test_scala_resolver.py
  tests/unit/test_star_import_resolution.py
  tree_sitter_analyzer/core/query_filter.py
  tree_sitter_analyzer/languages/lua_plugin/extractor.py
  tree_sitter_analyzer/synapse_resolver/languages/scala.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(lint): sort inline imports in test_query_service.py (ruff I001)
  tests/unit/core/test_query_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(docs): regen facade-actions.md + update CLI flag count 321→323 (added exclude_patterns/no_default_excludes)
  README.md
  README_ja.md
  README_zh.md
  docs/api/facade-actions.md
Due: none

fix(docs): trim trailing blank lines from READMEs (README.md was exactly 500 lines, test requires < 500)
  README.md
  README_ja.md
  README_zh.md
Due: none

test(scala): add receiver-guard and named-import coverage
  tests/unit/test_scala_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(lua): add mock-grammar tests for LuaElementExtractor body coverage
  tests/unit/test_lua_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(perf): mark timing test slow to exclude from PR fast matrix
  tests/unit/test_route_detector_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(roadmap): mark Scala resolver complete; add 124x/390x dual-metric note
  README.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

benchmarks(phase1b): implement tsa_explore prototype + Condition B adapter
  benchmarks/codegraph_compare/GAUNTLET.md
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/tsa_1tool.py
  benchmarks/codegraph_compare/arms.yaml
  tree_sitter_analyzer/mcp/tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

benchmarks(gauntlet): fresh same-session CodeGraph v1.4.1 vs TSA head-to-head
  benchmarks/codegraph_compare/GAUNTLET.md
Due: none

docs(readme): update head-to-head table with fresh 2026-07-12 same-session numbers
  README.md
Due: none

fix(benchmarks): remove unused _ANALYZER_ROOT import in tsa_1tool adapter
  benchmarks/codegraph_compare/adapters/tsa_1tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci(gitflow-guard): allow benchmarks/* branch prefix for benchmark PRs
  .github/workflows/gitflow-guard.yml
Due: check-yaml-local

test(phase1b): add unit tests for tsa_explore prototype (coverage for patch check)
  tests/unit/test_tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): use != [] instead of >= 1 for weak assertion ratchet compliance
  tests/unit/test_tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(phase1b): add _get_facades cache-hit and cache-miss tests for patch coverage
  tests/unit/test_tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(codegraph): force-directed viz, DOT/GraphML export, centrality, auto-KG, Lua moat, perf
  LOOP.md
  STATE.md
  loop-budget.md
  loop-constraints.md
  loop-run-log.md
  pyproject.toml
  server.json
  tests/unit/test_lua_resolver.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/knowledge_graph/__init__.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
  tree_sitter_analyzer/synapse_resolver/languages/lua.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): harden indexing and graph exports
  STATE.md
  loop-run-log.md
  tests/unit/test_ast_cache.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_lua_resolver.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(deps): correct tree-sitter-lua wheel URL
  uv.lock
Due: none

fix(lua): use tree-sitter query compatibility layer
  docs/CODEMAPS/languages.md
  tests/unit/test_lua_extractor.py
  tree_sitter_analyzer/languages/lua_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): address codex findings on graph sync and lua activation
  loop-constraints.md
  tests/unit/test_knowledge_graph.py
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/knowledge_graph/stores.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(graph): make SQLite the canonical graph store
  STATE.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/knowledge-graph.md
  docs/knowledge-graph-scale-benchmark.md
  rfcs/0020-sqlite-canonical-knowledge-graph.md
  scripts/benchmark_java_corpus_end_to_end.py
  scripts/benchmark_knowledge_graph_scale.py
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_knowledge_graph_uml.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/knowledge_graph/__init__.py
  tree_sitter_analyzer/knowledge_graph/query.py
  tree_sitter_analyzer/knowledge_graph/server.py
  tree_sitter_analyzer/knowledge_graph/static/app.js
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(graph): align index result with SQLite-only storage
  tests/unit/test_ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(graph): invalidate stale Ladybug projections
  tests/unit/test_knowledge_graph.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: stabilize constraint benchmark on macOS runners
  tests/unit/test_constraint_dsl.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: bound the default pytest gate
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
  AGENTS.md
  README.md
  docs/TESTING.md
  docs/agent-tooling-gap-report.md
  docs/developer_guide.md
  pyproject.toml
  pytest.ini
  tests/contracts/test_agent_docs_contract.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/governance/test_ci_routing_contract.py
  tests/governance/test_postmortem_guards.py
  tests/integration/cli/test_cli_async.py
  tests/unit/cli/test_cli_main_module.py
  tests/unit/formatters/test_html_formatter_basic.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/security/test_validator.py
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/constraints/parser.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: keep README within size contract
  README.md
Due: none

fix: bound the default pytest gate (#1150)
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
  AGENTS.md
  README.md
  docs/TESTING.md
  docs/agent-tooling-gap-report.md
  docs/developer_guide.md
  pyproject.toml
  pytest.ini
  tests/contracts/test_agent_docs_contract.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/governance/test_ci_routing_contract.py
  tests/governance/test_postmortem_guards.py
  tests/integration/cli/test_cli_async.py
  tests/unit/cli/test_cli_main_module.py
  tests/unit/formatters/test_html_formatter_basic.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/security/test_validator.py
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/constraints/parser.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(lua): wire loader-backed symbol indexing
  README.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/languages.md
  tests/contracts/test_plugin_architecture_contract.py
  tests/unit/cli/test_info_commands.py
  tests/unit/core/test_language_loader_comprehensive.py
  tests/unit/core/test_parser.py
  tests/unit/languages/test_lua_plugin.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  tree_sitter_analyzer/languages/lua_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: keep README within size contract
  README.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
