Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

docs: propose revision-bound index writer ownership
  rfcs/0032-index-writer-ownership.md
  rfcs/README.md
Due: none

fix: share AST cache identity across project root aliases (#1411)
  tests/unit/test_ast_cache.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/cache/helpers.py
  tree_sitter_analyzer/cache/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record measured writer guard limitations
  rfcs/0032-index-writer-ownership.md
Due: none

docs: qualify writer fencing against real cache operations
  rfcs/0032-index-writer-ownership.md
Due: none

docs: specify writer recovery and retry contracts
  rfcs/0032-index-writer-ownership.md
Due: none

docs: record repeated trusted feedback measurements
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs: record repeated trusted feedback measurements (#1413)
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

test: reject warm Pulse reuse after index invalidation
  tests/unit/mcp/tools/test_pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: ground candidate compatibility in released artifacts
  rfcs/0032-index-writer-ownership.md
Due: none

docs: track temporary Pulse regression suite growth
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
Due: none

docs: reject incomplete old-writer guard qualification
  rfcs/0032-index-writer-ownership.md
Due: none

docs: qualify separate-file writer isolation alternative
  rfcs/0032-index-writer-ownership.md
Due: none

docs: record legacy FTS view isolation probe
  rfcs/0032-index-writer-ownership.md
Due: none

docs: qualify writer progress with retained old transactions
  rfcs/0032-index-writer-ownership.md
Due: none

test: preserve Pulse index admission after warming (#1414)
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/unit/mcp/tools/test_pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: specify isolated cache publication protocol
  rfcs/0032-index-writer-ownership.md
Due: none

docs: specify released storage API migration boundary
  rfcs/0032-index-writer-ownership.md
Due: none

fix: keep rebuild status probes read-only
  tests/unit/test_ast_cache_build_state.py
  tree_sitter_analyzer/mcp/tools/index_rebuild_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: protect diagnostic SQLite reads from path races
  tests/unit/mcp/test_self_health_tool.py
  tests/unit/mcp/tools/test_refactor_queue_tool.py
  tests/unit/mcp/tools/utils/test_dependents_index.py
  tree_sitter_analyzer/mcp/tools/refactor_queue_tool.py
  tree_sitter_analyzer/mcp/tools/self_health_tool.py
  tree_sitter_analyzer/mcp/tools/utils/dependents_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: prevent freshness probes from creating empty indexes
  tests/unit/mcp/test_symbol_lineage_tool.py
  tree_sitter_analyzer/cache/fingerprint.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: avoid recreating indexes during constraint reads
  tests/unit/mcp/_safe_to_edit_tool_helpers.py
  tests/unit/mcp/test_safe_to_edit_tool_snapshot_integrity.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: read cached dependency graphs without schema mutations
  tests/unit/test_change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind parser cache entries to parsed source content
  tree_sitter_analyzer/core/parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: invalidate dependency graphs on full source content changes
  tests/unit/core/test_parser.py
  tests/unit/mcp/test_graph_cache_invalidation.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: prevent SQLite read-side creation and migration (#1415)
  tests/unit/mcp/_safe_to_edit_tool_helpers.py
  tests/unit/mcp/test_safe_to_edit_tool_snapshot_integrity.py
  tests/unit/mcp/test_self_health_tool.py
  tests/unit/mcp/test_symbol_lineage_tool.py
  tests/unit/mcp/tools/test_refactor_queue_tool.py
  tests/unit/mcp/tools/utils/test_dependents_index.py
  tests/unit/test_ast_cache_build_state.py
  tests/unit/test_change_impact_cached_graph.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/mcp/tools/index_rebuild_signal.py
  tree_sitter_analyzer/mcp/tools/refactor_queue_tool.py
  tree_sitter_analyzer/mcp/tools/self_health_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
  tree_sitter_analyzer/mcp/tools/utils/dependents_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: reject cached dependency graphs with stale source inventories
  tests/unit/test_change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: invalidate live graph tool caches on source content changes
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/test_safe_to_edit_tool_syntax_envelope.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: verify repeated impact calls across preserved-mtime edits
  tests/unit/test_change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: reject unusable cached import extraction evidence
  tests/unit/test_change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: reuse dependency graphs within one project health scan
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: revalidate dependency scores before health cache reuse
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind cached health scores to source content
  tests/unit/test_health_score_cache.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/registry/health_score_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind parser, graph and live tool caches to source content (#1416)
  tests/unit/core/test_parser.py
  tests/unit/mcp/test_graph_cache_invalidation.py
  tests/unit/mcp/test_safe_to_edit_tool_syntax_envelope.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: detect restored source mutations during health scoring
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/registry/health_score_cache.py
  tree_sitter_analyzer/registry/health_score_fingerprint.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: correct raw query flag in CLI codemap
  docs/CODEMAPS/cli.md
Due: none

perf: prefetch cold health Git scores with bounded concurrency
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: verify health prefetch cleanup on failure and interruption
  tests/unit/test_health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: reject malformed cached import entries before graph reuse
  tests/unit/test_change_impact_cached_graph.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: validate cached source evidence and accelerate cold health scoring (#1417)
  docs/CODEMAPS/cli.md
  tests/unit/test_change_impact_cached_graph.py
  tests/unit/test_health_score_cache.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/registry/health_score_cache.py
  tree_sitter_analyzer/registry/health_score_fingerprint.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record landed cache trust and health latency evidence
  rfcs/ROADMAP-no1-agent-trust.md
Due: none
