Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat(benchmarks): isolate Codex MCP smoke arms
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/claude_runner.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): bind Smoke attempts to V1 manifests
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_request.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): produce exact Gin index evidence
  .gitignore
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/smoke_evidence.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): freeze isolated Gin smoke workspace
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/smoke_evidence.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_request.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): seal invalid smoke evidence
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_execution.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): close smoke red-team gaps
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_policy.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): enforce closed smoke inputs
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): seal smoke execution boundaries
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): close final smoke isolation gaps
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmarks): strengthen workspace path assertion
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmarks): encode Codex MCP config as TOML
  benchmarks/codegraph_compare/adapters/claude_runner.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): reject failed Smoke index queries
  benchmarks/codegraph_compare/smoke_policy.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): recognize standard MCP error flags
  benchmarks/codegraph_compare/smoke_policy.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): require terminal isolated index evidence
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): persist Smoke audits before attempts
  benchmarks/codegraph_compare/smoke_execution.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): bind frozen Smoke index contents
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/integrity.py
  benchmarks/codegraph_compare/smoke_evidence.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): revalidate frozen indexes after trials
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): audit Codex shell-wrapped commands
  benchmarks/codegraph_compare/smoke_policy.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmarks): isolate CodeGraph resolver in CI
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(benchmarks): normalize mocked executable path
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): disable self-cancelling Claude review
  .github/workflows/claude-review.yml
Due: check-yaml-local

fix(ci): disable self-cancelling Claude review (#1200)
  .github/workflows/claude-review.yml
Due: check-yaml-local

feat(benchmarks): execute isolated NO1-001B Gin Smoke (#1199)
  .gitignore
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/integrity.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_evidence.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_policy.py
  benchmarks/codegraph_compare/smoke_request.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): preflight frozen Smoke models
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_preflight.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): preflight frozen Smoke models (#1202)
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_preflight.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): schema-bind model preflight
  benchmarks/codegraph_compare/smoke_preflight.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): schema-bind model preflight (#1203)
  benchmarks/codegraph_compare/smoke_preflight.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): retain terminal exception evidence
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_execution.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): retain terminal exception evidence (#1204)
  benchmarks/codegraph_compare/smoke_bundle.py
  benchmarks/codegraph_compare/smoke_execution.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): preserve bound index hashes in validation
  benchmarks/codegraph_compare/_integrity_gate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): preserve bound index hashes in validation (#1205)
  benchmarks/codegraph_compare/_integrity_gate.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(security): avoid repository evidence cardinality coupling
  tests/unit/security/test_fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(security): avoid repository evidence cardinality coupling (#1207)
  tests/unit/security/test_fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(security): budget whole-repository fixture canary
  tests/unit/security/test_fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(security): budget whole-repository fixture canary (#1208)
  tests/unit/security/test_fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmarks): preserve smoke evidence integrity
  benchmarks/codegraph_compare/smoke_evidence.py
  benchmarks/codegraph_compare/smoke_execution.py
  benchmarks/codegraph_compare/smoke_plan.py
  benchmarks/codegraph_compare/smoke_workspace.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmarks): pin frozen index path
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: add Spanish README
  README.es-ES.md
Due: none

docs: add Spanish README (#1214)
  README.es-ES.md
Due: none
