Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

refactor: simplify element type CLI tests
  tests/unit/core/test_element_type_system.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: expand yaml helper coverage
  tests/unit/languages/test_yaml_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: ignore stale coverage reports in health scoring
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: flatten csharp variable extraction
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: extract code structure metadata helper
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: extract code structure table formatter
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: extract method modifier helper
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: batch extract code structure helpers
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: simplify code structure execute flow
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: batch simplify code structure helpers
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: extract project stats generation helpers
  tree_sitter_analyzer/mcp/resources/_project_stats_resource_helpers.py
  tree_sitter_analyzer/mcp/resources/project_stats_resource.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: split find and grep fd simulations
  tests/unit/mcp/test_mcp_find_and_grep_fd_simulation_p1.py
  tests/unit/mcp/test_mcp_find_and_grep_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: batch extract performance test helpers
  tests/integration/_test_phase7_performance_integration_helpers.py
  tests/integration/mcp/test_tools/test_table_format_tool.py
  tests/integration/test_phase7_performance_integration.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Improve project health coverage handling and scoring source extension config
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Improve agent workflow handoff and skill readiness surfacing
  docs/api/mcp_tools_specification.md
  docs/cli-reference.md
  tests/unit/cli/test_agent_skills.py
  tests/unit/mcp/test_agent_skills_tool.py
  tests/unit/mcp/test_agent_workflow_tool.py
  tests/unit/mcp/test_parser_readiness_tool.py
  tree_sitter_analyzer/cli/agent_skills.py
  tree_sitter_analyzer/cli/agent_workflow.py
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/mcp/tools/agent_workflow_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: add 5-minute autonomous loop watchdog and wiki-aware check
  .autonomous-runtime/ds-automation.yaml
  .autonomous-runtime/loop.sh
  .autonomous-runtime/status.sh
Due: check-yaml-local

chore: fix wiki snapshot path and ignore runtime artifacts
  .autonomous-runtime/loop.sh
  .gitignore
Due: none

chore: harden autonomous loop status checks
  .autonomous-runtime/status.sh
Due: none

chore: add autonomous heartbeat tick entrypoint
  .autonomous-runtime/ds-automation.yaml
  .autonomous-runtime/progress.md
  .autonomous-runtime/status.sh
  .autonomous-runtime/tick.sh
  .gitignore
Due: check-yaml-local

chore: add json autonomous status output
  .autonomous-runtime/progress.md
  .autonomous-runtime/status.sh
Due: none

test: cover autonomous status script
  tests/unit/runtime/test_autonomous_status_script.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cover autonomous tick script
  tests/unit/runtime/test_autonomous_status_script.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract YAML line-number helper for test readability
  .autonomous-runtime/progress.md
  tests/unit/languages/_test_yaml_element_metadata_properties_helpers.py
  tests/unit/languages/test_yaml_element_metadata_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: refactor yaml metadata helpers
  .autonomous-runtime/progress.md
  tests/unit/languages/_test_yaml_element_metadata_properties_helpers.py
  tests/unit/languages/test_yaml_element_metadata_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(tests): extract yaml metadata helpers
  .autonomous-runtime/progress.md
  tests/unit/languages/_test_yaml_element_metadata_properties_helpers.py
  tests/unit/languages/test_yaml_element_metadata_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: split unified analysis engine init tests into mixin
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract unified engine plugin-management tests
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract cache and language detection mixins
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract unified analysis engine analysis tests
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract security and query engine tests to mixins
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract MockLanguagePlugin tests into mixin
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract UnifiedAnalysisEngine cleanup tests
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: move more AnalysisEngine tests into mixins
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract unified engine sync tests
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract methods from TS/JS extractors — D→A/B grade
  tree_sitter_analyzer/formatters/toon_encoder.py
  tree_sitter_analyzer/languages/javascript_plugin/extractor.py
  tree_sitter_analyzer/languages/typescript_plugin/_class_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_text_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_variable_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: initialize Ruflo multi-agent orchestration platform
  .claude-flow/.gitignore
  .claude-flow/CAPABILITIES.md
  .claude-flow/agents/store.json
  .claude-flow/config.yaml
  .claude-flow/daemon-state.json
  .claude-flow/daemon.pid
  .claude-flow/metrics/codebase-map.json
  .claude-flow/metrics/learning.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/security-audit.json
  .claude-flow/metrics/swarm-activity.json
  .claude-flow/metrics/v3-progress.json
  .claude-flow/security/audit-status.json
  .claude-flow/swarm/swarm-state.json
  .claude-flow/tasks/store.json
  .mcp.json
  .swarm/memory.db
  .swarm/memory.db-shm
  .swarm/memory.db-wal
  .swarm/model-router-state.json
  .swarm/schema.sql
  .swarm/state.json
  CLAUDE.md
  ruvector.db
Due: check-yaml-local, check-json-local

chore: continue test_engine mixin extraction
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  CLAUDE.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: restore test_engine mixin test collection
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/_test_engine_test_mixin.py
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: extract engine manager tests into dedicated module
  .autonomous-runtime/findings.md
  .autonomous-runtime/progress.md
  tests/unit/core/test_engine.py
  tests/unit/core/test_engine_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor tests: extract analyze_scale_tool execute cases into mixins
  tests/unit/mcp/test_tools/_test_analyze_scale_tool_execute_mixins.py
  tests/unit/mcp/test_tools/test_analyze_scale_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
