Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(cli): --outline keeps the legacy bare form — nargs='?' positional fallback
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): bare --outline without a file errors clearly — Codex P3 + codecov
  tests/unit/cli/test_outline_cli.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: extract _resolve_outline_file — smell ratchet (56-line handler)
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(languages): container/typing gaps digest (#538)
  tests/golden_masters/plugins/go.json
  tests/golden_masters/plugins/rust.json
  tests/unit/test_container_typing_gaps_538.py
  tree_sitter_analyzer/languages/_go_type_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin exact assertions — batch 13 + ratchet baseline down
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_typescript.py
  tests/unit/languages/test_html_plugin_forms_tables.py
  tests/unit/languages/test_html_plugin_links_scripts.py
  tests/unit/test_call_graph_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(cli): --outline FILE — CLI door for the rich MCP outline schema (#582)
  README.md
  README_ja.md
  README_zh.md
  tests/unit/cli/test_outline_cli.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin,scala): inheritance extraction + Kotlin primary constructors
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/unit/languages/test_kotlin_plugin.py
  tests/unit/languages/test_kotlin_scala_inheritance_ctor.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: regenerate go/python/rust table goldens — the 5-kind protocol's table half was missed
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/compact/rust_sample_compact.md
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/toon/go_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
Due: none

test: pin exact assertions — batch 13 + ratchet baseline down (#584)
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_typescript.py
  tests/unit/languages/test_html_plugin_forms_tables.py
  tests/unit/languages/test_html_plugin_links_scripts.py
  tests/unit/test_call_graph_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(ci): AST-based loose-assertion ratchet — multiline asserts no longer evade
  scripts/check_loose_assertions.py
  scripts/check_loose_assertions.sh
  scripts/loose_assertion_baseline.txt
  tests/unit/test_check_loose_assertions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scala): accept generic_type/stable_type_identifier in extends_clause — Codex P2
  tests/unit/languages/test_kotlin_scala_inheritance_ctor.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover rust signature return-type branch and go non-container alias fallback — codecov
  tests/unit/test_container_typing_gaps_538.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(ci): AST-based loose-assertion ratchet — multiline asserts no longer evade (#586)
  scripts/check_loose_assertions.py
  scripts/check_loose_assertions.sh
  scripts/loose_assertion_baseline.txt
  tests/unit/test_check_loose_assertions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(kotlin): cover primary-ctor anonymous fallbacks and error branch
  tests/unit/languages/test_kotlin_scala_inheritance_ctor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(kotlin): pin greet() parameters exactly — ratchet
  tests/unit/languages/test_kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(rust,python): Codex P2s — trait-only abstract signatures, qualified abc.ABC
  tests/unit/test_container_typing_gaps_538.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/python_plugin/_node_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin,scala): inheritance extraction + Kotlin primary constructors (#585)
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/unit/languages/test_kotlin_plugin.py
  tests/unit/languages/test_kotlin_scala_inheritance_ctor.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ratchet): scope violations to added diff lines; include renames
  scripts/check_loose_assertions.py
  tests/unit/test_check_loose_assertions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-14 — pin 56 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_user_story_2_integration.py
  tests/unit/core/test_queries_javascript_enhanced.py
  tests/unit/test_project_graph.py
  tests/unit/test_symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(rust): drop dead receiver block in signature handler; cover guard edges — codecov
  tests/unit/test_container_typing_gaps_538.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ratchet): scope violations to added diff lines; include renames (#587)
  scripts/check_loose_assertions.py
  tests/unit/test_check_loose_assertions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin): expression-body functions no longer claim Unit return (#591)
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/languages/test_kotlin_expression_body_return.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(languages): container/typing gaps digest — Go alias+embedding, Rust trait abstracts, Python ABC, TS abstract flag (#583)
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/compact/rust_sample_compact.md
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/plugins/go.json
  tests/golden_masters/plugins/rust.json
  tests/golden_masters/toon/go_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/unit/test_container_typing_gaps_538.py
  tree_sitter_analyzer/languages/_go_type_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
  tree_sitter_analyzer/languages/python_plugin/_node_helpers.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-14 — pin 56 loose assertions in top-4 AST-ranked files (#592)
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_user_story_2_integration.py
  tests/unit/core/test_queries_javascript_enhanced.py
  tests/unit/test_project_graph.py
  tests/unit/test_symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(kotlin): raw strings (multiline_string_literal) infer String — Codex P2
  tests/unit/languages/test_kotlin_expression_body_return.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): interface method signatures extracted and owned by their interface (#588)
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/plugins/go.json
  tests/golden_masters/toon/go_sample_toon.toon
  tests/unit/languages/test_go_class_method_association.py
  tests/unit/languages/test_go_interface_methods_588.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
  tree_sitter_analyzer/languages/go_helpers.py
  tree_sitter_analyzer/languages/go_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): mod blocks extracted as container elements (#589)
  tests/golden_masters/plugins/rust.json
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/unit/languages/test_rust_mod_container_589.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin): expression-body functions no longer claim Unit return (#593)
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/unit/languages/test_kotlin_expression_body_return.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scala): expression-body defs no longer claim Unit return (#594)
  tests/unit/languages/test_scala_expression_body_return.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cpp): qualified out-of-scope definitions keep their qualifier (#590)
  tests/golden_masters/full/cpp_sample_full.md
  tests/unit/languages/test_cpp_qualified_names.py
  tree_sitter_analyzer/formatters/_cpp_formatter_convert_mixin.py
  tree_sitter_analyzer/formatters/_cpp_formatter_helpers.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): interface method signatures extracted and owned by their interface (#588) (#595)
  tests/golden_masters/compact/go_sample_compact.md
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/plugins/go.json
  tests/golden_masters/toon/go_sample_toon.toon
  tests/unit/languages/test_go_class_method_association.py
  tests/unit/languages/test_go_interface_methods_588.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
  tree_sitter_analyzer/languages/go_helpers.py
  tree_sitter_analyzer/languages/go_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rust): tracking reference on the grammar-dependency skipif — Codex P2
  tests/unit/languages/test_rust_mod_container_589.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: ratchet batch-15 — pin 49 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_csharp_plugin_enhanced.py
  tests/unit/languages/test_kotlin_coverage_boost.py
  tests/unit/languages/test_python_plugin_coverage_boost.py
  tests/unit/test_codegraph_sitemap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(scala): indented-block literals and signed ints infer types — Codex P2s
  tests/unit/languages/test_scala_expression_body_return.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cpp): namespace same-name fns are not ctors; outline carries receiver_type — Codex P2s
  tests/unit/languages/test_cpp_qualified_names.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): mod blocks extracted as container elements (#596)
  tests/golden_masters/plugins/rust.json
  tests/golden_masters/toon/rust_sample_toon.toon
  tests/unit/languages/test_rust_mod_container_589.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-15 — pin 49 loose assertions in top-4 AST-ranked files (#599)
  scripts/loose_assertion_baseline.txt
  tests/unit/languages/test_csharp_plugin_enhanced.py
  tests/unit/languages/test_kotlin_coverage_boost.py
  tests/unit/languages/test_python_plugin_coverage_boost.py
  tests/unit/test_codegraph_sitemap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(scala): expression-body defs no longer claim Unit return (#597)
  tests/unit/languages/test_scala_expression_body_return.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cpp): qualified out-of-scope definitions keep their qualifier (#598)
  tests/golden_masters/full/cpp_sample_full.md
  tests/unit/languages/test_cpp_qualified_names.py
  tree_sitter_analyzer/formatters/_cpp_formatter_convert_mixin.py
  tree_sitter_analyzer/formatters/_cpp_formatter_helpers.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(docs): agent envelope-contract guide with drift test (#520)
  docs/CODEMAPS/mcp-tools.md
  docs/agent-envelope-contract.md
  docs/toon-format-guide.md
  tests/integration/docs/test_agent_envelope_contract_doc.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
