Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(ci): verify outdated aggregate identity shape (#1243)
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(ci): verify package aggregate identity shape
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(ci): verify package aggregate identity shape (#1244)
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(ci): bind installed MCP config sidecar
  .github/workflows/reusable-native-qualification-attestation.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden outdated uv v3 attestation
  .github/workflows/reusable-native-qualification-attestation.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v3.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): close trusted outdated evidence roots
  .github/workflows/reusable-native-qualification-attestation.yml
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

test: keep trusted root fixture POSIX-native
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): anchor qualification sandbox to run identity
  .github/workflows/reusable-native-qualification-attestation.yml
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): keep POSIX sandbox helper portable
  scripts/qualify_outdated_uv.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

test: gate POSIX mode assertion by platform
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): bind installed MCP config evidence (#1245)
  .github/workflows/reusable-native-qualification-attestation.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v3.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: preserve complete NO1-006A qualification
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/README.md
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-001
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-002
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-003
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-004
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-005
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-006
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-007
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-008
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-009
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-010
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-011
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-012
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-013
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-014
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-015
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-016
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-017
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-018
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-019
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-020
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-021
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-022
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-023
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-024
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-025
Due: none

docs: preserve complete NO1-006A qualification (#1246)
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/README.md
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-001
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-002
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-003
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-004
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-005
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-006
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-007
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-008
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-009
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-010
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-011
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-012
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-013
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-014
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-015
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-016
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-017
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-018
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-019
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-020
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-021
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-022
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-023
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-024
  rfcs/evidence/no1-006a/c91b026a9a11d044f1f67fda9e060db45aebd7f3-attempt-1/evidence.tar.gz.part-025
Due: none

feat: add offline-qualified production dispatcher
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_anchor.py
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_judge.py
  benchmarks/codegraph_compare/production_rehearsal.py
  benchmarks/codegraph_compare/production_trust.py
  docs/CODEMAPS/architecture.md
  rfcs/ROADMAP-no1-agent-trust.md
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_rehearsal.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind provider termination controls
  benchmarks/codegraph_compare/production_dispatch.py
  tests/unit/test_production_dispatch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): add seven-repo setup qualification harness
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden production dispatch trust boundary
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_collector.py
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_journal_recovery.py
  benchmarks/codegraph_compare/production_rehearsal.py
  benchmarks/codegraph_compare/production_trust.py
  docs/CODEMAPS/architecture.md
  scripts/no1_003d_mutations.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_rehearsal.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): keep setup qualification fail-closed at E0
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pin production journal and provider receipt identity
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_trust.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pin provider key across production callback
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_trust.py
  tests/unit/test_production_dispatch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden production dispatch identities and wire schemas
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_journal_recovery.py
  benchmarks/codegraph_compare/production_rehearsal.py
  benchmarks/codegraph_compare/production_trust.py
  scripts/no1_003d_mutations.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): harden setup qualification receipts
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/setup_qualification_trust.py
  pyproject.toml
  tests/unit/test_benchmark_harness.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): skip POSIX qualification sandbox on Windows
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: require external authorities for production dispatch
  benchmarks/codegraph_compare/production_authorities.py
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_journal_recovery.py
  benchmarks/codegraph_compare/production_run_spec.py
  benchmarks/codegraph_compare/production_trust.py
  pyproject.toml
  tests/unit/test_production_dispatch.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: support diagnostic evidence collection on Windows
  benchmarks/codegraph_compare/production_collector.py
  tests/unit/test_production_collector.py
  tests/unit/test_production_dispatch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): bind complete qualification evidence
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: align production canary authority boundary
  benchmarks/codegraph_compare/README.md
  docs/CODEMAPS/architecture.md
Due: none

fix: keep Windows rehearsal evidence explicitly E0
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_rehearsal.py
  tests/unit/test_production_rehearsal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close strict receipt schema
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): update NO1-003D mutation gate
  scripts/no1_003d_mutations.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): keep setup qualification E0 isolated
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/setup_qualification_trust.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close production authority boundaries
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_anchor.py
  benchmarks/codegraph_compare/production_authorities.py
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_validation.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_judge.py
  benchmarks/codegraph_compare/production_rehearsal.py
  benchmarks/codegraph_compare/production_trust.py
  docs/CODEMAPS/architecture.md
  scripts/no1_003d_mutations.py
  tests/unit/test_production_anchor.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_judge.py
  tests/unit/test_production_rehearsal.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden qualification receipt validation
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  docs/CODEMAPS/architecture.md
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind signed ledger identity to change times
  benchmarks/codegraph_compare/production_authorities.py
  benchmarks/codegraph_compare/production_run_spec.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_trust.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): batch pinned inventory blob reads
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden qualification receipt evidence bounds
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close production dispatch review gaps
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_validation.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_trust.py
  pyproject.toml
  rfcs/ROADMAP-no1-agent-trust.md
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_trust.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close qualification inventory review gaps
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  pyproject.toml
  tests/unit/test_benchmark_harness.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): isolate dirfd platform simulation
  benchmarks/codegraph_compare/production_dispatch_validation.py
  tests/unit/test_production_dispatch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): bound qualification artifact verification
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
