Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs: Update tracking files - Loop 95-97 complete
  task_plan.md
Due: none

docs: Update progress.md - Session 95-97 complete
  progress.md
Due: none

docs: Context Reset - Session 95-97 complete, prepare for reset
  openspec/changes/archive/add-refactoring-suggestions/tasks.md
  progress.md
  task_plan.md
Due: none

test: Complete fix-java-implements-generics-and-annotation-attribution
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
  tests/unit/languages/test_java_implements_generics.py
  tests/unit/languages/test_java_method_only_annotations.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: Update task_plan.md and progress.md - Session 99 complete
  progress.md
  task_plan.md
Due: none

docs: Complete improve-java-annotation-extraction documentation
  CHANGELOG.md
  openspec/changes/improve-java-annotation-extraction/design.md
  openspec/changes/improve-java-annotation-extraction/tasks.md
Due: none

docs: Complete add-ast-chunking-optimization OpenSpec change
  openspec/changes/add-ast-chunking-optimization/tasks.md
Due: none

docs: Complete add-dead-code-detection OpenSpec change
  openspec/changes/add-dead-code-detection/tasks.md
Due: none

feat: Sprint 1 - Design Pattern Detection Engine
  openspec/changes/add-design-pattern-detection/tasks.md
  tests/unit/analysis/test_design_patterns.py
  tree_sitter_analyzer/analysis/design_patterns.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 2 - Design Pattern Multi-Language Support
  tests/unit/analysis/test_design_patterns_multilang.py
  tree_sitter_analyzer/analysis/design_patterns.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 3 - Design Pattern MCP Tool Integration
  openspec/changes/add-design-pattern-detection/tasks.md
  tests/unit/mcp/test_design_patterns_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/design_patterns_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Complete add-design-pattern-detection OpenSpec change
  AUTONOMOUS.md
  progress.md
  task_plan.md
Due: none

feat: add API Discovery MCP tool - Flask, FastAPI, Django, Express, Spring
  openspec/changes/add-api-discovery-tool/tasks.md
  tests/unit/analysis/test_api_discovery.py
  tests/unit/mcp/test_api_discovery_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/analysis/api_discovery.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/api_discovery_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: archive API Discovery OpenSpec change - complete
  openspec/changes/archive/add-api-discovery-tool/tasks.md
Due: none

docs: update progress.md - Session 101 complete
  progress.md
Due: none

feat: Sprint 1 - Grammar Auto-Discovery Core Introspection Engine
  openspec/changes/add-grammar-auto-discovery/tasks.md
  tests/unit/grammar_discovery/__init__.py
  tests/unit/grammar_discovery/test_introspector.py
  tests/unit/grammar_discovery/test_structural_analyzer.py
  tree_sitter_analyzer/grammar_discovery/__init__.py
  tree_sitter_analyzer/grammar_discovery/introspector.py
  tree_sitter_analyzer/grammar_discovery/structural_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 2 & 3 - Grammar Auto-Discovery Structural Analysis & Path Enumeration
  tests/integration/test_grammar_auto_discovery.py
  tests/unit/grammar_discovery/test_path_enumerator.py
  tree_sitter_analyzer/grammar_discovery/path_enumerator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 4 - Grammar Discovery MCP Tool Integration
  tests/unit/grammar_discovery/test_structural_analyzer.py
  tests/unit/mcp/test_grammar_discovery_tool.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/grammar_discovery_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark add-grammar-auto-discovery complete - 75 tests passing
  openspec/changes/add-grammar-auto-discovery/tasks.md
  progress.md
Due: none

feat: add semantic code search OpenSpec change
  findings.md
  openspec/changes/add-semantic-code-search/tasks.md
Due: none

docs: update progress.md - Session 103 sustainable loop
  progress.md
Due: none

feat: semantic code search - Sprint 1 complete
  openspec/changes/add-api-discovery-tool/tasks.md
  tests/unit/search/__init__.py
  tests/unit/search/test_classifier.py
  tests/unit/search/test_executor.py
  tests/unit/search/test_formatter.py
  tree_sitter_analyzer/search/__init__.py
  tree_sitter_analyzer/search/classifier.py
  tree_sitter_analyzer/search/executor.py
  tree_sitter_analyzer/search/formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update semantic code search tasks - Sprint 1 complete
  openspec/changes/add-semantic-code-search/tasks.md
Due: none

docs: update progress.md and task_plan.md - Session 104
  progress.md
  task_plan.md
Due: none

feat: semantic code search - Sprint 2 complete
  tests/unit/search/test_llm_integration.py
  tree_sitter_analyzer/search/__init__.py
  tree_sitter_analyzer/search/llm_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress.md, task_plan.md, tasks.md - Session 105
  openspec/changes/add-semantic-code-search/tasks.md
  progress.md
  task_plan.md
Due: none

feat: semantic code search - Sprint 3 complete
  tests/unit/search/test_cache.py
  tree_sitter_analyzer/search/__init__.py
  tree_sitter_analyzer/search/cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress.md, task_plan.md, tasks.md - Session 106
  openspec/changes/add-semantic-code-search/tasks.md
  progress.md
  task_plan.md
Due: none

feat: semantic code search - Sprint 4 complete (CLI + MCP Tool)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  tests/unit/cli/test_semantic_search_cli.py
  tests/unit/mcp/test_semantic_search_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/cli/commands/semantic_search_cli.py
  tree_sitter_analyzer/cli/commands/semantic_search_command.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/semantic_search_tool.py
  tree_sitter_analyzer/search/formatter.py
  tree_sitter_analyzer/search/pattern_learning.py
  tree_sitter_analyzer/search/query_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: project radar - Sprint 1 complete (Git Analyzer)
  openspec/changes/add-project-radar/tasks.md
  task_plan.md
  tests/unit/analysis/test_git_analyzer.py
  tree_sitter_analyzer/analyzer/__init__.py
  tree_sitter_analyzer/analyzer/git_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: project radar - Sprint 2 complete (Risk Scoring Engine)
  tests/unit/analysis/test_risk_scoring.py
  tree_sitter_analyzer/analyzer/risk_scoring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: project radar - Sprint 3 complete (CLI + MCP Integration)
  tests/unit/cli/test_radar_command.py
  tree_sitter_analyzer/analyzer/__init__.py
  tree_sitter_analyzer/cli/commands/radar_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update tracking files - add-project-radar complete
  openspec/changes/add-project-radar/tasks.md
  task_plan.md
Due: none

feat: incremental analysis cache - Sprint 1 complete
  openspec/changes/add-incremental-analysis-cache/tasks.md
  tests/unit/cache/test_incremental_cache.py
  tree_sitter_analyzer/cache/__init__.py
  tree_sitter_analyzer/cache/incremental_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: incremental analysis cache - Sprint 2 complete
  tests/unit/cache/test_git_invalidation.py
  tree_sitter_analyzer/cache/__init__.py
  tree_sitter_analyzer/cache/incremental_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: incremental analysis cache - Sprint 3 complete (ALL SPRINTS DONE)
  openspec/changes/add-incremental-analysis-cache/tasks.md
  tests/unit/cache/test_integration.py
  tree_sitter_analyzer/cache/incremental_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: test generation assistant - Sprint 1 (core engine)
  openspec/changes/add-test-generation-assistant/tasks.md
  tests/unit/test_gen/__init__.py
  tests/unit/test_gen/test_generator.py
  tree_sitter_analyzer/test_gen/__init__.py
  tree_sitter_analyzer/test_gen/generator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
