Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(task): triage Codex round-6 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-7 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-8 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-9 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_ast_diff_snapshot_consumers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-10 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-11 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_codegraph_context_tool.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-12 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-13 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_codegraph_context_tool.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-14 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): P0.1 read_existing backends for nav.context and edit.safe (#1299)
  rfcs/0022-task-outcome-apis.md
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/task/test_task_router.py
  tests/unit/test_ast_diff_snapshot_consumers.py
  tests/unit/test_codegraph_context_tool.py
  tests/unit/test_diff_snapshot_readonly_capture.py
  tests/unit/test_health_scorer.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0025 instant causal proprioception for agent change intelligence
  rfcs/0025-instant-causal-proprioception.md
Due: none

docs(rfc): RFC-0025 instant causal proprioception for agent change intelligence (#1304)
  rfcs/0025-instant-causal-proprioception.md
Due: none

docs(rfc): RFC-0026 NO1-010B agent change-outcome benchmark (VCSR endpoint)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

docs(vision): proprioception scenario simulations with data walkthroughs
  docs/VISION-proprioception-scenarios.md
Due: none

docs(rfc): address all 11 Codex review findings on RFC-0026
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

docs(vision): proprioception scenario simulations with data walkthroughs (#1306)
  docs/VISION-proprioception-scenarios.md
Due: none

docs(rfc): address Codex review round 2 on RFC-0026 (C12-C22)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

feat(benchmark): NO1-010B strict benchmark-record model + seed corpus (RFC-0026 B0)
  benchmarks/no1_010b/corpus/no1_010b_v1.jsonl
  tests/unit/no1_010b/test_record.py
  tree_sitter_analyzer/no1_010b/__init__.py
  tree_sitter_analyzer/no1_010b/record.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): address Codex review round 3 on RFC-0026 (C23-C36)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

test(benchmark): complete NO1-010B record-model branch coverage
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tree_sitter_analyzer/no1_010b/artifacts.py
  tree_sitter_analyzer/no1_010b/oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): address Codex review round 4 on RFC-0026 (C37-C38)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

docs(rfc): address Codex review round 5 on RFC-0026 (C39-C40)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

docs(rfc): address Codex review round 6 on RFC-0026 (C41-C42)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

feat(benchmark): NO1-010B patch-verifier core (RFC-0026 B1 seed)
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tests/unit/no1_010b/test_runner.py
  tree_sitter_analyzer/no1_010b/runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): address Codex review round 7 on RFC-0026 (C43-C54)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

feat(benchmark): align B0 record model with RFC-0026 round-7 (C43/C44)
  benchmarks/no1_010b/corpus/no1_010b_v1.jsonl
  tests/unit/no1_010b/test_record.py
  tests/unit/no1_010b/test_runner.py
  tree_sitter_analyzer/no1_010b/record.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): address Codex review on #1307 (12 findings, P1x4/P2x8)
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tree_sitter_analyzer/no1_010b/artifacts.py
  tree_sitter_analyzer/no1_010b/oracle.py
  tree_sitter_analyzer/no1_010b/record.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close NO1-010B review gaps
  tests/unit/no1_010b/__init__.py
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tests/unit/no1_010b/test_runner.py
  tree_sitter_analyzer/no1_010b/oracle.py
  tree_sitter_analyzer/no1_010b/record.py
  tree_sitter_analyzer/no1_010b/runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): close NO1-010B registration gaps
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

test(benchmark): make POSIX fallback stubs portable
  tests/unit/no1_010b/test_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(benchmark): register exact terminal outcomes
  benchmarks/no1_010b/corpus/no1_010b_v1.jsonl
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tree_sitter_analyzer/no1_010b/record.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0026 NO1-010B agent change-outcome benchmark (VCSR primary endpoint) (#1305)
  rfcs/0026-no1-010b-agent-change-outcome-benchmark.md
Due: none

feat(edit): return snapshot-bound causal envelope
  docs/VISION-proprioception-scenarios.md
  scripts/check_causal_envelope.py
  tests/contracts/test_causal_envelope_contract.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(edit): cover malformed causal edge rows
  tests/unit/mcp/test_safe_to_edit_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(edit): close causal envelope review gaps
  scripts/check_causal_envelope.py
  tests/contracts/test_causal_envelope_contract.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_languages.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): honor immutable candidate boundary
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tests/unit/no1_010b/test_runner.py
  tree_sitter_analyzer/no1_010b/artifacts.py
  tree_sitter_analyzer/no1_010b/oracle.py
  tree_sitter_analyzer/no1_010b/runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(edit): fail closed outside certified causality
  tests/contracts/test_causal_envelope_contract.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(edit): preserve bounded live test discovery
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_languages.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery_python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(task): avoid duplicate schema validation
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close terminal and diff boundary gaps
  tests/unit/no1_010b/test_oracle.py
  tests/unit/no1_010b/test_record.py
  tests/unit/no1_010b/test_runner.py
  tree_sitter_analyzer/no1_010b/oracle.py
  tree_sitter_analyzer/no1_010b/record.py
  tree_sitter_analyzer/no1_010b/runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
