Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: gate trusted dirfd production dispatch paths
  tests/unit/test_production_dispatch.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmark): bind worktree and index evidence
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): harden index tree snapshot hashing
  benchmarks/codegraph_compare/setup_qualification_paths.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): add production dispatch admission boundary (#1248)
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/production_anchor.py
  benchmarks/codegraph_compare/production_authorities.py
  benchmarks/codegraph_compare/production_collector.py
  benchmarks/codegraph_compare/production_dispatch.py
  benchmarks/codegraph_compare/production_dispatch_validation.py
  benchmarks/codegraph_compare/production_dispatch_wire.py
  benchmarks/codegraph_compare/production_journal_recovery.py
  benchmarks/codegraph_compare/production_judge.py
  benchmarks/codegraph_compare/production_rehearsal.py
  benchmarks/codegraph_compare/production_run_spec.py
  benchmarks/codegraph_compare/production_trust.py
  docs/CODEMAPS/architecture.md
  pyproject.toml
  rfcs/ROADMAP-no1-agent-trust.md
  scripts/no1_003d_mutations.py
  tests/unit/test_production_anchor.py
  tests/unit/test_production_collector.py
  tests/unit/test_production_dispatch.py
  tests/unit/test_production_judge.py
  tests/unit/test_production_rehearsal.py
  tests/unit/test_production_trust.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close qualification trust gaps
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): share Windows qualification skip
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmark): require quiescent index snapshots
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close qualification snapshot gaps
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  docs/CODEMAPS/architecture.md
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): enforce qualification marker at EOF
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmark): bind retained qualification receipts
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close plan execution boundaries
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): add fail-closed seven-repo setup scaffold (#1247)
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/setup_qualification.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_orchestration.py
  benchmarks/codegraph_compare/setup_qualification_paths.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/setup_qualification_trust.py
  benchmarks/codegraph_compare/setup_qualification_validation.py
  docs/CODEMAPS/architecture.md
  pyproject.toml
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmark): add detached qualification receipt v3
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier.py
  docs/CODEMAPS/architecture.md
  rfcs/schemas/no1-008a-cell-receipt-v3.schema.json
  rfcs/schemas/no1-008a-verdict-v1.schema.json
  scripts/no1_008a_no_network_seccomp.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close receipt v3 authority boundary
  .dockerignore
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  docs/CODEMAPS/architecture.md
  rfcs/schemas/no1-008a-cell-receipt-v3.schema.json
  rfcs/schemas/no1-008a-verdict-v1.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close receipt authority audit gaps
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_recompute.py
  rfcs/schemas/no1-008a-cell-receipt-v3.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): anchor receipt verifier authority
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_recompute.py
  rfcs/schemas/no1-008a-cell-receipt-v3-body.schema.json
  rfcs/schemas/no1-008a-cell-receipt-v3-common.schema.json
  rfcs/schemas/no1-008a-cell-receipt-v3-fields-a.schema.json
  rfcs/schemas/no1-008a-cell-receipt-v3-fields-b.schema.json
  rfcs/schemas/no1-008a-cell-receipt-v3.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): bake no1 receipt trust root
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/setup_qualification_plan.py
  benchmarks/codegraph_compare/setup_qualification_schema.py
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/trust_anchor.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_evidence.py
  rfcs/schemas/no1-008a-cell-receipt-v3-common.schema.json
  rfcs/schemas/no1-008a-cell-receipt-v3-fields-b.schema.json
  rfcs/schemas/no1-008a-public-config-v3.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): externalize host audit authority
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_evidence.py
  rfcs/schemas/no1-008a-public-config-v3.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): move cell execution into root authority
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_authority.py
  benchmarks/codegraph_compare/verifier_evidence.py
  scripts/no1_008a_operator.sh
  tests/unit/test_audit_authority_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close receipt authority service chain
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_authority.py
  benchmarks/codegraph_compare/verifier_evidence.py
  rfcs/schemas/no1-008a-verdict-v1.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_audit_authority_service.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_receipt_v3_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): externalize exact-14 verifier authority
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_service.py
  rfcs/schemas/no1-008a-verdict-v1.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
  tests/unit/test_verifier_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close receipt v3 service freshness
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  rfcs/schemas/no1-008a-verdict-v1.schema.json
  scripts/no1_008a_operator.sh
  tests/unit/test_audit_authority_service.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_verifier_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): harden authority freshness closure
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_receipt_v3_service.py
  tests/unit/test_verifier_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close audit11 mutation11 decision path
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/published_schemas/decision-contract-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/decision-receipt-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/ledger-record-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/public-config-v6.schema.json
  benchmarks/codegraph_compare/published_schemas/service-launch-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/verdict-envelope-v2.schema.json
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/verifier.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_audit_authority_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close audit12 mutation12 decision contract
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/decision_contract_issuer.py
  benchmarks/codegraph_compare/published_schemas/decision-contract-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/decision-receipt-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/public-config-v6.schema.json
  benchmarks/codegraph_compare/published_schemas/service-launch-v1.schema.json
  benchmarks/codegraph_compare/published_schemas/verdict-envelope-v2.schema.json
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/receipt_v3_signer.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_audit_authority_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): recover committed decision receipts
  benchmarks/codegraph_compare/decision_consumer_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): bind verifier fake envelope to decision
  tests/unit/test_verifier_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmark): close Codex execution pipeline findings
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_storage.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_ledger.py
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): skip Linux authority services on Windows
  tests/unit/test_audit_authority_service.py
  tests/unit/test_receipt_v3_service.py
  tests/unit/test_verifier_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(benchmark): close Codex exact-14 resource findings
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_storage.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close Codex service pipeline findings
  .dockerignore
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/verifier_service.py
  rfcs/schemas/no1-008a-cell-receipt-v3-fields-b.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): harden service handoff and producer gate
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/host_auditor.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/service_runtime.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): close final executor review findings
  benchmarks/codegraph_compare/Dockerfile.no1-008a
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/service_runtime.py
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/verifier_evidence.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  scripts/no1_008a_operator.sh
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): seal exact staged and ext4 trees
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_storage.py
  benchmarks/codegraph_compare/receipt_v3.py
  benchmarks/codegraph_compare/stage_inputs.py
  rfcs/schemas/no1-008a-cell-receipt-v3-fields-b.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(no1-008a): make terminal responses recoverable
  benchmarks/codegraph_compare/audit_authority_client.py
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/published_schemas/public-config-v6.schema.json
  benchmarks/codegraph_compare/stage_inputs.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden exact-14 response recovery
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/decision_contract_issuer.py
  benchmarks/codegraph_compare/published_schemas/service-launch-v1.schema.json
  benchmarks/codegraph_compare/receipt_v3_service.py
  benchmarks/codegraph_compare/verifier_ledger.py
  benchmarks/codegraph_compare/verifier_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): bound exact producer evidence sizing
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_service.py
  benchmarks/codegraph_compare/audit_authority_storage.py
  benchmarks/codegraph_compare/setup_qualification_executor.py
  benchmarks/codegraph_compare/verifier_aggregate.py
  tests/unit/test_audit_authority_service.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): fail closed before exact-14 consumption
  benchmarks/codegraph_compare/decision_consumer_service.py
  benchmarks/codegraph_compare/qualification_operator.py
  benchmarks/codegraph_compare/sqlite_ledger_validation.py
  benchmarks/codegraph_compare/verifier_ledger.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): preflight and bound sealed ext4 work
  benchmarks/codegraph_compare/audit_authority_runner.py
  benchmarks/codegraph_compare/audit_authority_storage.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(benchmark): isolate authority timeout clock
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
