Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(xref): include kind=method in file xref symbols (Codex P2 #314)
  tests/unit/test_xref.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): total_edges sums all edge kinds so it reconciles with edges_by_kind (Codex P2 #315)
  tests/unit/test_codegraph_status_tool.py
  tests/unit/test_status_kind_language_breakdown.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): cover RFC-0001 push wiring helpers (session capture + send_update)
  tests/unit/mcp/test_hyphae_push_wiring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mcp+index): 5 Codex-ignored P1/P2 — RFC-0001 push wiring + max_nodes + packages (#317)
  tests/unit/mcp/test_hyphae_push_wiring.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/mcp/server_utils/resource_registration.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_subscribe_tool.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): classify class methods as kind=method (CodeGraph parity) (#314)
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_utf8_bug.py
  tests/unit/test_xref.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/complexity_heatmap.py
  tree_sitter_analyzer/cross_file_resolver.py
  tree_sitter_analyzer/mcp/tools/class_inspect_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/test_gap_analyzer.py
  tree_sitter_analyzer/xref.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(search): demote test-file symbols in fts_search_ranked (consistent ranking) (#316)
  tests/unit/test_fts_search_test_demotion.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): status reports symbols_by_kind / by_language (CodeGraph parity + edges_by_kind lead) (#315)
  tests/unit/test_codegraph_status_tool.py
  tests/unit/test_status_kind_language_breakdown.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0004 stdlib/builtin method resolution — unknown 16.1%→6.8%
  rfcs/0004-stdlib-method-resolution.md
  tests/unit/test_stdlib_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): address Codex P2s on #319 — lazy-path wiring + language-aware gate
  tests/unit/test_stdlib_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0004 stdlib/builtin method resolution — unknown 16.1%→6.8% (#319)
  rfcs/0004-stdlib-method-resolution.md
  tests/unit/test_stdlib_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): RFC-0006 progressive disclosure — lean nav context, opt-in graph
  README.md
  README_ja.md
  README_zh.md
  rfcs/0006-context-progressive-disclosure.md
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0005 external library method classification — unknown 6.7%→4.1%
  rfcs/0005-external-method-resolution.md
  tests/unit/test_external_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): coerce JS-style string booleans for include_graph (Codex P2 #320)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0005 external library method classification — unknown 6.7%→4.1% (#321)
  rfcs/0005-external-method-resolution.md
  tests/unit/test_external_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): RFC-0006 progressive disclosure — lean nav context, opt-in graph (#320)
  README.md
  README_ja.md
  README_zh.md
  rfcs/0006-context-progressive-disclosure.md
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): reflect shipped wins — 95.9% resolution, kind=method, RFC-0006 token cut
  README.md
Due: none

docs(readme): lead the token-cost section with the win (article-writing skill)
  README.md
Due: none

ci: skip the full test matrix for docs-only changes (run a lightweight docs-check)
  .github/workflows/ci.yml
  config/ci-routing.yml
  scripts/ci_route.py
  tests/unit/test_ci_routing.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: docs-check runs the full agent-contract suite, not just README counts (Codex P1 #323)
  .github/workflows/ci.yml
Due: check-yaml-local

ci: skip the full test matrix for docs-only changes (lightweight docs-check) (#323)
  .github/workflows/ci.yml
  config/ci-routing.yml
  scripts/ci_route.py
  tests/unit/test_ci_routing.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): reflect shipped wins — 95.9% resolution, kind=method, RFC-0006 token cut (#322)
  README.md
Due: none

feat(resolver): RFC-0007 qualified-builtin method classification — setattr/getattr to builtin
  rfcs/0007-builtin-method-resolution.md
  tests/unit/test_builtin_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): gate _try_builtin_method on Python caller (Codex P2)
  tests/unit/test_builtin_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0007 qualified-builtin method classification — setattr/getattr to builtin (#324)
  rfcs/0007-builtin-method-resolution.md
  tests/unit/test_builtin_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_constants.py
  tree_sitter_analyzer/synapse_resolver/_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0008 multi-lang method classification + beyond-CG roadmap; ignore .tree-sitter-cache
  .gitignore
  rfcs/0008-multilang-method-classification.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(resolver): RFC-0008 Java method classification — stdlib/external tiers + method-call name extraction
  tests/unit/test_java_method_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/synapse_resolver/_java.py
  tree_sitter_analyzer/synapse_resolver/_java_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0008 — Java uses its own resolver cascade + precision-curation note (Codex P2)
  rfcs/0008-multilang-method-classification.md
Due: none

fix(resolver): precision-curate Java method tables — drop interface/domain-collision names (Codex P2 #326 + review P1)
  tests/unit/test_java_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/_java_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): non-JDK Java imports terminate as external before the stdlib-method tier (Codex P2 #326 2nd review)
  tests/unit/test_java_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/_java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): explicit project FQN receiver resolves before type-import (Codex P2 #326 3rd review)
  tests/unit/test_java_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/_java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): default Python method tiers to 'python' when file_languages is unpopulated (Codex P2 #326 4th review)
  tests/unit/test_stdlib_method_resolution.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(resolver): use all three RFC-0004/5/7 tiers in the pre-built-context lock (fix F401)
  tests/unit/test_stdlib_method_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0008 multi-lang method classification + beyond-CG roadmap (#325)
  .gitignore
  rfcs/0008-multilang-method-classification.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

feat(resolver): RFC-0008 Java method classification — stdlib/external tiers + method-call name extraction (#326)
  tests/unit/test_java_method_resolution.py
  tests/unit/test_stdlib_method_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
  tree_sitter_analyzer/synapse_resolver/_context.py
  tree_sitter_analyzer/synapse_resolver/_java.py
  tree_sitter_analyzer/synapse_resolver/_java_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): project metrics dead-code key mismatch — stop reporting every function as dead (F1)
  tests/unit/test_codegraph_metrics_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): coerce structure read line/column bounds to int at the facade boundary
  tests/unit/mcp/tools/test_structure_facade.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): reject non-integral read bounds (Codex P3 #328)
  tests/unit/mcp/tools/test_structure_facade.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): project metrics dead-code key mismatch — stop reporting every function as dead (F1) (#327)
  tests/unit/test_codegraph_metrics_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(deadcode): exclude hidden/vendored dot-dirs from dead-code walks (F2)
  tests/unit/test_dead_code_analyzer.py
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(deadcode): prune excluded dirs via os.walk instead of filtering rglob (Codex P2 #329)
  tree_sitter_analyzer/dead_code_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
