Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(tests): align change_impact test expectations with actual implementation
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_change_impact_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): codegraph_overview tool — project-wide API surface analysis (P0)
  tests/unit/test_codegraph_overview_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/codegraph_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests,mypy): align ast_diff_tool tests + pain-04 CLI parity + mypy sort casts
  tests/unit/test_ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood): close pain-02 — 5 test alignment fixes + remove phantom _extract_file_imports call
  tests/conftest.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_ast_path.py
  tests/unit/test_fts_fast_path.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(call_graph): add import-aware cross-file resolution + commit new tests
  tests/integration/test_ast_cache_lifecycle.py
  tests/integration/test_call_graph_cross_file.py
  tests/integration/test_encoding_pipeline.py
  tests/integration/test_language_detection_to_format.py
  tests/unit/test_cached_call_graph.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: mark PERF-1 cache speedup test as flaky(reruns=2)
  tests/unit/test_route_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: import-aware cross-file resolution in CachedCallGraph
  tests/unit/test_call_graph.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01: add canonical verdict to project_health envelope
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-03/04: complexity score uses avg-CC-per-function for multi-func files
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01b: mirror verdict into agent_summary
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(dogfood) pain-05: local pre-push branch-guard hook
  scripts/install-git-hooks.sh
Due: none

fix(dogfood) pain-01b: add canonical verdict to change_impact envelope
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to file_health_tool
  tree_sitter_analyzer/mcp/tools/utils/file_health_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to parser_readiness_tool
  tree_sitter_analyzer/cli/parser_readiness.py
  tree_sitter_analyzer/mcp/tools/parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to refactoring_suggestions_tool
  tree_sitter_analyzer/mcp/tools/utils/refactoring_suggestions_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to code_patterns_tool
  tree_sitter_analyzer/mcp/tools/code_patterns_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to safe_to_edit_tool
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood) pain-01c: add verdict to 3 more agent decision-surface tools
  tree_sitter_analyzer/cli/agent_skills.py
  tree_sitter_analyzer/cli/agent_workflow.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: pin tsa-landing decision-surface verdict contract
  tests/unit/mcp/tools/test_landing_decision_surface_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: update file_health agent_summary expectations for verdict field
  tests/unit/mcp/test_file_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(dogfood) pain-01d: ChangeImpactRequest.semantic + verdict test fixups
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(health): persistent SQLite cache 132s->2.5s warm + 7 tests
  tests/unit/test_health_score_cache.py
  tree_sitter_analyzer/_health_score_cache.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(symbol_lineage): canonical verdict
  .claude-flow/daemon-state.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/security-audit.json
  tests/unit/mcp/test_symbol_lineage_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast_diff+call_graph): canonical verdict
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(call-graph): add end_line ranges, file_impact mode, and range-based enclosing func detection
  tests/unit/test_call_graph.py
  tests/unit/test_call_graph_tool.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(symbol-resolve): add codegraph_resolve MCP tool for go-to-definition and find-all-references
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(call-graph-impact): function-level blast radius analysis in change impact
  tests/unit/test_call_graph_impact.py
  tree_sitter_analyzer/mcp/tools/utils/call_graph_impact.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph-navigate): unified symbol navigation hub with go-to-def, references, and call hierarchy
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph-navigate): register tool in MCP server, tool registry, and CLI
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(dogfood pass 3): verdict + cli dest-name fixes across 8 codegraph tools
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/tools/ast_path_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_overview_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_resolve_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(import-graph): codegraph_import_graph MCP tool + CLI parity for file-level dependency analysis
  tests/unit/test_import_graph_tool.py
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(import-graph): register tool in MCP server, CLI commands, and argument parser
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(verdict): canonical verdict enforcement + registry/contract sync (pass 4)
  tests/unit/mcp/tools/test_canonical_verdict.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/tool_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(dead-code): transitive dead code analyzer with import graph foundation
  tree_sitter_analyzer/dead_code_analyzer.py
  tree_sitter_analyzer/import_graph.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(verdict): universal INFO safety-net + TOON-response verdict preservation
  tests/unit/mcp/utils/test_verdict_safety_net.py
  tree_sitter_analyzer/mcp/tools/agent_skills_tool.py
  tree_sitter_analyzer/mcp/tools/agent_workflow_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
