Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: language_detector.py 72.0%→88.8%
  tests/unit/core/test_language_detector_extended.py
  tests/unit/core/test_query_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/core/test_query_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  tests/unit/languages/test_python_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  summary.json
  tests/unit/mcp/test_search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  summary.json
Due: check-json-local

test: typescript_formatter.py 74.21%→99.37%
  tests/unit/formatters/test_typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
Due: check-json-local

test: python_formatter.py 78.30%→83.33%
  tests/unit/core/test_output.py
  tests/unit/formatters/test_python_formatter_edge_cases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: output_manager.py 79.2%→92.5%
  coverage.json
Due: check-json-local

test: javascript_plugin.py 74.4%→89.4%
  coverage.json
  tests/unit/languages/test_javascript_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: css_plugin.py 75.2%→91.4%
  tests/unit/languages/test_css_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: plugins_base + sql_plugin val/meta coverage
  tests/unit/languages/test_plugins_base.py
  tests/unit/languages/test_sql_plugin_val_and_meta.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: plugins/base.py 77.7%→93.8%
  tests/unit/languages/test_plugins_base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: base_command.py 79.5%→84.8%
  tests/unit/cli/test_base_command_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: sql_plugin.py 74.6%→77.1%
  coverage.json
  tests/unit/core/test_analysis_engine_coverage_boost.py
  tests/unit/languages/test_sql_plugin_val_and_meta.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/core/test_analysis_engine_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: html_plugin.py 75.6%→83.7%
  coverage.json
  tests/unit/languages/test_html_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  tests/unit/languages/test_rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: rust_plugin.py 78.6%→97.8%
  coverage.json
  tests/unit/languages/test_rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: rust_plugin.py 76.0%→95.8%
  coverage.json
  tests/unit/security/test_validator_coverage_round2.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  tests/unit/languages/test_sql_plugin_coverage_80.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/languages/test_sql_plugin_coverage_80.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  pytest_out.txt
  tests/unit/cli/test_table_command_coverage_boost2.py
  tests/unit/languages/test_sql_plugin_coverage_final.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: table_command.py 78.8%→89.4%
  coverage.json
  tests/unit/cli/test_table_command_coverage_boost2.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: markdown_formatter.py 79.2%→99.4%
  coverage.json
  tests/unit/formatters/test_markdown_formatter_coverage_boost.py
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tests/unit/languages/test_sql_plugin_coverage_80.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  coverage.json
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tests/unit/languages/test_sql_plugin_coverage_final.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: cpp_plugin.py 77.7%→82.4%
  coverage.json
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tree_sitter_analyzer/languages/cpp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: sql_plugin.py 77.1%→78.9%
  .gitignore
Due: none

auto: uncommitted changes from autonomous loop
  .gitignore
Due: none

auto: uncommitted changes from autonomous loop
  tests/unit/languages/test_sql_plugin_coverage_supplement.py
  tests/unit/languages/test_sql_plugin_uncovered.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: sql_plugin.py 78.89%→81.90%
  tests/unit/languages/test_sql_plugin_uncovered.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: sql_plugin.py 78.9%→81.9%
  tests/unit/languages/test_sql_plugin_coverage_supplement.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: queries/c.py 57.58%→100.00%
  tests/unit/core/test_queries_c.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: queries/cpp.py 58.82%→100.00%
  tests/unit/core/test_queries_cpp.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cli/__init__.py 63.64% cli/__main__.py 0%→100%
  tests/unit/cli/test_cli_dot_main.py
  tests/unit/cli/test_cli_package.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: mcp/utils/__init__.py 75%→100%
  tests/unit/mcp/test_mcp_utils_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cli/__init__.py 63.64%→100%
  tests/unit/cli/test_cli_package.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/cli/test_cli_package.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
