Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

chore: Update README statistics (tests: )
  README.md
  README_ja.md
  README_zh.md
Due: none

Fix CI failures on Windows and MacOS
  tests/test_async_performance.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Adjust async performance thresholds and update SQL csv golden master
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/test_async_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Fix SQL trigger line number extraction and cleanup redundant golden master files
  pyproject.toml
  tests/golden_masters/compact/sql_sample_database_compact.md
  tests/golden_masters/csv/java_bigservice_csv.md
  tests/golden_masters/csv/java_sample_csv.md
  tests/golden_masters/csv/javascript_class_csv.md
  tests/golden_masters/csv/python_sample_csv.md
  tests/golden_masters/csv/sql_sample_database_csv.csv
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/golden_masters/csv/typescript_enum_csv.md
  tests/golden_masters/full/golden_master_python_compact.md
  tests/golden_masters/full/golden_master_python_csv.md
  tests/golden_masters/full/golden_master_python_full.md
  tests/golden_masters/full/sql_sample_database_full.md
  tests/test_golden_master_regression.py
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: Add query tests for PHP, Ruby, and C# to improve coverage
  .gitignore
  tests/test_queries_csharp.py
  tests/test_queries_php.py
  tests/test_queries_ruby.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Correct view definition parsing for single-line misparsing in SQL plugin
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Add comprehensive unit tests for various modules
  .github/workflows/develop-automation.yml
  analyze_coverage_json.py
  tests/unit/test_boundary_manager_coverage.py
  tests/unit/test_exceptions_extended.py
  tests/unit/test_java_formatter_coverage.py
  tests/unit/test_logging_coverage.py
  tests/unit/test_mcp_server_coverage.py
  tests/unit/test_summary_command_coverage.py
  tests/unit/test_tree_sitter_compat_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix test failures in CI
  tests/test_workflows/test_ci_workflow_consistency.py
  tests/test_workflows/test_develop_workflow_consistency.py
  tests/test_workflows/test_release_workflow_consistency.py
  tests/unit/test_logging_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Improve reliability of source code extraction in SQLElementExtractor
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.16: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(specs): Archive completed project specs and add YAML support
  .kiro/specs/archived/github-actions-consistency/DEPLOYMENT_GUIDE.md
  .kiro/specs/archived/github-actions-consistency/DEPLOYMENT_READY.md
  .kiro/specs/archived/github-actions-consistency/FINAL_CHECKPOINT_SUMMARY.md
  .kiro/specs/archived/github-actions-consistency/IMPLEMENTATION_COMPLETE.md
  .kiro/specs/archived/github-actions-consistency/MONITORING_CHECKLIST.md
  .kiro/specs/archived/github-actions-consistency/README.md
  .kiro/specs/archived/github-actions-consistency/TASK_9_DEPLOYMENT_SUMMARY.md
  .kiro/specs/archived/github-actions-consistency/design.md
  .kiro/specs/archived/github-actions-consistency/monitor_workflows.py
  .kiro/specs/archived/github-actions-consistency/requirements.md
  .kiro/specs/archived/github-actions-consistency/tasks.md
  .kiro/specs/archived/sql-cross-platform-compatibility/design.md
  .kiro/specs/archived/sql-cross-platform-compatibility/requirements.md
  .kiro/specs/archived/sql-cross-platform-compatibility/tasks.md
  .kiro/specs/archived/sql-function-extraction-fix/design.md
  .kiro/specs/archived/sql-function-extraction-fix/requirements.md
  .kiro/specs/archived/sql-function-extraction-fix/tasks.md
  .kiro/specs/yaml-language-support/requirements.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(yaml): Add language isolation property tests (Property 8)
  .kiro/specs/yaml-language-support/design.md
  .kiro/specs/yaml-language-support/requirements.md
  .kiro/specs/yaml-language-support/tasks.md
  README.md
  examples/sample_config.yaml
  pyproject.toml
  tests/golden_masters/yaml_sample_config.json
  tests/test_yaml/__init__.py
  tests/test_yaml/test_yaml_anchor_alias_properties.py
  tests/test_yaml/test_yaml_element_metadata_properties.py
  tests/test_yaml/test_yaml_element_properties.py
  tests/test_yaml/test_yaml_error_handling_properties.py
  tests/test_yaml/test_yaml_file_extension_properties.py
  tests/test_yaml/test_yaml_language_isolation_properties.py
  tests/test_yaml/test_yaml_multi_document_properties.py
  tests/test_yaml/test_yaml_output_format_properties.py
  tests/test_yaml/test_yaml_parsing_consistency_properties.py
  tests/test_yaml/test_yaml_plugin.py
  tests/test_yaml/test_yaml_query_properties.py
  tests/test_yaml/test_yaml_scalar_type_properties.py
  tests/test_yaml/test_yaml_structure_extraction_properties.py
  tree_sitter_analyzer/formatters/language_formatter_factory.py
  tree_sitter_analyzer/formatters/yaml_formatter.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/models.py
  tree_sitter_analyzer/queries/yaml.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(yaml): add property test for scalar type identification (Property 5)
  .kiro/specs/yaml-language-support/tasks.md
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  docs/new-language-support-checklist.md
  examples/sample_config.yaml
  tests/golden_masters/compact/yaml_sample_config_compact.md
  tests/golden_masters/csv/yaml_sample_config_csv.csv
  tests/golden_masters/full/yaml_sample_config_full.md
  tests/test_yaml/test_yaml_element_metadata_properties.py
  tests/test_yaml/test_yaml_encoding_resilience_properties.py
  tests/test_yaml/test_yaml_golden_master.py
  tree_sitter_analyzer/formatters/yaml_formatter.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(yaml): add property test for encoding resilience (Property 13)
  .kiro/specs/yaml-language-support/tasks.md
  tests/test_yaml/test_yaml_encoding_resilience_properties.py
  tests/test_yaml/test_yaml_encoding_resilience_properties_new.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: remove duplicate test file
  tests/test_yaml/test_yaml_encoding_resilience_properties_new.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve CI test failures for Go, Kotlin, and TypeScript
  tests/test_go/test_go_properties.py
  tests/test_language_detector_extended.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

update: regenerate Go golden master with correct struct/interface sections
  tests/golden_masters/full/go_sample_full.md
  tree_sitter_analyzer/formatters/go_formatter.py
  tree_sitter_analyzer/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve code formatting and lint issues
  tests/test_yaml/test_yaml_multi_document_properties.py
  tests/test_yaml/test_yaml_parsing_consistency_properties.py
  tests/test_yaml/test_yaml_structure_extraction_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: use AST node type for Kotlin interface detection
  tests/test_kotlin/test_kotlin_properties.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: restructure README and internationalize contributor docs
  .kiro/specs/readme-restructure/design.md
  .kiro/specs/readme-restructure/tasks.md
  CHANGE_MANAGEMENT_GUIDE.md
  README.md
  README_ja.md
  README_zh.md
  compatibility_test/troubleshooting_guide.md
  docs/CONTRIBUTING.md
  docs/api/mcp_tools_specification.md
  docs/architecture.md
  docs/assets/demo-placeholder.md
  docs/cli-reference.md
  docs/features.md
  docs/installation.md
  docs/ja/CONTRIBUTING_ja.md
  docs/ja/development/new-language-checklist_backup.md
  docs/ja/user-guides/00_クイックスタートガイド.md
  docs/mcp_compatibility_test_standard.md
  docs/new-language-support-checklist.md
  docs/smart-workflow.md
  docs/troubleshooting_guide.md
  tests/test_readme/__init__.py
  tests/test_readme/test_docs_links.py
  tests/test_readme/test_multilang_consistency.py
  tests/test_readme/test_readme_structure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: replace non-existent --version with --show-supported-languages
  README.md
  README_ja.md
  README_zh.md
  docs/cli-reference.md
  docs/installation.md
Due: none

docs: update CHANGELOG with documentation restructuring details
  CHANGELOG.md
Due: none

docs: translate CHANGELOG.md to English
  CHANGELOG.md
Due: none

Release v1.9.17: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: compress What's New section to meet 15-line limit
  README.md
  README_ja.md
  README_zh.md
Due: none

docs: update release process to use PR-based workflow
  .roo/docs/release.md
Due: none

fix: add suppress_health_check to all Hypothesis property tests
  tests/unit/test_java_formatter_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: stabilize Hypothesis tests with derandomize=True
  tests/unit/test_java_formatter_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: use asyncio.get_running_loop() instead of get_event_loop()
  tree_sitter_analyzer/core/query_service.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add pytest configuration, markers, and fixtures for test environment setup and async cleanup.
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix CSV formatting error when handling special characters
  tree_sitter_analyzer/formatters/base_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
