Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test: rename final banned-name test files (28)
  .secrets.baseline
  tests/unit/cli/test_summary_command_extra.py
  tests/unit/cli/test_summary_command_full.py
  tests/unit/cli/test_table_command_extra.py
  tests/unit/cli/test_universal_analyze_tool_extra_x2.py
  tests/unit/core/test_language_detector_extra.py
  tests/unit/core/test_language_loader_full.py
  tests/unit/core/test_queries_javascript_extra.py
  tests/unit/core/test_queries_typescript_extra.py
  tests/unit/core/test_query_service_extra.py
  tests/unit/core/test_query_tool_file_output_extra.py
  tests/unit/core/test_tree_sitter_compat_extra.py
  tests/unit/formatters/test_javascript_formatter_edge.py
  tests/unit/languages/test_javascript_plugin_edge.py
  tests/unit/languages/test_javascript_plugin_extra_x2.py
  tests/unit/languages/test_markdown_plugin_extra_x2.py
  tests/unit/languages/test_plugins_extra.py
  tests/unit/languages/test_python_plugin_edge.py
  tests/unit/languages/test_python_plugin_full.py
  tests/unit/languages/test_typescript_plugin_edge.py
  tests/unit/mcp/_test_query_tool_test_mixin_extra.py
  tests/unit/mcp/test_gitignore_detector_edge.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/mcp/test_server_edge.py
  tests/unit/mcp/test_server_full.py
  tests/unit/platform_compat/test_compare_extra.py
  tests/unit/security/test_boundary_manager_extra.py
  tests/unit/test_project_graph_extra.py
  tests/unit/utils/test_logging_extra.py
  tests/unit/utils/test_utils_extra.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: rename final banned-name test files (28) (#1288)
  .secrets.baseline
  tests/unit/cli/test_summary_command_extra.py
  tests/unit/cli/test_summary_command_full.py
  tests/unit/cli/test_table_command_extra.py
  tests/unit/cli/test_universal_analyze_tool_extra_x2.py
  tests/unit/core/test_language_detector_extra.py
  tests/unit/core/test_language_loader_full.py
  tests/unit/core/test_queries_javascript_extra.py
  tests/unit/core/test_queries_typescript_extra.py
  tests/unit/core/test_query_service_extra.py
  tests/unit/core/test_query_tool_file_output_extra.py
  tests/unit/core/test_tree_sitter_compat_extra.py
  tests/unit/formatters/test_javascript_formatter_edge.py
  tests/unit/languages/test_javascript_plugin_edge.py
  tests/unit/languages/test_javascript_plugin_extra_x2.py
  tests/unit/languages/test_markdown_plugin_extra_x2.py
  tests/unit/languages/test_plugins_extra.py
  tests/unit/languages/test_python_plugin_edge.py
  tests/unit/languages/test_python_plugin_full.py
  tests/unit/languages/test_typescript_plugin_edge.py
  tests/unit/mcp/_test_query_tool_test_mixin_extra.py
  tests/unit/mcp/test_gitignore_detector_edge.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/mcp/test_server_edge.py
  tests/unit/mcp/test_server_full.py
  tests/unit/platform_compat/test_compare_extra.py
  tests/unit/security/test_boundary_manager_extra.py
  tests/unit/test_project_graph_extra.py
  tests/unit/utils/test_logging_extra.py
  tests/unit/utils/test_utils_extra.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: record final dogfood session completion (F1-F5 + Windows + T-1 zero)
  HANDOFF-2026-08-15.md
Due: none

docs: record final dogfood session completion (F1-F5 + Windows + T-1 zero) (#1289)
  HANDOFF-2026-08-15.md
Due: none

feat(task): RFC-0022 fixed router, full wire, and experiment harness (NO1-010A)
  tests/contracts/test_task_internal_only_contract.py
  tests/unit/task/test_serializers.py
  tests/unit/task/test_task_harness.py
  tests/unit/task/test_task_projection.py
  tests/unit/task/test_task_router.py
  tests/unit/task/test_task_truth_table.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/models.py
  tree_sitter_analyzer/task/projection.py
  tree_sitter_analyzer/task/router.py
  tree_sitter_analyzer/task/serializers.py
  tree_sitter_analyzer/task/truth_table.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record NO1-010A three-task prototype completion (STATE + handoff)
  HANDOFF-2026-08-15.md
  STATE.md
Due: none

test(task): close branch coverage on router/truth-table/harness/serializers
  tests/unit/task/test_serializers.py
  tests/unit/task/test_task_harness.py
  tests/unit/task/test_task_models.py
  tests/unit/task/test_task_router.py
  tests/unit/task/test_task_truth_table.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): address all 14 Codex review findings on PR #1290
  tests/unit/task/test_serializers.py
  tests/unit/task/test_task_harness.py
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/router.py
  tree_sitter_analyzer/task/serializers.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): RFC-0022 three-task prototype router + harness (NO1-010A) (#1290)
  HANDOFF-2026-08-15.md
  STATE.md
  tests/contracts/test_task_internal_only_contract.py
  tests/unit/task/test_serializers.py
  tests/unit/task/test_task_harness.py
  tests/unit/task/test_task_models.py
  tests/unit/task/test_task_projection.py
  tests/unit/task/test_task_router.py
  tests/unit/task/test_task_truth_table.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/models.py
  tree_sitter_analyzer/task/projection.py
  tree_sitter_analyzer/task/router.py
  tree_sitter_analyzer/task/serializers.py
  tree_sitter_analyzer/task/truth_table.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): actionable outputs and adapter-boundary wire contracts (NO1-010A follow-up)
  STATE.md
  tests/unit/task/test_task_router.py
  tests/unit/task/test_task_wire_contract.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): harness corpus and request-json modes (NO1-010A follow-up)
  tests/unit/task/test_task_harness.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): P0.4 zero-write source-generation oracle (first slice)
  tests/unit/test_diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): corpus report determinism accounts for timing fields
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): corpus determinism comparison strips timing fields
  tests/unit/task/test_task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): gate readonly-oracle differential tests on POSIX
  tests/unit/test_diff_snapshot_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(task): actionable outputs and adapter-boundary wire contracts (NO1-010A follow-up) (#1291)
  STATE.md
  tests/unit/task/test_task_router.py
  tests/unit/task/test_task_wire_contract.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): cover harness CLI error paths and request-json file mode
  tests/unit/task/test_task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): complete readonly-oracle branch coverage (codecov patch gate)
  tests/unit/test_diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): gate every readonly-oracle test on POSIX
  tests/unit/test_diff_snapshot_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(task): address all 9 Codex review findings on PR #1292
  tests/unit/task/test_task_harness.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): address 6 of 7 Codex review findings on PR #1293
  tests/unit/test_diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
  tree_sitter_analyzer/git_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): gate all readonly-oracle tests on POSIX (round 2)
  tests/unit/test_diff_snapshot_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(task): harness corpus + request-json modes (NO1-010A follow-up) (#1292)
  tests/unit/task/test_task_harness.py
  tree_sitter_analyzer/task_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): P0.4 zero-write source-generation oracle (first slice) (#1293)
  tests/unit/test_diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
  tree_sitter_analyzer/git_readonly.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record NO1-010A P1 round (three merged PRs + P0.4 slice status)
  STATE.md
Due: none

docs: record NO1-010A P1 round (three merged PRs + P0.4 slice status) (#1294)
  STATE.md
Due: none

feat(task): P0.4 zero-write diff payload materialization (read_existing producer) (#1295)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_constraints_readonly.py
  tests/unit/test_diff_snapshot_readonly.py
  tests/unit/test_diff_snapshot_readonly_capture.py
  tree_sitter_analyzer/diff_snapshot_constraints_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/git_readonly.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): preserve legacy staged-sources-match call shape (#1295)
  tree_sitter_analyzer/diff_snapshot_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): address all 12 Codex findings on the P0.4 producer (#1295)
  tests/unit/test_diff_snapshot_readonly_capture.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): classify released consumers through registry state (#1295)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tree_sitter_analyzer/diff_snapshot_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): mark heavyweight differential tests slow_ok (#1295)
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(ci): surface coverage-tier pytest failure lines (temporary)
  .github/workflows/reusable-test.yml
Due: check-yaml-local

fix(test): wire-contract unavailable fixture must not trigger a real capture (#1295)
  .github/workflows/reusable-test.yml
  tests/unit/test_wire_owner_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

debug(ci): print coverage-tier pytest tail on failure (temporary)
  .github/workflows/reusable-test.yml
Due: check-yaml-local

chore(ci): drop temporary coverage-tier debug output (#1295)
  .github/workflows/reusable-test.yml
Due: check-yaml-local

test(task): cover gitlink probe, quoting, and submodule-foreach branches (#1295)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_constraints_readonly.py
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): cover capture failure branches and impact acquire path (#1295)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(task): P0.4 zero-write diff payload materialization (read_existing producer) (#1295) (#1295)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_constraints_readonly.py
  tests/unit/test_diff_snapshot_readonly.py
  tests/unit/test_diff_snapshot_readonly_capture.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/diff_snapshot_constraints_readonly.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_readonly.py
  tree_sitter_analyzer/diff_snapshot_readonly_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/git_readonly.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record NO1-010A P0.4 producer merge + remaining work (#1296)
  STATE.md
Due: none

docs: record NO1-010A P0.4 producer merge + remaining work (#1296) (#1296)
  STATE.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
