Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(change-impact): add low-impact local verification profile
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/api/facade-actions.md
  tests/unit/cli/_test_cli_main_module_parser_mixin.py
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): reclaim AST cache storage after full rebuild (#724)
  tests/unit/test_ast_cache_maintenance.py
  tests/unit/test_codegraph_status_tool.py
  tree_sitter_analyzer/_ast_cache_maintenance.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): warn readers during full rebuild (#725)
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_status_tool.py
  tree_sitter_analyzer/mcp/tools/index_rebuild_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(parse): surface outline parse and encoding signals (#707) (#726)
  tests/unit/cli/test_outline_cli.py
  tests/unit/mcp/test_parse_validity_diagnostics.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/utils/parse_validity.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): avoid uv during mutation baseline pyproject swap (#727)
  scripts/run_mutation_baseline.py
  tests/unit/test_run_mutation_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): add low-impact local verification profile (#730)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/api/facade-actions.md
  tests/unit/cli/_test_cli_main_module_parser_mixin.py
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): critical risk maps to CAUTION verdict, not INFO false-green (#798)
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): critical risk maps to CAUTION verdict, not INFO false-green (#798) (#816)
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): smart_context applies the syntax gate — no grade=A/SAFE on unparseable files (#754)
  tests/unit/mcp/test_smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): reclaim AST cache stats and structure command envelopes
  CLAUDE.md
  tests/e2e/test_mcp_smoke.py
  tests/e2e/test_real_repos.py
  tests/e2e/test_tool_functional.py
  tests/integration/mcp/utils/test_search_cache.py
  tests/integration/performance/test_mcp_performance.py
  tests/unit/cli/test_advanced_command.py
  tests/unit/cli/test_base_command_coverage.py
  tests/unit/cli/test_structure_command.py
  tests/unit/cli/test_subcommand_format_alias.py
  tests/unit/mcp/test_mcp_rg_phase6_fs_encoding.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/test_ast_cache_maintenance.py
  tests/unit/test_change_impact_response.py
  tests/unit/test_kotlin_method_resolution.py
  tree_sitter_analyzer/cli/commands/advanced_command.py
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/cli/commands/structure_command.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/utils/search_cache.py
  tree_sitter_analyzer/synapse_resolver/languages/_kotlin_constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): smart_context applies the syntax gate — no grade=A/SAFE on unparseable files (#754) (#817)
  tests/unit/mcp/test_smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): alias limit and coerce similarity params
  docs/api/facade-actions.md
  tests/unit/mcp/tools/test_viz_facade.py
  tests/unit/test_codegraph_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): normalize search_content roots/max_count validation
  tests/unit/mcp/test_mcp_search_content_p1.py
  tree_sitter_analyzer/mcp/tools/search_content_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): safe_to_edit summary_line carries the escalated verdict (#781)
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix safe-to-edit and smart_context parity issues for deps and tests
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/smart_context_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/mcp/tools/utils/test_discovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): safe_to_edit summary_line carries the escalated verdict (#781) (#818)
  tests/unit/mcp/tools/test_safe_to_edit_unsafe_verdict.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): change_impact reconciles top-level verdict with agent_summary (#782)
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix deep AST recursion and sync failure handling
  tests/unit/languages/test_rust_plugin_integration.py
  tests/unit/languages/test_typescript_integration.py
  tests/unit/mcp/test_analyze_code_structure_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_execute.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin/plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): change_impact reconciles top-level verdict with agent_summary (#782) (#819)
  tests/unit/test_change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(nav): cover call graph state edge cases
  tests/unit/test_call_graph_built_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(nav): track authoritative call graph build state
  tests/unit/test_call_graph_built_signal.py
  tree_sitter_analyzer/_ast_cache_callgraph_state.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): track authoritative call graph build state (#708)
  tests/unit/test_call_graph_built_signal.py
  tree_sitter_analyzer/_ast_cache_callgraph_state.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_relation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin): extract real property names and declared types (#758)
  tests/golden_masters/plugins/kotlin.json
  tests/unit/languages/test_kotlin_property_extraction_758.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(typescript): capture class fields, exclude method-body locals (#771)
  tests/golden_masters/plugins/typescript.json
  tests/unit/languages/test_typescript_class_fields_771.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(csharp): populate receiver_type on all C# methods/properties/constructors (#766)
  tests/unit/languages/test_csharp_plugin_elements.py
  tree_sitter_analyzer/languages/csharp_helpers.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sync): add depth cap to AST node counter, catch RecursionError per-file
  tests/unit/test_ast_extraction.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): batch-38 — pin loose assertions in unit root + integration
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/unit/core/test_language_detector_markdown.py
  tests/unit/mcp/test_query_symbol_search.py
  tests/unit/mcp/test_smart_context_tool.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_call_graph_ast_a.py
  tests/unit/test_fts_fast_path.py
  tests/unit/test_synapse_resolution.py
  tests/unit/test_xref.py
  tests/unit/utils/test_utils_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(constraints): skip builtin/stdlib callee names to clear #780 phantom violations
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(golden): update kotlin CLI integration golden masters for property name fix
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/toon/kotlin_sample_toon.toon
Due: none

fix(typescript): capture class fields, exclude method-body locals (#771) (#822)
  tests/golden_masters/plugins/typescript.json
  tests/unit/languages/test_typescript_class_fields_771.py
  tree_sitter_analyzer/languages/typescript_plugin/extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(csharp): populate receiver_type on all C# methods/properties/constructors (#766) (#823)
  tests/unit/languages/test_csharp_plugin_elements.py
  tree_sitter_analyzer/languages/csharp_helpers.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(javascript): extract X.prototype.method = function(){} assignments (#791)
  tests/unit/languages/test_js_prototype_methods_791.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/javascript_plugin/_public_extraction_mixin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(constraints): filter phantom violations — require callee import reachability (#780)
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sync): add depth cap to AST node counter, catch RecursionError per-file (#824)
  tests/unit/test_ast_extraction.py
  tests/unit/test_incremental_sync.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): batch-38 — pin loose assertions in unit root + integration (#825)
  scripts/loose_assertion_baseline.txt
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/unit/core/test_language_detector_markdown.py
  tests/unit/mcp/test_query_symbol_search.py
  tests/unit/mcp/test_smart_context_tool.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_call_graph_ast_a.py
  tests/unit/test_fts_fast_path.py
  tests/unit/test_synapse_resolution.py
  tests/unit/test_xref.py
  tests/unit/utils/test_utils_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(python,structure): nested return_type bleed + class_tree mode aliases/validation
  tests/unit/test_bugs_792_802_803.py
  tree_sitter_analyzer/languages/python_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): batch-37 — pin loose assertions in languages unit tests
  scripts/loose_assertion_baseline.txt
  tests/unit/formatters/test_typescript_formatter_core.py
  tests/unit/languages/test_csharp_plugin_details.py
  tests/unit/languages/test_csharp_plugin_extraction.py
  tests/unit/languages/test_csharp_plugin_integration.py
  tests/unit/languages/test_plugins_base_core.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tests/unit/languages/test_swift_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(kotlin): extract real property names and declared types (#758) (#821)
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/plugins/kotlin.json
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/unit/languages/test_kotlin_property_extraction_758.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(viz): expose similarity bounding params, cap functions per group (#801)
  tests/unit/test_codegraph_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): extract struct field declarations
  tests/unit/languages/test_go_struct_fields_794.py
  tree_sitter_analyzer/languages/_go_variable_helpers.py
  tree_sitter_analyzer/languages/go_helpers.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
