Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(trust): fail closed on RENAME_EXCHANGE and NUL literals (#1259)
  scripts/rfc0022_strace_parser.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmark): reject duplicate pins, widen yaml parity (#1260) (#1262)
  benchmarks/codegraph_compare/setup_qualification_inventory.py
  benchmarks/codegraph_compare/seven_repo_inventory.schema.json
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trust): fail closed on RENAME_EXCHANGE and NUL literals (#1259) (#1263)
  scripts/rfc0022_strace_parser.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): echo wire-owner action_version on every route (P0.5)
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/wire_owner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): close wire-owner gaps, re-pin exact envelopes (P0.5)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): keep wire owner after summary rebuild, use constant (P0.5)
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: re-pin control-surface doc and byte budgets (P0.5)
  docs/agent-envelope-contract.md
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tests/unit/test_ast_diff_node_budget.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): echo wire-owner action_version on every route (RFC-0022 P0.5) (#1264)
  docs/agent-envelope-contract.md
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_constraint_check_read_only.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_ast_diff_node_budget.py
  tests/unit/test_semantic_classify_tool.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/wire_owner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(mcp): retire tsa_explore prototype (RFC-0022 disposition)
  benchmarks/codegraph_compare/adapters/tsa_1tool.py
  tests/contracts/test_mcp_surface_metadata_contract.py
  tests/unit/test_tsa_explore.py
  tree_sitter_analyzer/mcp/tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record tsa_explore retirement in state files
  STATE.md
  loop-constraints.md
Due: none

chore(mcp): retire tsa_explore prototype (RFC-0022 disposition) (#1265)
  STATE.md
  benchmarks/codegraph_compare/adapters/tsa_1tool.py
  loop-constraints.md
  tests/contracts/test_mcp_surface_metadata_contract.py
  tests/unit/test_tsa_explore.py
  tree_sitter_analyzer/mcp/tsa_explore.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): add task-outcome v1 models and budget contract (Phase A)
  tests/unit/task/test_task_models.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): align models with RFC verdicts, boundaries, cleanup (Phase A)
  tests/unit/task/test_task_models.py
  tree_sitter_analyzer/task/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): complete model boundary coverage (Phase A)
  tests/unit/task/test_task_models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(task): task-outcome v1 models and budget contract (RFC-0022 Phase A) (#1266)
  tests/unit/task/test_task_models.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/models.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): evidence identity, freshness, route table (Phase A)
  tests/unit/task/test_evidence_router.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/evidence.py
  tree_sitter_analyzer/task/freshness.py
  tree_sitter_analyzer/task/route_table.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): source_snapshots list, dynamic params, full pins (#1267)
  tests/unit/task/test_evidence_router.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/evidence.py
  tree_sitter_analyzer/task/route_table.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): pin nav.context dynamic parameters (8/8 rows)
  tests/unit/task/test_evidence_router.py
  tree_sitter_analyzer/task/route_table.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): evidence identity, freshness, route table (RFC-0022 Phase A) (#1267)
  tests/unit/task/test_evidence_router.py
  tree_sitter_analyzer/task/__init__.py
  tree_sitter_analyzer/task/evidence.py
  tree_sitter_analyzer/task/freshness.py
  tree_sitter_analyzer/task/route_table.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): deterministic JSON/TOON serializers and cost invariants (Phase A)
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): lossless quoted TOON codec, strict decode (review #1268)
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): colon items and nested lists in TOON codec (#1268)
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): trailing bare dash item coverage
  tests/unit/task/test_serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): empty list items, unreachable arc pragma
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): symmetric quoted keys, fuzz parity, honest pragmas (#1268)
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): deterministic JSON/TOON serializers and cost invariants (RFC-0022 Phase A) (#1268)
  tests/unit/task/test_serializers.py
  tree_sitter_analyzer/task/serializers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(task): RFC-0023 edge-evidence validator (Phase A)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): evidence projection, closures, float ban; defense tests (#1269)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): split negative-case budget, cache schema
  tests/unit/task/test_edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

ci: drop redundant quick gate, split test step timeouts
  .github/workflows/reusable-test.yml
Due: check-yaml-local

ci: quiet pytest logging to avoid runner log stalls
  .github/workflows/reusable-test.yml
Due: check-yaml-local

test(task): batch negative cases under per-test budget
  tests/unit/task/test_edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

ci: retry budget failures on macos too
  .github/workflows/reusable-test.yml
Due: check-yaml-local

feat(task): RFC-0023 edge-evidence validator (Phase A) (#1269)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): close all open RFC-0023 review gates (#1269)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): close second-round RFC-0023 review gates (#1271)
  tests/unit/task/test_edge_evidence.py
  tree_sitter_analyzer/task/edge_evidence.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record No.1 takeover and RFC-0023 review closure
  STATE.md
Due: none

fix(ci): restore locked contract semantics in pr/full profiles
  .github/workflows/reusable-test.yml
Due: check-yaml-local

fix(ci): lift coverage step timeout to the job-level bound
  .github/workflows/reusable-test.yml
Due: check-yaml-local

test(languages): remove redundant python plugin coverage file (T-1)
  tests/unit/languages/test_python_plugin_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
