Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

Add output_format to mcp_async_integration test
  tests/test_mcp_async_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add output_format='json' to MCP tool tests
  tests/test_find_and_grep_tool_file_output.py
  tests/test_mcp_async_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add output_format='json' to additional MCP tool tests
  tests/test_mcp_file_output_feature.py
  tests/test_query_tool_file_output.py
  tests/test_read_partial_tool_file_output.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: bump version to 1.9.22 for hotfix release
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(toon): remove redundant JSON fields from TOON format output
  CHANGELOG.md
  tests/mcp/test_toon_mcp_integration.py
  tests/test_languages/test_yaml_error_handling_properties.py
  tests/test_mcp_fd_rg_tools.py
  tests/test_mcp_rg_phase1_basic.py
  tests/test_mcp_rg_phase2_filters_perf.py
  tests/test_mcp_rg_phase3_advanced_edges.py
  tests/test_mcp_rg_phase6_fs_encoding.py
  tests/test_mcp_tools_integration.py
  tests/test_read_partial_tool_extended.py
  tests/unit/test_security_boundary_properties.py
  tree_sitter_analyzer/cli/commands/find_and_grep_cli.py
  tree_sitter_analyzer/cli/commands/list_files_cli.py
  tree_sitter_analyzer/cli/commands/search_content_cli.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
  tree_sitter_analyzer/output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

release: prepare v1.9.23
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Implement MCP security validation caching and reduce redundant checks
  .kiro/specs/mcp-tool-efficiency/design-phase1-security-validation-cache.md
  .kiro/specs/mcp-tool-efficiency/requirements.md
  .kiro/specs/mcp-tool-efficiency/task.md
  pyproject.toml
  pytest.ini
  tests/test_mcp_security_validation_cache.py
  tree_sitter_analyzer/cli/commands/list_files_cli.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/base_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Unify file metrics computation with content-hash caching
  .kiro/specs/mcp-tool-efficiency/design-phase1-file-metrics-unification.md
  .kiro/specs/mcp-tool-efficiency/task-phase1-file-metrics-unification.md
  tests/test_mcp_file_metrics_unification.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/utils/file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Add language detection cache and speed up list_files
  .gitignore
  .kiro/specs/mcp-tool-efficiency/design-phase1-language-detection-cache.md
  .kiro/specs/mcp-tool-efficiency/task-phase1-language-detection-cache.md
  tests/test_languages/test_yaml_error_handling_properties.py
  tests/test_mcp_language_detection_cache.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/mcp/resources/project_stats_resource.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/table_format_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix TOON output consistency and stabilize plugin tests
  tests/test_languages/test_yaml_file_extension_properties.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
  tree_sitter_analyzer/plugins/manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Add batch extract and batch metrics with TOON-default responses
  .kiro/specs/mcp-tool-efficiency/design-phase2-batch-extract-and-metrics.md
  .kiro/specs/mcp-tool-efficiency/task-phase2-batch-extract-and-metrics.md
  tests/mcp/test_tools/test_analyze_scale_tool.py
  tests/mcp/test_tools/test_read_partial_tool.py
  tests/test_analyze_scale_tool_batch_metrics.py
  tests/test_analyze_scale_tool_file_output.py
  tests/test_read_partial_tool_batch.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Make MCP server routing thin for extract_code_section batch requests
  tests/test_mcp/test_server_comprehensive.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Unify CLI batch modes with MCP tool schemas
  .kiro/specs/mcp-tool-efficiency/design-phase2-batch-extract-and-metrics.md
  .kiro/specs/mcp-tool-efficiency/task-phase2-batch-extract-and-metrics.md
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Harden path validation semantics and add CLI batch example inputs
  examples/batch_partial_read_requests.json
  examples/metrics_files.txt
  tree_sitter_analyzer/mcp/tools/base_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix security validation cache call counts
  tree_sitter_analyzer/mcp/tools/base_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: enhance MCP server security and cache efficiency (Phase 1)
  .roo/mcp.json
  tmp_cli_requests.json
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update test to create actual file for security validation
  tests/test_mcp/test_server_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update test expectations to match actual response format
  tests/test_mcp/test_server_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(core): update LanguageLoader to support tree-sitter-php language_php naming
  tree_sitter_analyzer/language_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve integration test failures in analyze_scale tool and API facade
  tests/integration/core/test_analyze_scale_tool_cli_compatible.py
  tree_sitter_analyzer/api.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool_cli_compatible.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve unit and security test failures and improve early security validation
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/security/test_security_integration.py
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: adjust nonexistent file paths in tests to avoid absolute path security blocks
  tests/integration/core/test_api.py
  tests/unit/core/test_core_engine_extended.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add comprehensive coverage tests for formatters and plugins
  tests/unit/cli/test_table_command_coverage.py
  tests/unit/core/test_query_service_coverage.py
  tests/unit/formatters/test_cpp_formatter_coverage.py
  tests/unit/formatters/test_css_formatter_coverage.py
  tests/unit/formatters/test_sql_formatter_wrapper_coverage.py
  tests/unit/languages/test_c_plugin_coverage_boost.py
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tests/unit/languages/test_javascript_plugin_coverage_boost.py
  tests/unit/languages/test_markdown_plugin_coverage_boost.py
  tests/unit/languages/test_python_plugin_coverage_boost.py
  tests/unit/languages/test_typescript_plugin_coverage_boost.py
  tests/unit/mcp/test_read_partial_tool_coverage.py
  tree_sitter_analyzer/plugins/manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: pin safety version to avoid typer compatibility issues
  pyproject.toml
Due: check-toml-local

fix: update test methods to match actual class interfaces
  tests/unit/cli/test_table_command_coverage.py
  tests/unit/mcp/test_read_partial_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add pytest.mark.asyncio decorator to async test
  tests/unit/mcp/test_read_partial_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct test assertion for execute error handling
  tests/unit/mcp/test_read_partial_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: test should expect ValueError exception not error dict
  tests/unit/mcp/test_read_partial_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Add project governance documents, security policies, and CI/CD workflows.
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT_ja.md
  CODE_OF_CONDUCT_zh.md
  LICENSE
  SECURITY.md
  SECURITY_ja.md
  SECURITY_zh.md
  pyproject.toml
  uv.lock
Due: check-yaml-local, check-toml-local

feat: Add C++ formatter and include Bandit security scan report.
  tree_sitter_analyzer/formatters/cpp_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Introduce property-based tests for CI workflow consistency, validating test configurations and deployment branch restrictions.
  tests/integration/workflows/test_ci_workflow_consistency.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Add format monitoring tool to track format quality, regressions, and performance.
  scripts/format_monitoring_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

feat: introduce format change management system with database tracking and pre-commit validation scripts.
  scripts/format_change_management.py
  scripts/pre_commit_format_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

feat: Implement behavior profile comparison functionality with a CLI and add `deepdiff` dependency.
  pyproject.toml
  tree_sitter_analyzer/platform_compat/compare.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Update README statistics (tests: )
  uv.lock
Due: none

feat: Implement a comprehensive format change management and testing strategy with golden masters and compatibility reports.
  docs/format-testing-guide.md
  docs/testing-guide.md
  openspec/changes/archive/fix-golden-master-regression/tasks.md
  openspec/changes/archive/fix-golden-master-regression/validation.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/IMPLEMENTATION_SUMMARY.md
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/tasks.md
  scripts/format_change_management.py
  scripts/update_golden_masters.py
  tests/integration/formatters/README.md
  tests/integration/formatters/generate_compatibility_report.py
  tests/integration/formatters/generate_regression_report.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Document comprehensive format testing strategy and refactor format-related tests to the integration/formatters directory.
  coverage_report.txt
  openspec/changes/archive/implement-comprehensive-format-testing-strategy/IMPLEMENTATION_SUMMARY.md
  tests/integration/formatters/README.md
Due: none

fix: Update format-regression-testing workflow to use existing test directories
  .github/workflows/format-regression-testing.yml
Due: check-yaml-local

fix: Update all format workflow files to use existing test directories
  .github/workflows/format-validation.yml
Due: check-yaml-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
