Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat: add Parameter Coupling Analyzer (65 tests, 4 languages)
  openspec/changes/add-parameter-coupling-analyzer/tasks.md
  tests/unit/parameter_coupling/__init__.py
  tests/unit/parameter_coupling/test_parameter_coupling.py
  tests/unit/parameter_coupling/test_parameter_coupling_tool.py
  tree_sitter_analyzer/analysis/parameter_coupling.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/parameter_coupling_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Magic Value Detector (36 tests, 5 languages)
  openspec/changes/add-magic-value-detector/tasks.md
  tests/integration/mcp/test_magic_values_tool.py
  tests/unit/test_magic_values.py
  tests/unit/test_magic_values_multilang.py
  tree_sitter_analyzer/analysis/magic_values.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/magic_values_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add type annotation coverage analyzer
  openspec/changes/add-type-annotation-coverage/tasks.md
  tests/integration/mcp/test_type_annotation_coverage_tool.py
  tests/unit/test_type_annotation_coverage.py
  tree_sitter_analyzer/analysis/type_annotation_coverage.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/type_annotation_coverage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Comment Quality Analyzer (46 tests, 4 languages)
  openspec/changes/add-comment-quality-analyzer/tasks.md
  progress.md
  tests/unit/analysis/test_comment_quality.py
  tests/unit/mcp/test_tools/test_comment_quality_tool.py
  tree_sitter_analyzer/analysis/comment_quality.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/comment_quality_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Error Handling Pattern Analyzer (36 tests, 4 languages)
  findings.md
  openspec/changes/add-error-handling-analyzer/tasks.md
  tests/unit/error_handling/__init__.py
  tests/unit/error_handling/test_error_handling.py
  tests/unit/error_handling/test_error_handling_tool.py
  tree_sitter_analyzer/analysis/error_handling.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/error_handling_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Call Graph Analyzer (55 tests, 4 languages)
  openspec/changes/add-call-graph-analyzer/tasks.md
  openspec/changes/add-error-handling-analyzer/tasks.md
  task_plan.md
  tests/unit/test_call_graph.py
  tests/unit/test_call_graph_multilang.py
  tests/unit/test_call_graph_tool.py
  tree_sitter_analyzer/analysis/call_graph.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Async/Await Pattern Analyzer (44 tests, 4 languages)
  openspec/changes/add-async-pattern-analyzer/tasks.md
  tests/unit/async_patterns/__init__.py
  tests/unit/async_patterns/test_async_patterns.py
  tests/unit/async_patterns/test_async_patterns_multilang.py
  tests/unit/async_patterns/test_async_patterns_tool.py
  tests/unit/pr_summary/test_diff_parser.py
  tree_sitter_analyzer/analysis/async_patterns.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/async_patterns_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Nesting Depth Analyzer (62 tests, 4 languages)
  openspec/changes/add-nesting-depth-analyzer/tasks.md
  tests/unit/analysis/test_nesting_depth.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tests/unit/mcp/test_tools/test_nesting_depth_tool.py
  tree_sitter_analyzer/analysis/nesting_depth.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/nesting_depth_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add i18n String Detector (58 tests, 4 languages)
  findings.md
  openspec/changes/add-i18n-string-detector/tasks.md
  tests/unit/analysis/test_i18n_strings.py
  tests/unit/mcp/test_tools/test_i18n_strings_tool.py
  tree_sitter_analyzer/analysis/i18n_strings.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/i18n_strings_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Function Size Analyzer (39 tests, 4 languages)
  tests/unit/analysis/test_function_size.py
  tree_sitter_analyzer/analysis/function_size.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/function_size_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Test Smell Detector (38 tests, 4 languages)
  openspec/changes/add-test-smell-detector/tasks.md
  tests/unit/analysis/test_test_smells.py
  tree_sitter_analyzer/analysis/test_smells.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/test_smells_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add self-hosting quality gate to autonomous dev loop
  AUTONOMOUS.md
  scripts/autonomous-loop-v2.sh
Due: none

feat: dynamic self-hosting quality gate with auto-discovery
  AUTONOMOUS.md
  scripts/self-hosting-gate.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

feat: add Naming Convention Analyzer (56 tests, 4 languages)
  openspec/changes/add-async-pattern-analyzer/tasks.md
  openspec/changes/add-call-graph-analyzer/tasks.md
  openspec/changes/add-cognitive-complexity-scorer/tasks.md
  openspec/changes/add-comment-quality-analyzer/tasks.md
  openspec/changes/add-doc-coverage-analyzer/tasks.md
  openspec/changes/add-environment-variable-tracker/tasks.md
  openspec/changes/add-error-handling-analyzer/tasks.md
  openspec/changes/add-i18n-string-detector/tasks.md
  openspec/changes/add-import-sanitizer/tasks.md
  openspec/changes/add-logging-pattern-analyzer/tasks.md
  openspec/changes/add-magic-value-detector/tasks.md
  openspec/changes/add-nesting-depth-analyzer/tasks.md
  openspec/changes/add-parameter-coupling-analyzer/tasks.md
  openspec/changes/add-test-smell-detector/tasks.md
  openspec/changes/add-type-annotation-coverage/tasks.md
  openspec/changes/archive/add-naming-convention-analyzer/tasks.md
  tests/unit/analysis/test_naming_convention.py
  tests/unit/analysis/test_naming_convention_tool.py
  tree_sitter_analyzer/analysis/naming_convention.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/naming_convention_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Coupling Metrics Analyzer (23 tests, project-level)
  openspec/changes/archive/add-coupling-metrics-analyzer/tasks.md
  tests/unit/analysis/test_coupling_metrics.py
  tests/unit/analysis/test_coupling_metrics_tool.py
  tree_sitter_analyzer/analysis/coupling_metrics.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/coupling_metrics_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update session 122 progress (naming conventions + coupling metrics)
  AUTONOMOUS.md
  findings.md
Due: none

fix: test fixture improvements and archive OpenSpec changes
  openspec/changes/archive/add-async-pattern-analyzer/tasks.md
  openspec/changes/archive/add-call-graph-analyzer/tasks.md
  openspec/changes/archive/add-cognitive-complexity-scorer/tasks.md
  openspec/changes/archive/add-comment-quality-analyzer/tasks.md
  openspec/changes/archive/add-doc-coverage-analyzer/tasks.md
  openspec/changes/archive/add-environment-variable-tracker/tasks.md
  openspec/changes/archive/add-error-handling-analyzer/tasks.md
  openspec/changes/archive/add-i18n-string-detector/tasks.md
  openspec/changes/archive/add-import-sanitizer/tasks.md
  openspec/changes/archive/add-logging-pattern-analyzer/tasks.md
  openspec/changes/archive/add-magic-value-detector/tasks.md
  openspec/changes/archive/add-nesting-depth-analyzer/tasks.md
  openspec/changes/archive/add-parameter-coupling-analyzer/tasks.md
  openspec/changes/archive/add-test-smell-detector/tasks.md
  openspec/changes/archive/add-type-annotation-coverage/tasks.md
  tests/integration/mcp/test_pr_summary_tool.py
  tests/unit/analysis/test_test_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add self-optimization loop — tools audit and heal their own codebase
  AUTONOMOUS.md
Due: none

feat: add Assertion Quality Analyzer (37 tests, 4 languages)
  openspec/changes/add-assertion-quality-analyzer/tasks.md
  tests/unit/analysis/test_assertion_quality.py
  tests/unit/analysis/test_assertion_quality_tool.py
  tree_sitter_analyzer/analysis/assertion_quality.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/assertion_quality_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update session 123 progress (assertion quality analyzer)
  AUTONOMOUS.md
  openspec/archive/add-assertion-quality-analyzer/tasks.md
  progress.md
Due: none

feat: add Exception Handling Quality Analyzer (35 tests, 4 languages)
  findings.md
  openspec/changes/add-exception-quality-analyzer/tasks.md
  tests/unit/analysis/test_exception_quality.py
  tests/unit/analysis/test_exception_quality_tool.py
  tree_sitter_analyzer/analysis/exception_quality.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/exception_quality_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update session 123 progress (assertion quality + exception quality)
  AUTONOMOUS.md
  openspec/archive/add-exception-quality-analyzer/tasks.md
  progress.md
Due: none

feat: add SOLID Principles Analyzer (53 tests, 4 languages)
  findings.md
  openspec/changes/add-assertion-quality-analyzer/tasks.md
  openspec/changes/add-exception-quality-analyzer/tasks.md
  openspec/changes/archive/add-solid-principles-analyzer/tasks.md
  tests/integration/mcp/test_solid_principles_tool.py
  tests/unit/analysis/test_solid_principles.py
  tree_sitter_analyzer/analysis/solid_principles.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/solid_principles_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Variable Mutability Analyzer (40 tests, 4 languages)
  openspec/changes/add-variable-mutability-analyzer/tasks.md
  scripts/self-hosting-gate.py
  tests/unit/analysis/test_variable_mutability.py
  tree_sitter_analyzer/analysis/variable_mutability.py
  tree_sitter_analyzer/mcp/tools/variable_mutability_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Architectural Boundary Analyzer (55 tests, 4 languages)
  AUTONOMOUS.md
  findings.md
  openspec/changes/archive/add-architectural-boundary-analyzer/tasks.md
  openspec/changes/archive/add-variable-mutability-analyzer/tasks.md
  progress.md
  tests/integration/mcp/test_architectural_boundary_tool.py
  tests/unit/analysis/test_architectural_boundary.py
  tree_sitter_analyzer/analysis/architectural_boundary.py
  tree_sitter_analyzer/mcp/tools/architectural_boundary_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Resource Lifecycle Analyzer (46 tests, 4 languages)
  AUTONOMOUS.md
  findings.md
  openspec/changes/archive/add-resource-lifecycle-analyzer/tasks.md
  progress.md
  tests/integration/mcp/test_resource_lifecycle_tool.py
  tests/unit/analysis/test_resource_lifecycle.py
  tree_sitter_analyzer/analysis/resource_lifecycle.py
  tree_sitter_analyzer/mcp/tools/resource_lifecycle_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Return Path Analyzer (55 tests, 4 languages)
  openspec/changes/add-return-path-analyzer/tasks.md
  tests/unit/analysis/test_return_path.py
  tests/unit/analysis/test_return_path_tool.py
  tree_sitter_analyzer/analysis/return_path.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/return_path_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Null Safety Analyzer (50 tests, 4 languages)
  AUTONOMOUS.md
  openspec/changes/add-null-safety-analyzer/tasks.md
  openspec/changes/archive/add-return-path-analyzer/tasks.md
  progress.md
  tests/unit/analysis/test_null_safety.py
  tests/unit/mcp/tools/test_null_safety_tool.py
  tree_sitter_analyzer/analysis/null_safety.py
  tree_sitter_analyzer/mcp/tools/null_safety_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update session 126 progress (null safety analyzer)
  AUTONOMOUS.md
  progress.md
Due: none

feat: add Concurrency Safety Analyzer (47 tests, 4 languages)
  findings.md
  openspec/changes/add-concurrency-safety-analyzer/tasks.md
  tests/integration/mcp/test_concurrency_safety_tool.py
  tests/unit/analysis/test_concurrency_safety.py
  tree_sitter_analyzer/analysis/concurrency_safety.py
  tree_sitter_analyzer/mcp/tools/concurrency_safety_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: archive completed concurrency-safety-analyzer
  openspec/archive/add-concurrency-safety-analyzer-tasks.md
Due: none

docs: update session 127 progress (concurrency safety analyzer)
  AUTONOMOUS.md
Due: none

feat: add Contract Compliance Analyzer (46 tests, 4 languages)
  findings.md
  openspec/changes/add-contract-compliance-analyzer/tasks.md
  tests/integration/mcp/test_contract_compliance_tool.py
  tests/unit/analysis/test_contract_compliance.py
  tree_sitter_analyzer/analysis/contract_compliance.py
  tree_sitter_analyzer/mcp/tools/contract_compliance_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: archive completed contract-compliance-analyzer, update progress
  AUTONOMOUS.md
  openspec/changes/archive/add-contract-compliance-analyzer/tasks.md
  progress.md
Due: none

feat: add Inheritance Quality Analyzer (56 tests, 4 languages)
  openspec/changes/add-inheritance-quality-analyzer/tasks.md
  tests/integration/mcp/test_inheritance_quality_tool.py
  tests/unit/analysis/test_inheritance_quality.py
  tree_sitter_analyzer/analysis/inheritance_quality.py
  tree_sitter_analyzer/mcp/tools/inheritance_quality_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Side Effect Analyzer (49 tests, 4 languages)
  openspec/changes/add-side-effect-analyzer/tasks.md
  tests/integration/mcp/test_side_effect_tool.py
  tests/unit/analysis/test_side_effects.py
  tree_sitter_analyzer/analysis/side_effects.py
  tree_sitter_analyzer/mcp/tools/side_effect_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: update session 129 progress, archive completed changes
  AUTONOMOUS.md
  findings.md
  openspec/changes/archive/add-inheritance-quality-analyzer/tasks.md
  openspec/changes/archive/add-side-effect-analyzer/tasks.md
  progress.md
Due: none

feat: add Feature Envy Detector (35 tests, 4 languages)
  AUTONOMOUS.md
  findings.md
  openspec/changes/archive/add-feature-envy-detector/tasks.md
  progress.md
  tests/unit/analysis/test_feature_envy.py
  tree_sitter_analyzer/analysis/feature_envy.py
  tree_sitter_analyzer/mcp/tools/feature_envy_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
