Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(scala): extract enum case values, carry parent_class for given/type constructs (#762 #764)
  tests/unit/languages/test_scala_fixes.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): pin len(groups)>=1 to exact ==1 in similarity cap tests
  tests/unit/test_codegraph_similarity_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(lineage): respect file_paths scope filter, fix ref_count (#756 #757)
  tests/unit/mcp/test_symbol_lineage_fixes.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(c,cpp): nested struct extraction, typedef dedup, anonymous container naming (#751 #752 #753)
  tests/unit/languages/test_c_cpp_fixes.py
  tree_sitter_analyzer/languages/_c_traversal_helpers.py
  tree_sitter_analyzer/languages/_c_type_definition_helpers.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/languages/_cpp_traversal_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): normalize CRLF before len() assertion for Windows compat
  tests/unit/formatters/test_typescript_formatter_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(constraints): filter phantom violations — require callee import reachability (#780) (#828)
  tests/unit/test_constraint_dsl.py
  tree_sitter_analyzer/constraints/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(python,structure): nested return_type bleed + class_tree mode aliases/validation (#831)
  tests/unit/test_bugs_792_802_803.py
  tree_sitter_analyzer/languages/python_plugin/_function_extractor_mixin.py
  tree_sitter_analyzer/languages/python_plugin/_signature_helpers.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(javascript): extract X.prototype.method = function(){} assignments (#791) (#829)
  tests/unit/languages/test_js_prototype_methods_791.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/javascript_plugin/_public_extraction_mixin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sql): FUNCTION param extraction, CREATE TABLE AS SELECT capture (#775 #808)
  tests/unit/languages/test_sql_fixes.py
  tree_sitter_analyzer/languages/sql_plugin/_class_table_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/element_validator.py
  tree_sitter_analyzer/languages/sql_plugin/function_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/procedure_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/table_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): restore interface method extraction accidentally dropped in #832
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/toon/go_sample_toon.toon
  tree_sitter_analyzer/languages/go_helpers.py
  tree_sitter_analyzer/languages/go_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): update Scala corpus count to 38 after enum/given extraction
  tests/unit/test_scala_language_wiring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): pin clone group count to 2 for large-group fixture
  tests/unit/test_codegraph_similarity_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(docs): regenerate facade-actions.md after symbol_lineage file_paths param
  docs/api/facade-actions.md
Due: none

fix(test): update C golden masters after nested struct extraction
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/toon/c_sample_toon.toon
Due: none

fix(js): skip destructuring phantom fields and name computed-property methods #747 #748
  tests/golden_masters/plugins/javascript.json
  tests/unit/languages/test_javascript_bugs_747_748.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/javascript_plugin/_variable_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): interface method specs marked is_abstract, generic receiver extraction fixed (#749 #750)
  tests/unit/languages/test_go_bugs_749_750.py
  tree_sitter_analyzer/languages/_go_common_helpers.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): update plugin golden master for struct field extraction (#794)
  tests/golden_masters/plugins/go.json
Due: check-json-local

test(ratchet): batch-37 — pin loose assertions in language plugin tests (#827)
  scripts/loose_assertion_baseline.txt
  tests/unit/formatters/test_typescript_formatter_core.py
  tests/unit/languages/test_csharp_plugin_details.py
  tests/unit/languages/test_csharp_plugin_extraction.py
  tests/unit/languages/test_csharp_plugin_integration.py
  tests/unit/languages/test_plugins_base_core.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tests/unit/languages/test_swift_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(lineage): respect file_paths scope filter, fix ref_count (#756 #757) (#835)
  docs/api/facade-actions.md
  tests/unit/mcp/test_symbol_lineage_fixes.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(uml): sequence truncated flag, empty activity mermaid, include-tests priority (#787 #788 #789)
  tests/unit/test_uml_bugs_787_788_789.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(c): skip struct/union type references without a definition body
  tree_sitter_analyzer/languages/_c_type_definition_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust,scale): enum variant extraction and check-scale output cap #755 #796
  tests/unit/languages/test_rust_enum_variants_796.py
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(viz): expose similarity bounding params, cap functions per group (#801) (#830)
  tests/unit/test_codegraph_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/code_similarity_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): extract struct field declarations (#794) (#832)
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/golden_masters/plugins/go.json
  tests/golden_masters/toon/go_sample_toon.toon
  tests/unit/languages/test_go_struct_fields_794.py
  tree_sitter_analyzer/languages/_go_variable_helpers.py
  tree_sitter_analyzer/languages/go_helpers.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(c,cpp): nested struct extraction, typedef dedup, anonymous container naming (#751 #752 #753) (#836)
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/toon/c_sample_toon.toon
  tests/unit/languages/test_c_cpp_fixes.py
  tree_sitter_analyzer/languages/_c_traversal_helpers.py
  tree_sitter_analyzer/languages/_c_type_definition_helpers.py
  tree_sitter_analyzer/languages/_cpp_element_helpers.py
  tree_sitter_analyzer/languages/_cpp_traversal_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(js): skip destructuring phantom fields and name computed-property methods #747 #748 (#839)
  tests/golden_masters/plugins/javascript.json
  tests/unit/languages/test_javascript_bugs_747_748.py
  tree_sitter_analyzer/languages/javascript_plugin/_function_mixin.py
  tree_sitter_analyzer/languages/javascript_plugin/_variable_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): interface method specs marked is_abstract, generic receiver extraction fixed (#749 #750) (#841)
  tests/unit/languages/test_go_bugs_749_750.py
  tree_sitter_analyzer/languages/_go_common_helpers.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(uml): sequence truncated flag, empty activity mermaid, include-tests priority (#787 #788 #789) (#846)
  tests/unit/test_uml_bugs_787_788_789.py
  tree_sitter_analyzer/uml_export.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust,scale): enum variant extraction and check-scale output cap #755 #796 (#847)
  tests/unit/languages/test_rust_enum_variants_796.py
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scala): extract enum case values, carry parent_class for given/type constructs (#762 #764) (#833)
  tests/unit/languages/test_scala_fixes.py
  tests/unit/test_scala_language_wiring.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(sql): FUNCTION param extraction, CREATE TABLE AS SELECT capture (#775 #808) (#837)
  tests/unit/languages/test_sql_fixes.py
  tree_sitter_analyzer/languages/sql_plugin/_class_table_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/element_validator.py
  tree_sitter_analyzer/languages/sql_plugin/function_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/procedure_extractor.py
  tree_sitter_analyzer/languages/sql_plugin/table_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(rust): update golden master to include enum variants (#796)
  tests/golden_masters/plugins/rust.json
Due: check-json-local

fix(typescript): correct visibility/decorators/async/enum extraction (#772 #773 #774 #795)
  tests/unit/languages/test_typescript_extraction_fixes.py
  tests/unit/languages/test_typescript_extractor_comprehensive.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/languages/typescript_plugin/_class_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_function_helpers.py
  tree_sitter_analyzer/languages/typescript_plugin/_signature_helpers.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(python): populate Function.decorators field from decorator list
  tree_sitter_analyzer/languages/python_plugin/_element_builders.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mypy): remove instance line_count shadowing CodeElement property
  tree_sitter_analyzer/languages/markdown_plugin/elements.py
  tree_sitter_analyzer/languages/markdown_plugin/private_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ruby,php): correct line_count, phantom fields, default params, enum parent_class, top-level namespace (#763 #765 #768 #769 #770)
  tests/unit/languages/test_ruby_php_extraction_fixes.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/models/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bash): variable extraction wiring, shebang phantom element, compact Unknown header #776 #777 #778
  tests/unit/formatters/test_legacy_table_coverage_format_utils.py
  tests/unit/formatters/test_legacy_table_formatter_advanced.py
  tests/unit/formatters/test_legacy_table_formatter_boost2_compact.py
  tests/unit/formatters/test_legacy_table_formatter_branches.py
  tests/unit/formatters/test_legacy_table_formatter_core.py
  tests/unit/languages/test_bash_bugs_776_777_778.py
  tree_sitter_analyzer/_legacy_table_formatter_compact.py
  tree_sitter_analyzer/default_table_formatter.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/legacy_table_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: raise nesting depth cap to 100, fix call_path bidirectional BFS (#779 #797)
  tests/unit/test_ast_extraction.py
  tests/unit/test_call_path.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/call_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(health,viz): verdict coherence, matching_file_count, cycle scope, edge truncation #783 #784 #785 #786
  tests/unit/mcp/test_dependency_analysis_tool.py
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): add 'supers' alias for class_tree mode, declare class_name in class_detail schema (#802 #804)
  tests/unit/mcp/tools/test_structure_facade.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
