Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs: refine README positioning for MCP use cases (#108)
  README.md
  README_ja.md
  README_zh.md
Due: none

feat: add get_code_outline MCP tool for outline-first navigation
  .claude/settings.local.json
  README.md
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/__init__.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: implement all 13 critical fixes for TOON encoder Phase 3
  CLAUDE.md
  README.md
  docs/designs/get_code_outline_toon_enhancement.md
  docs/designs/tree-sitter-analyzer-ai-context-engine-strategy.md
  docs/designs/tree-sitter-analyzer-ai-context-engine-strategy_zh.md
  docs/designs/tree-sitter-analyzer-strategy-update-2026-03.md
  docs/designs/tree-sitter-analyzer-strategy-update-2026-03_zh.md
  docs/get_code_outline_test_report.md
  docs/java_outline_structure.md
  tests/unit/formatters/test_toon_encoder.py
  tests/unit/formatters/test_toon_encoder_array_table_auto.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool_toon.py
  tests/unit/mcp/test_utils/test_format_helper.py
  tree_sitter_analyzer/formatters/toon_encoder.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: refine TOON encoder bug fixes for backward compatibility
  tests/integration/formatters/test_toon_public_contract.py
  tree_sitter_analyzer/formatters/toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: remove internal design docs from version control
  .gitignore
  docs/designs/tree-sitter-analyzer-ai-context-engine-strategy.md
  docs/designs/tree-sitter-analyzer-ai-context-engine-strategy_zh.md
  docs/designs/tree-sitter-analyzer-strategy-update-2026-03.md
  docs/designs/tree-sitter-analyzer-strategy-update-2026-03_zh.md
Due: none

chore: exclude .claude directory from PyPI source distribution
  pyproject.toml
Due: check-toml-local

feat: implement Analysis Sessions recording and persistence
  tests/unit/core/test_analysis_session.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/exceptions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: fix Intent Aliases integration test flakiness
  tests/integration/mcp/test_intent_aliases_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add TOON format integration and token savings tests for get_code_outline
  .gitignore
  CHANGELOG.md
  docs/designs/get_code_outline_toon_enhancement.md
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/integration/mcp/test_tools/test_get_code_outline_toon_integration.py
  tests/unit/mcp/test_intent_aliases.py
  tree_sitter_analyzer/mcp/intent_aliases.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add AI agent usage guides (SKILL.md) for 9 MCP tools
  docs/skills/analyze_code_structure.md
  docs/skills/analyze_code_universal.md
  docs/skills/check_code_scale.md
  docs/skills/extract_code_section.md
  docs/skills/find_and_grep.md
  docs/skills/get_code_outline.md
  docs/skills/list_files.md
  docs/skills/query_code.md
  docs/skills/search_content.md
Due: none

feat: add trace_impact MCP tool for lightweight impact analysis
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/__init__.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve GitHub Actions CI failures
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve all CI quality checks (Ruff, MyPy, Bandit)
  tests/integration/formatters/test_toon_public_contract.py
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/unit/core/test_analysis_session.py
  tests/unit/mcp/test_intent_aliases.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/formatters/toon_encoder.py
  tree_sitter_analyzer/mcp/intent_aliases.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add CI quality check infrastructure and AI coding rules
  .github/scripts/README.md
  .github/scripts/local-ci-check.sh
  .github/scripts/pre-commit-check.sh
  CLAUDE.md
  docs/ai-coding-rules.md
Due: none

fix: resolve CI workflow issues (Bandit exit code, coverage comment)
  .github/workflows/reusable-quality.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

fix: improve Bandit workflow robustness
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

fix: remove shell -e flag to allow Bandit error handling
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

fix: add debug output and explicit exit codes for Bandit
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

docs: add trace_impact SKILL documentation
  docs/skills/trace_impact.md
Due: none

fix: resolve Bandit Unicode encoding errors in CI workflow
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

fix: make Bandit security scan non-blocking in CI
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

fix: correct pytest marker filter logic in CI workflows
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

fix: add output_format='json' to universal_analyze_tool tests
  tests/unit/cli/test_universal_analyze_tool_comprehensive.py
  tests/unit/cli/test_universal_analyze_tool_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct Python syntax errors in universal_analyze_tool tests
  tests/unit/cli/test_universal_analyze_tool_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: revert all MCP tool defaults from TOON to JSON format
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update tests for TOON/JSON format changes and graceful error handling
  tests/integration/cli/test_read_partial_tool_batch.py
  tests/integration/core/test_analyze_scale_tool_batch_metrics.py
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/unit/core/test_analysis_session.py
  tests/unit/formatters/test_toon_encoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update tests for circular reference graceful degradation and MCP format
  tests/integration/cli/test_toon_coverage_boost.py
  tests/integration/cli/test_toon_error_handling.py
  tests/integration/mcp/test_tools/test_get_code_outline_token_savings.py
  tests/integration/mcp/test_tools/test_get_code_outline_toon_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update test_execute_toon_format for TOON format return structure
  tests/unit/mcp/test_mcp_tools_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update TOON format tests for new return structure (partial fix 5/13)
  .claude/settings.local.json
  README.md
  TODOS.md
  tests/golden_masters/mcp/list_files_basic_list.json
  tests/golden_masters/mcp/search_content_basic_search.json
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tests/unit/mcp/test_list_files_tool.py
  tests/unit/mcp/test_mcp_tools_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix: remove incorrect toon_content assertions from JSON format tests (7/13 fixed)
  tests/unit/mcp/test_list_files_tool.py
  tests/unit/mcp/test_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: complete CI/CD test failures (final 4 of 13)
  README.md
  tests/integration/mcp/test_toon_mcp_integration.py
  tests/unit/mcp/test_find_and_grep_tool.py
  tests/unit/mcp/test_mcp_fd_rg_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve 9 of 10 remaining CI test failures
  tests/unit/mcp/test_mcp_tools_coverage.py
  tests/unit/mcp/test_search_content_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve final CI test failure (10/10)
  tests/unit/mcp/test_tools/test_read_partial_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct get_code_outline_tool return format and default
  tests/unit/mcp/test_tools/test_get_code_outline_tool.py
  tests/unit/mcp/test_tools/test_get_code_outline_tool_toon.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: prepare release v1.10.5
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: bump version to 1.10.5 in pyproject.toml
  pyproject.toml
Due: check-toml-local

docs: mark Phase 1 checklist complete in get_code_outline design spec
  docs/designs/get_code_outline_toon_enhancement.md
  uv.lock
Due: none

feat: update MCP tool descriptions to intent-based language
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
