Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(csharp): attribute each class to its enclosing namespace FQN, not the first (#977) (#979)
  tests/unit/languages/test_csharp_plugin_extraction.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): --ast-cache-mode without --ast-cache now errors clearly and exits non-zero (#982)
  tests/unit/cli/test_ast_cache_mode_wiring.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): edge-aware not-found hint + success:false on NOT_FOUND for callers/callees/impact/navigate (#981 #983)
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/tools/test_nav_not_found_contract.py
  tests/unit/test_call_graph_built_signal.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): --ast-cache-mode without --ast-cache now errors clearly and exits non-zero (#982) (#986)
  tests/unit/cli/test_ast_cache_mode_wiring.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): keep edge-aware not-found hint, revert success-flip (envelope contract: success=ran-ok) (#981)
  tests/unit/mcp/test_nav_impact_boundary.py
  tests/unit/mcp/tools/test_nav_not_found_contract.py
  tests/unit/test_call_graph_built_signal.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): edge-aware not-found hint for callers/callees/impact (#981) (#989)
  tests/unit/mcp/tools/test_nav_not_found_contract.py
  tests/unit/test_call_graph_built_signal.py
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast-cache): call_graph_built() falls back to edges-table count when marker missing (P0 root cause #1005)
  tests/unit/test_call_graph_built_signal.py
  tree_sitter_analyzer/_ast_cache_callgraph_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(skills,facade): correct wrong param/field/mode/flag references in agent-facing docs (#991-999)
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-safety/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-health-watch/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  .claude/skills/tsa-landing/SKILL.md
  .claude/skills/tsa-pr-review/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(skills): sync bundled package copies with corrected .claude/skills source (#991-999)
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
Due: none

fix(test): re-pin call_graph_built setup assertions to #1005 edges-fallback (True)
  tests/unit/mcp/tools/test_nav_not_found_contract.py
  tests/unit/test_call_graph_built_signal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(skills,facade): correct wrong param/field/mode/flag refs in agent docs (#991 #992 #993 #994 #995 #996 #997 #998 #999) (#1007)
  .claude/skills/tsa-deps/SKILL.md
  .claude/skills/tsa-edit-safety/SKILL.md
  .claude/skills/tsa-edit-then-verify/SKILL.md
  .claude/skills/tsa-find/SKILL.md
  .claude/skills/tsa-health-watch/SKILL.md
  .claude/skills/tsa-index/SKILL.md
  .claude/skills/tsa-landing/SKILL.md
  .claude/skills/tsa-pr-review/SKILL.md
  .claude/skills/tsa-refactor-queue/SKILL.md
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/skills/tsa-deps/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-safety/SKILL.md
  tree_sitter_analyzer/skills/tsa-edit-then-verify/SKILL.md
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/skills/tsa-health-watch/SKILL.md
  tree_sitter_analyzer/skills/tsa-index/SKILL.md
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
  tree_sitter_analyzer/skills/tsa-pr-review/SKILL.md
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast-cache): call_graph_built edges-table safety net — recover from missing marker (P0 #1005) (#1006)
  tests/unit/mcp/tools/test_nav_not_found_contract.py
  tests/unit/test_call_graph_built_signal.py
  tree_sitter_analyzer/_ast_cache_callgraph_state.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: _route_detector_helpers 50.8%→88.4%
  tests/unit/test_route_detector_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: _class_view_extractor 20.6%→100%
  tests/unit/languages/test_class_view_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cli): structured error+nonzero exit for bad --batch-search input and directory args to --safe-to-edit/--agent-workflow (#1002 #1003)
  tests/unit/cli/test_cli_input_robustness.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): structured error+nonzero exit for bad --batch-search input and directory args to --safe-to-edit/--agent-workflow (#1002 #1003) (#1008)
  tests/unit/cli/test_cli_input_robustness.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/special_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph-metrics): eliminate warm-cache hang on large edge counts (#990)
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(autoindex): report warm cache as indexed + populate cache_stats (#1004)
  tests/unit/test_codegraph_autoindex_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): unify --edit-type and --modification-guard-type enums to one shared source (#985)
  tests/unit/cli/test_argument_parser_builder_integration.py
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph-metrics): eliminate warm-cache hang on large edge counts (#990) (#1009)
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(autoindex): report warm cache as indexed + populate cache_stats (#1004) (#1010)
  tests/unit/test_codegraph_autoindex_tool.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): unify --edit-type and --modification-guard-type enums to one shared source (#985) (#1011)
  tests/unit/cli/test_argument_parser_builder_integration.py
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_risk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(clean-state): delete only TSA artifacts, preserve foreign DBs; honor --format json (#988)
  tests/unit/cli/test_clean_state_command.py
  tree_sitter_analyzer/cli/commands/clean_state_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): generalize mode-without-trigger guard to all ~20 --X-mode flag pairs (#1000)
  tests/unit/cli/test_mode_flag_wiring.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(clean-state): delete only TSA artifacts, preserve foreign DBs; honor --format json (#988) (#1012)
  tests/unit/cli/test_clean_state_command.py
  tree_sitter_analyzer/cli/commands/clean_state_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): generalize mode-without-trigger guard to all ~20 --X-mode flag pairs (#1000) (#1013)
  tests/unit/cli/test_mode_flag_wiring.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): bump version to 1.24.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(release): pin walk() result count to ==1, mark slow truncation test slow_ok (release/v1.24.0 gate)
  tests/unit/mcp/test_list_files_tool_execute.py
  tests/unit/test_route_detector_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): mark heavy boundary/source-scan tests slow_ok + import pytest (release/v1.24.0 gate)
  tests/unit/mcp/test_toon_compact_only.py
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cli): align list-skills alias and release docs
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/TESTING.md
  docs/developer_guide.md
  tests/unit/cli/_test_cli_main_module_parser_mixin.py
  tests/unit/cli/test_argument_parser_builder_options.py
  tree_sitter_analyzer/cli/argument_groups/_agents.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): update CLI flag count to 295
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
Due: none

test(release): stabilize Windows full-suite flakes
  tests/integration/test_synapse_backfill.py
  tests/unit/mcp/test_toon_compact_only.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): exempt ast-cache CLI dispatch budget
  tests/unit/cli/test_ast_cache_mode_wiring.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): skip constraint perf budget under coverage
  tests/unit/test_constraint_dsl.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): exempt nav boundary path budget
  tests/unit/mcp/test_nav_impact_boundary.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(release): exempt parser recovery budget
  tests/unit/core/test_parser_error_recovery_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(release): regenerate uv.lock for 1.24.0 (fixes --locked) (#1017)
  uv.lock
Due: none

fix(cli): normalize SQL method parameters in --summary JSON output (#1015)
  tests/unit/cli/test_summary_command.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/cli/commands/summary_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ast-cache): --ast-cache-language filters the index file-walk (skip non-matching languages) (#1018)
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(advanced): real C#/PHP/Ruby/SQL elements carry their analyzer language, not 'unknown' (#1019)
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/_api_result_helpers.py
  tree_sitter_analyzer/cli/commands/advanced_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
