Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

refactor(r37et): markdown_plugin.get_element_categories 89→6 lines via module constant
  tree_sitter_analyzer/languages/markdown_plugin/plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37eu): sql_platform_helpers.handle_sql_platform_info 88→15 lines via 3 helpers → SAFE
  tree_sitter_analyzer/cli/commands/sql_platform_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37ev): platform_compat.compare_profiles 91→20 lines via 2 helpers
  tree_sitter_analyzer/platform_compat/compare.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37ew): call_graph_tool._attach_call_graph_envelope 88→15 via 2 helpers
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37ex): read_partial_tool._read_and_format 87→68 via 2 module helpers
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37ey): batch_executor._process_one_section 87→72 via 2 limit-enforcement helpers
  tree_sitter_analyzer/mcp/tools/batch_executor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37ez): fd_rg_result_utils.summarize_search_results 87→15 via 3 helpers
  tree_sitter_analyzer/mcp/tools/fd_rg_result_utils.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37f0): advanced_command._output_full_analysis 87→25 via 3 module helpers
  tree_sitter_analyzer/cli/commands/advanced_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37f1): bash_plugin._traverse_and_extract_iterative 87→25 via const + helper
  tree_sitter_analyzer/languages/bash_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37f2): project_health._build_project_health_result 56-53 via frozen dataclass aggregates
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37f3): register 4 orphan MCP tools (23 to 27)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37f4): 27 to 30 MCP tools - register batch_search, build_project_index, check_tools
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/README.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37f5): trace_impact_tool.get_tool_definition 92-5 via module constants
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(r37f6): trace_impact._build_trace_impact_result 64-15 via 2 helpers
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37f7-F2): --format alias for --output-format in 3 subcommands
  tests/unit/cli/test_subcommand_format_alias.py
  tree_sitter_analyzer/cli/commands/find_and_grep_cli_helpers.py
  tree_sitter_analyzer/cli/commands/list_files_cli.py
  tree_sitter_analyzer/cli/commands/search_content_cli_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(r37f7-F4): detect_routes envelope consistency
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_route_detector.py
  tree_sitter_analyzer/_route_cache.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(r37f7-U34): promote ast_cache + file_health summary-line fields to top level
  tests/unit/mcp/tools/test_tool_response_contract.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/utils/file_health_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

security(r37fB): fix path-traversal in build_project_index roots validation
  tests/unit/mcp/tools/test_build_project_index_security.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fD): check_tools failure_mode + actionable next_step
  tests/unit/mcp/test_check_tools_tool.py
  tree_sitter_analyzer/mcp/tools/check_tools_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(r37fC): cover error paths in list_agent_skills
  tests/unit/mcp/test_agent_skills_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(r37f7-F1): canonical verdict vocabulary + canonicalizer
  tests/unit/mcp/test_parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Revert "feat(r37f7-F1): canonical verdict vocabulary + canonicalizer"
  tests/unit/mcp/test_parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(r37f7-F1): canonical verdict vocabulary + canonicalizer
  tests/unit/mcp/tools/test_tool_response_contract.py
  tree_sitter_analyzer/mcp/tools/agent_workflow_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/base_tool.py
  tree_sitter_analyzer/mcp/tools/call_graph_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(r37fC): cover error paths in advise_parser_readiness
  tests/unit/mcp/test_parser_readiness_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(r37fE): benchmark harness + self-bench results
  benchmarks/agent-tasks/README.md
  benchmarks/agent-tasks/bench_runner.py
  benchmarks/agent-tasks/results-2026-05-22.json
  benchmarks/agent-tasks/results-2026-05-22.jsonl
  benchmarks/agent-tasks/scenarios.py
  tests/unit/test_benchmark_harness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(r37fC): cover error paths in get_agent_workflow
  tests/unit/mcp/test_agent_workflow_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(r37fH): check_tools verdict READY/MISSING → INFO/ERROR canonical
  tests/unit/mcp/test_check_tools_tool.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tree_sitter_analyzer/mcp/tools/check_tools_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fF): anti-bias verdict prompt injection on 6 gate tools
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/check_tools_tool.py
  tree_sitter_analyzer/mcp/tools/file_health_tool.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/project_health_tool.py
  tree_sitter_analyzer/mcp/tools/refactoring_suggestions_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fJ): wire ast_diff into CLI + parity registry (31 MCP tools)
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_ast_diff.py
  tree_sitter_analyzer/ast_diff.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fG-1a): decision_journal storage layer + 22 tests
  tests/unit/test_decision_journal.py
  tree_sitter_analyzer/decision_journal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fG-1b): decision_journal MCP tool + CLI parity (32 MCP tools)
  tests/unit/mcp/tools/test_tool_response_contract.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/decision_journal_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(r37fG-3): change_impact ↔ decision_journal verdict gate
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ops: branch-guard hook + dogfood worktree spawner (defends against harness drift)
  scripts/branch-guard.sh
  scripts/spawn-isolated-dogfood-worktree.sh
Due: none

fix(dogfood-pain-02): register ast_diff + decision_journal in second parity table
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(diff): AST structured diff engine + CLI parity (P2)
  tests/unit/test_ast_diff.py
  tree_sitter_analyzer/ast_diff.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(search): integrate FTS5 fast path into search_content tool (P1)
  tests/unit/test_fts_fast_path.py
  tree_sitter_analyzer/mcp/tools/_fts_fast_path.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): dedicated codegraph_callers/codegraph_callees MCP tools (P0)
  tests/unit/test_callers_callees_tools.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(watcher): add FileWatcherDaemon for automatic AST cache sync
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(contracts): wire codegraph_ast_path + ast_diff CLI parity to close contract gap
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_ast_path.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_change_impact_git.py
  tests/unit/test_tool_registry.py
  tree_sitter_analyzer/ast_path.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/ast_path_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
