Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(swift): compute cyclomatic complexity for Swift functions (#1056)
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): compute cyclomatic complexity for Scala and Bash
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(plugins): compute cyclomatic complexity for Scala and Bash (#1057)
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/bash_plugin.py
  tree_sitter_analyzer/languages/scala_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0018 correct TOON wire + envelope normalization
  rfcs/0018-response-envelope-normalization-and-adaptive-toon.md
Due: none

docs(readme): correct false TOON efficiency claim; add REVIEW verdict (#1059)
  README.md
Due: none

fix(toon): quote scalar-ambiguous strings; add ToonDecoder + round-trip oracle (#1058)
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_toon_roundtrip.py
  tree_sitter_analyzer/formatters/_toon_encoder_string_helpers.py
  tree_sitter_analyzer/formatters/toon_decoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(toon): quote scalar-ambiguous strings; add ToonDecoder + round-trip oracle (#1058) (#1063)
  docs/CODEMAPS/formatters.md
  tests/unit/formatters/test_toon_roundtrip.py
  tree_sitter_analyzer/formatters/_toon_encoder_string_helpers.py
  tree_sitter_analyzer/formatters/toon_decoder.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): correct false TOON efficiency claim; add REVIEW verdict (#1059) (#1062)
  README.md
Due: none

fix(formatters): add Cx column to Go and Bash full table output
  docs/CODEMAPS/formatters.md
  tests/golden_masters/full/go_sample_full.md
  tests/unit/formatters/test_cx_column_coverage.py
  tree_sitter_analyzer/formatters/_go_formatter_helpers.py
  tree_sitter_analyzer/formatters/bash_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/go_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): add Cx column to Go and Bash full table output (#1064)
  docs/CODEMAPS/formatters.md
  tests/golden_masters/full/go_sample_full.md
  tests/unit/formatters/test_cx_column_coverage.py
  tree_sitter_analyzer/formatters/_go_formatter_helpers.py
  tree_sitter_analyzer/formatters/bash_formatter.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/go_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): render top-level functions in PHP --table full output
  tests/unit/formatters/test_php_formatter_helpers.py
  tree_sitter_analyzer/formatters/_php_formatter_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): render top-level functions in PHP --table full output (#1065)
  tests/unit/formatters/test_php_formatter_helpers.py
  tree_sitter_analyzer/formatters/_php_formatter_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): render parameters as proper Rust syntax in --table full signatures
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/rust_sample_full.md
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): render parameters as proper Rust syntax in --table full signatures (#1066)
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/rust_sample_full.md
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0018 rev3 — 10-expert panel rulings + wire decision
  rfcs/0018-response-envelope-normalization-and-adaptive-toon.md
Due: none

ci: add Claude-powered PR review bot to guard every PR
  .github/workflows/claude-review.yml
Due: check-yaml-local

ci: add Claude-powered PR review bot to guard every PR (#1071)
  .github/workflows/claude-review.yml
Due: check-yaml-local

ci: activate Claude PR review bot on main
  .github/workflows/claude-review.yml
Due: check-yaml-local

ci: authenticate Claude review bot via subscription OAuth token
  .github/workflows/claude-review.yml
Due: check-yaml-local

ci: authenticate Claude review bot via subscription OAuth token (#1073)
  .github/workflows/claude-review.yml
Due: check-yaml-local

fix(swift): preserve parameter types in extraction (name: Type)
  tests/golden_masters/full/swift_sample_full.md
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): extract bracket/tuple-led return types
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): preserve parameter & return type info in extraction (#1074)
  tests/golden_masters/full/swift_sample_full.md
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): keep nested-comma parameter types intact (no dropped params)
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): keep nested-comma parameter types intact (no dropped params) (#1075)
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(mcp): omit empty agent_next_action guidance fields (RFC-0018 Part 3)
  tests/unit/mcp/test_file_health_tool.py
  tests/unit/mcp/test_omit_empty_guidance_fields.py
  tree_sitter_analyzer/mcp/tools/file_health_tool.py
  tree_sitter_analyzer/mcp/tools/utils/file_health_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): no bogus return type from a closure param's arrow
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): no bogus return type from a closure param's arrow (#1077)
  tests/unit/languages/test_swift_plugin.py
  tree_sitter_analyzer/languages/_swift_plugin_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): rust/kotlin signatures must raise, not silently render full
  tests/unit/formatters/test_kotlin_formatter.py
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/kotlin_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(mcp): drop duplicate 'results' array from trace_impact (RFC-0018 R10)
  tests/unit/mcp/test_trace_no_duplicate_results_array.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(formatters): rust/kotlin --table csv now emits CSV, not full markdown
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/rust_sample_csv.csv
Due: none

fix(formatters): rust/kotlin format_structure must delegate to base (signatures + csv) (#1079)
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/unit/formatters/test_kotlin_formatter.py
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/kotlin_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): compute cyclomatic complexity (was always 1)
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(go): compute cyclomatic complexity (was always 1) (#1080)
  tests/golden_masters/csv/go_sample_csv.csv
  tests/golden_masters/full/go_sample_full.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_go_function_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): compute cyclomatic complexity (was always 1)
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): compute cyclomatic complexity (was always 1) (#1081)
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(rust): show Cx (complexity) column in full table
  tests/golden_masters/full/rust_sample_full.md
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(rust): show Cx (complexity) column in full table (#1082)
  tests/golden_masters/full/rust_sample_full.md
  tests/unit/formatters/test_rust_formatter.py
  tree_sitter_analyzer/formatters/rust_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): count && / || in Java/C/C++/C# cyclomatic complexity
  tests/golden_masters/compact/cpp_sample_compact.md
  tests/golden_masters/compact/csharp_sample_compact.md
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/compact/java_userservice_compact_format.md
  tests/golden_masters/csv/cpp_sample_csv.csv
  tests/golden_masters/csv/csharp_sample_csv.csv
  tests/golden_masters/csv/java_bigservice_csv.csv
  tests/golden_masters/csv/java_userservice_csv_format.csv
  tests/golden_masters/full/cpp_sample_full.md
  tests/golden_masters/full/csharp_sample_full.md
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/java_userservice_full_format.md
  tests/integration/formatters/test_formatter_integration.py
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_cpp_complexity_helpers.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
  tree_sitter_analyzer/languages/c_helpers.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(complexity): only count && / || that drive executable control flow
  docs/CODEMAPS/languages.md
  tests/unit/languages/test_cyclomatic_complexity.py
  tree_sitter_analyzer/languages/_complexity_logical.py
  tree_sitter_analyzer/languages/_cpp_complexity_helpers.py
  tree_sitter_analyzer/languages/_java_ast_helpers.py
  tree_sitter_analyzer/languages/c_helpers.py
  tree_sitter_analyzer/languages/csharp_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
