Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat: add CLI→MCP→output pipeline integration tests
  tests/integration/test_pipeline_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add performance regression tests
  task_plan.md
  tests/benchmark/test_performance_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: update README with latest features and test counts
  README.md
  task_plan.md
Due: none

test: add impact level boundary tests for blast radius analysis
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add LINQ query extraction and async/await detection to C# plugin
  tests/unit/languages/test_csharp_plugin_enhanced.py
  tree_sitter_analyzer/grammar_coverage/validator.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add 10 real-world C# pattern tests
  task_plan.md
  tests/unit/languages/test_csharp_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add adaptive compression to TOON formatter
  task_plan.md
  tests/unit/formatters/test_toon_formatter_integration.py
  tree_sitter_analyzer/formatters/toon_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add real-project TOON compression benchmark
  tests/benchmark/test_toon_real_project_compression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add semantic-level impact analysis
  tests/unit/analysis/test_semantic_impact.py
  tree_sitter_analyzer/analysis/semantic_impact.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update CHANGELOG with unreleased autonomous-dev changes
  CHANGELOG.md
  task_plan.md
Due: none

test: validate dependency graph on real project files
  tests/integration/test_dependency_graph_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct critical docs/skills/ discrepancies
  docs/skills/list_files.md
  docs/skills/search_content.md
  docs/skills/trace_impact.md
  task_plan.md
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark qmd comparison and docs audit as complete
  task_plan.md
Due: none

test: improve toon_formatter coverage with AnalysisResult tests
  tests/unit/formatters/test_toon_formatter_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add 38 tests for JSON plugin (16% → higher coverage)
  tests/unit/languages/test_json_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add AST chunking quality validation with real files
  .tree-sitter-cache/critical_nodes.json
  .tree-sitter-cache/file_hashes.json
  .tree-sitter-cache/project-index.json
  .tree-sitter-cache/summary.toon
  progress.md
  task_plan.md
  tests/integration/test_ast_chunking_quality.py
  tests/unit/test_output_manager.py
  tree_sitter_analyzer/core/ast_chunker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: repair 2 failing tests, complete Phase 7 Loop 1-3
  progress.md
  tests/unit/mcp/test_tool_schema_examples.py
  tests/unit/security/test_security_boundary_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: complete Phase 7 Loop 4 documentation audit
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 5 and session summary
  progress.md
  task_plan.md
Due: none

feat: add MCP Tool Registry system (Sprint 1)
  openspec/changes/add-tool-registry-system/tasks.md
  tests/unit/mcp/test_registry.py
  tree_sitter_analyzer/mcp/registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: register all MCP tools with ToolRegistry (Sprint 2)
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add MCP tool discovery tools (Sprint 3)
  tests/unit/mcp/test_tool_discovery.py
  tree_sitter_analyzer/mcp/tools/tool_discovery_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress.md and tasks.md for Tool Registry completion
  openspec/changes/add-tool-registry-system/tasks.md
  progress.md
Due: none

fix: import Callable from collections.abc in skill_loader.py
  tree_sitter_analyzer/mcp/skill_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: complete Phase 7 Loop 6 code audit and start Loop 7
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 7 performance optimization and start Loop 8
  progress.md
  task_plan.md
Due: none

docs: add Context Reset info with 5 Reboot questions
  progress.md
Due: none

docs: complete Phase 7 Loop 8 documentation sync (Tool Registry)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
Due: none

docs: complete Phase 7 Loop 9 code audit (third round)
  progress.md
  task_plan.md
Due: none

feat: implement code diff analysis tool (Sprint 1)
  openspec/changes/add-code-diff-analysis/tasks.md
  tests/unit/mcp/test_code_diff.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/code_diff_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update task_plan.md and progress.md for Loop 10 Sprint 1
  progress.md
  task_plan.md
Due: none

docs: add next tasks for add-code-diff-analysis OpenSpec change
  task_plan.md
Due: none

feat: implement Code Diff Analysis tool (add-code-diff-analysis)
  openspec/changes/add-code-diff-analysis/tasks.md
  progress.md
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: complete add-code-diff-analysis OpenSpec change
  task_plan.md
Due: none

docs: complete Phase 7 Loop 11 (performance optimization)
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 12 (test reinforcement)
  progress.md
  task_plan.md
  tests/unit/analysis/test_code_smells.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/plugins/test_plugin_registry.py
  tree_sitter_analyzer/analysis/code_smells.py
  tree_sitter_analyzer/mcp/tools/code_smell_detector_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: complete Phase 7 Loop 13 (documentation sync)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
Due: none

docs: complete Phase 7 Loop 13 (documentation sync)
  progress.md
  task_plan.md
Due: none

docs: complete Phase 7 Loop 14 (code audit round 4)
  progress.md
  task_plan.md
Due: none

docs: Phase 7 Loop 15 in progress (code smell detector)
  progress.md
  task_plan.md
Due: none
