Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

ci: pin upload-artifact v7 in Windows diagnostics
  .github/workflows/windows-trust-diagnostics.yml
Due: check-yaml-local

fix(mcp): close remaining lifecycle races
  tests/unit/mcp/test_subscription_lifecycle.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/subscription_lifecycle.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): guard every candidate walk fallback
  docs/AI_LESSONS.md
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/contracts/test_agent_docs_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

ci: pin upload-artifact v7 in Windows diagnostics (#1495)
  .github/workflows/windows-trust-diagnostics.yml
Due: check-yaml-local

test: make Windows source oracle checks portable
  tests/unit/test_index_snapshot_windows.py
  tests/unit/test_source_oracle_paths.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mcp): bind subscriptions and watchers to lifecycle owners (#1492)
  docs/AI_LESSONS.md
  rfcs/0035-trusted-reactive-feedback.md
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tests/unit/mcp/test_hyphae_push_wiring.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_subscription_lifecycle.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/subscription_lifecycle.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_subscribe_tool.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): execute benchmark claim targets
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(routes): close cache connections deterministically
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_codegraph_metrics_tool.py
  tests/unit/test_route_detector_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
  tree_sitter_analyzer/registry/route_cache.py
  tree_sitter_analyzer/route_detector/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): run walk invariant in PR gate
  docs/AI_LESSONS.md
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/unit/test_codegraph_full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(routes): cover cache shutdown races
  tests/unit/test_route_detector_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(index): follow certified candidate walk (#1494)
  docs/AI_LESSONS.md
  tests/benchmarks/claims/test_index_speed_claim.py
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_codegraph_full_index_tool.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(constraints): scope import evidence to candidates
  tests/unit/test_evaluator_bounds.py
  tests/unit/test_evaluator_import_resolution.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/constraints/evaluator_import_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): record reactive lifecycle completion
  rfcs/0035-trusted-reactive-feedback.md
Due: none

docs(rfc): record reactive lifecycle completion (#1498)
  rfcs/0035-trusted-reactive-feedback.md
Due: none

fix(routes): close cache connections deterministically (#1496)
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_codegraph_metrics_tool.py
  tests/unit/test_route_detector_cache.py
  tree_sitter_analyzer/mcp/tools/codegraph_metrics_tool.py
  tree_sitter_analyzer/mcp/tools/route_detector_tool.py
  tree_sitter_analyzer/registry/route_cache.py
  tree_sitter_analyzer/route_detector/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(constraints): preserve bounded exact selection
  tests/unit/test_evaluator_bounds.py
  tests/unit/test_evaluator_import_resolution.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/constraints/evaluator_import_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): reject stale certified query owners
  tests/unit/test_certified_callers.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_index_snapshot.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_query.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(lessons): record relevant capacity bounds
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(constraints): cover exact candidate bounds
  tests/unit/test_evaluator_bounds.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(lessons): require reachable verification targets
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(codegraph): preserve certified graph boundaries
  tests/unit/_navigation_test_support.py
  tests/unit/test_ast_cache_call_graph.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_certified_callers.py
  tests/unit/test_codegraph_callees_tool.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_query_backend.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(constraints): document bounded evidence regression
  docs/AI_LESSONS.md
  tests/unit/test_evaluator_bounds.py
  tests/unit/test_evaluator_import_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(codegraph): bind source bodies to certified index reads (#1491)
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/_navigation_test_support.py
  tests/unit/mcp/test_runtime_guidance_facade_names.py
  tests/unit/mcp/tools/test_call_path_enrich.py
  tests/unit/mcp/tools/test_symbol_body_inline.py
  tests/unit/test_ast_cache_call_graph.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_callees_tool.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_codegraph_query_backend.py
  tests/unit/test_incremental_sync_callgraph.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_windows.py
  tests/unit/test_source_oracle_paths.py
  tests/unit/test_symbol_search_conceptual_demotion.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/cache/callgraph_state.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/cache/search.py
  tree_sitter_analyzer/call_graph.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_query.py
  tree_sitter_analyzer/index_snapshot_windows.py
  tree_sitter_analyzer/mcp/tools/call_path_enrich.py
  tree_sitter_analyzer/mcp/tools/call_path_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_body_inline.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nav): allow call queries to omit bodies
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_codegraph_callees_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(cli): correct full index modes
  docs/CODEMAPS/cli.md
Due: none

fix(journal): close sqlite connections deterministically
  tests/unit/test_decision_journal.py
  tree_sitter_analyzer/decision_journal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(constraints): scope import evidence to candidates (#1497)
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_evaluator_bounds.py
  tests/unit/test_evaluator_import_resolution.py
  tree_sitter_analyzer/constraints/evaluator.py
  tree_sitter_analyzer/constraints/evaluator_import_resolution.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(claims): track current CLI surface count
  benchmarks/codegraph_compare/readme_claim_scanner.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nav): allow call queries to omit bodies (#1499)
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_claim_registry.py
  tests/unit/test_codegraph_callees_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(journal): close sqlite connections deterministically (#1500)
  tests/unit/test_decision_journal.py
  tree_sitter_analyzer/decision_journal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): close short-lived AST cache owners
  tests/unit/mcp/test_hyphae_resource_read.py
  tests/unit/mcp/test_query_symbol_search_scenarios.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_codegraph_autoindex_tool.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/resources/hyphae_resource.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/query_symbol_search.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: update codemap fixture and retire orphaned search helpers
  rfcs/0033-native-search-independence.md
  rfcs/evidence/0033-orphaned-helpers.jsonl
  tests/integration/_test_phase7_end_to_end_helpers.py
  tests/integration/_test_phase7_information_leakage_helpers.py
  tests/integration/_test_phase7_security_helpers_extra.py
  tests/integration/_test_phase7_security_load_helpers.py
  tests/integration/_test_phase7_security_policy_helpers.py
  tests/integration/_test_phase7_security_stress_helpers.py
  tests/integration/_test_phase7_sensitive_exposure_helpers.py
  tests/integration/_test_phase7_unicode_security_helpers.py
  tests/integration/test_codemap_sync_hook.sh
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: complete native search workflow and index cleanup
  .claude/skills/tsa-landing/SKILL.md
  tests/e2e/test_tool_functional.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/integration/mcp/test_user_story_4_integration.py
  tests/unit/mcp/test_agent_workflow_tool.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/test_codegraph_sitemap.py
  tree_sitter_analyzer/cli/agent_workflow.py
  tree_sitter_analyzer/mcp/intent_aliases.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): execute benchmark claim targets (#1501)
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): reconcile retired surface contracts
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/cli.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/governance/test_tool_validation_contract.py
  tests/unit/test_claim_registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cache): close short-lived AST cache owners (#1502)
  tests/unit/mcp/test_hyphae_resource_read.py
  tests/unit/mcp/test_query_symbol_search_scenarios.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_codegraph_autoindex_tool.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/resources/hyphae_resource.py
  tree_sitter_analyzer/mcp/tools/auto_index_tool.py
  tree_sitter_analyzer/mcp/tools/class_hierarchy_tool.py
  tree_sitter_analyzer/mcp/tools/query_symbol_search.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(search): finish external search retirement
  AGENTS.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/architecture.md
  docs/CONTRIBUTING.md
  docs/MIGRATION.md
  docs/README.md
  docs/agent-tooling-gap-report.md
  docs/api/mcp_tools_specification.md
  docs/architecture.md
  docs/ci-cd-overview.md
  docs/ci-cd-troubleshooting.md
  docs/cli-reference.md
  docs/features.md
  docs/smart-workflow.md
  examples/comprehensive_sample.html
  rfcs/0027-agent-secretary-and-calibration.md
  scripts/codemap-sync-check.sh
  scripts/codemap_surface.py
  tests/contracts/test_agent_docs_contract.py
  tests/integration/workflows/HOTFIX_WORKFLOW_TESTING_GUIDE.md
  tests/integration/workflows/README.md
  tests/integration/workflows/RELEASE_WORKFLOW_TESTING_GUIDE.md
  tests/integration/workflows/test_workflow_properties.py
  tests/unit/cli/test_cli_envelope_contract.py
  tests/unit/cli/test_cli_input_robustness.py
  tests/unit/mcp/test_base_mcp_tool_contract.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/search_envelope.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): remove retired surface residue
  compatibility_test/README.md
  compatibility_test/mcp_compatibility_test.py
  compatibility_test/scripts/run_compatibility_test.py
  compatibility_test/templates/mcp_settings.json.template
  compatibility_test/test_cases.json
  compatibility_test/utils/cache_manager.py
  compatibility_test/utils/cache_reporter.py
  config/ci-routing.yml
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/mcp-tools.md
  docs/MIGRATION.md
  docs/TESTING.md
  docs/mcp_compatibility_test_standard.md
  docs/smart-workflow.md
  rfcs/0028-measuring-claimed-properties.md
  rfcs/0033-native-search-independence.md
  scripts/generate_facade_actions_doc.py
  scripts/orphan_baseline.txt
  tests/integration/platform/test_mcp_capabilities.py
  tests/unit/core/test_output.py
  tests/unit/core/test_untested_modules.py
  tests/unit/mcp/test_change_impact_tool.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/mcp/tools/test_output_format_validator.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
  tree_sitter_analyzer/mcp/tools/project_facade.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): correct retired search guidance
  README.es-ES.md
  docs/api/mcp_tools_specification.md
  tests/governance/test_postmortem_guards.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_project_overview_tool.py
  tests/unit/mcp/test_runtime_guidance_facade_names.py
  tree_sitter_analyzer/mcp/server_utils/error_recovery.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/project_overview_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
