Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: add token reduction benchmark tests
  tests/integration/mcp/test_token_reduction_benchmark.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve Ruff lint errors in token optimization files
  docs/plans/2026-03-05-reliability-stability-design.md
  docs/plans/2026-03-05-reliability-stability-implementation.md
  tests/platform_profiles/macos/3.14/profile.json
  tests/unit/mcp/test_utils/test_format_helper_token_optimization.py
  tests/unit/mcp/utils/test_shared_cache_thread_safety.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve remaining Ruff lint errors in test files
  tests/integration/mcp/test_token_reduction_benchmark.py
  tests/unit/cli/commands/test_partial_read_security.py
  tests/unit/core/test_analysis_engine_singleton.py
  tests/unit/core/test_cache_size_limits.py
  tests/unit/core/test_parser_iterative_traversal.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: resolve MyPy type annotation errors in SharedCache and parser.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve remaining MyPy type annotation errors
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/mcp/utils/shared_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: fix tests to use json format for token optimization compatibility
  tests/integration/mcp/test_user_story_2_integration.py
  tests/unit/mcp/test_analyze_scale_tool_error.py
  tests/unit/mcp/test_find_and_grep_tool.py
  tests/unit/mcp/test_mcp_rg_phase2_filters_perf.py
  tests/unit/mcp/test_mcp_rg_phase3_advanced_edges.py
  tests/unit/mcp/test_mcp_rg_phase4_regex_perf.py
  tests/unit/mcp/test_mcp_rg_phase5_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: fix tests to use json format for token optimization compatibility
  tests/unit/mcp/test_mcp_fd_rg_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: fix remaining tests to use json format for token optimization
  tests/unit/mcp/test_mcp_rg_phase6_fs_encoding.py
  tests/unit/mcp/test_mcp_rg_phase7_integration_edges.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: make system path validation tests cross-platform compatible
  tests/unit/validation/test_standard_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: add platform import to make system path validation tests cross-platform compatible
  tests/unit/validation/test_standard_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: increase max file size limit to 100MB
  tree_sitter_analyzer/core/parser.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: increase max file size limit from 10MB to 100MB
  ANalyzer-report.md
Due: none

fix: update tests for 100MB file limit and multilingual error messages
  docs/plans/2026-03-05-test-architecture-analysis.md
  tests/unit/core/test_output_format_validator.py
  tests/unit/core/test_parser_file_size_limit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add advanced ReDoS prevention tests
  tests/unit/security/test_regex_checker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add timeout recovery and resource cleanup tests
  tests/unit/core/test_timeout_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add race condition safety tests for security validation
  tests/unit/security/test_race_conditions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

ci: improve CI/CD configuration for better quality enforcement
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

feat: create base infrastructure for plugin refactoring
  .claude/ralph-loop.local.md
  docs/plans/2026-03-05-comprehensive-improvements.md
  docs/refactoring-guide.md
  tests/unit/plugins/__init__.py
  tests/unit/plugins/test_extractor_mixin.py
  tree_sitter_analyzer/plugins/__init__.py
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: migrate Java plugin to use ElementExtractorBase
  .claude/iteration-1-summary.md
  .claude/ralph-loop.local.md
  tree_sitter_analyzer/languages/java_plugin.py.backup
Due: none

docs: add iteration 2 summary and update progress
  .claude/iteration-2-summary.md
  .claude/ralph-loop.local.md
Due: none

refactor: migrate SQL plugin to use ElementExtractorBase
  .claude/ralph-loop.local.md
  tree_sitter_analyzer/languages/sql_plugin.py.backup
Due: none

refactor: migrate Markdown plugin to use ElementExtractorBase
  tree_sitter_analyzer/languages/markdown_plugin.py.backup
Due: none

refactor: migrate TypeScript, Python, and JavaScript plugins
  tree_sitter_analyzer/languages/javascript_plugin.py.backup
  tree_sitter_analyzer/languages/python_plugin.py.backup
  tree_sitter_analyzer/languages/typescript_plugin.py.backup
Due: none

refactor: migrate C-family plugins (C++, C#, C)
  tree_sitter_analyzer/languages/c_plugin.py.backup
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py.backup
  tree_sitter_analyzer/languages/csharp_plugin.py.backup
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: complete migration of all remaining plugins
  tree_sitter_analyzer/languages/css_plugin.py.backup
  tree_sitter_analyzer/languages/go_plugin.py.backup
  tree_sitter_analyzer/languages/html_plugin.py.backup
  tree_sitter_analyzer/languages/kotlin_plugin.py.backup
  tree_sitter_analyzer/languages/php_plugin.py.backup
  tree_sitter_analyzer/languages/ruby_plugin.py.backup
  tree_sitter_analyzer/languages/rust_plugin.py.backup
  tree_sitter_analyzer/languages/yaml_plugin.py.backup
Due: none

docs: add iteration 3 comprehensive summary
  .claude/iteration-3-summary.md
Due: none

docs: update Ralph loop status to iteration 4
  .claude/ralph-loop.local.md
Due: none

docs: mark Phase 2 test coverage as verified complete
  .claude/ralph-loop.local.md
Due: none

feat: add Phase 3 performance optimization infrastructure
  .claude/ralph-loop.local.md
  tests/unit/core/test_cache_prewarming.py
  tests/unit/core/test_memory_monitor.py
  tree_sitter_analyzer/core/cache_prewarming.py
  tree_sitter_analyzer/core/memory_monitor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add iteration 4 summary and update progress
  .claude/iteration-4-summary.md
  .claude/ralph-loop.local.md
Due: none

feat: complete Phase 3 performance optimization
  .claude/ralph-loop.local.md
  tree_sitter_analyzer/core/async_file_reader.py
  tree_sitter_analyzer/core/cache_service_enhanced.py
  tree_sitter_analyzer/core/large_file_handler.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark Phase 3 as complete, ready for Phase 4
  .claude/ralph-loop.local.md
Due: none

feat: complete Phase 4 user experience improvements
  .claude/ralph-loop.local.md
  tree_sitter_analyzer/core/error_codes.py
  tree_sitter_analyzer/core/output_formatter.py
  tree_sitter_analyzer/core/progress_indicator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark all phases complete - mission accomplished
  .claude/ralph-loop.local.md
Due: none

fix: add missing ElementExtractor import to all language plugins
  tests/unit/plugins/test_extractor_mixin.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: complete C# language support
  openspec/changes/add-csharp-language-support/tasks.md
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve MyPy type errors and SQL platform test failures
  tests/unit/languages/test_c_plugin.py
  tests/unit/languages/test_cpp_plugin.py
  tests/unit/languages/test_go_plugin.py
  tests/unit/languages/test_java_plugin.py
  tests/unit/languages/test_python_plugin.py
  tests/unit/languages/test_sql_plugin.py
  tests/unit/languages/test_typescript_plugin.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: add type annotation methods to ElementExtractorBase
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve SQL Platform test failures on Windows
  tests/unit/languages/test_sql_plugin.py
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: return empty string for boundary check failures
  tree_sitter_analyzer/plugins/extractor_mixin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
