Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

Feat/grammar coverage css html markdown (#120)
  .tree-sitter-cache/project-index.json
  grammar_snapshot.json
  scripts/generate_expected_counts.py
  tests/golden/corpus_css.css
  tests/golden/corpus_css_expected.json
  tests/golden/corpus_html.html
  tests/golden/corpus_html_expected.json
  tests/golden/corpus_markdown.md
  tests/golden/corpus_markdown_expected.json
  tests/golden/test_golden_corpus.py
  tests/unit/mcp/test_batch_search_tool.py
  tests/unit/mcp/test_build_project_index_tool.py
  tests/unit/mcp/test_check_tools_tool.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_modification_guard_tool.py
  tests/unit/mcp/test_utils/test_project_index.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/batch_search_tool.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
  tree_sitter_analyzer/mcp/tools/check_tools_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): normalize parameter aliases and expose structured elements
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add JSON language support and fix non-standard element types for all languages
  pyproject.toml
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/json_formatter.py
  tree_sitter_analyzer/language_loader.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/models.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(types): explicitly re-export AnalysisRequest from analysis_engine
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix/mcp tool interface polish (#121)
  pyproject.toml
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/formatters/json_formatter.py
  tree_sitter_analyzer/language_loader.py
  tree_sitter_analyzer/languages/json_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/models.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): fix 7 failing tests after rebase onto develop
  tests/golden_masters/csv/markdown_test_csv.csv
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(golden-master): update markdown full format to include reference definitions
  tests/golden_masters/full/markdown_test_full.md
Due: none

Hotfix/golden master reference def (#122)
  tests/golden_masters/csv/markdown_test_csv.csv
  tests/golden_masters/full/markdown_test_full.md
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(windows): use Path.relative_to() for cross-platform path comparison
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): restore annotations on methods and classes in analyze_code_structure
  tests/unit/languages/test_java_plugin_comprehensive.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): fix 4 annotation extraction bugs found via spring-petclinic validation
  openspec/changes/improve-java-annotation-extraction/proposal.md
  openspec/changes/improve-java-annotation-extraction/tasks.md
  tests/unit/languages/test_java_annotation_extraction.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): fix implements generic parsing + annotation attribution via caffeine validation
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/proposal.md
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
  tests/unit/languages/test_java_caffeine_validation.py
  tests/unit/languages/test_java_plugin_comprehensive.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(trace_impact): call_count must use true total, not max_results-capped count
  openspec/changes/fix-trace-impact-count-truncation/proposal.md
  tests/unit/mcp/test_trace_impact_count_fix.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix/windows path (#123)
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/proposal.md
  openspec/changes/fix-java-implements-generics-and-annotation-attribution/tasks.md
  openspec/changes/fix-trace-impact-count-truncation/proposal.md
  openspec/changes/improve-java-annotation-extraction/proposal.md
  openspec/changes/improve-java-annotation-extraction/tasks.md
  tests/unit/languages/test_java_annotation_extraction.py
  tests/unit/languages/test_java_caffeine_validation.py
  tests/unit/languages/test_java_plugin_comprehensive.py
  tests/unit/mcp/test_trace_impact_count_fix.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): fix #match? predicate + annotation node types + add 17 new query types
  openspec/changes/fix-java-query-predicate-and-coverage/proposal.md
  tests/unit/languages/test_java_query_validation.py
  tree_sitter_analyzer/queries/java.py
  tree_sitter_analyzer/utils/tree_sitter_compat.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(test): update test_execute_with_max_results_truncation for correct call_count
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Fix/windows path (#125)
  openspec/changes/fix-java-query-predicate-and-coverage/proposal.md
  tests/unit/languages/test_java_query_validation.py
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tree_sitter_analyzer/queries/java.py
  tree_sitter_analyzer/utils/tree_sitter_compat.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: prepare release v1.10.8
  CHANGELOG.md
  README.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update README_ja.md and README_zh.md for v1.10.8
  README_ja.md
  README_zh.md
Due: none

docs: update README.md for v1.10.8
  README.md
Due: none

docs: fix test badge in README.md (8890 passed)
  README.md
Due: none

docs: rewrite What's New section — benefit-first, not bug-list
  README.md
Due: none

docs: rewrite What's New in ja/zh — Jobs-style, benefit-first
  README_ja.md
  README_zh.md
Due: none

docs: fix test count inconsistencies across all 3 READMEs
  README.md
  README_ja.md
  README_zh.md
Due: none

feat(project-summary): PageRank-based critical nodes + incremental updates
  docs/designs/project_summary_pagerank.md
  pyproject.toml
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_project_summary_pagerank.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(pagerank): first-party import filtering + bugfixes
  docs/designs/project_summary_pagerank.md
  tests/unit/mcp/test_project_summary_pagerank.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(project-summary): PageRank critical nodes + incremental build + silent-drop bug fix (#127)
  docs/designs/project_summary_pagerank.md
  pyproject.toml
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/mcp/test_project_summary_pagerank.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/get_project_summary_tool.py
  tree_sitter_analyzer/mcp/utils/project_index.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(pagerank): architecture-only edges (extends/implements)
  tests/unit/mcp/test_project_summary_pagerank.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(modification-guard): integrate PageRank critical_nodes
  tests/unit/mcp/test_modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update SDD to reflect shipped v3 + modification_guard
  docs/designs/project_summary_pagerank.md
Due: none

refactor(edge-extractors): plugin registry pattern + Python first-party filtering
  tests/unit/mcp/test_project_summary_pagerank.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/__init__.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/base.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/java.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/python.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/typescript.py
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(mcp-instructions): tell Claude to use critical nodes from summary
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(pagerank): skip test files from edge extraction
  tree_sitter_analyzer/mcp/utils/project_index.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: prepare release v1.11.0
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(modification-guard): unified summary_line output
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
