Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test(rfc-0028): pin the reachability surfaces to exact counts
  tests/unit/mcp/test_dispatch_reachability.py
  tests/unit/mcp/test_registered_surface_reachability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(callers): cover the two fail-closed paths the completeness change added
  tests/unit/mcp/tools/test_callers_completeness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Revert "test(rfc-0028): pin the reachability surfaces to exact counts"
  tests/unit/mcp/test_dispatch_reachability.py
  tests/unit/mcp/test_registered_surface_reachability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(callers): carry the unresolved sites, not just how many there are
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/tools/test_callers_completeness.py
  tree_sitter_analyzer/_ast_cache_graph_mixin.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(callers): pin that the count and the sites come from one derivation
  tests/unit/mcp/tools/test_callers_completeness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(callers): report the sites that were ruled out, and on what grounds
  rfcs/0028-measuring-claimed-properties.md
  tests/unit/mcp/tools/test_callers_completeness.py
  tree_sitter_analyzer/_ast_cache_graph_mixin.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(mcp)!: cut the tool-definition surface by 59% with progressive disclosure
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/test_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(facade): assert the help payload by exact equality, not a length bound
  tests/unit/mcp/tools/test_nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(facade): cover the Wave E derivation paths
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(index): prove the ignore rules govern both discovery paths
  tests/unit/test_index_candidate_walker.py
  tests/unit/test_index_ignore_rules.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(rfc-0028): scope the reachability walk to the declared surface
  tests/unit/mcp/test_dispatch_reachability.py
  tests/unit/mcp/test_registered_surface_reachability.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(readme): drop the competitor ranking, lead with what an agent gets
  README.es-ES.md
  README.md
  README_ja.md
  README_zh.md
Due: none

docs(readme): put the boundaries below the fold and state what a response costs
  README.es-ES.md
  README.md
  README_ja.md
  README_zh.md
Due: none

perf(nav): bound every navigate listing, and share the body budget
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/tools/test_symbol_body_inline.py
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_body_inline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(nav): cover the two degrade paths the response cap added
  tests/unit/mcp/tools/test_symbol_body_inline.py
  tests/unit/test_codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(nav): accept either symbol alias, and run the guard before the read
  tests/governance/test_tool_validation_contract.py
  tests/unit/mcp/tools/test_facade_tool.py
  tree_sitter_analyzer/mcp/tools/code_patterns_tool.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_lineage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(api): regenerate facade-actions for the new navigate limit
  docs/api/facade-actions.md
Due: none

docs(agents): make the AI lessons a mandate with a gate, not a note
  AGENTS.md
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(health): stop rediscovering plugins once per file
  tests/unit/test_complexity_heatmap.py
  tree_sitter_analyzer/complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(cache): stop claiming normalize_args drops output_format
  tree_sitter_analyzer/cache/answer_cache_policy.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cost): put the expensive routes where the client can read them
  tests/unit/mcp/tools/test_facade_cost_surface.py
  tree_sitter_analyzer/mcp/tools/facade_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(agents): record the surface-not-source lesson from this cycle
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf(health): resolve the repository once per scan, not once per file
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_health_git_context.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/registry/health_scorer_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(health): pin the fallback call count instead of bounding it
  tests/unit/test_health_git_context.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ci): preserve dependency policy and target containment
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/test_classify_windows_pytest_failure.py
  tests/unit/test_verification_plan.py
  tree_sitter_analyzer/mcp/tools/utils/verification_pytest_config.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: preserve resolution fallback coverage
  docs/AI_LESSONS.md
  tests/unit/mcp/test_verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(watch): preserve subscription state on evaluation errors
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_watch_push_bridge.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph): bind source bodies to certified index reads
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/_navigation_test_support.py
  tests/unit/mcp/tools/test_call_path_enrich.py
  tests/unit/mcp/tools/test_symbol_body_inline.py
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_certified_symbol_search_errors.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/cache/query.py
  tree_sitter_analyzer/cache/search.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_query.py
  tree_sitter_analyzer/mcp/tools/call_path_enrich.py
  tree_sitter_analyzer/mcp/tools/call_path_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_body_inline.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): classify requested targets with native filesystem semantics
  docs/AI_LESSONS.md
  tests/unit/test_verification_plan.py
  tree_sitter_analyzer/mcp/tools/utils/verification_pytest_config.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

style(tests): format certified search regression assertion
  tests/unit/test_certified_symbol_search_errors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(mcp): bind subscriptions and watchers to lifecycle owners
  docs/AI_LESSONS.md
  rfcs/0035-trusted-reactive-feedback.md
  tests/benchmarks/claims/test_reactive_push_e2e.py
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tests/unit/mcp/test_hyphae_push_wiring.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_subscription_lifecycle.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/subscription_lifecycle.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/hyphae_subscribe_tool.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): verify symbol guidance through public execution
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_runtime_guidance_facade_names.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(roadmap): reconcile trust delivery status and remaining gates
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs(roadmap): bind native evidence to reviewed heads
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

fix: harden certified navigation reads
  docs/AI_LESSONS.md
  tests/unit/test_certified_navigation_fallback.py
  tests/unit/test_codegraph_navigate_tool.py
  tests/unit/test_incremental_sync_callgraph.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_windows.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/cache/callgraph_state.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_query.py
  tree_sitter_analyzer/index_snapshot_windows.py
  tree_sitter_analyzer/mcp/tools/call_path_tool.py
  tree_sitter_analyzer/mcp/tools/callees_tool.py
  tree_sitter_analyzer/mcp/tools/callers_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: stabilize watcher polling waits on Windows
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: harden watcher startup reconciliation wait
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(watch): preserve subscription state on evaluation errors (#1490)
  docs/AI_LESSONS.md
  tests/contracts/test_agent_docs_contract.py
  tests/unit/mcp/test_watch_push_bridge.py
  tests/unit/test_file_watcher.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): close watcher lifecycle races
  tests/unit/mcp/test_ast_cache_watch_modes.py
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
  tree_sitter_analyzer/mcp/watch_push_bridge.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(index): follow certified candidate walk
  tests/benchmarks/claims/test_index_speed_claim.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
