Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat(task): certify the P0.4 read-existing route on the Linux strace axis (#1297)
  .github/workflows/rfc0022-linux-write-authority.yml
  scripts/rfc0022_strace_adapter_route.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

debug(test): surface strace authority failure context (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(test): target self-check surfaces isolated-user stderr (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(test): probe git as the isolated target user (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(test): identify the failing git invocation in the strace target (#1297)
  scripts/rfc0022_strace_adapter_route.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

debug(test): spy every runner binding in the strace target (#1297)
  scripts/rfc0022_strace_adapter_route.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

debug(test): spy the frozen runner in the strace target (#1297)
  scripts/rfc0022_strace_adapter_route.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

debug(test): surface the GIT_ERROR raise-site traceback (#1297)
  scripts/rfc0022_strace_adapter_route.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(task): run the strace adapter-route case on a readable path chain (#1297)
  scripts/rfc0022_strace_adapter_route.py
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

debug(test): surface the current strace-target traceback (#1297)
  scripts/rfc0022_strace_adapter_route.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

debug(test): reconstruct target stderr from the raw strace payloads (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(test): match the -yy fd-annotated stderr write format (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

debug(test): consume the fd annotation in the write regex (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(task): make the strace adapter-route target self-locating (#1297)
  scripts/rfc0022_strace_adapter_route.py
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

debug(test): dump the raw git-route trace into the uploaded artifacts (#1297)
  tests/contracts/test_rfc0022_strace_authority_live.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(task): certify the P0.4 read-existing route on the Linux strace axis (#1297)
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_syntax.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex review on the P0.4 read-existing route (#1297)
  .github/workflows/rfc0022-linux-write-authority.yml
  scripts/rfc0022_strace_adapter_route.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): echo action_version on frozen diff-consumer errors (#1297)
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): finish the P0.4 consumer error contracts on the Linux axis (#1297)
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): platform-gate the pre-certification consumer test; mark real-git budget tests slow_ok (#1297)
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/test_diff_snapshot_readonly.py
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): cover the reserved index capability branches + platform None guard (#1297)
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_wire_owner_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): keep the read-existing consume test Linux-gated; add POSIX portable variant (#1297)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): mark the portable consume and clean-repo capture tests slow_ok (#1297)
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(task): certify the P0.4 read-existing route on the Linux strace axis (#1297) (#1297)
  .github/workflows/rfc0022-linux-write-authority.yml
  config/rfc0022-linux-strace-policy.json
  scripts/rfc0022_strace_adapter_route.py
  scripts/rfc0022_strace_authority.py
  scripts/rfc0022_strace_classify.py
  scripts/rfc0022_strace_parser.py
  scripts/rfc0022_strace_syntax.py
  tests/contracts/test_rfc0022_strace_authority_live.py
  tests/contracts/test_rfc0022_strace_process_state.py
  tests/contracts/test_rfc0022_strace_syntax.py
  tests/unit/mcp/tools/test_constraint_check_frozen.py
  tests/unit/mcp/tools/test_constraint_check_tool.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/test_diff_snapshot_readonly.py
  tests/unit/test_diff_snapshot_readonly_capture.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/constraint_check_frozen.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: record P0.4 strace adapter-route certification round (#1297)
  STATE.md
Due: none

docs: record P0.4 strace adapter-route certification round (#1297) (#1298)
  STATE.md
Due: none

feat(task): P0.1 read_existing backends for nav.context and edit.safe
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_edit_facade_snapshot_routes.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/task/test_task_router.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(docs): remove orphaned loop-scaffold documents
  HANDOFF-2026-08-15.md
  LOOP.md
  loop-budget.md
  loop-constraints.md
  loop-run-log.md
Due: none

chore(docs): remove orphaned loop-scaffold documents (#1300)
  HANDOFF-2026-08-15.md
  LOOP.md
  loop-budget.md
  loop-constraints.md
  loop-run-log.md
Due: none

test(task): gate POSIX-only portable recapture tests on Windows (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): skip portable recapture tests when /dev/fd is absent (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): mark portable recapture tests slow_ok (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(task): close patch-coverage gate for P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex review on P0.1 read_existing (#1299)
  rfcs/0022-task-outcome-apis.md
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-2 review on P0.1 read_existing (#1299)
  rfcs/0022-task-outcome-apis.md
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-3 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-4 review on P0.1 read_existing (#1299)
  rfcs/0022-task-outcome-apis.md
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_test_discovery.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_health_scorer.py
  tests/unit/test_wire_owner_contract.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/read_existing_access.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): canonicalize resolved path in facts collection (#1299)
  tests/unit/mcp/test_safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(task): triage Codex round-5 review on P0.1 read_existing (#1299)
  tests/unit/mcp/test_test_discovery.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(task): mark budget-brushing diff-snapshot test slow_ok (#1299)
  tests/unit/test_diff_snapshot_readonly_capture.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
