Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat: add error_recovery MCP tool (Phase 7 Loop 52)
  tests/unit/mcp/test_error_recovery_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/error_recovery_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update for error_recovery tool (Phase 7 Loop 55)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
Due: none

progress: update task_plan and progress (Phase 7 Loops 51-55 complete)
  progress.md
  task_plan.md
Due: none

progress: Phase 7 Loops 56-65 complete
  progress.md
Due: none

progress: Phase 7 Loops 66-75 complete
  progress.md
Due: none

feat: add semantic_impact and quick_risk_assessment MCP tools (Phase 7 Loop 77)
  tests/unit/mcp/test_semantic_impact_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/semantic_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: 修复 autonomous-loop 空转问题
  AUTONOMOUS.md
  scripts/autonomous-loop.sh
Due: none

docs: update tool count from 22 to 24 (Phase 7 Loop 80)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
Due: none

feat: 重构永续循环为创意功能探索
  AUTONOMOUS.md
  scripts/autonomous-loop.sh
Due: none

progress: Phase 7 Loops 76-80 complete (semantic_impact tools)
  progress.md
  task_plan.md
Due: none

feat: add understand_codebase tool - intelligent single entry point for codebase understanding
  tests/unit/mcp/test_understand_codebase_tool.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/understand_codebase_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update tool count to 25, add understand_codebase to docs
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
  tree_sitter_analyzer/mcp/tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add complexity heatmap output (乔布斯产品理念 - 聚焦复杂度可视化)
  findings.md
  openspec/changes/add-complexity-heatmap-output/tasks.md
  tests/unit/analysis/test_complexity.py
  tests/unit/mcp/test_complexity_heatmap_tool.py
  tree_sitter_analyzer/analysis/complexity.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/complexity_heatmap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

progress: Phase 7 Loops 81-84 complete (complexity heatmap + performance)
  openspec/changes/archive/add-complexity-heatmap-output/tasks.md
  progress.md
  task_plan.md
Due: none

progress: Phase 7 Loops 83-85 complete (performance + test + docs)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  tests/unit/analysis/test_complexity.py
  tests/unit/analysis/test_dependency_graph.py
  tests/unit/formatters/test_base_formatter_coverage.py
  tests/unit/formatters/test_compat.py
  tests/unit/languages/test_yaml_file_extension_properties.py
  tests/unit/mcp/test_edge_extractors.py
  tests/unit/mcp/test_semantic_impact_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tests/unit/mcp/test_tools/test_java_patterns_tool.py
  tests/unit/test_analyzer_sdk.py
  tests/unit/test_query_loader_extra.py
  tests/unit/utils/test_encoding_utils_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: update tracking files - Loops 83-85 complete
  progress.md
  task_plan.md
Due: none

feat: add-dead-code-detection OpenSpec change
  openspec/changes/add-dead-code-detection/tasks.md
Due: none

feat: Sprint 1 - dead_code.py core module (21 tests pass)
  tests/unit/analysis/test_dead_code.py
  tree_sitter_analyzer/analysis/dead_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark Sprint 1 complete in tasks.md
  openspec/changes/add-dead-code-detection/tasks.md
Due: none

feat: Sprint 2 - language-specific dead code detection (39 tests)
  tests/unit/analysis/test_dead_code.py
  tree_sitter_analyzer/analysis/dead_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark Sprint 2 complete in tasks.md
  openspec/changes/add-dead-code-detection/tasks.md
Due: none

feat: Sprint 3 - dead_code MCP tool (19 tests pass)
  tests/unit/mcp/test_dead_code_tool.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: mark Sprint 3 complete in tasks.md
  openspec/changes/add-dead-code-detection/tasks.md
Due: none

docs: update tracking files - Loops 86-87 complete (dead_code feature)
  progress.md
  task_plan.md
Due: none

feat: register dead_code tool to ToolRegistry (27 tools total)
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Loops 88-90 complete (dead_code feature)
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
Due: none

docs: update task_plan.md - Loops 88-90 complete
  task_plan.md
Due: none

feat: Sprint 1 - Security Scanner Core Detection Engine (Loop 91)
  findings.md
  openspec/changes/add-security-scanner/tasks.md
  task_plan.md
  tests/unit/analysis/test_security_scan.py
  tree_sitter_analyzer/analysis/security_scan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 2 - Multi-Language Security Patterns (Loop 91)
  task_plan.md
  tests/unit/analysis/test_security_scan.py
  tree_sitter_analyzer/analysis/security_scan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 3 - MCP Tool Integration + SARIF Output (Loop 91)
  tests/unit/mcp/test_security_scan_tool.py
  tree_sitter_analyzer/analysis/security_scan.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tools/security_scan_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Update CHANGELOG.md and task_plan.md - Loop 91 complete
  CHANGELOG.md
  task_plan.md
Due: none

docs: Update README and ARCHITECTURE - Loop 92 complete
  openspec/changes/archive/add-security-scanner/tasks.md
Due: none

docs: Update README and ARCHITECTURE - Loop 92 complete
  ARCHITECTURE.md
  README.md
Due: none

feat: Register security_scan tool to ToolRegistry (28 tools total)
  README.md
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Update tracking files - Loop 92 complete
  progress.md
  task_plan.md
Due: none

feat: Sprint 1 - test_coverage.py core module (26 tests pass)
  findings.md
  openspec/changes/add-test-coverage-analyzer/tasks.md
  progress.md
  task_plan.md
  tests/unit/analysis/test_test_coverage.py
  tree_sitter_analyzer/analysis/test_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 3 - test_coverage MCP tool (16 tests pass)
  openspec/changes/add-test-coverage-analyzer/tasks.md
  tests/unit/mcp/test_test_coverage_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/test_coverage_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Update tracking files - Loop 94 complete
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  progress.md
  task_plan.md
Due: none

feat: add Context Auto-Reset system for 24x7 autonomous development
  AUTONOMOUS.md
  openspec/changes/add-refactoring-suggestions/tasks.md
  openspec/changes/archive/add-test-coverage-analyzer/tasks.md
  scripts/autonomous-loop.sh
  scripts/context-auto-reset.py
  tree_sitter_analyzer/analysis/refactoring_suggestions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Sprint 1-3 complete - refactoring_suggestions MCP tool (39 tests)
  openspec/changes/add-refactoring-suggestions/tasks.md
  progress.md
  tests/unit/analysis/test_refactoring_suggestions.py
  tests/unit/mcp/test_refactoring_suggestions_tool.py
  tests/unit/mcp/test_tool_discovery.py
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/analysis/refactoring_suggestions.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration.py
  tree_sitter_analyzer/mcp/tools/refactoring_suggestions_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
