Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

docs: lock rule — substantial changes start as an RFC (rfcs/), not loose docs
  CLAUDE.md
Due: none

docs(rfc): establish RFC process + RFC-0001 reactive push (#272)
  CLAUDE.md
  rfcs/0000-template.md
  rfcs/0001-reactive-push.md
  rfcs/README.md
Due: none

docs(rfc): RFC-0002 callee resolution — bare names to resolved symbols
  rfcs/0002-callee-resolution.md
  rfcs/README.md
Due: none

docs(rfc): fix RFC-0002 cascade order per Codex review (bindings before builtins)
  rfcs/0002-callee-resolution.md
Due: none

docs(rfc): RFC-0002 callee resolution — bare names to resolved symbols (#273)
  rfcs/0002-callee-resolution.md
  rfcs/README.md
Due: none

feat(resolver): RFC-0002 Phase1 — self-method via callee_full + unique-method
  tests/unit/synapse_resolver/test_unique_method.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(resolver): address Codex P2s on RFC-0002 Phase1
  tests/unit/synapse_resolver/test_unique_method.py
  tree_sitter_analyzer/_ast_cache_synapse.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0002 Phase1 — self-method via callee_full + unique-method receiver (#274)
  tests/unit/synapse_resolver/test_unique_method.py
  tree_sitter_analyzer/_ast_cache_synapse.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): RFC-0002 — static assignment type inference + class-method resolution
  tests/unit/synapse_resolver/test_unique_method.py
  tests/unit/test_assignment_type_inference.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(precision): fixture/return-type inference + run synapse 2nd pass in sync
  tests/unit/test_assignment_type_inference.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/incremental_sync.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add include_body param to query_code — inline symbol source
  tests/unit/core/test_query_include_body.py
  tree_sitter_analyzer/mcp/tools/query_helpers.py
  tree_sitter_analyzer/mcp/tools/query_symbol_search.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: address Codex P2s — flow-sensitive + duplicate-class + real-fixtures-only
  tests/unit/synapse_resolver/test_unique_method.py
  tests/unit/test_assignment_type_inference.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(precision): static type inference + synapse 2nd-pass fix — resolution 34%→76% (#275)
  tests/unit/synapse_resolver/test_unique_method.py
  tests/unit/test_assignment_type_inference.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/synapse_resolver/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: lock rule — PR Hygiene (no kitchen-sink, no half-baked PRs)
  CLAUDE.md
Due: none

docs: lock rule — PR Hygiene (no kitchen-sink, no half-baked PRs) (#277)
  CLAUDE.md
Due: none

chore(release): v1.20.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): v1.20.0 (#279)
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: fix all broken markdown links (Codex P2 + pre-existing)
  .github/pull_request_template.md
  compatibility_test/README.md
  docs/mcp_compatibility_test_standard.md
  docs/regression-testing-guide.md
  tests/golden/README.md
  tests/integration/formatters/README.md
  tests/integration/workflows/CI_WORKFLOW_TESTING_GUIDE.md
  tree_sitter_analyzer/grammar_coverage/README.md
Due: none

test: remove fake tests, turn pass-stubs into real assertions
  tests/property/test_format_properties.py
  tests/unit/languages/test_plugins_coverage.py
  tests/unit/test_complexity_heatmap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add real coverage for ImportGraph core logic (14%→85%)
  tests/unit/test_import_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: fix Windows portability in new test-quality tests
  tests/unit/test_complexity_heatmap.py
  tests/unit/test_import_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: improve test quality — remove fake tests, cover ImportGraph (dogfood) (#281)
  tests/property/test_format_properties.py
  tests/unit/languages/test_plugins_coverage.py
  tests/unit/test_complexity_heatmap.py
  tests/unit/test_import_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add real coverage for JSON plugin extractor (17%→78%)
  tests/unit/languages/test_json_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(perf): eliminate 277s security test + watcher fixed sleeps
  tests/unit/security/_test_mcp_security_helpers.py
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: efficiency + coverage (dogfood) — kill 277s test, cover JSON plugin (#282)
  tests/unit/languages/test_json_plugin.py
  tests/unit/security/_test_mcp_security_helpers.py
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): make watcher detection tests actually verify detection
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): make watcher detection tests actually verify detection (#283)
  tests/unit/test_file_watcher.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0003 coverage-aware test-gap analysis
  rfcs/0003-coverage-aware-test-gap.md
  rfcs/README.md
Due: none

docs(rfc): RFC-0003 — exclude declaration lines from coverage verdict (Codex P1)
  rfcs/0003-coverage-aware-test-gap.md
Due: none

docs(rfc): RFC-0003 — coverage-aware test-gap analysis (#284)
  rfcs/0003-coverage-aware-test-gap.md
  rfcs/README.md
Due: none

fix(mcp): correct sitemap action param docs in structure facade
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): exclude build-artifact dirs (bin/obj/packages/target) — index full hang
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): correct sitemap action param docs in structure facade (#285)
  tree_sitter_analyzer/mcp/tools/structure_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): exclude build-artifact dirs (bin/obj/packages/target) — index full hang (#286)
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/constants.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): address Codex P2s on #286 — Rust src/bin + graph fingerprint
  tree_sitter_analyzer/_graph_cache_fingerprint.py
  tree_sitter_analyzer/constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): address Codex P2s on #286 — Rust src/bin + graph fingerprint (#287)
  tree_sitter_analyzer/_graph_cache_fingerprint.py
  tree_sitter_analyzer/constants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): nav context resolves camelCase concept queries via substring cascade
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): defer ~54ms tool-registry build out of the initialize handshake
  tests/unit/mcp/test_server.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
