Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs(report): addendum — 12-language cross-language moat verified (0 mis-wires) (#362)
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

docs(report): complete the 12-language moat measurement (12/12, 0 mis-wires)
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

docs(report): complete the 12-language moat measurement (12/12, 0 mis-wires) (#363)
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

feat(resolver): Swift callee resolver + extraction — closes the CodeGraph Swift narrative
  tests/unit/test_swift_method_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/languages/_swift_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/swift.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(swift): address independent review (P2 protocol-stub caller loss, P3 weak test)
  tests/unit/test_swift_method_resolution.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(resolver): Swift callee resolver + extraction — closes the CodeGraph Swift narrative (#364)
  tests/unit/test_swift_method_resolution.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/synapse_resolver/languages/_swift_constants.py
  tree_sitter_analyzer/synapse_resolver/languages/swift.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: 13 languages active — Swift closes the CodeGraph loop (#364)
  README.md
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs: 13 languages active — Swift closes the CodeGraph loop (#364) (#365)
  README.md
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
  rfcs/ROADMAP-beyond-codegraph.md
Due: none

docs(report): LIVE head-to-head — CodeGraph 745 vs TSA 6 cross-language mis-wires
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

docs(report): LIVE head-to-head — CodeGraph 745 vs TSA 6 cross-language mis-wires (#366)
  benchmarks/codegraph_compare/REPORT-v1.21.0.md
Due: none

docs(readme): lead correctness with the live 745-vs-6 head-to-head
  README.md
Due: none

docs(readme): lead correctness with the live 745-vs-6 head-to-head (#367)
  README.md
Due: none

fix(nav): filter English connectives from nav-context candidates (RFC-0009 C)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nav): filter English connectives from nav-context candidates (RFC-0009 C) (#368)
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(audit): miswire-audit — run-on-your-repo cross-language correctness demo (RFC-0011)
  pyproject.toml
  rfcs/0011-miswire-audit.md
  rfcs/README.md
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(audit): Bandit B608 + Codex P2s (no-FTS5 fallback, stale-cache rows)
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(audit): miswire-audit — run-on-your-repo cross-language correctness demo (RFC-0011) (#369)
  pyproject.toml
  rfcs/0011-miswire-audit.md
  rfcs/README.md
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(audit): graceful no-FTS5 degradation (Codex #369 L158 follow-up)
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(audit): graceful no-FTS5 degradation (Codex #369 L158 follow-up) (#371)
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): add the run-on-your-repo miswire-audit CTA after the 745-vs-6 proof
  README.md
Due: none

docs(readme): add the run-on-your-repo miswire-audit CTA after the 745-vs-6 proof (#372)
  README.md
Due: none

docs(audit): pre-seed miswire-audit results on real repos (RFC-0011 generalization)
  README.md
Due: none

docs(audit): pre-seed miswire-audit results on real repos (RFC-0011 generalization) (#373)
  README.md
Due: none

fix(docs): move miswire-audit examples to a committed path (results/ is gitignored)
  README.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

fix(docs): move miswire-audit examples to a committed path (results/ is gitignored) (#374)
  README.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

docs(readme): surface miswire-audit above the fold (RFC-0011)
  README.md
Due: none

docs(readme): surface miswire-audit above the fold (RFC-0011) (#375)
  README.md
Due: none

docs(audit): 5-repo generalization proof + honest builtin caveat (RFC-0011)
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

docs(audit): 5-repo generalization proof + honest builtin caveat (RFC-0011) (#376)
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

fix: index C functions and Ruby methods into the symbol table
  tests/unit/test_call_graph_ast_b.py
  tests/unit/test_multilang_extraction_activation.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/function_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(audit): genuine-collision floor with builtins for ALL languages (RFC-0011 + Codex #377 P2)
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(audit): absolute builtin imports (path-exec) + examples 0-vs-6 consistency (Codex #377 P3s)
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(audit): report the GENUINE-collision floor (exclude builtins) — skeptic-resistance (RFC-0011) (#377)
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
  tests/benchmarks/test_miswire_audit.py
  tree_sitter_analyzer/miswire_audit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(readme): lead the CodeGraph comparison with correctness, demote the cost mea-culpa (strategy team)
  README.md
Due: none

docs(readme): lead the CodeGraph comparison with correctness, demote the cost mea-culpa (strategy team) (#378)
  README.md
Due: none

docs(i18n): lead the JA/ZH READMEs with correctness + the miswire-audit CTA
  README_ja.md
  README_zh.md
Due: none

docs(i18n): lead the JA/ZH READMEs with correctness + the miswire-audit CTA (#379)
  README_ja.md
  README_zh.md
Due: none

fix(docs): CTA command actually works — miswire-audit isn't in the published PyPI release
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

fix(docs): CTA command actually works — miswire-audit isn't in the published PyPI release (#380)
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/MISWIRE-AUDIT-EXAMPLES.md
Due: none

release: v1.21.0 — 13-language correctness moat + miswire-audit
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
