Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix: Update sql-platform-compat workflow to use existing SQL test files
  .github/workflows/sql-platform-compat.yml
Due: check-yaml-local

fix: Correct test expectations in test_python_plugin_edge_cases.py
  tests/unit/languages/test_python_plugin_edge_cases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: Use pytest -k filter instead of wildcard for cross-platform compatibility
  .github/workflows/sql-platform-compat.yml
Due: check-yaml-local

chore: Release version 1.10.0
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Add missing languages to SUPPORTED_LANGUAGES set
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/language_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Update README statistics (tests: )
  uv.lock
Due: none

fix: Remove duplicate table_output in TOON format responses
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Fix TOON format duplication and output_format parameter handling
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/utils/format_helper.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: optimize MCP tool structure and enhance testing coverage
  .roo/mcp.json
  .roomodes
  tests/integration/core/test_analyze_scale_tool_file_output.py
  tests/integration/formatters/cross_component_tests.py
  tests/integration/formatters/end_to_end_tests.py
  tests/integration/formatters/format_contract_tests.py
  tests/integration/formatters/integration_tests.py
  tests/integration/formatters/specification_compliance_tests.py
  tests/integration/formatters/test_real_integration.py
  tests/integration/mcp/test_error_handling_remaining_tools.py
  tests/integration/mcp/test_tools/test_analyze_scale_tool.py
  tests/integration/mcp/test_tools/test_table_format_tool.py
  tests/integration/mcp/test_toon_mcp_integration.py
  tests/integration/mcp/test_user_story_1_integration.py
  tests/integration/platform/test_mcp_capabilities.py
  tests/integration/test_phase7_end_to_end.py
  tests/integration/test_phase7_performance_integration.py
  tests/integration/test_phase7_security_integration.py
  tests/unit/core/test_suppress_output_feature.py
  tests/unit/formatters/test_format_regression_v1_6_1_4.py
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tests/unit/mcp/test_mcp_tools_coverage.py
  tests/unit/mcp/test_mcp_tools_path_resolution.py
  tests/unit/performance/test_mcp_performance.py
  tests/unit/security/test_mcp_security.py
  tests/unit/security/test_security_integration.py
  tree_sitter_analyzer/formatters/formatter_registry.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/base_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve ModuleNotFoundError by updating import paths to analyze_code_structure_tool
  scripts/format_monitoring_tool.py
  scripts/pre_commit_format_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix: unify output extraction logic and ensure JSON format in contract tests
  tests/integration/formatters/format_contract_tests.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Refactor: Modularize UnifiedAnalysisEngine and enhance security boundaries.
  .pre-commit-config.yaml
  .roomodes
  .secrets.baseline
  pyproject.toml
  tests/unit/core/test_engine_manager.py
  tests/unit/core/test_engine_security_regression.py
  tests/unit/core/test_split_components.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/engine_manager.py
  tree_sitter_analyzer/core/performance.py
  tree_sitter_analyzer/core/request.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/utils/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix: Resolve deadlocks and freeze issues in core engine initialization.
  .roomodes
  tests/unit/core/test_engine_security_regression.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/engine_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Security: Modularize UnifiedAnalysisEngine monolith and stabilize test suite (including pre-commit fixes)
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(security,perf): refactor monolith engine, enhance security validation, and optimize performance via lazy loading
  profile_analysis.py
  profile_results.txt
  profile_results_improved.txt
  tests/unit/core/test_analysis_engine.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/encoding_utils.py
  tree_sitter_analyzer/plugins/manager.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update core engine and tests for async compatibility and unification
  tests/unit/core/test_core_engine_comprehensive.py
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: Re-architect workflows to Authority Pipeline standards and fix tests
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/develop-automation.yml
  .github/workflows/hotfix-automation.yml
  .github/workflows/release-automation.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  GITFLOW.md
  GITFLOW_ja.md
  GITFLOW_zh.md
  tests/integration/workflows/test_workflow_properties.py
  tests/unit/core/test_core_engine_coverage.py
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: Debug fixes for reusable workflows (error handling and dependency installation)
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
Due: check-yaml-local

ci: Cleanup unused legacy workflow files
  .github/workflows/format-regression-testing.yml
  .github/workflows/format-validation.yml
  .github/workflows/security-scan.yml
  .github/workflows/update-readme-stats.yml
Due: check-yaml-local

ci: Final cleanup and alignment of workflows and integration tests
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  tests/integration/workflows/test_ci_workflow_consistency.py
  tests/integration/workflows/test_develop_workflow_consistency.py
  tests/integration/workflows/test_hotfix_workflow_consistency.py
  tests/integration/workflows/test_release_workflow_consistency.py
  tests/integration/workflows/test_workflow_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

ci: Implement Authority CI/CD Pipeline and fix collaborative refactoring issues
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/branch-protection.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/stale.yml
  .kiro/specs/github-best-practices/design.md
  .kiro/specs/github-best-practices/requirements.md
  .kiro/specs/github-best-practices/tasks.md
  tests/unit/core/test_core_engine_comprehensive.py
  tests/unit/core/test_core_engine_extended.py
  tests/unit/core/test_engine.py
  tests/unit/core/test_engine_unification.py
  tests/unit/core/test_manager.py
  tests/unit/core/test_parser_error_recovery_properties.py
  tests/unit/languages/test_typescript_integration.py
  tests/unit/languages/test_typescript_plugin.py
  tests/unit/security/test_security_integration.py
  tree_sitter_analyzer/core/analysis_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: fixes MyPy and linter issues across core and mcp components
  .pre-commit-config.yaml
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/core/query.py
  tree_sitter_analyzer/interfaces/mcp_server.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/utils/path_resolver.py
  tree_sitter_analyzer/models.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: update type hints and add missing type stubs for better type checking
  pyproject.toml
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/interfaces/mcp_server.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/plugins/manager.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: enhance type hints and casting for improved type safety across MCP and language plugins
  tree_sitter_analyzer/interfaces/mcp_server.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: update type hint for node parameter in YAMLElementExtractor to allow None
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: update YAML sample configurations and enhance type safety in CSS formatter
  tests/golden_masters/compact/yaml_sample_config_compact.md
  tests/golden_masters/csv/yaml_sample_config_csv.csv
  tests/golden_masters/full/yaml_sample_config_full.md
  tests/unit/languages/test_java_plugin_comprehensive.py
  tree_sitter_analyzer/formatters/css_formatter.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: restore language None checks in QueryExecutor to fix test failures
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove unreachable code in QueryExecutor to satisfy MyPy
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove redundant checks and unreachable code in QueryExecutor
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update type hints to allow None language and satisfy MyPy unreachable code check
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: fully integrate pytest-xdist for parallel testing in local and CI
  .github/workflows/reusable-test.yml
  pyproject.toml
  pytest.ini
  uv.lock
Due: check-yaml-local, check-toml-local

Remove interfaces module and related tests
  tests/integration/cli/test_interfaces_cli.py
  tests/integration/mcp/test_interfaces_mcp_server.py
  tests/unit/core/test_cli_adapter.py
  tests/unit/mcp/test_mcp_adapter.py
  tests/unit/mcp/test_mcp_server_coverage.py
  tests/unit/mcp/test_mcp_server_interface.py
  tree_sitter_analyzer/interfaces/__init__.py
  tree_sitter_analyzer/interfaces/cli.py
  tree_sitter_analyzer/interfaces/cli_adapter.py
  tree_sitter_analyzer/interfaces/mcp_adapter.py
  tree_sitter_analyzer/interfaces/mcp_server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Fix URI type handling in MCP resources and improve CLI usage examples
  docs/ja/specifications/02_アーキテクチャ設計.md
  openspec/changes/archive/add-sql-language-support/specs/sql-language-support/spec.md
  tree_sitter_analyzer/cli/commands/default_command.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/mcp/resources/code_file_resource.py
  tree_sitter_analyzer/mcp/resources/project_stats_resource.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve all ruff linter errors in test files
  check_stability.py
  profile_analysis.py
  scripts/monitor_coverage.py
  tests/conftest.py
  tests/unit/cli/test_advanced_command.py
  tests/unit/cli/test_search_content_cli.py
  tests/unit/core/test_engine_manager.py
  tests/unit/core/test_query.py
  tests/unit/core/test_query_filter.py
  tests/unit/formatters/test_language_formatter_factory.py
  tests/unit/formatters/test_toon_encoder.py
  tests/unit/languages/test_yaml_anchor_alias_properties.py
  tests/unit/languages/test_yaml_parsing_consistency_properties.py
  tests/unit/mcp/test_analyze_code_structure_tool.py
  tests/unit/mcp/test_resources/test_project_stats_resource.py
  tests/unit/mcp/test_search_content_tool.py
  tests/unit/mcp/test_universal_analyze_tool.py
  tests/unit/mcp/test_utils/test_file_metrics.py
  tests/unit/mcp/test_utils/test_file_output_factory.py
  tests/unit/mcp/test_utils/test_file_output_manager.py
  tests/unit/mcp/test_utils/test_path_resolver.py
  tests/unit/test_boundary_manager.py
  tests/unit/test_formatter_factory.py
  tests/unit/test_logging.py
  tests/unit/test_plugins_manager.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: add return type annotations to get_tree_sitter_language methods
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove flawed benchmark tests and fix formatter factory test isolation
  pyproject.toml
  tests/benchmarks/test_performance_benchmarks.py
  tests/unit/test_formatter_factory.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

fix: handle Windows short path names (8.3 format) in tests
  tests/unit/mcp/test_utils/test_file_output_manager.py
  tests/unit/mcp/test_utils/test_path_resolver.py
  tests/unit/test_boundary_manager.py
  tests/unit/test_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
