Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

docs: preserve health timing evidence and executable rerun
  docs/baselines/health-cache-20260908-e0.json
  rfcs/ROADMAP-no1-agent-trust.md
Due: check-json-local

fix: analyze committed PR changes in dogfood workflow
  .github/workflows/dogfood-pr-check.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

docs: update landed trust baseline and measured feedback limits (#1418)
  docs/baselines/health-cache-20260908-e0.json
  rfcs/ROADMAP-no1-agent-trust.md
Due: check-json-local

fix: retain raw dogfood impact evidence
  .github/workflows/dogfood-pr-check.yml
Due: check-yaml-local

fix: reject budget retry when pytest reports reasonless failures
  scripts/classify_windows_pytest_failure.py
  tests/unit/test_classify_windows_pytest_failure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retain parameterized pytest failures with spaces
  scripts/classify_windows_pytest_failure.py
  tests/unit/test_classify_windows_pytest_failure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: make CI feedback analyze PR changes and retain failures (#1419)
  .github/workflows/dogfood-pr-check.yml
  scripts/classify_windows_pytest_failure.py
  tests/governance/test_ci_routing_contract.py
  tests/unit/test_classify_windows_pytest_failure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: qualify the proposed read connection capability
  rfcs/0032-index-writer-ownership.md
Due: none

fix: route PR checks against the merge commit parent
  .github/workflows/ci.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix: route PR checks against the merge commit parent (#1420)
  .github/workflows/ci.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

docs: specify writer RFC read session boundaries
  rfcs/0032-index-writer-ownership.md
Due: none

feat: define bound immutable index generation selectors
  tests/unit/test_generation_selector.py
  tree_sitter_analyzer/cache/generation_selector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add isolated index generation storage core
  tests/unit/test_generation_store.py
  tree_sitter_analyzer/cache/generation_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: RFC-0032 index writer ownership and obsolete replay (#1412)
  rfcs/0032-index-writer-ownership.md
  rfcs/README.md
Due: none

fix: preserve generation isolation across readers and publication recovery
  docs/CODEMAPS/architecture.md
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_generation_indexing.py
  tests/unit/test_generation_reads.py
  tests/unit/test_generation_store.py
  tree_sitter_analyzer/_ast_cache_database_mixin.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/cache/generation_indexing.py
  tree_sitter_analyzer/cache/generation_reads.py
  tree_sitter_analyzer/cache/generation_store.py
  tree_sitter_analyzer/cli/commands/constraint_check_command.py
  tree_sitter_analyzer/mcp/tools/_strict_params.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/skills/tsa-refactor-queue/SKILL.md
  tree_sitter_analyzer/skills/tsa-temporal/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: use native process termination and canonical path expectations
  tests/unit/test_generation_store.py
  tests/unit/test_index_status_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: execute complete verification plans through bounded replay
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  rfcs/0031-bounded-verification-execution.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_verification_tool.py
  tests/unit/test_claim_registry.py
  tests/unit/test_verification_plan.py
  tests/unit/test_verification_runner.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/tools/verification_tool.py
  tree_sitter_analyzer/verification_plan.py
  tree_sitter_analyzer/verification_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: retain mapped tests in change-impact verification (#1407)
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  rfcs/0031-bounded-verification-execution.md
  rfcs/README.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_change_impact_tool.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_change_impact_tool_git_and_verification.py
  tests/unit/mcp/test_verification_command.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_edit_facade_schema.py
  tests/unit/mcp/tools/test_verification_tool.py
  tests/unit/test_change_impact_response.py
  tests/unit/test_claim_registry.py
  tests/unit/test_verification_plan.py
  tests/unit/test_verification_runner.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/edit_facade_schema.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_response.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_verification.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
  tree_sitter_analyzer/mcp/tools/verification_tool.py
  tree_sitter_analyzer/verification_plan.py
  tree_sitter_analyzer/verification_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: restore SQLite authorization portably on Python 3.10
  tests/unit/mcp/tools/test_tql_tool.py
  tests/unit/test_cache_write.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_snapshot_schema_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: clean verification children by retained process identity
  tests/unit/test_verification_runner.py
  tree_sitter_analyzer/verification_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: unblock Python 3.10 and macOS release validation (#1422)
  tests/unit/mcp/tools/test_tql_tool.py
  tests/unit/test_cache_write.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_snapshot_schema_validation.py
  tests/unit/test_verification_runner.py
  tree_sitter_analyzer/verification_runner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: use native source discovery for internal search
  tests/unit/mcp/test_guard_caller_count_excludes_non_calls.py
  tests/unit/mcp/test_numeric_param_coercion.py
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tests/unit/mcp/test_trace_impact_count_fix.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/test_source_lines.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/utils/project_index/_filesystem.py
  tree_sitter_analyzer/source_lines.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: specify native search retirement contract
  rfcs/0033-native-search-independence.md
  rfcs/README.md
Due: none

docs: align trace tool metadata with native scanning
  tree_sitter_analyzer/mcp/tools/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: type optional TOML parser on Python 3.10
  tree_sitter_analyzer/hotspot_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: ignore generic aliases during plugin discovery
  tests/unit/core/test_plugins_manager.py
  tree_sitter_analyzer/plugins/_manager_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: enforce native scan boundaries and worker deadlines
  tests/unit/mcp/test_numeric_param_coercion.py
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tests/unit/test_source_lines.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/source_lines.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: restore Python 3.10 plugin discovery and type checking (#1425)
  tests/unit/core/test_plugins_manager.py
  tree_sitter_analyzer/hotspot_analyzer.py
  tree_sitter_analyzer/plugins/_manager_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: gate API retirement and preserve behavioral witnesses
  rfcs/0033-native-search-independence.md
  rfcs/evidence/0033-retired-tests-1.jsonl
  rfcs/evidence/0033-retired-tests-2.jsonl
  rfcs/evidence/0033-retired-tests-3.jsonl
Due: none

fix: classify trace matches inside the bounded worker
  tests/unit/test_source_lines.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/source_lines.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: define the native search retirement contract (#1424)
  rfcs/0033-native-search-independence.md
  rfcs/README.md
  rfcs/evidence/0033-retired-tests-1.jsonl
  rfcs/evidence/0033-retired-tests-2.jsonl
  rfcs/evidence/0033-retired-tests-3.jsonl
Due: none

fix: remove fd and ripgrep from internal source search (#1423)
  tests/unit/mcp/test_guard_caller_count_excludes_non_calls.py
  tests/unit/mcp/test_numeric_param_coercion.py
  tests/unit/mcp/test_tools/test_trace_impact_tool.py
  tests/unit/mcp/test_trace_impact_count_fix.py
  tests/unit/mcp/test_utils/test_project_index.py
  tests/unit/test_source_lines.py
  tree_sitter_analyzer/mcp/tools/__init__.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
  tree_sitter_analyzer/mcp/utils/project_index/_filesystem.py
  tree_sitter_analyzer/source_lines.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: update codemap fixture and retire orphaned search helpers
  rfcs/0033-native-search-independence.md
  rfcs/evidence/0033-orphaned-helpers.jsonl
  tests/integration/_test_phase7_end_to_end_helpers.py
  tests/integration/_test_phase7_information_leakage_helpers.py
  tests/integration/_test_phase7_security_helpers_extra.py
  tests/integration/_test_phase7_security_load_helpers.py
  tests/integration/_test_phase7_security_policy_helpers.py
  tests/integration/_test_phase7_security_stress_helpers.py
  tests/integration/_test_phase7_sensitive_exposure_helpers.py
  tests/integration/_test_phase7_unicode_security_helpers.py
  tests/integration/test_codemap_sync_hook.sh
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: run mapped shell verification with Bash
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_verification.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve project environment for shell checks
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: complete native search workflow and index cleanup
  .claude/skills/tsa-landing/SKILL.md
  docs/CODEMAPS/cli.md
  tests/e2e/test_tool_functional.py
  tests/integration/mcp/test_golden_master_mcp_tools.py
  tests/integration/mcp/test_user_story_4_integration.py
  tests/unit/mcp/test_agent_workflow_tool.py
  tests/unit/mcp/test_get_project_summary_tool.py
  tests/unit/test_codegraph_sitemap.py
  tree_sitter_analyzer/cli/agent_workflow.py
  tree_sitter_analyzer/mcp/intent_aliases.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
  tree_sitter_analyzer/skills/tsa-landing/SKILL.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: handle Node shell checks and Windows single-step quoting
  tests/unit/mcp/test_verification_command.py
  tree_sitter_analyzer/mcp/tools/utils/verification_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
