Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test: cli/__init__.py 63.6%→100%
  tests/unit/cli/test_cli_package.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/mcp/test_mcp_utils_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: core/cache_service.py 86.0%→95.6%
  tests/unit/core/test_cache_service.py
  tests/unit/mcp/test_server_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: api.py 66.9%→84.6%
  tests/unit/core/test_api_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: formatters/yaml_formatter.py 69.8%→99.0%
  tests/unit/formatters/test_yaml_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: cli/info_commands.py 0%→95.6%
  tests/unit/cli/test_info_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: queries/python.py 0%→100%
  tests/unit/core/test_queries_python.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: platform_compat/compare.py 0%→98.4%
  tests/unit/platform_compat/test_compare.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: formatters/markdown_formatter.py 79.2%→98.8%
  tests/unit/formatters/test_markdown_formatter_new_elements.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: platform_compat/report.py 0%→96.9%
  tests/unit/platform_compat/test_report.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: security/regex_checker.py 17.5%→100%
  tests/unit/security/test_regex_checker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: project_detector.py 77.3%→96.0%
  tests/unit/core/test_project_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: project_detector.py 96%→100%
  tests/unit/core/test_project_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: go_formatter.py 78.8%→99.7%
  tests/unit/formatters/test_go_formatter_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: analyze_scale_tool_cli_compatible.py 0%→99%
  tests/unit/mcp/test_tools/test_analyze_scale_tool_cli_compatible.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: rename test file to resolve pytest module name collision
  tests/unit/mcp/test_tools/test_analyze_scale_tool_cli_compat_unit.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: plugins/manager.py 81.1%→87.6%
  tests/unit/core/test_manager_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: disable --maxfail=10 to preserve coverage data on flaky runs
  pytest.ini
Due: none

test: path_resolver.py validate_path edge cases (symlink, outside root, errors)
  tests/unit/mcp/test_utils/test_path_resolver_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/utils/test_encoding_utils_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/core/test_query_coverage_boost.py
  tests/unit/languages/test_cpp_plugin_coverage_boost.py
  tests/unit/languages/test_yaml_scalar_type_properties.py
  tests/unit/security/test_validator_coverage_round2.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/core/test_query_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/conftest.py.bak
Due: none

auto: uncommitted changes from autonomous loop
  tests/conftest.py
  tests/conftest.py.bak2
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/conftest.py.bak2
Due: none

auto: uncommitted changes from autonomous loop
  tests/unit/cli/test_cli_package.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/core/test_engine.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/unit/mcp/test_mcp_search_content_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  pyproject.toml
  uv.lock
Due: check-toml-local

auto: uncommitted changes from autonomous loop
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

auto: uncommitted changes from autonomous loop
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/cli_main.py
  tree_sitter_analyzer/output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

auto: uncommitted changes from autonomous loop
  tests/integration/cli/test_cli_regression.py
  tests/unit/cli/test_structure_command.py
  tests/unit/cli/test_summary_command.py
  tree_sitter_analyzer/cli/commands/structure_command.py
  tree_sitter_analyzer/cli/commands/summary_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: summary_command.py 33%→96%
  tests/unit/cli/test_summary_command_coverage.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: remove stale section header assertions for clean JSON output
  tests/unit/languages/test_java_structure_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

auto: uncommitted changes from autonomous loop
  tree_sitter_analyzer/cli/commands/advanced_command.py
  tree_sitter_analyzer/cli_main.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

auto: uncommitted changes from autonomous loop
  tree_sitter_analyzer/cli/commands/advanced_command.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: output format validator use ordered list for deterministic priority
  tests/integration/cli/test_cli_regression.py
  tree_sitter_analyzer/mcp/tools/output_format_validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add visibility filter support and improved filter help text
  tree_sitter_analyzer/core/query_filter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
