Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix(ci): provision native axis harness dependencies
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(install): normalize pip direct URL digests
  .github/workflows/native-install-qualification.yml
  scripts/native_qualification_lib.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix(install): accept canonical PEP 610 digest encodings
  .github/workflows/native-install-qualification.yml
  scripts/native_qualification_lib.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix(install): support SRI direct URL digests
  .github/workflows/native-install-qualification.yml
  scripts/native_qualification_lib.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix(install): bind hashless local wheel provenance
  .github/workflows/native-install-qualification.yml
  scripts/native_qualification_lib.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix(install): normalize Windows module provenance
  scripts/native_qualification_lib.py
  tests/contracts/test_native_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(install): normalize Windows RECORD paths
  scripts/native_mcp_probe.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(install): normalize Windows MCP fixture oracle
  scripts/native_mcp_probe.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): provision native aggregate dependencies
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(schema): admit hashless local wheel provenance
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
Due: check-json-local

fix(install): aggregate hashless wheel provenance
  scripts/qualify_native_install.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(install): harden trusted native evidence verification
  .github/workflows/native-install-qualification.yml
  scripts/native_provenance.py
  scripts/native_qualification_lib.py
  tests/contracts/_native_trusted_verifier_helpers.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_native_install_qualification.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(install): add native wheel MCP qualification (#1239)
  .github/workflows/native-install-qualification.yml
  pyproject.toml
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/native_provenance.py
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  tests/contracts/_native_trusted_verifier_helpers.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_native_install_qualification.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_server_comprehensive_init.py
  tree_sitter_analyzer/mcp/_sdk_compat.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/server.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): verify Windows generated console scripts
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(ci): bind generated scripts to native axis
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(ci): align trusted verifier indentation
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(ci): enforce axis canonical script names
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

fix(ci): verify Windows native attestation scripts (#1240)
  .github/workflows/native-install-qualification.yml
Due: check-yaml-local

docs: record trusted NO1-006A qualification
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs: preserve NO1-006A evidence bundle
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/README.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part00
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part01
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part02
Due: none

docs: retain complete native qualification evidence
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/README.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part00
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part01
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part02
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part03
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part04
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part05
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part06
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part07
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part08
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part09
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part10
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part11
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part12
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part13
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part14
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part15
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part16
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part17
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part18
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part19
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part20
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part21
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part22
Due: none

docs: record trusted NO1-006A qualification (#1241)
  STATE.md
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/README.md
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part00
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part01
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part02
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part03
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part04
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part05
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part06
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part07
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part08
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part09
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part10
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part11
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part12
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part13
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part14
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part15
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part16
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part17
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part18
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part19
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part20
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part21
  rfcs/evidence/no1-006a/58bd2b982f48abd4059a646657e7421da658a776-attempt-1/evidence.tar.gz.part22
Due: none

ci: qualify native outdated uv remediation
  .github/workflows/native-install-qualification.yml
  .github/workflows/reusable-native-qualification-attestation.yml
  .github/workflows/reusable-outdated-uv-qualification.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v1.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/_native_trusted_verifier_helpers.py
  tests/contracts/test_fresh_install_qualification.py
  tests/contracts/test_native_install_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): content-bind outdated uv recovery qualification
  .github/workflows/native-install-qualification.yml
  .github/workflows/reusable-native-qualification-attestation.yml
  .github/workflows/reusable-outdated-uv-qualification.yml
  .secrets.baseline
  config/no1_uv_fixtures.json
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/schemas/no1-006a-outdated-uv-attestation-v1.schema.json
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_native_install.py
  scripts/qualify_outdated_uv.py
  tests/contracts/test_fresh_install_qualification.py
  tests/contracts/test_native_install_qualification.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close native uv qualification trust gaps
  .github/workflows/native-install-qualification.yml
  .github/workflows/reusable-native-qualification-attestation.yml
  .secrets.baseline
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  scripts/qualify_outdated_uv.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): bind trusted outdated uv execution
  .github/workflows/reusable-native-qualification-attestation.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): bind trusted uv install to fresh venv
  .github/workflows/reusable-native-qualification-attestation.yml
  .secrets.baseline
  tests/contracts/_native_trusted_verifier_helpers.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix(ci): retain outdated uv failure artifacts
  .github/workflows/reusable-outdated-uv-qualification.yml
  scripts/qualify_outdated_uv.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): provision outdated qualifier dependencies
  .github/workflows/reusable-outdated-uv-qualification.yml
Due: check-yaml-local

fix(install): canonicalize qualified Python path
  scripts/qualify_native_install.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(install): preserve fresh venv provenance paths
  scripts/qualify_native_install.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(install): target qualified venv interpreter
  scripts/qualify_native_install.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(schema): require complete outdated uv evidence
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

fix(qualification): close Codex evidence gaps
  .github/workflows/reusable-native-qualification-attestation.yml
  .secrets.baseline
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): provision outdated aggregate runtime
  .github/workflows/reusable-outdated-uv-qualification.yml
Due: check-yaml-local

fix(qualification): bind complete outdated aggregate evidence
  .github/workflows/native-install-qualification.yml
  .github/workflows/reusable-native-qualification-attestation.yml
  .github/workflows/reusable-outdated-uv-qualification.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(qualification): close final Codex trust gaps
  .github/workflows/reusable-native-qualification-attestation.yml
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/qualify_outdated_uv.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: qualify content-bound native outdated uv recovery (#1242)
  .github/workflows/native-install-qualification.yml
  .github/workflows/reusable-native-qualification-attestation.yml
  .github/workflows/reusable-outdated-uv-qualification.yml
  .secrets.baseline
  config/no1_uv_fixtures.json
  rfcs/ROADMAP-no1-agent-trust.md
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  rfcs/schemas/no1-006a-outdated-uv-attestation-v2.schema.json
  scripts/native_qualification_lib.py
  scripts/qualify_native_install.py
  scripts/qualify_outdated_uv.py
  tests/contracts/_native_trusted_verifier_helpers.py
  tests/contracts/_test_native_qualification_helpers.py
  tests/contracts/test_fresh_install_qualification.py
  tests/contracts/test_native_install_qualification.py
  tests/contracts/test_outdated_uv_qualification.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): verify outdated aggregate identity shape
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

fix(ci): bind aggregate repository identity
  .github/workflows/reusable-native-qualification-attestation.yml
Due: check-yaml-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
