Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

[perf] Optimize SQL identifier validation to prevent test hangs
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[perf] Optimize logging handler stream detection to prevent test hangs
  tree_sitter_analyzer/utils/logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Resolve deadlock in parallel tests by mocking logger interactions
  tests/unit/utils/test_utils_init.py
  tree_sitter_analyzer/utils/logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[refactor] Eliminate global state and race conditions in logging system
  tree_sitter_analyzer/utils/logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[feat] Add GitHub Actions workflow for opencode functionality
  .github/workflows/opencode.yml
Due: check-yaml-local

[fix] Fix infinite loop in SQL function extraction causing pytest to hang
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Add missing container node types to Rust, Kotlin, and Go plugins
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Fix pre-existing test failures with incorrect mock targets and exception types
  tests/integration/cli/test_quiet_option.py
  tests/integration/platform/test_integration_properties.py
  tests/unit/languages/test_java_plugin.py
  tests/unit/languages/test_python_plugin.py
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_typescript_plugin_edge_cases.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Fix unreachable code error in ruby_plugin by allowing None type
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Fix 3 MCP test failures with incorrect patch targets and error regex
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_server.py
  tests/unit/mcp/test_server_comprehensive.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

[refactor] Remove legacy.py and unify MCP architecture
  tests/integration/mcp/test_integration.py
  tests/integration/mcp/test_mcp_integration.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_initialization.py
  tests/unit/mcp/test_server_comprehensive.py
  tests/unit/mcp/test_server_edge_cases.py
  tree_sitter_analyzer/mcp/legacy.py
  tree_sitter_analyzer/mcp/server.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[feat] Add MCP golden master regression testing system
  .kiro/specs/version-compatibility-testing/design.md
  .kiro/specs/version-compatibility-testing/requirements.md
  .kiro/specs/version-compatibility-testing/tasks.md
  .secrets.baseline
  tests/golden_masters/mcp/analyze_code_structure.json
  tests/golden_masters/mcp/check_code_scale.json
  tests/golden_masters/mcp/extract_code_section.json
  tests/golden_masters/mcp/find_and_grep.json
  tests/golden_masters/mcp/list_files.json
  tests/golden_masters/mcp/query_code.json
  tests/golden_masters/mcp/search_content.json
  tests/regression/mcp/__init__.py
  tests/regression/mcp/conftest.py
  tests/regression/mcp/test_mcp_golden_master.py
  tree_sitter_analyzer/testing/__init__.py
  tree_sitter_analyzer/testing/golden_master.py
  tree_sitter_analyzer/testing/normalizer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Rename tests/regression/mcp to mcp_golden_master to avoid module collision
  tests/regression/mcp_golden_master/__init__.py
  tests/regression/mcp_golden_master/conftest.py
  tests/regression/mcp_golden_master/test_mcp_golden_master.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

[fix] Fix incorrect script reference in MCP golden master test documentation
  tests/regression/mcp_golden_master/test_mcp_golden_master.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

[fix] Update MCP golden master files after normalizer improvements
  tests/golden_masters/mcp/list_files.json
  tests/regression/mcp_golden_master/test_mcp_golden_master.py
  tree_sitter_analyzer/testing/normalizer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Fix Performance Benchmarks workflow
  .github/workflows/benchmarks.yml
Due: check-yaml-local

[docs] Update planning-with-files skill integration guidelines in CLAUDE.md
  CLAUDE.md
Due: none

[refactor] Self-optimized core engine logic for better maintainability
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[refactor] Align all language plugins with LanguagePlugin base contract
  .kiro/project_map.toon
  .kiro/specs/archived/project-indexing-20260119/design.md
  .kiro/specs/archived/project-indexing-20260119/requirements.md
  .kiro/specs/archived/self-optimization-20260119/advanced_analysis.json
  .kiro/specs/archived/self-optimization-20260119/core_advanced.txt
  .kiro/specs/archived/self-optimization-20260119/core_analysis.txt
  .kiro/specs/archived/self-optimization-20260119/design.md
  .kiro/specs/archived/self-optimization-20260119/progress.md
  .kiro/specs/archived/self-optimization-20260119/query_methods.json
  .kiro/specs/archived/self-optimization-20260119/raw_analysis.txt
  .kiro/specs/archived/self-optimization-20260119/requirements.md
  .kiro/specs/archived/self-optimization-20260119/tasks.md
  .kiro/specs/plugin-alignment/design.md
  .kiro/specs/plugin-alignment/requirements.md
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[docs] Archive plugin contract alignment specification
  .kiro/specs/archived/plugin-alignment-20260119/design.md
  .kiro/specs/archived/plugin-alignment-20260119/progress.md
  .kiro/specs/archived/plugin-alignment-20260119/requirements.md
  .kiro/specs/archived/plugin-alignment-20260119/tasks.md
Due: none

[docs] Add TOON Project Map section to CLAUDE.md
  CLAUDE.md
Due: none

[fix] Provide fallback implementation for SQL formatters to prevent crashes
  .kiro/specs/archived/sql-formatter-fix-20260119/design.md
  .kiro/specs/archived/sql-formatter-fix-20260119/requirements.md
  .kiro/specs/archived/sql-formatter-fix-20260119/tasks.md
  .kiro/specs/plugin-alignment/design.md
  .kiro/specs/plugin-alignment/requirements.md
  tests/unit/formatters/test_sql_formatter_coverage.py
  tree_sitter_analyzer/formatters/sql_formatters.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[refactor] Fix Python decorator extraction and refresh TOON project map
  .kiro/project_map.toon
  tree_sitter_analyzer/languages/python_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[fix] Restore missing analyze_file methods and re-apply plugin alignment safely
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

[refactor] Refresh TOON project map after recovery
  .kiro/project_map.toon
Due: none

[test] Update Python golden masters to reflect improved decorator extraction
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/csv/python_sample_csv.csv
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/toon/python_sample_toon.toon
Due: none

[ci] Optimize and centralize GitHub Workflows using a unified setup action and update consistency tests
  .github/actions/setup-analyzer/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/regression-tests.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
  .kiro/specs/archived/workflow-optimization-20260119/design.md
  .kiro/specs/archived/workflow-optimization-20260119/progress.md
  .kiro/specs/archived/workflow-optimization-20260119/requirements.md
  .kiro/specs/archived/workflow-optimization-20260119/tasks.md
  tests/integration/workflows/test_workflow_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

[ci] Fix platform detection in SQL compatibility workflow and improve Python setup
  .github/actions/setup-analyzer/action.yml
  .github/workflows/sql-platform-compat.yml
Due: check-yaml-local

[ci] Consolidate and optimize GitHub Workflows into a single orchestrative CI pipeline
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/develop-automation.yml
  .github/workflows/hotfix-automation.yml
  .github/workflows/regression-tests.yml
  .github/workflows/release-automation.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
  .kiro/specs/archived/workflow-consolidation-20260119/design.md
  .kiro/specs/archived/workflow-consolidation-20260119/progress.md
  .kiro/specs/archived/workflow-consolidation-20260119/requirements.md
  .kiro/specs/archived/workflow-consolidation-20260119/tasks.md
Due: check-yaml-local

[fix] Add benchmark markers and disable xdist for performance tests to fix CI failure
  .github/workflows/benchmarks.yml
  tests/benchmarks/test_large_file_performance.py
  tests/benchmarks/test_query_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

feat: enhance list_files with sorting and refine type safety (re-commit after line-ending fixes)
  .kiro/specs/archived/fix-known-issues-and-legacy-problems/design.md
  .kiro/specs/archived/fix-known-issues-and-legacy-problems/progress.md
  .kiro/specs/archived/fix-known-issues-and-legacy-problems/requirements.md
  .kiro/specs/archived/fix-known-issues-and-legacy-problems/tasks.md
  docs/api/mcp_tools_specification.md
  docs/cli-reference.md
  scripts/update_golden_masters.py
  tests/golden_masters/mcp/query_code.json
  tests/golden_masters/python_sample_full.txt
  tests/golden_masters/sql_sample_database_csv.txt
  tests/regression/mcp_golden_master/test_mcp_golden_master.py
  tests/unit/core/test_queries_java.py
  tree_sitter_analyzer/cli/commands/list_files_cli.py
  tree_sitter_analyzer/core/query_filter.py
  tree_sitter_analyzer/mcp/tools/fd_rg_utils.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/queries/java.py
  tree_sitter_analyzer/query_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: repair performance benchmarks workflow
  .github/workflows/benchmarks.yml
Due: check-yaml-local

fix: update CLI regression test expectation for Java method count (re-commit after ruff-format)
  tests/integration/cli/test_cli_regression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: enable relative_files in coverage configuration to fix CI reporting
  pyproject.toml
Due: check-toml-local

Fix mypy type errors: add missing type annotations and fix type: ignore comments
  tests/integration/core/test_unified_analysis_engine_integration.py
  tests/integration/mcp/tools/fd_rg/test_fd_rg_integration.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/file_loader.py
  tree_sitter_analyzer/mcp/tools/search_strategies/base.py
  tree_sitter_analyzer/mcp/tools/validators/search_validator.py
  tree_sitter_analyzer/plugins/base.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: 修复所有 mypy 类型错误
  tree_sitter_analyzer/api.py
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/mcp/resources/project_stats_resource.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/fd_rg/utils.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/search_strategies/content_search.py
  tree_sitter_analyzer/py.typed
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: correct test failures in file output optimization and integration tests
  task_plan.md
  tests/integration/mcp/tools/fd_rg/test_fd_rg_integration.py
  tests/integration/mcp/tools/test_search_content_tool_integration.py
  tests/unit/core/test_file_output_optimization.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
