Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

test: isolate pinned uv identity contract
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: scope archive runtime probe to POSIX
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: bind no1 lock and native interpreter identity
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: re-attest native no1 receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

fix: bind no1 native build and frozen artifacts
  .secrets.baseline
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  scripts/no1_006b_baseline_support.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, bandit-local, pydocstyle-local, flake8-local

docs: re-attest exact no1 collector receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, flake8-local

test: scope macOS archive digest contract
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: freeze no1 build source snapshot
  .secrets.baseline
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  scripts/no1_006b_baseline_support.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: re-attest frozen no1 receipt
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

fix: bind exact no1 root wheel size
  .secrets.baseline
  schemas/no1-006b-baseline.schema.json
  scripts/collect_no1_006b_baseline.py
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: re-attest exact no1 wheel size
  .secrets.baseline
  docs/baselines/no1-006b-macos-e0.json
  rfcs/0024-default-dependency-split.md
Due: check-json-local

feat(edit): add frozen diff snapshots
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden frozen diff snapshots
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: close frozen snapshot patch coverage
  docs/api/facade-actions.md
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_semantic_classify_tool.py
  tests/unit/test_source_oracle.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind snapshots to clean tracked workspace
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_source_oracle.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: close source oracle fault coverage
  tests/unit/test_source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: split source oracle integration behavior
  tests/integration/test_source_oracle.py
  tests/unit/test_source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: isolate source oracle platform seams
  tests/integration/test_source_oracle.py
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_source_oracle.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close Codex frozen snapshot review findings
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/integration/test_source_oracle.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_source_oracle.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_builders.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: split frozen diff snapshot modules
  tests/integration/test_diff_snapshot_registry.py
  tests/integration/test_source_oracle.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: freeze scope existence inventory
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close frozen snapshot red-team blockers
  tests/integration/test_diff_snapshot_registry.py
  tests/integration/test_source_oracle.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close frozen snapshot review round two
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  rfcs/0022-task-outcome-apis.md
  scripts/generate_facade_actions_doc.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_semantic_classify_tool.py
  tests/unit/test_source_oracle.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden snapshot finalization boundaries
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: split snapshot capture tests and type surface
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: make snapshot tests platform honest
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: bind frozen diffs to atomic git epoch
  rfcs/0022-task-outcome-apis.md
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/_diff_snapshot_support.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_paths.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/git_path_codec.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden frozen Git snapshot boundaries
  rfcs/0022-task-outcome-apis.md
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/mcp/tools/change_impact_support.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: split frozen Git snapshot coverage by module
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_epoch.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_git_path_codec.py
  tests/unit/test_git_subprocess.py
  tests/unit/test_source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: close frozen snapshot zero-gate gaps
  tests/integration/test_diff_snapshot_epoch.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_git_subprocess.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: harden frozen snapshot process cleanup
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_diff_snapshot_leases.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_git_subprocess.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close frozen snapshot zero-gate findings
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_epoch.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_diff_snapshot_leases.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind frozen workspace to Git conversions
  tests/integration/test_diff_snapshot_epoch.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: preserve frozen Git index semantics
  tests/integration/test_diff_snapshot_epoch.py
  tests/integration/test_source_oracle.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_leases.py
  tests/unit/test_diff_snapshot_registry.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: bind frozen diffs to Git settings
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_source_oracle.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_git_subprocess.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/source_epoch.py
  tree_sitter_analyzer/source_oracle_git.py
  tree_sitter_analyzer/temp_cleanup.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close frozen snapshot lifecycle gaps
  tests/integration/test_diff_snapshot_registry.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_diff_snapshot_registry.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/diff_snapshot_leases.py
  tree_sitter_analyzer/diff_snapshot_registry.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/change_impact_frozen.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_epoch.py
  tree_sitter_analyzer/source_oracle_git.py
  tree_sitter_analyzer/temp_cleanup.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: isolate frozen Git settings
  tests/integration/test_diff_snapshot_capture.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_frozen_git_settings.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/frozen_git_settings.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_epoch.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: close frozen snapshot review gaps
  rfcs/0022-task-outcome-apis.md
  tests/integration/test_diff_snapshot_capture.py
  tests/integration/test_diff_snapshot_epoch.py
  tests/unit/test_ast_diff_tool.py
  tests/unit/test_frozen_git_index.py
  tests/unit/test_frozen_git_settings.py
  tests/unit/test_git_subprocess.py
  tests/unit/test_semantic_classify_tool.py
  tests/unit/test_source_oracle.py
  tests/unit/test_source_oracle_git.py
  tree_sitter_analyzer/diff_snapshot_epoch.py
  tree_sitter_analyzer/frozen_git_index.py
  tree_sitter_analyzer/frozen_git_settings.py
  tree_sitter_analyzer/git_exec_guard.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/source_oracle.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: freeze ignored attributes and original objects
  rfcs/0022-task-outcome-apis.md
  tests/unit/test_diff_snapshot_capture.py
  tests/unit/test_frozen_git_settings.py
  tests/unit/test_git_subprocess.py
  tree_sitter_analyzer/frozen_git_settings.py
  tree_sitter_analyzer/git_subprocess.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: normalize frozen diff policy
  rfcs/0022-task-outcome-apis.md
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_frozen_git_settings.py
  tests/unit/test_git_subprocess.py
  tree_sitter_analyzer/diff_snapshot_capture.py
  tree_sitter_analyzer/frozen_git_settings.py
  tree_sitter_analyzer/git_subprocess.py
  tree_sitter_analyzer/mcp/tools/change_impact_frozen.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_git.py
  tree_sitter_analyzer/source_oracle_git.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
