Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

feat: v1.17.2 — expert team improvements
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/_ast_cache_graph.py
  tree_sitter_analyzer/_ast_cache_helpers.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: v1.17.3 — expert team improvements
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(import-graph): add 'edges' key to summary mode for schema consistency
  tree_sitter_analyzer/mcp/tools/import_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: v1.17.4 — expert team improvements
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): add initialize routing instructions
  tests/e2e/test_mcp_smoke.py
  tests/unit/mcp/test_server_helpers.py
  tree_sitter_analyzer/mcp/_server_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(build): pin hatchling metadata version
  pyproject.toml
Due: check-toml-local

feat(mcp): add codegraph context tool
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/e2e/test_mcp_smoke.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_server_helpers.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): cover codegraph context branches
  tests/unit/test_codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(mcp): add codegraph context tool (#234)
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/e2e/test_mcp_smoke.py
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/test_server_helpers.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_context_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Speed up MCP headless startup
  tests/e2e/test_mcp_smoke.py
  tests/unit/test_package_lazy_exports.py
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: retarget dependabot updates to develop
  .github/dependabot.yml
  .github/workflows/auto-sprint-execute.yml
  .github/workflows/auto-sprint.yml
  .github/workflows/benchmarks.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/develop-automation.yml
  .github/workflows/e2e-locale.yml
  .github/workflows/e2e-real-repos.yml
  .github/workflows/grammar-coverage-guard.yml
  .github/workflows/health-monitor.yml
  .github/workflows/hotfix-automation.yml
  .github/workflows/regression-tests.yml
  .github/workflows/release-automation.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/stale.yml
  .github/workflows/test-coverage.yml
  pyproject.toml
  uv.lock
Due: check-yaml-local, check-toml-local

fix(release): fail closed finalize PR reuse
  .github/workflows/hotfix-automation.yml
  .github/workflows/release-automation.yml
  tests/unit/test_agent_contracts.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

release: v1.18.0
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  scripts/sync_version.py
  scripts/sync_version_minimal.py
  tests/unit/test_agent_contracts.py
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(graph): add unified edge store foundation
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/graph/__init__.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(graph): keep edge store writes in cache transaction
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(codegraph): mark real-project callers lookup slow
  tests/unit/test_callers_callees_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(graph): add unified edge store foundation
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/graph/__init__.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(graph): read codegraph relations from edge store
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/class_hierarchy.py
  tree_sitter_analyzer/graph/__init__.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(graph): preserve resolved call metadata in edge store
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tests/unit/test_edge_store.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/graph/edge_store.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(graph): avoid full-repo scan in cache reset tests
  tests/unit/test_callers_callees_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(graph): keep relation format tests focused
  tests/unit/test_callers_callees_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(graph): use tiny projects for relation smoke tests
  tests/unit/test_callers_callees_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(graph): keep sitemap CLI smoke focused
  tests/unit/test_codegraph_sitemap.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(graph): keep read-path CI checks focused
  tests/unit/test_codegraph_callees_tool.py
  tests/unit/test_codegraph_visualize_tool.py
  tests/unit/test_edge_store.py
  tests/unit/test_temporal_change_impact.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(graph): normalize sitemap cache paths
  tests/unit/test_codegraph_sitemap.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(graph): read codegraph relations from edge store
  tests/unit/test_callers_callees_tools.py
  tests/unit/test_codegraph_callees_tool.py
  tests/unit/test_codegraph_class_hierarchy_tool.py
  tests/unit/test_codegraph_sitemap.py
  tests/unit/test_codegraph_visualize_tool.py
  tests/unit/test_edge_store.py
  tests/unit/test_temporal_change_impact.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/class_hierarchy.py
  tree_sitter_analyzer/graph/__init__.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(graph): resolve unresolved cross-file refs
  tests/unit/test_unresolved_refs.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/utils/auto_index_guard.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(graph): resolve unresolved cross-file refs (#253)
  tests/unit/test_unresolved_refs.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_unresolved.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/utils/auto_index_guard.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(mcp): use EdgeStore in codegraph_context + strengthen agent instructions
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): parallel indexing optimizations (#250)
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(search): parameterize cascade SQL queries for bandit
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: update uv.lock
  uv.lock
Due: none

feat(codegraph): finish EdgeStore context and cascade search
  tests/unit/test_ast_cache.py
  tests/unit/test_ast_cache_cascade_search.py
  tests/unit/test_codegraph_context_tool.py
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_search.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/_server_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_context_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: prepare release v1.19.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: sync lockfile for v1.19.0
  uv.lock
Due: none

docs: sync README stats — 255 CLI flags, 17434 tests (3 locales)
  README.md
  README_ja.md
  README_zh.md
Due: none

docs: flag CLAUDE.md rules 8/9 mycelium commands as outdated
  CLAUDE.md
Due: none
