Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat(docs): auto-generated facade action parameter reference with CI drift ratchet (#519)
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  scripts/generate_facade_actions_doc.py
  tests/unit/docs/test_facade_actions_doc_drift.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0016 — semantic symbol search via sqlite-vec (#517, draft)
  rfcs/0016-semantic-symbol-search.md
  rfcs/README.md
Due: none

feat(docs): agent envelope-contract guide with drift test (#520) (#600)
  docs/CODEMAPS/mcp-tools.md
  docs/agent-envelope-contract.md
  docs/toon-format-guide.md
  tests/integration/docs/test_agent_envelope_contract_doc.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(facade-actions): conditional requirements for search.query — Codex P2
  docs/api/facade-actions.md
  scripts/generate_facade_actions_doc.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): RFC-0016 revision 2 — adversarial panel round 1 absorbed
  rfcs/0016-semantic-symbol-search.md
Due: none

feat(docs): auto-generated facade action parameter reference with CI drift ratchet (#602)
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  scripts/generate_facade_actions_doc.py
  tests/unit/docs/test_facade_actions_doc_drift.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): pin cosine metric requirement for phase-2 vec0 — Codex P2
  rfcs/0016-semantic-symbol-search.md
Due: none

docs(rfc): RFC-0016 — semantic symbol search via sqlite-vec (draft) (#603)
  rfcs/0016-semantic-symbol-search.md
  rfcs/README.md
Due: none

test: ratchet batch-16 — pin 44 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/formatters/test_formatters_comprehensive.py
  tests/unit/languages/test_css_plugin_enhanced_features.py
  tests/unit/languages/test_yaml_plugin_structure.py
  tests/unit/test_ast_diff.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(search): FTS5 porter stemming — dispatching matches dispatch (#604)
  tests/unit/test_fts_porter_stemming.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-16 — pin 44 loose assertions in top-4 AST-ranked files (#605)
  scripts/loose_assertion_baseline.txt
  tests/unit/formatters/test_formatters_comprehensive.py
  tests/unit/languages/test_css_plugin_enhanced_features.py
  tests/unit/languages/test_yaml_plugin_structure.py
  tests/unit/test_ast_diff.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: tracking reference on the FTS5 skipif — Codex P2
  tests/unit/test_fts_porter_stemming.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(search): FTS5 porter stemming — dispatching matches dispatch (#606)
  tests/unit/test_fts_porter_stemming.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-17 — pin 41 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/core/test_analyze_scale_tool_file_output.py
  tests/unit/core/test_query_loader.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_unreachable_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(search): cascade re-sort dropped test-file demotion — test demotion protects conceptual queries (#607)
  tests/unit/test_ast_cache_cascade_search.py
  tests/unit/test_symbol_search_conceptual_demotion.py
  tree_sitter_analyzer/_ast_cache_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-17 — pin 41 loose assertions in top-4 AST-ranked files (#608)
  scripts/loose_assertion_baseline.txt
  tests/integration/core/test_analyze_scale_tool_file_output.py
  tests/unit/core/test_query_loader.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_unreachable_code.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(search): cascade re-sort dropped test-file demotion — test demotion protects conceptual queries (#607) (#609)
  tests/unit/test_ast_cache_cascade_search.py
  tests/unit/test_symbol_search_conceptual_demotion.py
  tree_sitter_analyzer/_ast_cache_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-18 — pin 40 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/grammar_coverage/test_corpus_generator.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/languages/test_css_plugin.py
  tests/unit/languages/test_java_query_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: ratchet batch-18 — pin 40 loose assertions in top-4 AST-ranked files (#611)
  scripts/loose_assertion_baseline.txt
  tests/unit/grammar_coverage/test_corpus_generator.py
  tests/unit/grammar_coverage/test_introspector.py
  tests/unit/languages/test_css_plugin.py
  tests/unit/languages/test_java_query_validation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): module-level constants indexed as symbols (#610)
  tests/unit/test_ast_extraction.py
  tests/unit/test_status_kind_language_breakdown.py
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): module-level constants indexed as symbols (#610) (#612)
  tests/unit/test_ast_extraction.py
  tests/unit/test_status_kind_language_breakdown.py
  tests/unit/test_symbol_resolver.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/codegraph_query_backend.py
  tree_sitter_analyzer/symbol_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): Go package-level constants indexed as symbols (#613)
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-19 — pin 36 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/grammar_coverage/test_auto_discovery.py
  tests/unit/languages/test_html_plugin_tags_attrs.py
  tests/unit/languages/test_php_plugin.py
  tests/unit/languages/test_swift_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): Go package-level constants indexed as symbols (#613) (#615)
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-19 — pin 36 loose assertions in top-4 AST-ranked files (#616)
  scripts/loose_assertion_baseline.txt
  tests/unit/grammar_coverage/test_auto_discovery.py
  tests/unit/languages/test_html_plugin_tags_attrs.py
  tests/unit/languages/test_php_plugin.py
  tests/unit/languages/test_swift_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): Rust const/static items indexed as symbols (#613)
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(php): use statements extracted as imports (#617)
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/plugins/php.json
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(rust): block-local and anonymous consts excluded — Codex P2s
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(php): cover use-clause guard branches — codecov
  tests/unit/languages/test_php_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): Rust const/static items indexed as symbols (#618)
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(php): use statements extracted as imports (#619)
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/plugins/php.json
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/languages/test_php_plugin.py
  tree_sitter_analyzer/languages/php_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-20 — pin 36 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_advanced_summary_structure.py
  tests/integration/cli/test_cli_core.py
  tests/integration/mcp/test_tools/test_analyze_scale_tool.py
  tests/unit/core/test_queries_java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(index): docstring/return_type/params serialized into symbols_json (#614)
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-20 — pin 36 loose assertions in top-4 AST-ranked files (#620)
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_advanced_summary_structure.py
  tests/integration/cli/test_cli_core.py
  tests/integration/mcp/test_tools/test_analyze_scale_tool.py
  tests/unit/core/test_queries_java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(index): drop FTS docstring column — pilot showed no net gain
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_cache_query.py
  tree_sitter_analyzer/_ast_cache_schema.py
  tree_sitter_analyzer/_ast_cache_write.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): concatenated-string docstrings + TS annotation prefix — Codex P2s
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_extraction.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): docstring/return_type/params serialized into symbols_json (#621)
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/_ast_cache_indexer.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: ratchet batch-21 — pin 36 loose assertions in top-4 AST-ranked files
  scripts/loose_assertion_baseline.txt
  tests/unit/core/test_queries_javascript_extended.py
  tests/unit/core/test_queries_python.py
  tests/unit/core/test_queries_typescript_extended.py
  tests/unit/formatters/test_javascript_formatter_robustness.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(rfc): RFC-0016 rejected — embedding pilot NO-GO at deployment scale
  rfcs/0016-semantic-symbol-search.md
  rfcs/README.md
Due: none

docs(rfc): RFC-0016 rejected — embedding pilot NO-GO at deployment scale (#623)
  rfcs/0016-semantic-symbol-search.md
  rfcs/README.md
Due: none

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
