Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(ux): surface root causes for 4 latent discoverability issues
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add coverage for hierarchy hint, grammar-only success, and dir guard
  tests/unit/cli/test_structure_command.py
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: remove unused clean_phase variable (Ruff F841)
  tests/unit/test_codegraph_full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(cli): clear errors for --structure dir + empty-index sitemap hint (#1348)
  tests/unit/cli/test_structure_command.py
  tests/unit/test_codegraph_full_index_tool.py
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/cli/argument_groups/_advanced.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/base_command.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_sitemap_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(java): migrate traversal to Cursor API and expand Java 8-17+ coverage
  tests/unit/languages/test_java_plugin.py
  tests/unit/languages/test_java_treewalk.py
  tree_sitter_analyzer/grammar_coverage/corpora/java.py
  tree_sitter_analyzer/languages/_java_ast.py
  tree_sitter_analyzer/languages/_java_element.py
  tree_sitter_analyzer/languages/_java_import.py
  tree_sitter_analyzer/languages/_java_traversal.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(java): resolve CI failures — Ruff I001, MyPy types, weak assertions, GITFLOW
  tests/unit/languages/test_java_treewalk.py
  tree_sitter_analyzer/languages/java_helpers.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(index): WAL snapshot capture, partial certification, and Windows parity
  tests/unit/test_ast_cache_index_mixin.py
  tests/unit/test_cache_write.py
  tests/unit/test_file_watcher.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_registry.py
  tests/unit/test_index_status_response.py
  tree_sitter_analyzer/_ast_cache_database_mixin.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/cache/indexer_io.py
  tree_sitter_analyzer/cache/schema.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/index_lag.py
  tree_sitter_analyzer/index_snapshot.py
  tree_sitter_analyzer/index_snapshot_registry.py
  tree_sitter_analyzer/index_status_response.py
  tree_sitter_analyzer/indexing_candidate_materialization.py
  tree_sitter_analyzer/mcp/tools/constraint_index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): resolve Ruff I001/F841/B904, MyPy Any, weak-assertion ratchet
  tests/unit/test_cache_write.py
  tests/unit/test_incremental_sync.py
  tests/unit/test_index_snapshot.py
  tests/unit/test_index_snapshot_registry.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/file_watcher.py
  tree_sitter_analyzer/index_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): stamp certified_at in insert_index_row and wire _flush_pending_activations
  tests/unit/test_temporal_activation.py
  tree_sitter_analyzer/_ast_cache_index_mixin.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/indexer_io.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(nervous-system): add Pulse API, Hyphae++ DSL, vector search, LSP enrichment
  tests/unit/test_call_graph_ast_a.py
  tree_sitter_analyzer/_ast_cache_database_mixin.py
  tree_sitter_analyzer/api/__init__.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/semantic.py
  tree_sitter_analyzer/api/serialization.py
  tree_sitter_analyzer/cache/schema.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/embeddings/__init__.py
  tree_sitter_analyzer/embeddings/pipeline.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/hyphae/ast.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/hyphae/lexer.py
  tree_sitter_analyzer/hyphae/parser.py
  tree_sitter_analyzer/lsp/__init__.py
  tree_sitter_analyzer/lsp/client.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_tool.py
  tree_sitter_analyzer/mcp/tools/tql_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): resolve Ruff/Bandit/MyPy/NativeQualification CI failures
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/qualify_native_install.py
  tree_sitter_analyzer/api/__init__.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/serialization.py
  tree_sitter_analyzer/embeddings/pipeline.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/lsp/client.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(types): resolve MyPy strict-mode errors in nervous-system additions
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/embeddings/pipeline.py
  tree_sitter_analyzer/mcp/tools/pulse_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_tool.py
  tree_sitter_analyzer/mcp/tools/tql_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(ci): add 6 new MCP tools to native_mcp_probe.py TOOLS list
  scripts/native_mcp_probe.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(review): address Codex P1 issues from nervous-system PR review
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/embeddings/pipeline.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/hyphae/parser.py
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): revert TOOLS list bump; fix snapshot migration version stamp
  rfcs/schemas/no1-006a-native-attestation-v1.schema.json
  scripts/native_mcp_probe.py
  scripts/qualify_native_install.py
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): route 6 nervous-system tools through facades, not top-level
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/api/facade-actions.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tree_sitter_analyzer/cli/argument_groups/_analysis.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_pulse.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(review): re-pin claim registry safe-spans for 338->344 CLI flags
  benchmarks/codegraph_compare/readme_claim_scanner.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(coverage): backfill unit tests for PR #1352 nervous-system modules (Plan B)
  tests/unit/api/__init__.py
  tests/unit/api/test_pulse.py
  tests/unit/api/test_semantic.py
  tests/unit/conftest.py
  tests/unit/embeddings/__init__.py
  tests/unit/embeddings/test_pipeline.py
  tests/unit/hyphae/test_evaluator.py
  tests/unit/hyphae/test_lexer_parser.py
  tests/unit/lsp/__init__.py
  tests/unit/lsp/test_client.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/tools/__init__.py
  tests/unit/mcp/tools/test_pulse_tool.py
  tests/unit/mcp/tools/test_semantic_tool.py
  tests/unit/mcp/tools/test_tql_tool.py
  tree_sitter_analyzer/embeddings/pipeline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): resolve CI lint and weak-assertion failures in coverage backfill
  tests/unit/api/test_pulse.py
  tests/unit/api/test_semantic.py
  tests/unit/conftest.py
  tests/unit/embeddings/test_pipeline.py
  tests/unit/hyphae/test_evaluator.py
  tests/unit/lsp/test_client.py
  tests/unit/mcp/tools/test_pulse_tool.py
  tests/unit/mcp/tools/test_semantic_tool.py
  tests/unit/mcp/tools/test_tql_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): fix 3 CI failures in unit test infrastructure
  tests/unit/conftest.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/tools/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): fix 3 remaining CI test failures
  tests/unit/conftest.py
  tests/unit/lsp/test_client.py
  tests/unit/mcp/tools/test_pulse_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): tolerate cross-version import rows, wire cache maintenance, unify sqlite busy timeouts
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/fingerprint.py
  tree_sitter_analyzer/graph/edge_store.py
  tree_sitter_analyzer/mcp/tools/constraint_check_tool.py
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/constraint_violation_query.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: add comment language rule to AGENTS.md (Chinese for new/modified comments)
  AGENTS.md
Due: none

chore(release): prepare v1.29.1 (sync [tool.mcp] server_version)
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): fix 4 new CI failures (reserved word, BFS SQL, abs path)
  tests/unit/lsp/test_client.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/hyphae/evaluator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): respect shared-cache lifecycle in full-index maintenance wiring
  tree_sitter_analyzer/mcp/tools/full_index_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): ast_diff mutation hardening — survival 238->64, harness sandbox fix
  BLOCKED.md
  CHANGELOG.md
  pyproject.toml
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  tests/unit/test_ast_diff_scenarios.py
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): round-2 mutation hardening + ratchet base-lineage fix
  BLOCKED.md
  CHANGELOG.md
  pyproject.toml
  scripts/check_loose_assertions.py
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tests/unit/test_semantic_change_scenarios.py
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: round-3 mutation hardening + two real bug fixes (test-path, refs order)
  BLOCKED.md
  CHANGELOG.md
  pyproject.toml
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  tests/unit/mcp/test_query_symbol_search_scenarios.py
  tests/unit/test_semantic_change_scenarios.py
  tree_sitter_analyzer/__init__.py
  tree_sitter_analyzer/mcp/tools/query_symbol_search.py
  tree_sitter_analyzer/semantic_change_classifier.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): normalize path separators in collector scenario (windows)
  tests/unit/mcp/test_query_symbol_search_scenarios.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): make output_format default assertion lineage-portable (toon/json)
  tests/unit/mcp/test_query_symbol_search_scenarios.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): distinguish slow-machine stalls from SOURCE_CHANGED (#1364)
  tests/unit/test_index_snapshot_schema.py
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): read deadline env defensively (PortableOS stub has no environ)
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
