Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs(rfc): RFC-0013 — facade dropped-parameter visibility (draft)
  rfcs/0013-facade-dropped-param-visibility.md
Due: none

fix(mcp): list_files honors the 'path' alias instead of listing the whole project (#399)
  tests/unit/mcp/test_list_files_tool_init_and_def.py
  tests/unit/mcp/tools/test_list_files_path_alias.py
  tree_sitter_analyzer/mcp/tools/list_files_helpers.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(claude): codify 4 subagent engineering principles in Agent Comms
  CLAUDE.md
Due: none

docs(claude): codify 4 subagent engineering principles in Agent Comms (#401)
  CLAUDE.md
Due: none

docs(readme): de-virtue pass — fix broken anchors, stale count, TOON/superlative overclaims
  README.md
Due: none

docs(readme): de-virtue pass — fix broken anchors, stale count, TOON/superlative overclaims (#402)
  README.md
Due: none

fix(mcp): mirror top-level next_step into agent_summary (batch B)
  tests/unit/mcp/test_error_recovery_coverage.py
  tree_sitter_analyzer/mcp/server_utils/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): mirror top-level next_step into agent_summary (batch B) (#403)
  tests/unit/mcp/test_error_recovery_coverage.py
  tree_sitter_analyzer/mcp/server_utils/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cap impact caller/callee lists to bound payload (nav-08)
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cap impact caller/callee lists to bound payload (nav-08) (#404)
  tests/unit/test_codegraph_impact_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): classify defaults to classify_file when given a file_path (edit-10)
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): classify defaults to classify_file when given a file_path (edit-10) (#405)
  tests/unit/test_semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/edit_facade.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cap navigate call-hierarchy lists to bound payload (nav-08b)
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cap navigate call-hierarchy lists to bound payload (nav-08b) (#406)
  tests/unit/test_codegraph_navigate_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_navigate_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): analyze emits canonical INFO verdict, not off-ladder 'n/a' (structure-07)
  tests/unit/mcp/test_analyze_code_structure_tool_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): analyze emits canonical INFO verdict, not off-ladder 'n/a' (structure-07) (#407)
  tests/unit/mcp/test_analyze_code_structure_tool_helpers.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): explore accepts symbol alias + surfaces next_step (structure-03/06)
  tests/unit/test_codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): explore accepts symbol alias + surfaces next_step (structure-03/06) (#408)
  tests/unit/test_codegraph_explore_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_explore_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cache search no-match message + query-default mode (index-05/10)
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): cache search no-match message + query-default mode (index-05/10) (#409)
  tests/unit/test_ast_cache_tool.py
  tree_sitter_analyzer/mcp/tools/ast_cache_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): test_gap defaults to TOON like every other MCP tool (health-03)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): test_gap defaults to TOON like every other MCP tool (health-03) (#410)
  tests/unit/test_test_gap_tool.py
  tree_sitter_analyzer/mcp/tools/test_gap_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): deps accepts 'blast' as alias for 'blast_radius' (health-02)
  tests/unit/mcp/test_dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): deps accepts 'blast' as alias for 'blast_radius' (health-02) (#411)
  tests/unit/mcp/test_dependency_analysis_tool.py
  tree_sitter_analyzer/mcp/tools/dependency_analysis_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): dead_code emits an actionable next_step (health-10)
  tests/unit/test_codegraph_exclusive_tools.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): dead_code emits an actionable next_step (health-10) (#412)
  tests/unit/test_codegraph_exclusive_tools.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): symbol search exposes canonical 'count' key (search-06)
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(mcp): symbol search exposes canonical 'count' key (search-06) (#413)
  tests/unit/test_symbol_search_tool.py
  tree_sitter_analyzer/mcp/tools/symbol_search_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): stop masking unparseable-language parse failures as empty-success
  tests/unit/mcp/test_structure_unparseable_language.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): raise RuntimeError on parse failure + boundary-level test
  tests/unit/mcp/test_structure_unparseable_language.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scale): honor parse-failure on Java paths of scale/universal analyze tools
  tests/unit/mcp/test_scale_tools_honest_parse_failure.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(structure): stop masking unparseable-language failures as empty-success (Theme D) (#414)
  tests/unit/mcp/test_structure_unparseable_language.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
  tree_sitter_analyzer/mcp/tools/get_code_outline_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scale): honor parse-failure on Java paths of scale/universal analyze tools (#415)
  tests/unit/mcp/test_scale_tools_honest_parse_failure.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/universal_analyze_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(bash): wire Bash language support end-to-end
  pyproject.toml
  tests/unit/cli/test_info_commands.py
  tests/unit/test_bash_language_wiring.py
  tests/unit/test_lang_extension_map.py
  tree_sitter_analyzer/_lang_extension_map.py
  tree_sitter_analyzer/file_handler.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(bash): review fixes — all-languages extras entry + lower-bound assertion
  pyproject.toml
  tests/unit/test_bash_language_wiring.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

feat(bash): wire Bash language support end-to-end (#416)
  pyproject.toml
  tests/unit/cli/test_info_commands.py
  tests/unit/test_bash_language_wiring.py
  tests/unit/test_lang_extension_map.py
  tree_sitter_analyzer/_lang_extension_map.py
  tree_sitter_analyzer/file_handler.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(java): extract record and annotation-type declarations (Theme I)
  tests/unit/languages/test_java_record_annotation_extraction.py
  tree_sitter_analyzer/languages/_java_element_helpers.py
  tree_sitter_analyzer/languages/_java_traversal_helpers.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(scala): wire Scala language support end-to-end
  pyproject.toml
  tests/unit/cli/test_info_commands.py
  tests/unit/mcp/test_structure_unparseable_language.py
  tests/unit/test_lang_extension_map.py
  tests/unit/test_scala_language_wiring.py
  tree_sitter_analyzer/_lang_extension_map.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/language_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(scala): review fixes — extras entry, .sc pin test, loop-closure note
  pyproject.toml
  tests/unit/mcp/test_structure_unparseable_language.py
  tests/unit/test_scala_language_wiring.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

feat(java): extract record and annotation-type declarations (Theme I) (#418)
  tests/unit/languages/test_java_record_annotation_extraction.py
  tree_sitter_analyzer/languages/_java_element_helpers.py
  tree_sitter_analyzer/languages/_java_traversal_helpers.py
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
