Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

test(e2e): warm index before measuring project_health latency (kill order-dependent flake) (#1105)
  tests/e2e/test_mcp_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat(dead-code): add path scoping to health action=dead (#1084) (#1104)
  README.md
  README_ja.md
  README_zh.md
  docs/api/facade-actions.md
  tests/unit/mcp/tools/test_dead_code_counts_consistency.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/dead_code_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): resolve Windows CI failures in parallel test runs
  pytest.ini
  tests/unit/languages/test_swift_golden_master.py
  tests/unit/mcp/tools/test_r37as_docstring_comment_suppression.py
  tests/unit/test_check_loose_assertions.py
  tests/unit/test_temporal_change_impact.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(architecture): add facade contract layer and governance ratchet (queue 3)
  tests/FACADE_CONTRACTS.md
  tests/unit/mcp/test_facade_contract_governance.py
  tests/unit/mcp/test_facade_envelope_contract.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/mcp/tools/test_facade_tool.py
  tests/unit/mcp/tools/test_health_facade.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_nav_facade.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tests/unit/mcp/tools/test_project_facade.py
  tests/unit/mcp/tools/test_structure_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tests/unit/mcp/tools/test_viz_facade_uml_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(formatters): simplify helper graph in integration suite
  tests/AI_TEST_AUDIT.md
  tests/FORMATTER_HELPER_AUDIT.md
  tests/integration/formatters/_comprehensive_suite_data.py
  tests/integration/formatters/_comprehensive_suite_phase_cases.py
  tests/integration/formatters/_comprehensive_suite_phases.py
  tests/integration/formatters/_comprehensive_suite_runner.py
  tests/integration/formatters/_content_aware_validator.py
  tests/integration/formatters/_enhanced_assertions_assert_mixin.py
  tests/integration/formatters/_format_contract_assertion_helpers.py
  tests/integration/formatters/_format_contract_info_helpers.py
  tests/integration/formatters/_format_contract_tests_data.py
  tests/integration/formatters/_format_contract_tests_helpers.py
  tests/integration/formatters/_format_contract_validator_helpers.py
  tests/integration/formatters/_semantic_format_parser.py
  tests/integration/formatters/_semantic_format_rules.py
  tests/integration/formatters/_semantic_format_validator.py
  tests/integration/formatters/_semantic_relationship_validator.py
  tests/integration/formatters/_specification_compliance_tests_csv_mixin.py
  tests/integration/formatters/_specification_compliance_tests_fixtures.py
  tests/integration/formatters/_specification_compliance_tests_full_mixin.py
  tests/integration/formatters/_specification_compliance_tests_helpers.py
  tests/integration/formatters/_structural_format_validator.py
  tests/integration/formatters/_test_data_manager_io.py
  tests/integration/formatters/_test_data_manager_repository_io.py
  tests/integration/formatters/_test_data_manager_schema.py
  tests/integration/formatters/_test_data_manager_templates.py
  tests/integration/formatters/comprehensive_test_suite.py
  tests/integration/formatters/enhanced_assertions.py
  tests/integration/formatters/format_contract_tests.py
  tests/integration/formatters/specification_compliance_tests.py
  tests/integration/formatters/test_data_manager.py
  tests/integration/formatters/test_real_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(formatters): resolve ruff import/order regressions in queue5 files
  tests/integration/formatters/_comprehensive_suite_phases.py
  tests/integration/formatters/comprehensive_test_suite.py
  tests/integration/formatters/format_contract_tests.py
  tests/integration/formatters/specification_compliance_tests.py
  tests/unit/languages/test_sql_plugin_branches.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: sort imports in nav facade test for Ruff
  tests/unit/mcp/tools/test_nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: stabilize PR fast test suite
  pytest.ini
  tests/unit/cli/test_argument_parser_builder_ratchet.py
  tests/unit/cli/test_cli_input_robustness.py
  tests/unit/cli/test_cli_package.py
  tests/unit/cli/test_n1_case_resolution.py
  tests/unit/cli/test_subcommand_format_alias.py
  tree_sitter_analyzer/ast_path.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: stabilize PR fast metrics and imports
  tests/unit/core/test_manager.py
  tests/unit/mcp/test_server_edge_cases.py
  tests/unit/mcp/test_utils/test_file_metrics.py
  tests/unit/utils/test_utils_extended.py
  tree_sitter_analyzer/languages/python_plugin/_import_helpers.py
  tree_sitter_analyzer/mcp/utils/file_metrics.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: extend health stderr timeout
  tests/e2e/test_mcp_smoke.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: align file metric expectations
  tests/integration/core/test_analyze_scale_tool_file_output.py
  tests/integration/mcp/test_tools/test_analyze_scale_tool.py
  tests/unit/mcp/test_server_comprehensive_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: keep callers tool unit tests focused
  tests/unit/test_callers_callees_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: avoid fixed extension count in envelope check
  tests/unit/cli/test_info_commands.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: address codex review follow-ups for PR 1106
  .github/workflows/claude-review.yml
  docs/CODEMAPS/formatters.md
  tests/governance/test_ci_routing_contract.py
  tests/unit/formatters/test_typescript_formatter_core.py
  tests/unit/test_complexity_heatmap.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/complexity_heatmap.py
  tree_sitter_analyzer/formatters/_typescript_formatter_full.py
  tree_sitter_analyzer/health_scorer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve pr-review branch base
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_codegraph_pr_review_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/tools/codegraph_pr_review_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve pr-review branch base (#1109)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  tests/unit/cli/test_argument_parser_builder_integration.py
  tests/unit/mcp/tools/test_edit_facade.py
  tests/unit/test_codegraph_pr_review_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_graph_nav.py
  tree_sitter_analyzer/mcp/tools/codegraph_pr_review_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf(mcp): drop duplicate 'results' array from trace_impact (RFC-0018 R10) (#1078)
  tests/unit/mcp/test_trace_no_duplicate_results_array.py
  tree_sitter_analyzer/mcp/tools/trace_impact_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): add sigma graph payload export
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  tests/unit/cli/test_uml_export_cli_contract.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(viz): add sigma graph payload export (#1110)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  tests/unit/cli/test_uml_export_cli_contract.py
  tests/unit/test_codegraph_visualize_tool.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/mcp/tools/codegraph_visualize_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): prepare v1.26.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(mcp): restore utils package attrs after fallback import
  tests/unit/mcp/test_mcp_utils_init.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add optional Ladybug knowledge graph
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/knowledge-graph.md
  pyproject.toml
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tests/unit/test_knowledge_graph.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/knowledge_graph/__init__.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/models.py
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover knowledge graph patch lines
  tests/unit/test_knowledge_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add Ladybug knowledge graph indexing
  docs/api/facade-actions.md
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/test_knowledge_graph.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/knowledge_graph/__init__.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/models.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_index_tool.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add optional Ladybug knowledge graph (#1113)
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/knowledge-graph.md
  pyproject.toml
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/tools/test_index_facade.py
  tests/unit/mcp/tools/test_viz_facade.py
  tests/unit/test_knowledge_graph.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/knowledge_graph/__init__.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/models.py
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/index_facade.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
  tree_sitter_analyzer/mcp/tools/viz_facade.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): prepare v1.27.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add knowledge graph html viewer
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/knowledge-graph.md
  tests/unit/test_knowledge_graph.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): prepare v1.28.0
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover knowledge graph merge paths
  tests/unit/test_knowledge_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: export knowledge graph UML views
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/knowledge-graph.md
  tests/unit/test_knowledge_graph_uml.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: cover knowledge graph UML branches
  tests/unit/test_knowledge_graph_uml.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add LadybugDB graph studio
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/api/knowledge-graph.md
  docs/knowledge-graph-scale-benchmark.md
  scripts/README.md
  scripts/benchmark_java_corpus_end_to_end.py
  scripts/benchmark_knowledge_graph_scale.py
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_knowledge_graph_uml.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/knowledge_graph/ladybug_query.py
  tree_sitter_analyzer/knowledge_graph/query.py
  tree_sitter_analyzer/knowledge_graph/server.py
  tree_sitter_analyzer/knowledge_graph/static/app.css
  tree_sitter_analyzer/knowledge_graph/static/app.js
  tree_sitter_analyzer/knowledge_graph/static/index.html
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: stabilize knowledge graph mtime checks
  tests/unit/test_knowledge_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: preserve class UML relationships
  tests/unit/test_knowledge_graph_uml.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: skip Claude review without auth token
  .github/workflows/claude-review.yml
Due: check-yaml-local

perf(mcp): omit empty agent_next_action guidance fields
  tests/unit/mcp/test_file_health_tool.py
  tests/unit/mcp/test_omit_empty_guidance_fields.py
  tree_sitter_analyzer/mcp/tools/file_health_tool.py
  tree_sitter_analyzer/mcp/tools/utils/file_health_response.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add LadybugDB Graph Studio
  .github/workflows/claude-review.yml
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/api/facade-actions.md
  docs/api/knowledge-graph.md
  docs/knowledge-graph-scale-benchmark.md
  scripts/README.md
  scripts/benchmark_java_corpus_end_to_end.py
  scripts/benchmark_knowledge_graph_scale.py
  tests/unit/cli/test_codegraph_index_commands.py
  tests/unit/test_knowledge_graph.py
  tests/unit/test_knowledge_graph_uml.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/argument_groups/_mcp.py
  tree_sitter_analyzer/cli/commands/codegraph_index_commands.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_extended.py
  tree_sitter_analyzer/cli/special_commands.py
  tree_sitter_analyzer/knowledge_graph/builder.py
  tree_sitter_analyzer/knowledge_graph/exporters.py
  tree_sitter_analyzer/knowledge_graph/html_viewer.py
  tree_sitter_analyzer/knowledge_graph/ladybug_query.py
  tree_sitter_analyzer/knowledge_graph/query.py
  tree_sitter_analyzer/knowledge_graph/server.py
  tree_sitter_analyzer/knowledge_graph/static/app.css
  tree_sitter_analyzer/knowledge_graph/static/app.js
  tree_sitter_analyzer/knowledge_graph/static/index.html
  tree_sitter_analyzer/knowledge_graph/stores.py
  tree_sitter_analyzer/mcp/tools/knowledge_graph_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
