Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

refactor: remove duplicate_condition analyzer (ESLint no-dupe-else-if + SonarQBE S1862 cover it)
  findings.md
  progress.md
  tests/unit/analysis/test_duplicate_condition.py
  tree_sitter_analyzer/analysis/duplicate_condition.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/duplicate_condition_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Exception Signature Analyzer (1-in-1-out with duplicate_condition)
  findings.md
  progress.md
  tests/unit/analysis/test_exception_signature.py
  tree_sitter_analyzer/analysis/exception_signature.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/exception_signature_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: remove unclosed_file analyzer (Ruff SIM115 + SonarQBE S2765 + Pylint R1732 cover it)
  findings.md
  progress.md
  tests/unit/analysis/test_unclosed_file.py
  tree_sitter_analyzer/analysis/unclosed_file.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/unclosed_file_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Temporal Coupling Detector (1-in-1-out with constant_bool_operand)
  findings.md
  tests/unit/analysis/test_analysis_engine_deep.py
  tests/unit/analysis/test_constant_bool_operand.py
  tests/unit/analysis/test_design_patterns.py
  tests/unit/analysis/test_temporal_coupling.py
  tree_sitter_analyzer/analysis/constant_bool_operand.py
  tree_sitter_analyzer/analysis/temporal_coupling.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/temporal_coupling_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: remove 4 competitor-covered analyzers (redundant_else, assignment_in_conditional, variable_shadowing, empty_block)
  findings.md
  progress.md
  tests/unit/analysis/test_assignment_in_conditional.py
  tests/unit/analysis/test_empty_block.py
  tests/unit/analysis/test_redundant_else.py
  tests/unit/analysis/test_variable_shadowing.py
  tree_sitter_analyzer/analysis/assignment_in_conditional.py
  tree_sitter_analyzer/analysis/empty_block.py
  tree_sitter_analyzer/analysis/redundant_else.py
  tree_sitter_analyzer/analysis/variable_shadowing.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/assignment_in_conditional_tool.py
  tree_sitter_analyzer/mcp/tools/empty_block_tool.py
  tree_sitter_analyzer/mcp/tools/redundant_else_tool.py
  tree_sitter_analyzer/mcp/tools/variable_shadowing_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: remove boolean_complexity analyzer (subsumed by cognitive_complexity)
  findings.md
  tests/unit/analysis/test_boolean_complexity.py
  tree_sitter_analyzer/analysis/boolean_complexity.py
  tree_sitter_analyzer/mcp/tool_registration/_analysis.py
  tree_sitter_analyzer/mcp/tools/boolean_complexity_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Encapsulation Break Detector (1-in-1-out with iterable_modification)
  tests/unit/analysis/test_encapsulation_break.py
  tests/unit/analysis/test_iterable_modification.py
  tests/unit/mcp/test_tools/test_boolean_complexity_tool.py
  tree_sitter_analyzer/analysis/encapsulation_break.py
  tree_sitter_analyzer/analysis/iterable_modification.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/encapsulation_break_tool.py
  tree_sitter_analyzer/mcp/tools/iterable_modification_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress and findings for Session 165
  findings.md
  progress.md
Due: none

feat: add Query Method Mutation Detector (1-in-1-out with redundant_type_cast)
  findings.md
  tests/unit/analysis/test_query_mutation.py
  tests/unit/analysis/test_redundant_type_cast.py
  tree_sitter_analyzer/analysis/query_mutation.py
  tree_sitter_analyzer/analysis/redundant_type_cast.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/query_mutation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress for Session 166 (Query Mutation Detector)
  progress.md
Due: none

docs: update progress for Session 166 refactoring sprint
  progress.md
Due: none

feat: add Silent Error Suppression Detector (1-in-1-out with java_patterns)
  findings.md
  tests/unit/analysis/test_java_patterns.py
  tests/unit/analysis/test_silent_suppression.py
  tests/unit/mcp/test_tools/test_java_patterns_tool.py
  tree_sitter_analyzer/analysis/java_patterns.py
  tree_sitter_analyzer/analysis/silent_suppression.py
  tree_sitter_analyzer/mcp/tool_registration/_analysis.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/java_patterns_tool.py
  tree_sitter_analyzer/mcp/tools/silent_suppression_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress for Session 167 (Silent Error Suppression Detector)
  progress.md
Due: none

feat: add Method Cohesion Detector (1-in-1-out with redundant_super)
  findings.md
  progress.md
  tests/unit/analysis/test_method_cohesion.py
  tests/unit/analysis/test_redundant_super.py
  tree_sitter_analyzer/analysis/method_cohesion.py
  tree_sitter_analyzer/analysis/redundant_super.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/method_cohesion_tool.py
  tree_sitter_analyzer/mcp/tools/redundant_super_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: resolve mypy type error in tool_registration _optimization.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add Abstraction Level Mixing Detector (1-in-1-out with nested_class)
  findings.md
  progress.md
  tests/unit/analysis/test_abstraction_level.py
  tests/unit/analysis/test_nested_class.py
  tree_sitter_analyzer/analysis/abstraction_level.py
  tree_sitter_analyzer/analysis/nested_class.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/abstraction_level_tool.py
  tree_sitter_analyzer/mcp/tools/nested_class_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress for Session 169 refactoring sprint
  progress.md
Due: none

fix: fix integration tests for sql_plugin package refactor and stale assertions
  findings.md
  tests/integration/cli/test_partial_reading.py
  tests/integration/languages/test_python_full_coverage.py
  tests/integration/platform/test_integration_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct golden corpus expected counts + revert wrong isinstance(result, dict) assertions
  findings.md
  tests/golden/corpus_python_expected.json
  tests/regression/test_format_regression.py
  tests/unit/analysis/test_context_optimizer.py
  tests/unit/analysis/test_encapsulation_break.py
  tests/unit/analysis/test_exception_signature.py
  tests/unit/analysis/test_finding_suppression.py
  tests/unit/analysis/test_llm_benchmark.py
  tests/unit/cache/test_incremental_cache.py
  tests/unit/core/test_analysis_engine.py
  tests/unit/core/test_core_engine_comprehensive.py
  tests/unit/core/test_file_handler.py
  tests/unit/formatters/test_sql_formatter_wrapper_coverage.py
  tests/unit/languages/test_kotlin_plugin_coverage.py
  tests/unit/languages/test_kotlin_plugin_final.py
  tests/unit/languages/test_kotlin_target_75.py
  tests/unit/languages/test_python_comprehensions.py
  tests/unit/languages/test_python_expressions.py
  tests/unit/languages/test_python_lambdas.py
  tests/unit/languages/test_sql_plugin.py
  tests/unit/languages/test_sql_plugin_comprehensive.py
  tests/unit/languages/test_typescript_plugin_edge_cases.py
  tests/unit/mcp/test_utils/test_shared_cache.py
  tests/unit/security/test_regex_checker.py
  tree_sitter_analyzer/analysis/__init__.py
  tree_sitter_analyzer/analysis/context_optimizer.py
  tree_sitter_analyzer/analysis/llm_benchmark.py
  tree_sitter_analyzer/analysis/neural_perception.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/context_optimizer_tool.py
  tree_sitter_analyzer/mcp/tools/finding_correlation_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: mark test_self_perception as slow (94s → skipped in CI)
  AUTONOMOUS.md
  tests/unit/analysis/test_neural_perception.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: consolidate silent_suppression into error_propagation, remove ghost java_patterns
  tests/unit/mcp/test_tool_registration.py
  tree_sitter_analyzer/mcp/registry.py
  tree_sitter_analyzer/mcp/tool_registration/_optimization.py
  tree_sitter_analyzer/mcp/tools/error_propagation_tool.py
  tree_sitter_analyzer/mcp/tools/silent_suppression_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: consolidate 94 test_fd_* into 38 parameterized tests (-3550 lines)
  tests/unit/mcp/test_mcp_fd_rg_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: parameterize fd/rg command builder tests (-660 lines)
  tests/unit/mcp/test_fd_rg_utils.py
  tests/unit/mcp/test_mcp_fd_rg_tools.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf: mark slow tests (design_patterns, performance, memory tests)
  tests/unit/core/test_core_engine_extended.py
  tests/unit/core/test_core_query_extended.py
  tests/unit/mcp/test_design_patterns_tool.py
  tests/unit/performance/test_async_performance.py
  tests/unit/performance/test_mcp_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: remove empty test_javascript_plugin_coverage_boost.py
  tests/unit/languages/test_javascript_plugin_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor: migrate unittest.TestCase to pytest, fix TODO items, boost coverage
  CLAUDE.md
  CONTEXT.md
  docs/agents/issue-tracker.md
  tests/integration/mcp/test_user_story_2_integration.py
  tests/integration/test_phase7_performance_integration.py
  tests/unit/cli/test_summary_command_coverage.py
  tests/unit/core/test_project_detector.py
  tests/unit/core/test_query_loader_coverage_supplement.py
  tests/unit/core/test_tree_sitter_compat_coverage.py
  tests/unit/formatters/test_java_formatter_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_supplement.py
  tests/unit/mcp/test_mcp_tools_path_resolution.py
  tests/unit/security/test_validator_coverage_supplement.py
  tests/unit/utils/test_logging_configuration.py
  tests/unit/utils/test_path_resolver_extended.py
  tests/unit/utils/test_utils_extended.py
  tree_sitter_analyzer/formatters/compat.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: improve engineering quality — dependency, concurrency, sql coverage
  tests/integration/mcp/test_user_story_2_integration.py
  tests/unit/cli/test_summary_command_coverage.py
  tests/unit/core/test_project_detector.py
  tests/unit/core/test_query_loader_coverage_supplement.py
  tests/unit/core/test_tree_sitter_compat_coverage.py
  tests/unit/formatters/test_java_formatter_coverage.py
  tests/unit/languages/test_markdown_plugin_coverage_supplement.py
  tests/unit/languages/test_sql_plugin_coverage_supplement.py
  tests/unit/mcp/test_mcp_tools_path_resolution.py
  tests/unit/security/test_validator_coverage_supplement.py
  tests/unit/utils/test_logging_configuration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: close 8-module test gap — add tests for untested core modules
  tests/unit/core/test_untested_modules.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: remove -n auto from pytest.ini + add real tree-sitter e2e tests
  pytest.ini
  tests/integration/test_real_treesitter_e2e.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: implement wiki-driven improvements — incremental parse + test mastery scanner
  scripts/test_mastery_scan.py
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

feat: DeepSeek TUI 全自动开发系统 — 对标 Claude Code 5层架构
  .autonomous-runtime/ds-automation.yaml
  .autonomous-runtime/findings.md
  .autonomous-runtime/loop.sh
  .autonomous-runtime/progress.md
  .autonomous-runtime/recovery-prompt.md
  .autonomous-runtime/status.sh
  .autonomous-runtime/task_plan.md
Due: check-yaml-local

docs: full skill integration — all 38 skills referenced in workflow
  .autonomous-runtime/ds-automation.yaml
  CLAUDE.md
Due: check-yaml-local

feat: Phase 8 property test gate — hypothesis coverage 9.3% → 10.1%
  tests/property/test_element_type_property_micro.py
  tests/property/test_phase8_property_boost.py
  tests/property/test_query_loader_idempotency.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Phase 8 — split test_csharp_plugin + calibrate gates
  scripts/test_mastery_scan.py
  tests/unit/languages/test_csharp_plugin_details.py
  tests/unit/languages/test_csharp_plugin_elements.py
  tests/unit/languages/test_csharp_plugin_extraction.py
  tests/unit/languages/test_csharp_plugin_integration.py
  tests/unit/languages/test_csharp_plugin_interface.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Phase 8 — tree_sitter_compat coverage 9%→66% + property 10.2%
  tests/property/test_encoding_micro.py
  tests/unit/utils/test_tree_sitter_compat_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: update findings — Phase 8 baseline, wiki injections, competitor checks
  .autonomous-runtime/findings.md
Due: none

test: boost coverage — newest API mock + markdown extractors
  tests/unit/languages/test_markdown_plugin_coverage_supplement.py
  tests/unit/utils/test_tree_sitter_compat_coverage_boost.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
