Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

docs(openspec): archive language-plugin-isolation-audit
  openspec/changes/archive/language-plugin-isolation-audit/APPLY_SUMMARY.md
  openspec/changes/archive/language-plugin-isolation-audit/ARCHIVE.md
  openspec/changes/archive/language-plugin-isolation-audit/IMPLEMENTATION.md
  openspec/changes/archive/language-plugin-isolation-audit/README.md
  openspec/changes/archive/language-plugin-isolation-audit/proposal.md
  openspec/changes/archive/language-plugin-isolation-audit/summary_report.md
  openspec/changes/archive/language-plugin-isolation-audit/tasks.md
  openspec/changes/archive/language-plugin-isolation-audit/verification_test.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.9.7: Update version and documentation
  CHANGELOG.md
  README.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

修正: Pythonインポート重複問題とテスト更新
  CHANGELOG.md
  test_output.md
  tests/golden_masters/csv/java_bigservice_csv.md
  tests/golden_masters/csv/java_sample_csv.md
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/golden_masters/full/golden_master_python_compact.md
  tests/golden_masters/full/golden_master_python_csv.md
  tests/golden_masters/full/golden_master_python_full.md
  tests/golden_masters/python_sample_full.txt
  tests/golden_masters/sql_sample_database_csv.txt
  tests/test_formatters/test_sql_formatters.py
  tree_sitter_analyzer/languages/python_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Update Golden Master files to reflect consistent method signatures across multiple languages
  tests/golden_masters/compact/java_bigservice_compact.md
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/javascript_class_compact.md
  tests/golden_masters/compact/python_sample_compact.md
  tests/golden_masters/compact/typescript_enum_compact.md
  tests/golden_masters/csv/java_bigservice_csv.md
  tests/golden_masters/csv/java_sample_csv.md
  tests/golden_masters/csv/javascript_class_csv.md
  tests/golden_masters/csv/python_sample_csv.md
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/golden_masters/full/java_bigservice_full.md
  tests/golden_masters/full/javascript_class_full.md
  tests/golden_masters/full/python_sample_full.md
  tests/golden_masters/full/typescript_enum_full.md
Due: none

Fix: Python import duplication and test updates
  tests/golden_masters/csv/sql_sample_database_csv.md
  tests/test_languages/test_sql_plugin_enhanced.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Release v1.9.8: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Add C# language support with golden master testing
  CHANGELOG.md
  README.md
  docs/ja/development/new-language-checklist.md
  examples/Sample.cs
  examples/SampleASPNET.cs
  examples/SampleAdvanced.cs
  openspec/changes/add-csharp-language-support/design.md
  openspec/changes/add-csharp-language-support/lessons-learned.md
  openspec/changes/add-csharp-language-support/proposal.md
  openspec/changes/add-csharp-language-support/specs/csharp-language-support/spec.md
  openspec/changes/add-csharp-language-support/tasks.md
  pyproject.toml
  scripts/check_all_languages.sh
  scripts/check_language_completeness.ps1
  scripts/check_language_completeness.sh
  scripts/generate_golden_masters.py
  tests/golden_masters/compact/csharp_sample_compact.md
  tests/golden_masters/csv/csharp_sample_csv.csv
  tests/golden_masters/full/csharp_sample_full.md
  tests/test_golden_master_regression.py
  tree_sitter_analyzer/formatters/csharp_formatter.py
  tree_sitter_analyzer/formatters/formatter_config.py
  tree_sitter_analyzer/formatters/language_formatter_factory.py
  tree_sitter_analyzer/language_loader.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/queries/csharp.py
  tree_sitter_analyzer/query_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Update README statistics (tests: )
  README.md
  README_ja.md
  README_zh.md
Due: none

fix: Add git pull --rebase before pushing updated format baselines
  .github/workflows/format-regression-testing.yml
Due: check-yaml-local

Release v1.9.9: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Add C# language support announcement to all README versions
  README.md
  README_ja.md
  README_zh.md
Due: none

feat: Add complete PHP and Ruby language support
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  examples/Sample.php
  examples/Sample.rb
  openspec/changes/add-php-ruby-language-support/design.md
  openspec/changes/add-php-ruby-language-support/proposal.md
  openspec/changes/add-php-ruby-language-support/specs/php-language-support/spec.md
  openspec/changes/add-php-ruby-language-support/specs/ruby-language-support/spec.md
  openspec/changes/add-php-ruby-language-support/tasks.md
  pyproject.toml
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/compact/ruby_sample_compact.md
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/csv/ruby_sample_csv.csv
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/ruby_sample_full.md
  tests/test_golden_master_regression.py
  tests/test_language_detector_extended.py
  tree_sitter_analyzer/formatters/formatter_config.py
  tree_sitter_analyzer/formatters/language_formatter_factory.py
  tree_sitter_analyzer/formatters/php_formatter.py
  tree_sitter_analyzer/formatters/ruby_formatter.py
  tree_sitter_analyzer/language_detector.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/queries/php.py
  tree_sitter_analyzer/queries/ruby.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Add robust identifier validation to SQL element extraction
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Fix golden master regression test failures
  pyproject.toml
  tree_sitter_analyzer/languages/sql_plugin.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Use --all-extras in develop-automation workflow to install test dependencies
  .github/workflows/develop-automation.yml
Due: check-yaml-local

fix: Pin tree-sitter-sql to >=0.3.11 to ensure consistent AST parsing across environments
  pyproject.toml
  uv.lock
Due: check-toml-local

Release v1.9.11: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Update release workflow to include test dependencies for PHP and Ruby
  .github/workflows/release-automation.yml
Due: check-yaml-local

fix: Add robust fallback parsing for SQL views and Java packages
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Ensure Package fallback includes all required parameters
  tree_sitter_analyzer/languages/java_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Add robust trigger name extraction with comprehensive keyword filtering
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Enhance SQL view name extraction with aggressive fallback regex
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Mark all C# plugin tasks as completed
  openspec/changes/add-csharp-language-support/tasks.md
  tests/test_languages/test_csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: Mark all PHP/Ruby tasks as completed
  openspec/changes/add-php-ruby-language-support/tasks.md
  tests/test_languages/test_csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Archive completed OpenSpec changes
  openspec/changes/archive/add-csharp-language-support/design.md
  openspec/changes/archive/add-csharp-language-support/lessons-learned.md
  openspec/changes/archive/add-csharp-language-support/proposal.md
  openspec/changes/archive/add-csharp-language-support/specs/csharp-language-support/spec.md
  openspec/changes/archive/add-csharp-language-support/tasks.md
  openspec/changes/archive/add-php-ruby-language-support/design.md
  openspec/changes/archive/add-php-ruby-language-support/proposal.md
  openspec/changes/archive/add-php-ruby-language-support/specs/php-language-support/spec.md
  openspec/changes/archive/add-php-ruby-language-support/specs/ruby-language-support/spec.md
  openspec/changes/archive/add-php-ruby-language-support/tasks.md
Due: none

feat: Complete update-tests-for-format-improvements OpenSpec change
  openspec/changes/update-tests-for-format-improvements/design.md
  openspec/changes/update-tests-for-format-improvements/tasks.md
Due: none

feat: Archive update-tests-for-format-improvements OpenSpec change
  openspec/changes/archive/update-tests-for-format-improvements/design.md
  openspec/changes/archive/update-tests-for-format-improvements/proposal.md
  openspec/changes/archive/update-tests-for-format-improvements/tasks.md
Due: none

fix: Adjust async performance test efficiency threshold
  tests/test_async_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Release v1.9.12: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Improve SQL VIEW name extraction to filter out SQL keywords
  openspec/changes/add-csharp-language-support/tasks.md
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: enhance SQL keyword filtering to prevent false positive identifier extraction
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: bump version to v1.9.13 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: check-toml-local

chore: Update README statistics (tests: )
  uv.lock
Due: none

docs: update README files with v1.9.13 release information
  README.md
  README_ja.md
  README_zh.md
Due: none

feat: Complete improve-test-coverage OpenSpec change
  .coveragerc
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  docs/CONTRIBUTING.md
  docs/TESTING.md
  openspec/changes/archive/improve-test-coverage/proposal.md
  openspec/changes/archive/improve-test-coverage/tasks.md
  openspec/project.md
  tests/fixtures/__init__.py
  tests/fixtures/assertion_helpers.py
  tests/fixtures/coverage_helpers.py
  tests/fixtures/data_generators.py
  tests/unit/test_base_formatter.py
  tests/unit/test_cli_main_module.py
  tests/unit/test_core_engine_comprehensive.py
  tests/unit/test_core_query_comprehensive.py
  tests/unit/test_exceptions_comprehensive.py
  tests/unit/test_find_and_grep_cli_comprehensive.py
  tests/unit/test_java_formatter.py
  tests/unit/test_language_loader_comprehensive.py
  tests/unit/test_list_files_cli_comprehensive.py
  tests/unit/test_markdown_formatter_comprehensive.py
  tests/unit/test_markdown_plugin_comprehensive.py
  tests/unit/test_mcp_server_interface.py
  tests/unit/test_queries_css_comprehensive.py
  tests/unit/test_queries_html_comprehensive.py
  tests/unit/test_search_content_cli_comprehensive.py
  tests/unit/test_summary_command_comprehensive.py
  tests/unit/test_tree_sitter_compat.py
  tests/unit/test_universal_analyze_tool_comprehensive.py
  tests/unit/test_utils_init.py
  tree_sitter_analyzer/exceptions.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore: Update README statistics (tests: )
  README_ja.md
  README_zh.md
Due: none

fix: SQL function extraction now correctly identifies function names
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Fix test failures in CI
  tests/test_async_performance.py
  tests/unit/test_core_engine_comprehensive.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
