Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

fix: handle macOS /var -> /private/var symlink in path tests
  tests/unit/mcp/test_tools/test_base_tool.py
  tests/unit/mcp/test_utils/test_path_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: improve test-coverage workflow error visibility
  .github/workflows/test-coverage.yml
Due: check-yaml-local

fix: skip Windows-specific path test on non-Windows systems
  tests/unit/mcp/test_utils/test_path_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: skip another Windows-specific path test on non-Windows systems
  tests/unit/mcp/test_utils/test_path_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: make test_absolute_path platform-aware
  tests/unit/mcp/test_utils/test_path_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: fix timeout error test and CSV format property test
  tests/property/test_format_properties.py
  tests/unit/mcp/test_utils/test_error_handler.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: normalize paths in test_path_resolver.py for macOS symlink compatibility
  tests/unit/mcp/test_utils/test_path_resolver.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update formatter tests to match new output format
  tests/unit/formatters/test_java_formatter_coverage.py
  tests/unit/formatters/test_java_formatter_properties.py
  tests/unit/formatters/test_javascript_formatter_comprehensive.py
  tests/unit/formatters/test_php_formatter_coverage.py
  tests/unit/formatters/test_ruby_formatter_coverage.py
  tests/unit/formatters/test_typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update remaining formatter tests for new output format
  tests/unit/formatters/test_javascript_formatter_edge_cases.py
  tests/unit/formatters/test_typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: restore precise assertions in formatter tests
  tests/unit/formatters/test_javascript_formatter_edge_cases.py
  tests/unit/formatters/test_typescript_formatter.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: update TypeScript tests for new formatter output format
  tests/unit/formatters/test_typescript_formatter.py
  tests/unit/languages/test_typescript_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: correct CSV assertion in TypeScript integration test
  tests/unit/languages/test_typescript_integration.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: use 'methods' key for JavaScript formatter edge case tests
  tests/unit/formatters/test_javascript_formatter_edge_cases.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore: add cursor settings and test baseline
  .cursor/mcp.json
  .cursor/test_baseline/test_results.json
  .cursorrules
Due: check-json-local

docs: update .cursorrules and test results baseline, fix lint issues
  .cursor/test_baseline/test_results.json
  .cursorrules
  regenerate_with_normalization.py
  run_coverage.py
  tests/compatibility/test_cross_version_compatibility.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Release v1.10.3: Update version and documentation
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: remove oneOf/anyOf/allOf from MCP tool schemas for Vertex AI compatibility
  .cursorrules
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tests/integration/core/test_analyze_scale_tool_file_output.py
  tests/integration/mcp/test_tools/test_analyze_scale_tool.py
  tests/integration/mcp/test_tools/test_read_partial_tool.py
  tests/unit/mcp/test_mcp_query_tool_definition.py
  tests/unit/mcp/test_query_tool.py
  tests/unit/mcp/test_search_content_tool.py
  tests/unit/mcp/test_tools/test_analyze_scale_tool.py
  tests/unit/mcp/test_tools/test_read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/analyze_scale_tool.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Hotfix: Improve Vertex AI compatibility
  CHANGELOG.md
  README.md
  README_ja.md
  README_zh.md
  pyproject.toml
  tests/test_mcp_query_tool_definition.py
  tree_sitter_analyzer/mcp/tools/query_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Update macos-13 to macos-latest in all workflows and documentation
  .github/actions/setup-system/action.yml
  .github/workflows/reusable-test.yml
  docs/CONTRIBUTING.md
  docs/ci-cd-migration-guide.md
  docs/ci-cd-overview.md
  docs/ci-cd-secrets-reference.md
  docs/ci-cd-troubleshooting.md
  docs/ja/CONTRIBUTING_ja.md
  tests/test_workflows/CI_WORKFLOW_TESTING_GUIDE.md
  tests/test_workflows/HOTFIX_WORKFLOW_TESTING_GUIDE.md
  tests/test_workflows/README.md
  tests/test_workflows/RELEASE_WORKFLOW_TESTING_GUIDE.md
  tests/test_workflows/TASK_4_SUMMARY.md
  tests/test_workflows/TASK_5_SUMMARY.md
  tests/test_workflows/test_ci_workflow_consistency.py
  tests/test_workflows/test_develop_workflow_consistency.py
  tests/test_workflows/test_hotfix_workflow_consistency.py
  tests/test_workflows/test_workflow_properties.py
  verify_workflow_structure.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Hotfix: Improve Vertex AI compatibility
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add initial settings and configuration files for Claude integration
  .claude/settings.json
  CLAUDE.md
Due: check-json-local

fix: sync version to 1.10.4 and update documentation
  .gitignore
  .kiro/specs/critical-project-fixes/design.md
  .kiro/specs/critical-project-fixes/requirements.md
  .kiro/specs/critical-project-fixes/tasks.md
  README.md
  README_ja.md
  README_zh.md
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update tasks.md with final completion status
  .kiro/specs/critical-project-fixes/tasks.md
Due: none

feat: add comprehensive design issues report and recommendations for improvement
  DESIGN_ISSUES_REPORT.md
  tests/unit/core/test_cache_service.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/cache_service.py
  tree_sitter_analyzer/core/engine_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update test count from 8,409 to 8,405
  CHANGELOG.md
  CLAUDE.md
Due: none

feat(plugins): add BaseElementExtractor and migrate Python plugin
  .kiro/specs/plugin-base-class-extraction/design.md
  .kiro/specs/plugin-base-class-extraction/requirements.md
  .kiro/specs/plugin-base-class-extraction/tasks.md
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tests/unit/plugins/test_base_element_extractor.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/plugins/__init__.py
  tree_sitter_analyzer/plugins/base_element_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(plugins): migrate major plugins to BaseElementExtractor
  tests/unit/languages/test_java_plugin_comprehensive.py
  tests/unit/languages/test_java_plugin_edge_cases.py
  tests/unit/languages/test_javascript_plugin_edge_cases.py
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_typescript_plugin_comprehensive.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(plugins): migrate 7 plugins to ProgrammingLanguageExtractor
  .kiro/specs/plugin-base-class-extraction/ARCHITECTURAL_SKEPTICISM_REPORT.md
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_DESIGN.md
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
  tests/unit/plugins/test_cached_element_extractor.py
  tests/unit/plugins/test_markup_language_extractor.py
  tests/unit/plugins/test_programming_language_extractor.py
  tree_sitter_analyzer/languages/c_plugin.py
  tree_sitter_analyzer/languages/cpp_plugin.py
  tree_sitter_analyzer/languages/csharp_plugin.py
  tree_sitter_analyzer/languages/java_plugin.py
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/python_plugin.py
  tree_sitter_analyzer/languages/typescript_plugin.py
  tree_sitter_analyzer/plugins/__init__.py
  tree_sitter_analyzer/plugins/cached_element_extractor.py
  tree_sitter_analyzer/plugins/markup_language_extractor.py
  tree_sitter_analyzer/plugins/programming_language_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(tasks): mark T2.8 as completed
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
Due: none

refactor: Phase LR-3 - Migrate 5 programming language plugins to ProgrammingLanguageExtractor
  tree_sitter_analyzer/languages/go_plugin.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
  tree_sitter_analyzer/languages/php_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
  tree_sitter_analyzer/languages/rust_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(tasks): mark Phase LR-3 (T3.1-T3.6) as completed
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
Due: none

refactor: Phase LR-4 - Migrate 4 markup language plugins to MarkupLanguageExtractor
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
  .kiro/specs/plugin-base-class-extraction/PHASE_LR4_COMPLETION_REPORT.md
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/languages/markdown_plugin.py
  tree_sitter_analyzer/languages/yaml_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(plugins): migrate SQL plugin to ProgrammingLanguageExtractor
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
  .kiro/specs/plugin-base-class-extraction/PHASE_LR5_COMPLETION_REPORT.md
  .kiro/specs/plugin-base-class-extraction/SQL_PLUGIN_MIGRATION_ANALYSIS.md
  tests/unit/languages/test_sql_coverage_boost.py
  tests/unit/languages/test_sql_plugin_comprehensive.py
  tests/unit/languages/test_sql_plugin_extract_methods.py
  tree_sitter_analyzer/languages/sql_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor: Phase LR-5 - Migrate SQL plugin to ProgrammingLanguageExtractor
  .kiro/specs/plugin-base-class-extraction/findings.md
  .kiro/specs/plugin-base-class-extraction/task_plan.md
  tests/unit/languages/test_java_plugin_comprehensive.py
  tests/unit/languages/test_java_plugin_edge_cases.py
  tests/unit/languages/test_javascript_plugin_edge_cases.py
  tests/unit/languages/test_markdown_plugin_comprehensive.py
  tests/unit/languages/test_python_plugin_comprehensive.py
  tests/unit/languages/test_python_plugin_edge_cases.py
  tests/unit/plugins/test_base_element_extractor.py
  tree_sitter_analyzer/plugins/__init__.py
  tree_sitter_analyzer/plugins/base_element_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Add Phase LR-6 completion reports
  .kiro/specs/plugin-base-class-extraction/PHASE_LR6_COMPLETION_REPORT.md
  .kiro/specs/plugin-base-class-extraction/PHASE_LR6_FINAL_REPORT.md
Due: none

fix: Preserve exact byte positions in text extraction for Windows compatibility
  tree_sitter_analyzer/plugins/cached_element_extractor.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: Archive old planning documents and update task tracking
  .kiro/specs/plugin-base-class-extraction/LAYERED_REFACTORING_TASKS.md
  .kiro/specs/plugin-base-class-extraction/archive/design.md
  .kiro/specs/plugin-base-class-extraction/archive/task_plan.md
  .kiro/specs/plugin-base-class-extraction/archive/tasks.md
Due: none

[fix] Remove unreachable code in ruby_plugin.py _determine_visibility method
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
