Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

diag(index): surface certifier failure reason in SOURCE_CHANGED message (#1364)
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): retry transient UNSAFE walks too; anchor SOURCE_CHANGED match to prefix (#1364)
  tests/unit/test_index_snapshot_schema_validation.py
  tree_sitter_analyzer/index_snapshot_schema.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): retry transient UNSAFE at the capture layer — covers all certifier callers (#1364)
  tests/unit/test_portable_source_snapshot.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(tests): isolate answer-cache claims onto a quiet tmp project (#1364 family)
  tests/benchmarks/claims/test_answer_cache_invariants.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(tests): scale per-test budget 1.6x on CI runners (#1364 family, third form)
  tests/conftest.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs(tests): finish quick-gate command unification — one command, one meaning
  AGENTS.md
  README.md
  tests/contracts/test_pytest_runtime_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: use uv-run-prefixed span in transition note (bare-pytest contract)
  AGENTS.md
Due: none

fix(ci): gate no1 fresh-clone contracts to POSIX axes (tracked #1373 windows worker crash)
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): recover stale-snapshot false UNSAFE with ctime guard (#1364/#1373)
  tests/unit/test_index_source_stream.py
  tree_sitter_analyzer/index_source_stream.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(tests): make the large-test-file inventory a living contract (#1376)
  ARCH_AUDIT.md
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/contracts/test_large_test_file_inventory.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

chore(index): granular UNSAFE reasons in the portable walk (#1364/#1373)
  tests/unit/test_index_source_snapshot.py
  tests/unit/test_portable_source_snapshot.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(cli): align --table choices with _VALID_FORMAT_TYPES (format-removal fallout)
  tree_sitter_analyzer/cli/argument_groups/_core.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): settle-detection recovery for hash_unclean (Windows stat-cache split, #1364/#1373)
  tree_sitter_analyzer/index_source_stream.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(cli): complete the compact/csv removal — all three layers aligned
  docs/CODEMAPS/cli.md
  tree_sitter_analyzer/cli/argument_groups/_core.py
  tree_sitter_analyzer/mcp/tools/analyze_code_structure_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: remove compact/csv success-path tests; fix enumeration contract (format removal)
  tests/unit/mcp/test_analyze_code_structure_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_core.py
  tests/unit/mcp/test_analyze_code_structure_tool_execute.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): fail closed on inconsistent source snapshots
  tests/unit/test_index_snapshot_manifest.py
  tests/unit/test_index_snapshot_schema.py
  tests/unit/test_index_source_stream.py
  tests/unit/test_portable_source_snapshot.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/index_source_stream.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(testing): propagate mutation failures and retract unverified scores
  BLOCKED.md
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  tests/unit/test_run_mutation_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: define evidence-led TSA trust consolidation gates
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

test: retire simulated assurance and duplicate collection
  scripts/run_phase7_integration_tests.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/integration/test_phase7_integration_suite.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_mcp_list_files_p1.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): certify public incremental sync with candidate snapshots
  tests/unit/mcp/test_index_sync_tools.py
  tests/unit/test_codegraph_incremental_sync_tool.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: fail closed on source snapshots and mutation-runner failures (#1383)
  BLOCKED.md
  scripts/run_mutation_baseline.py
  tests/effectiveness/BASELINE.md
  tests/unit/test_index_snapshot_manifest.py
  tests/unit/test_index_snapshot_schema.py
  tests/unit/test_index_source_stream.py
  tests/unit/test_portable_source_snapshot.py
  tests/unit/test_run_mutation_baseline.py
  tree_sitter_analyzer/index_snapshot_schema.py
  tree_sitter_analyzer/index_source_stream.py
  tree_sitter_analyzer/portable_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: reconcile JSON and performance execution gates
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs: define TSA trust consolidation execution gates (#1384)
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

fix(index): align sync roots and preview exclusions
  tests/unit/mcp/test_index_sync_tools.py
  tests/unit/test_codegraph_incremental_sync_tool.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: certify incremental sync and retire false test assurance (#1385)
  scripts/run_phase7_integration_tests.py
  tests/contracts/test_pytest_runtime_contract.py
  tests/integration/test_phase7_integration_suite.py
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/mcp/test_index_sync_tools.py
  tests/unit/mcp/test_mcp_list_files_p1.py
  tests/unit/test_codegraph_incremental_sync_tool.py
  tree_sitter_analyzer/incremental_sync.py
  tree_sitter_analyzer/mcp/tools/incremental_sync_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(windows): bound clone checkout and preserve repeated trust diagnostics
  .github/workflows/windows-trust-diagnostics.yml
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

test(windows): capture metadata evidence for source hash failures
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(security): reject foreign rooted path syntax on POSIX
  tests/unit/security/test_validator.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(windows): retain untruncated descriptor diagnostics
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(security): reject foreign rooted path syntax on POSIX (#1392)
  tests/unit/security/test_validator.py
  tree_sitter_analyzer/security/validator.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): compare read metadata on the same descriptor
  tests/unit/test_index_source_stream.py
  tree_sitter_analyzer/index_source_stream.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: preserve raw pytest exits in Windows diagnostics
  .github/workflows/windows-trust-diagnostics.yml
Due: check-yaml-local

test: split benchmark harness into behavior-focused modules
  benchmarks/codegraph_compare/README.md
  tests/LARGE_TEST_FILE_EXCEPTIONS.md
  tests/unit/_benchmark_harness_matrix_helpers.py
  tests/unit/_benchmark_harness_platform.py
  tests/unit/_benchmark_harness_qualification_helpers.py
  tests/unit/_benchmark_harness_service_helpers.py
  tests/unit/_benchmark_harness_smoke_helpers.py
  tests/unit/test_benchmark_harness.py
  tests/unit/test_benchmark_harness_authority_lifecycle.py
  tests/unit/test_benchmark_harness_authority_storage.py
  tests/unit/test_benchmark_harness_canary_evidence.py
  tests/unit/test_benchmark_harness_canary_preflight.py
  tests/unit/test_benchmark_harness_canary_protocol.py
  tests/unit/test_benchmark_harness_experiment_integrity.py
  tests/unit/test_benchmark_harness_filesystem_evidence.py
  tests/unit/test_benchmark_harness_gin_bundle.py
  tests/unit/test_benchmark_harness_gin_execution.py
  tests/unit/test_benchmark_harness_gin_qualification.py
  tests/unit/test_benchmark_harness_gin_receipts.py
  tests/unit/test_benchmark_harness_gin_tool_policy.py
  tests/unit/test_benchmark_harness_gin_workspace.py
  tests/unit/test_benchmark_harness_host_audit.py
  tests/unit/test_benchmark_harness_operator_pipeline.py
  tests/unit/test_benchmark_harness_plan_contract.py
  tests/unit/test_benchmark_harness_platform_contract.py
  tests/unit/test_benchmark_harness_receipt_authentication.py
  tests/unit/test_benchmark_harness_receipt_binding.py
  tests/unit/test_benchmark_harness_receipt_json.py
  tests/unit/test_benchmark_harness_records.py
  tests/unit/test_benchmark_harness_recovery_preflight.py
  tests/unit/test_benchmark_harness_resource_bounds.py
  tests/unit/test_benchmark_harness_service_ledger.py
  tests/unit/test_benchmark_harness_service_schema.py
  tests/unit/test_benchmark_harness_setup_backend.py
  tests/unit/test_benchmark_harness_setup_failures.py
  tests/unit/test_benchmark_harness_setup_manifest.py
  tests/unit/test_benchmark_harness_setup_schema.py
  tests/unit/test_benchmark_harness_source_inventory.py
  tests/unit/test_benchmark_harness_transport_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(index): bind Windows source checks to descriptor metadata (#1391)
  .github/workflows/windows-trust-diagnostics.yml
  tests/contracts/test_collect_no1_006b_baseline.py
  tests/unit/mcp/tools/test_constraint_check_portable_snapshot.py
  tests/unit/test_index_source_stream.py
  tree_sitter_analyzer/index_source_stream.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): correct 5 Python extraction defects found by MECE dogfood
  tests/unit/test_incremental_sync.py
  tests/unit/test_python_index_extraction_defects.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): hotfix — 5 Python extraction defects (future import, nested def, ast_imports.line, noqa comment) (#1395)
  tests/unit/test_incremental_sync.py
  tests/unit/test_python_index_extraction_defects.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer.py
  tree_sitter_analyzer/cache/write.py
  tree_sitter_analyzer/synapse_resolver/_imports.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(index): extend C name recovery to C++ — 68+ functions/methods absent
  tests/unit/test_cpp_function_extraction.py
  tests/unit/test_symbols_json_enrichment.py
  tree_sitter_analyzer/ast_cache.py
  tree_sitter_analyzer/cache/extraction.py
  tree_sitter_analyzer/cache/indexer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(nervous-system): enforce snapshot model and protocol contracts
  README.md
  docs/CODEMAPS/architecture.md
  tests/unit/api/test_pulse.py
  tests/unit/api/test_semantic.py
  tests/unit/conftest.py
  tests/unit/embeddings/test_pipeline.py
  tests/unit/hyphae/test_evaluator.py
  tests/unit/lsp/test_client.py
  tests/unit/mcp/tools/test_pulse_tool.py
  tests/unit/mcp/tools/test_semantic_tool.py
  tests/unit/mcp/tools/test_tql_tool.py
  tests/unit/test_index_snapshot_schema_validation.py
  tests/unit/test_nested_function_call_edges.py
  tests/unit/test_synapse_resolution.py
  tests/unit/test_temporal_activation.py
  tree_sitter_analyzer/api/_pulse_models.py
  tree_sitter_analyzer/api/_pulse_sql.py
  tree_sitter_analyzer/api/pulse.py
  tree_sitter_analyzer/api/semantic.py
  tree_sitter_analyzer/api/serialization.py
  tree_sitter_analyzer/cache/call_edges.py
  tree_sitter_analyzer/embeddings/pipeline.py
  tree_sitter_analyzer/function_extraction.py
  tree_sitter_analyzer/hyphae/evaluator.py
  tree_sitter_analyzer/lsp/client.py
  tree_sitter_analyzer/mcp/tools/semantic_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
