Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

feat: add CI integration interface with SARIF output
  tests/unit/analysis/test_ci_report.py
  tree_sitter_analyzer/analysis/ci_report.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: sync SDK — batch analysis, caching, trace_impact, dependency_query
  tests/unit/test_sync_sdk.py
  tree_sitter_analyzer/sdk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress.md and task_plan.md — Phase 1+2 Sprint 1-4 complete
  progress.md
  task_plan.md
Due: none

feat: Go/Rust-specific AST chunking (struct + method grouping)
  tests/unit/core/test_go_rust_chunking.py
  tree_sitter_analyzer/core/ast_chunker.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress — Phase 3-4 Sprint 1-7 complete (170+ new tests)
  progress.md
Due: none

feat: add 'cycles' query type to dependency_query tool
  tests/unit/mcp/test_cycles_query.py
  tree_sitter_analyzer/mcp/tools/dependency_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: mypy --strict passes — 24 type annotation errors resolved
  tree_sitter_analyzer/cli/commands/query_command.py
  tree_sitter_analyzer/cli/commands/structure_command.py
  tree_sitter_analyzer/cli/commands/summary_command.py
  tree_sitter_analyzer/core/parser.py
  tree_sitter_analyzer/formatters/css_formatter.py
  tree_sitter_analyzer/formatters/html_formatter.py
  tree_sitter_analyzer/formatters/markdown_formatter.py
  tree_sitter_analyzer/formatters/sql_formatter_wrapper.py
  tree_sitter_analyzer/formatters/yaml_formatter.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/languages/html_plugin.py
  tree_sitter_analyzer/mcp/server.py
  tree_sitter_analyzer/mcp/streamable_http_server.py
  tree_sitter_analyzer/mcp/utils/error_handler.py
  tree_sitter_analyzer/platform_compat/adapter.py
  tree_sitter_analyzer/platform_compat/profiles.py
  tree_sitter_analyzer/queries/c.py
  tree_sitter_analyzer/queries/cpp.py
  tree_sitter_analyzer/queries/css.py
  tree_sitter_analyzer/queries/go.py
  tree_sitter_analyzer/queries/html.py
  tree_sitter_analyzer/queries/javascript.py
  tree_sitter_analyzer/queries/kotlin.py
  tree_sitter_analyzer/queries/python.py
  tree_sitter_analyzer/queries/rust.py
  tree_sitter_analyzer/queries/sql.py
  tree_sitter_analyzer/queries/typescript.py
  tree_sitter_analyzer/query_loader.py
  tree_sitter_analyzer/security/regex_checker.py
  tree_sitter_analyzer/utils/logging.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: connection tracking, disconnect detection, concurrent connection limiting
  tests/unit/mcp/test_streamable_http.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: Phase 6 progress — ARCHITECTURE.md + task/progress updates
  ARCHITECTURE.md
  progress.md
  task_plan.md
Due: none

feat: add example fields to 7 MCP tool schemas + update task_plan
  task_plan.md
  tree_sitter_analyzer/mcp/tools/batch_search_tool.py
  tree_sitter_analyzer/mcp/tools/build_project_index_tool.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/modification_guard_tool.py
  tree_sitter_analyzer/mcp/tools/read_partial_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: SDK incremental analysis — skip unchanged files with cache_hit flag
  task_plan.md
  tests/unit/mcp/test_sdk_extended.py
  tree_sitter_analyzer/mcp/sdk.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: Ruby visibility detection + JS exports extraction
  tree_sitter_analyzer/languages/javascript_plugin.py
  tree_sitter_analyzer/languages/ruby_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: update progress — Session 5 complete, 0 TODOs remaining
  progress.md
Due: none

fix: Phase 6 quality — fix 5 bugs, 69 mypy errors, add coverage tests
  tests/unit/core/test_exception_context_properties.py
  tests/unit/core/test_parser_error_recovery_properties.py
  tests/unit/core/test_tree_sitter_compat_properties.py
  tests/unit/formatters/test_java_formatter_properties.py
  tests/unit/languages/test_yaml_element_metadata_properties.py
  tests/unit/languages/test_yaml_encoding_resilience_properties.py
  tests/unit/languages/test_yaml_error_handling_properties.py
  tests/unit/languages/test_yaml_file_extension_properties.py
  tests/unit/languages/test_yaml_language_isolation_properties.py
  tests/unit/languages/test_yaml_parsing_consistency_properties.py
  tests/unit/mcp/test_typescript_edge_extractor.py
  tests/unit/platform_compat/test_compare.py
  tests/unit/security/test_security_boundary_properties.py
  tests/unit/test_analyzer_sdk.py
  tree_sitter_analyzer/mcp/tools/dependency_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add output_manager tests (36 tests) + update progress
  progress.md
  tests/unit/test_output_manager.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test: add coverage for query_loader, language_detector, output_manager
  tests/unit/test_language_detector_extra.py
  tests/unit/test_query_loader_extra.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

docs: update progress — Phase 6 coverage at 80.56%
  progress.md
Due: none

feat: 完整接入 Wiki 59 页知识库 + 并行自主开发
  AUTONOMOUS.md
  findings.md
  scripts/autonomous-parallel.sh
Due: none

test: language_detector coverage 72% → 98% (56 tests)
  tests/unit/test_language_detector_extra.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: parallel script outer restart loop — workers never stop
  scripts/autonomous-parallel.sh
Due: none

feat: tiered skill loader — core (<500 token) vs extended vs full
  tests/unit/mcp/test_skill_loader.py
  tree_sitter_analyzer/mcp/skill_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add timeout protection for analysis operations
  tests/unit/core/test_timeout.py
  tree_sitter_analyzer/core/analysis_engine.py
  tree_sitter_analyzer/core/request.py
  tree_sitter_analyzer/core/timeout.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: on-demand skill loading with caching (SkillLoadManager)
  task_plan.md
  tests/unit/mcp/test_skill_loader.py
  tree_sitter_analyzer/mcp/skill_loader.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: plugin registry with metadata, load metrics, and hot-reload
  tests/unit/plugins/test_registry.py
  tree_sitter_analyzer/plugins/registry.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: Java pattern analysis — lambda, Stream API, Spring annotations
  tests/unit/analysis/test_java_patterns.py
  tree_sitter_analyzer/analysis/java_patterns.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: streamable HTTP error handling — 18 new tests
  task_plan.md
  tests/unit/mcp/test_streamable_http_errors.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: Java edge extractor — Spring DI + Stream method ref edges
  tests/unit/mcp/test_java_edge_extractor.py
  tree_sitter_analyzer/mcp/utils/edge_extractors/java.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: modification suggestion generation in health scorer
  tests/unit/analysis/test_analysis_engine_deep.py
  tree_sitter_analyzer/analysis/health_score.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: merge worker outputs — skill loader, Java patterns, health score improvements
  tests/unit/mcp/test_skill_loader.py
  tests/unit/test_output_manager_coverage.py
  tree_sitter_analyzer/analysis/dependency_graph.py
  tree_sitter_analyzer/analysis/health_score.py
  tree_sitter_analyzer/mcp/skill_loader.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test: add StreamableHTTP performance benchmark suite (7 tests)
  tests/benchmark/test_concurrent_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

perf: optimize MCP schema descriptions — 1,415 token reduction (12.5%)
  scripts/measure_schema_tokens.py
  tests/unit/mcp/test_mcp_file_output_feature.py
  tree_sitter_analyzer/mcp/tools/find_and_grep_tool.py
  tree_sitter_analyzer/mcp/tools/list_files_tool.py
  tree_sitter_analyzer/mcp/tools/search_content_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

perf: optimize dependency_graph builder — single rglob pass, no double line-count
  tree_sitter_analyzer/analysis/dependency_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: cross-file import resolution + edge weights for dependency graph
  tree_sitter_analyzer/analysis/dependency_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix: update test for optimized schema description + mark completed Phase 3 tasks
  task_plan.md
  tests/unit/core/test_find_and_grep_tool_file_output.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix: case-insensitive description assertion in file output test
  tests/unit/core/test_find_and_grep_tool_file_output.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add automatic encoding detection (UTF-8, GBK, Shift-JIS)
  tests/unit/analysis/test_error_recovery.py
  tree_sitter_analyzer/analysis/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add partial/corrupted file parsing to error_recovery
  tests/unit/analysis/test_error_recovery.py
  tree_sitter_analyzer/analysis/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add timeout protection to error recovery analysis
  tests/unit/analysis/test_error_recovery.py
  tree_sitter_analyzer/analysis/error_recovery.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat: add plugin loading performance benchmark
  task_plan.md
  tests/benchmark/test_plugin_loading_performance.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

feat: add TOON compression rate benchmark
  tests/benchmark/test_toon_compression.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
