Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

refactor(complexity): extract AST helpers + simplify workflow validator
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  validate_workflows.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(test): extract schema + fallback helpers in java structure analyzer test
  tests/unit/languages/test_java_structure_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

refactor(test): extract formatting + element helpers in yaml property tests
  tests/unit/languages/test_yaml_element_properties.py
  tests/unit/languages/test_yaml_output_format_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(ast-cache): re-export node text helper
  tree_sitter_analyzer/ast_cache.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(complexity): auto-sprint backlog cleanup
  tests/unit/languages/test_java_structure_analyzer.py
  tests/unit/languages/test_yaml_element_properties.py
  tests/unit/languages/test_yaml_output_format_properties.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/ast_cache.py
  validate_workflows.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(subprocess): force utf-8 decoding on text=True call sites
  CHANGELOG.md
  tree_sitter_analyzer/_health_scorer_helpers.py
  tree_sitter_analyzer/core/analysis_session.py
  tree_sitter_analyzer/git_activation.py
  tree_sitter_analyzer/mcp/tools/ast_diff_tool.py
  tree_sitter_analyzer/mcp/tools/codegraph_pr_review_tool.py
  tree_sitter_analyzer/mcp/tools/semantic_classify_tool.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_git.py
  tree_sitter_analyzer/mcp/utils/project_index.py
  tree_sitter_analyzer/pr_url.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): bump to 1.15.1
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): bump to 1.15.2 (1.15.1 already on PyPI)
  CHANGELOG.md
  pyproject.toml
  tree_sitter_analyzer/__init__.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): add codegraph comparison benchmark harness
  .gitignore
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/__init__.py
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/native.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/analyze.py
  benchmarks/codegraph_compare/arms.yaml
  benchmarks/codegraph_compare/evaluate.py
  benchmarks/codegraph_compare/prompts/evaluator.md
  benchmarks/codegraph_compare/prompts/system_codegraph.md
  benchmarks/codegraph_compare/prompts/system_native.md
  benchmarks/codegraph_compare/prompts/system_tsa.md
  benchmarks/codegraph_compare/questions.yaml
  benchmarks/codegraph_compare/repo_prep.py
  benchmarks/codegraph_compare/repos.yaml
  benchmarks/codegraph_compare/results/.gitkeep
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/schemas.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): wire real Anthropic agent loop into benchmark runner
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
  pyproject.toml
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): constrain matrix questions by repo
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/run.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(benchmarks): support codex-backed comparison runs
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/analyze.py
  benchmarks/codegraph_compare/run.py
  benchmarks/codegraph_compare/schemas.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): make codex codegraph runs use writable index caches
  benchmarks/codegraph_compare/README.md
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/prompts/system_codegraph.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add fluent query answer packs
  .claude/skills/tsa-graph/SKILL.md
  README.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_runtime.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): query external repos through tsa project root
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add answer pack planner
  .claude/skills/tsa-graph/SKILL.md
  README.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_codegraph_query_answer_pack.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_answer_pack.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_planner.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_runtime.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add intent query macros
  .claude/skills/tsa-graph/SKILL.md
  README.md
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_runtime.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph-bench): force chained query answer packs
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
  tests/unit/test_benchmark_harness.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/mcp/tools/_codegraph_explore_helpers.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(benchmarks): avoid blocking on large index output
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(codegraph): add chained query tool
  .claude/skills/tsa-graph/SKILL.md
  README.md
  README_ja.md
  README_zh.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  pyproject.toml
  tests/unit/cli/test_mcp_commands.py
  tests/unit/mcp/tools/test_tool_response_contract.py
  tests/unit/test_agent_contracts.py
  tests/unit/test_codegraph_query_tool.py
  tree_sitter_analyzer/cli/argument_parser_builder.py
  tree_sitter_analyzer/cli/commands/mcp_commands.py
  tree_sitter_analyzer/mcp/_tool_registry.py
  tree_sitter_analyzer/mcp/tools/_codegraph_query_dsl.py
  tree_sitter_analyzer/mcp/tools/codegraph_query_tool.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(safe-to-edit): optimize health scoring path and stabilize fixture hits
  tests/unit/security/test_fixture_detector.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: refresh setup-uv action
  .github/workflows/auto-sprint-execute.yml
  .github/workflows/auto-sprint.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-locale.yml
  .github/workflows/e2e-real-repos.yml
  .github/workflows/grammar-coverage-guard.yml
  .github/workflows/health-monitor.yml
  .github/workflows/regression-tests.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

ci: pin setup-uv action sha
  .github/workflows/auto-sprint-execute.yml
  .github/workflows/auto-sprint.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-locale.yml
  .github/workflows/e2e-real-repos.yml
  .github/workflows/grammar-coverage-guard.yml
  .github/workflows/health-monitor.yml
  .github/workflows/regression-tests.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

Revert "ci: pin setup-uv action sha"
  .github/workflows/auto-sprint-execute.yml
  .github/workflows/auto-sprint.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-locale.yml
  .github/workflows/e2e-real-repos.yml
  .github/workflows/grammar-coverage-guard.yml
  .github/workflows/health-monitor.yml
  .github/workflows/regression-tests.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

Revert "ci: refresh setup-uv action"
  .github/workflows/auto-sprint-execute.yml
  .github/workflows/auto-sprint.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-locale.yml
  .github/workflows/e2e-real-repos.yml
  .github/workflows/grammar-coverage-guard.yml
  .github/workflows/health-monitor.yml
  .github/workflows/regression-tests.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-publish.yml
  .github/workflows/reusable-quality.yml
  .github/workflows/reusable-test.yml
  .github/workflows/sql-platform-compat.yml
  .github/workflows/test-coverage.yml
Due: check-yaml-local

fix(codegraph-bench): query external repos through TSA project root
  benchmarks/codegraph_compare/adapters/claude_runner.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
  benchmarks/codegraph_compare/prompts/system_tsa.md
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(codegraph-bench): avoid blocking on large index output
  benchmarks/codegraph_compare/adapters/codegraph.py
  benchmarks/codegraph_compare/adapters/tree_sitter_analyzer.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(safe-to-edit): optimize health scoring path and stabilize fixture hits
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(safe-to-edit): optimize health scoring path
  tests/unit/mcp/tools/test_safe_to_edit_dependency_view.py
  tests/unit/security/test_fixture_detector.py
  tests/unit/test_health_scorer.py
  tree_sitter_analyzer/health_scorer.py
  tree_sitter_analyzer/mcp/tools/safe_to_edit_tool.py
  tree_sitter_analyzer/mcp/tools/utils/safe_to_edit_helpers.py
  tree_sitter_analyzer/security/fixture_detector.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: increase pytest worker parallelism
  .github/workflows/reusable-test.yml
  .github/workflows/test-coverage.yml
  tests/integration/workflows/test_workflow_properties.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

fix(change-impact): fast-path test-only diffs
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): fast-path test-only diffs (#169)
  tests/unit/mcp/test_change_impact_tool_execute_and_mapping.py
  tests/unit/test_change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(change-impact): reuse cached dependency graph
  tests/unit/test_call_graph_impact.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_change_impact_cached_graph.py
  tests/unit/test_project_graph_coverage.py
  tree_sitter_analyzer/mcp/tools/change_impact_tool.py
  tree_sitter_analyzer/mcp/tools/utils/call_graph_impact.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_analysis.py
  tree_sitter_analyzer/mcp/tools/utils/change_impact_cached_graph.py
  tree_sitter_analyzer/project_graph.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local
