Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

.pre-commit-config.yaml:

# Pre-commit hooks for Tree-sitter Analyzer (最適化版)
# Install: uv add --dev pre-commit && uv run pre-commit install

# ローカル開発用の最適化設定
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: true
minimum_pre_commit_version: "3.0.0"

repos:
  # ローカルツールを優先使用（環境初期化を回避）
  - repo: local
    hooks:
      # Ruff統合（check + format）- Blackとの競合を回避
      - id: ruff-local
        name: ruff check and format (local)
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        
      - id: ruff-format-local
        name: ruff format (local)
        entry: uv run ruff format
        language: system
        types: [python]
        
      # Blackは無効化（Ruffに統一）
      # - id: black-local
      #   name: black (local)
      #   entry: uv run black
      #   language: system
      #   types: [python]
      #   args: [--line-length=88]

      # isort無効化（Ruffのインポート整理機能と競合するため）
      # - id: isort-local
      #   name: isort (local)
      #   entry: uv run isort
      #   language: system
      #   types: [python]
      #   args: [--profile, black, --line-length, "88"]

      # pyupgrade (ローカル版)
      - id: pyupgrade-local
        name: pyupgrade (local)
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]

      # 基本的なファイルチェック（ローカル実装）
      - id: check-yaml-local
        name: check yaml (local)
        entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$
        
      - id: check-json-local
        name: check json (local)
        entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: ^examples/.*\.(json|summary\.json)$
        
      - id: check-toml-local
        name: check toml (local)
        entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
        language: system
        files: \.toml$
        
      # - id: check-ast-local
      #   name: check python ast (local)
      #   entry: uv run python -c "import ast; import sys; import locale; enc=locale.getpreferredencoding(); [ast.parse(open(f, encoding=enc, errors='replace').read(), f) for f in sys.argv[1:]]"
      #   language: system
      #   files: \.py$

  # 重いツールはpre-pushステージに移動
  - repo: local
    hooks:
      # MyPy (pre-pushで実行)
      - id: mypy-local
        name: mypy (local, pre-push)
        entry: uv run mypy
        language: system
        types: [python]
        stages: [pre-push]
        args: [--ignore-missing-imports, --no-error-summary, --show-error-codes, --explicit-package-bases]
        exclude: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
        
      # Bandit (pre-pushで実行)
      - id: bandit-local
        name: bandit (local, pre-push)
        entry: uv run bandit
        language: system
        types: [python]
        stages: [pre-push]
        exclude: ^tests/
        args: [--format, json, -r, .]
        
      # pydocstyle (pre-pushで実行)
      - id: pydocstyle-local
        name: pydocstyle (local, pre-push)
        entry: uv run pydocstyle
        language: system
        types: [python]
        stages: [pre-push]
        args: [--convention=google, --add-ignore=D100,D101,D102,D103,D104,D105,D107]
        exclude: ^(tests/|examples/)
        
      # flake8 (pre-pushで実行)
      - id: flake8-local
        name: flake8 (local, pre-push)
        entry: uv run flake8
        language: system
        types: [python]
        stages: [pre-push]
        args: [--max-line-length=88, --extend-ignore=E203,W503,E501]

fix(css,nav): SCSS variable extraction, test-map private helper filter (#790 #807)
  tests/unit/languages/test_css_plugin.py
  tests/unit/mcp/tools/test_nav_facade_test_map.py
  tree_sitter_analyzer/languages/css_plugin.py
  tree_sitter_analyzer/mcp/tools/nav_facade.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

fix(kotlin): constructor return_type, property modifiers, local val as fields (#759 #760 #761)
  tests/unit/languages/test_kotlin_fixes_759_760_761.py
  tree_sitter_analyzer/languages/kotlin_helpers.py
  tree_sitter_analyzer/languages/kotlin_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(ratchet): batch-39 — pin loose assertions in formatter/CLI/security tests
  scripts/loose_assertion_baseline.txt
  tests/integration/cli/test_cli_queries.py
  tests/integration/cli/test_cli_table_partial_query.py
  tests/unit/mcp/test_project_health_tool.py
  tests/unit/mcp/test_safe_to_edit_tool.py
  tests/unit/mcp/test_utils/test_error_handler.py
  tests/unit/security/test_mcp_security.py
  tests/unit/test_cached_call_graph.py
  tests/unit/test_change_impact_analysis.py
  tests/unit/test_codegraph_metrics_tool.py
  tests/unit/test_file_health_blocks.py
  tests/unit/test_temporal_activation.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(bash): remove unreachable None guard on tree.root_node
  tree_sitter_analyzer/languages/bash_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

test(c): add enumerator_list children to enum test fixtures after _has_body guard (#836)
  tests/unit/languages/_test_c_traversal_type_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

test(c): add enumerator_list to enum test fixtures for _has_body guard (#836)
  tests/unit/languages/_test_c_traversal_type_helpers.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): regenerate C golden masters after _has_body guard removes type-ref duplicates
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/toon/c_sample_toon.toon
Due: none

test(csharp): update toon golden master to reflect namespace extraction fix #767
  tests/golden_masters/toon/csharp_sample_toon.toon
Due: none

fix(csharp,python): C# namespace extraction and Python single-letter const filter #767 #793
  tests/unit/languages/test_csharp_plugin_extraction.py
  tests/unit/test_ast_extraction.py
  tree_sitter_analyzer/_ast_extraction.py
  tree_sitter_analyzer/languages/csharp_plugin.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(ratchet): update baseline 337->302 after batch-39 pins
  scripts/loose_assertion_baseline.txt
Due: none

fix(test): regenerate Rust golden masters after enum field count fix (#755)
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/toon/rust_sample_toon.toon
Due: none

fix(test): regenerate Rust golden masters after enum field count fix (#755)
  docs/api/facade-actions.md
  scripts/generate_facade_actions_doc.py
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/toon/rust_sample_toon.toon
Due: ruff-local, ruff-format-local, pyupgrade-local, bandit-local, pydocstyle-local, flake8-local

fix(test): regenerate Rust golden masters after enum field count fix (#755)
  tests/golden_masters/csv/rust_sample_csv.csv
  tests/golden_masters/full/c_sample_full.md
  tests/golden_masters/full/rust_sample_full.md
  tests/golden_masters/toon/c_sample_toon.toon
  tests/golden_masters/toon/rust_sample_toon.toon
Due: none

fix(test): regenerate Kotlin golden masters after constructor return-type and local-val property fixes (#759 #760)
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/toon/kotlin_sample_toon.toon
Due: none

fix(test): update golden masters for kotlin/java/php/c/go fixes; mark scale test slow_ok
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/csv/php_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): re-stage after pre-commit trailing newline fixes
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/full/swift_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local

fix(test): re-stage after pre-commit trailing newline fixes
  tests/golden_masters/compact/java_sample_compact.md
  tests/golden_masters/compact/kotlin_sample_compact.md
  tests/golden_masters/compact/php_sample_compact.md
  tests/golden_masters/csv/kotlin_sample_csv.csv
  tests/golden_masters/full/java_sample_full.md
  tests/golden_masters/full/kotlin_sample_full.md
  tests/golden_masters/full/php_sample_full.md
  tests/golden_masters/toon/java_sample_toon.toon
  tests/golden_masters/toon/kotlin_sample_toon.toon
  tests/golden_masters/toon/php_sample_toon.toon
  tests/unit/mcp/test_tools/test_check_scale_output_cap_755.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, flake8-local
