Repository aimasteracc/tree-sitter-analyzer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ruff-local:
  name: ruff check and format (local)
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format-local:
  name: ruff format (local)
  entry: uv run ruff format
  language: system

pyupgrade-local:
  name: pyupgrade (local)
  entry: uv run pyupgrade
  language: system
  args:
  - --py310-plus

check-yaml-local:
  name: check yaml (local)
  entry: uv run python -c "import yaml; import sys; [yaml.safe_load(open(f, encoding='utf-8', errors='ignore')) for f in sys.argv[1:]]"
  language: system

check-json-local:
  name: check json (local)
  entry: uv run python -c "import json; import sys; import locale; enc=locale.getpreferredencoding(); [json.load(open(f, encoding=enc, errors='replace')) for f in sys.argv[1:]]"
  language: system

check-toml-local:
  name: check toml (local)
  entry: uv run python -c "import tomllib; import sys; [tomllib.load(open(f, 'rb')) for f in sys.argv[1:]]"
  language: system

mypy-local:
  name: mypy (local, pre-push)
  entry: uv run mypy
  language: system
  stages:
  - pre-push
  args:
  - --ignore-missing-imports
  - --no-error-summary
  - --show-error-codes
  - --explicit-package-bases

bandit-local:
  name: bandit (local, pre-push)
  entry: uv run bandit
  language: system
  stages:
  - pre-push
  args:
  - --format
  - json
  - -r
  - .

pydocstyle-local:
  name: pydocstyle (local, pre-push)
  entry: uv run pydocstyle
  language: system
  stages:
  - pre-push
  args:
  - --convention=google
  - --add-ignore=D100
  - D101
  - D102
  - D103
  - D104
  - D105
  - D107

flake8-local:
  name: flake8 (local, pre-push)
  entry: uv run flake8
  language: system
  stages:
  - pre-push
  args:
  - --max-line-length=88
  - --extend-ignore=E203
  - W503
  - E501

refactor(task): extract task route pipeline
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_task.py
  tree_sitter_analyzer/task/_router_wire.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract task route pipeline (#1524)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_task.py
  tree_sitter_analyzer/task/_router_wire.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract index oracle stage
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_index.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

ci: preserve Windows test completion headroom
  .github/workflows/reusable-test.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

ci: preserve Windows test completion headroom (#1526)
  .github/workflows/reusable-test.yml
  tests/governance/test_ci_routing_contract.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, flake8-local

refactor(task): extract index oracle stage (#1525)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_index.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract impact stage
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_impact.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract impact stage (#1527)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_impact.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract constraints stage
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_constraints.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract constraints stage (#1528)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_constraints.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract fanout stage
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_fanout.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(task): extract fanout stage (#1529)
  tests/unit/task/test_task_router.py
  tree_sitter_analyzer/task/_router_fanout.py
  tree_sitter_analyzer/task/router.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs(rfc): define live text search action
  rfcs/0037-live-text-search-action.md
  rfcs/README.md
Due: none

docs(rfc): define live text search action (#1530)
  rfcs/0037-live-text-search-action.md
  rfcs/README.md
Due: none

feat(search): add native live text search
  .claude/skills/tsa-find/SKILL.md
  CHANGELOG.md
  README.es-ES.md
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/MIGRATION.md
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  docs/cli-reference.md
  docs/smart-workflow.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/governance/test_tool_validation_contract.py
  tests/unit/cli/test_text_search_cli.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tests/unit/mcp/tools/test_text_search_tool.py
  tests/unit/test_claim_registry.py
  tests/unit/test_text_search.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/index_candidate_walker.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/text_search_tool.py
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/text_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

feat(search): add native live text search (#1531)
  .claude/skills/tsa-find/SKILL.md
  CHANGELOG.md
  README.es-ES.md
  README.md
  README_ja.md
  README_zh.md
  benchmarks/codegraph_compare/readme_claim_scanner.py
  docs/CODEMAPS/architecture.md
  docs/CODEMAPS/cli.md
  docs/CODEMAPS/mcp-tools.md
  docs/MIGRATION.md
  docs/api/facade-actions.md
  docs/api/mcp_tools_specification.md
  docs/cli-reference.md
  docs/smart-workflow.md
  tests/contracts/test_language_support_inventory_contract.py
  tests/contracts/test_mcp_cli_parity_contract.py
  tests/governance/test_tool_validation_contract.py
  tests/unit/cli/test_text_search_cli.py
  tests/unit/docs/test_facade_actions_doc_drift.py
  tests/unit/mcp/test_next_step_routability.py
  tests/unit/mcp/tools/test_facade_tool_scenarios.py
  tests/unit/mcp/tools/test_text_search_tool.py
  tests/unit/test_claim_registry.py
  tests/unit/test_text_search.py
  tree_sitter_analyzer/cli/argument_groups/_analysis_codegraph.py
  tree_sitter_analyzer/cli/commands/mcp_commands/__init__.py
  tree_sitter_analyzer/cli/commands/mcp_commands/_specs_core.py
  tree_sitter_analyzer/index_candidate_walker.py
  tree_sitter_analyzer/mcp/facade_map.py
  tree_sitter_analyzer/mcp/tools/search_facade.py
  tree_sitter_analyzer/mcp/tools/text_search_tool.py
  tree_sitter_analyzer/skills/tsa-find/SKILL.md
  tree_sitter_analyzer/text_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

chore(release): prepare v2.2.0
  CHANGELOG.md
  pyproject.toml
  rfcs/0037-live-text-search-action.md
  server.json
  tree_sitter_analyzer/__init__.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-json-local, check-toml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

docs: close out v2.2.0 release roadmap
  rfcs/0037-live-text-search-action.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

docs: close out v2.2.0 release roadmap (#1534)
  rfcs/0037-live-text-search-action.md
  rfcs/ROADMAP-no1-agent-trust.md
Due: none

refactor(index): extract bounded source row reader
  tree_sitter_analyzer/_recorded_source_rows.py
  tree_sitter_analyzer/index_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

refactor(index): extract bounded source row reader (#1537)
  tree_sitter_analyzer/_recorded_source_rows.py
  tree_sitter_analyzer/index_source_snapshot.py
Due: ruff-local, ruff-format-local, pyupgrade-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

deps: update hatchling to 1.32.3
  pyproject.toml
  tests/contracts/test_collect_no1_006b_baseline.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

test(search): add pinned rg qualification matrix
  .github/workflows/search-backend-qualification.yml
  rfcs/0034-optional-search-backend-qualification.md
  scripts/qualify_search_backend.py
  tests/contracts/test_search_backend_qualification.py
  tests/unit/test_text_search.py
  tree_sitter_analyzer/text_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

deps: update hatchling to 1.32.3 (#1538)
  pyproject.toml
  tests/contracts/test_collect_no1_006b_baseline.py
  uv.lock
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

fix(build): pin metadata-compatible hatchling
  pyproject.toml
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

fix(build): pin metadata-compatible hatchling (#1540)
  pyproject.toml
  tests/contracts/test_collect_no1_006b_baseline.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-toml-local, mypy-local, flake8-local

test(search): add pinned rg qualification matrix (#1539)
  .github/workflows/search-backend-qualification.yml
  rfcs/0034-optional-search-backend-qualification.md
  scripts/qualify_search_backend.py
  tests/contracts/test_search_backend_qualification.py
  tests/unit/test_text_search.py
  tree_sitter_analyzer/text_search.py
Due: ruff-local, ruff-format-local, pyupgrade-local, check-yaml-local, mypy-local, bandit-local, pydocstyle-local, flake8-local

Path conditions:
  ruff-local: any of: \.py$
  ruff-format-local: any of: \.py$
  pyupgrade-local: any of: \.py$
  check-yaml-local: any of: \.(yaml|yml)$
  check-json-local: any of: \.json$, but not: ^examples/.*\.(json|summary\.json)$
  check-toml-local: any of: \.toml$
  mypy-local: any of: \.py$, but not: ^(examples/|scripts/|compatibility_test/|collect_project_metrics\.py|test_emergency_fix\.py|debug_async_test\.py|run_regression_tests\.py)
  bandit-local: any of: \.py$, but not: ^tests/
  pydocstyle-local: any of: \.py$, but not: ^(tests/|examples/)
  flake8-local: any of: \.py$
